<h1 ng-if="model.id" translate>Edit motion</h1>
<h1 ng-if="!model.id && !parent" translate>New motion</h1>
<h1 ng-if="parent"><translate>New amendment of motion</translate> {{ parent.identifier || parent.getTitle() }}</h1>

<div uib-alert ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')" close="alert={}">
  {{ alert.msg }}
</div>

<form name="motionForm" ng-submit="save(model, gotoDetailView)" novalidate>
  <formly-form model="model" fields="formFields">
    <hr class="smallhr">
    <div class="checkbox pointer" ng-click="$parent.$parent.gotoDetailView = !$parent.$parent.gotoDetailView">
      <i class="fa" ng-class="$parent.$parent.gotoDetailView ? 'fa-check-square-o' : 'fa-square-o'"></i>
      <translate>Open motion detail view after save.</translate>
    </div>
    <button type="submit" ng-disabled="motionForm.$invalid" class="btn btn-primary" translate>
      Save
    </button>
    <button type="button" ng-click="closeThisDialog()" class="btn btn-default" translate>
      Cancel
    </button>
  </formly-form>
</form>
