<h1><translate>Vote</translate> {{ voteNumber }}</h1>

<div uib-alert ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')" ng-click="alert={}" close="alert={}">
  {{ alert.msg }}
</div>

<p>
  <translate>Special values</translate>:
  <span class="badge badge-success">-1</span> = <translate>majority</translate>
  <span class="badge">-2</span> = <translate>undocumented</translate>

<form name="motionPollForm" ng-submit="save(model)">
  <formly-form model="model" fields="formFields">
    <template-hook hook-name="motionPollFormButtons"></template-hook>
    <button type="submit" ng-disabled="motionPollForm.$invalid" class="btn btn-primary" translate>
      Save
    </button>
    <button ng-click="closeThisDialog()" class="btn btn-default" translate>
      Cancel
    </button>
  </formly-form>
</form>
