<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="motions.motionBlock.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
      <!-- List of speakers -->
      <a ui-sref="agenda.item.detail({id: motionBlock.agenda_item_id})" class="btn btn-sm btn-default">
        <i class="fa fa-microphone fa-lg"></i>
        <translate>List of speakers</translate>
      </a>
      <!-- project -->
      <projector-button model="motionBlock" default-projector-id="defaultProjectorId">
      </projector-button>
      <!-- edit -->
      <a ng-click="openDialog(motionBlock)"
          class="btn btn-default btn-sm"
          title="{{ 'Edit' | translate}}">
        <i class="fa fa-pencil"></i>
      </a>
    </div>
    <h1>{{ motionBlock.agenda_item.getTitle() }}</h1>
    <h2 translate>Motion Block</h2>
  </div>
</div>

<div class="details">
  {{ motionBlock.motions }}
</div>
