<div ng-controller="SlideMotionBlockCtrl" class="content scrollcontent">
  <!-- Title -->
  <div id="title">
    <h1>{{ motionBlock.agenda_item.getTitle() }}</h1>
    <h2><translate>Motion block</translate> &mdash; {{motionBlock.motions.length }} <translate>Motions</translate></h2>
  </div>

  <!-- motion list -->
  <div class="motion-block zoomcontent">
    <div ng-repeat="motion in motionBlock.motions">
      {{ motion.identifier }}:
      {{ getShortTitle(motion) }}
      <br>
      <span class="label" ng-class="'label-'+motion.recommendation.css_class">
        {{ motion.getRecommendationName() }}
      </span>
    </div>
  </div>
</div>
