@import '../../../../../assets/styles/drag.scss';

#projector {
    width: 100%; /*1000px;*/
    border: 1px solid lightgrey;
}

.column-left {
    color: black;
    display: inline-block;
    padding-top: 20px;
    width: 60%;
    min-width: 200px;
    padding-right: 25px;

    /* Do not let the a tag ruin the projector */
    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.column-right {
    padding-top: 20px;
    width: calc(40% - 30px);
    float: right;
}

.control-group {
    color: rgba(0, 0, 0, 0.5);

    .button-size {
        width: 40px;
        display: inline-block;
    }
}

.slide-controls {
    text-align: center;
}

.projector-controls {
    text-align: right;
}

.drop-list {
    width: 100%;
    display: block;
    overflow: hidden;
}

.drop-list-entry {
    display: table;
    min-height: 50px;
    width: 100%;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);

    .drag-handle {
        display: table-cell;
        padding: 0 10px;
        line-height: 0px;
        vertical-align: middle;
        width: 25px;
        color: slategrey;
        cursor: move;
    }

    .name {
        display: table-cell;
        vertical-align: middle;
    }

    .button-right {
        display: table-cell;
        padding-right: 10px;
        vertical-align: middle;
        width: auto;
        white-space: nowrap;

        div {
            float: right;
        }
    }
}

.drop-list-entry:last-child {
    border: none;
}

// move away from preview.
.drop-list.cdk-drop-list-dragging .drop-list-entry:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
