<div *ngIf="data">
    <h1 translate>List of speakers</h1>
    <h3>{{ getTitle() }}</h3>

    <div *ngIf="data.data.finished.length">
        <span translate>Finished</span>:
        <div *ngFor="let speaker of data.data.finished">
            {{ speaker.user }}
        </div>
    </div>

    <div *ngIf="data.data.current">
        <span translate>Current</span>: {{ data.data.current.user }}
    </div>

    <div *ngIf="data.data.finished.length">
        <span translate>Waiting</span>:
        <div *ngFor="let speaker of data.data.waiting">
            {{ speaker.user }} {{ speaker.marked ? 'marked' : '' }}
        </div>
    </div>
</div>
