<os-head-bar mainButton=true (mainEvent)=onPlusButton() [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Participants</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>

    <div class="extra-controls-slot on-transition-fade" *ngIf="isMultiSelect">
        <button mat-icon-button (click)="deleteSelected()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</os-head-bar>

<div class="custom-table-header on-transition-fade">
    <button mat-button>
        <span translate>SORT</span>
    </button>
    <button mat-button>
        <span translate>FILTER</span>
    </button>
</div>

<mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="selector">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="checkbox-cell"></mat-header-cell>
        <mat-cell *matCellDef="let user" class="checkbox-cell">
            <mat-icon>{{ isSelected(user) ? 'check_circle' : '' }}</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- name column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.full_name }}</mat-cell>
    </ng-container>

    <!-- prefix column -->
    <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div class='groupsCell'>
                <span *ngIf="user.groups.length > 0">
                    <mat-icon>people</mat-icon>
                    {{ user.groups }}
                </span>
                <br *ngIf="user.groups && user.structureLevel">
                <span *ngIf="user.structureLevel">
                    <mat-icon>flag</mat-icon>
                    {{ user.structure_level }}
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Presence column -->
    <ng-container matColumnDef="presence">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Presence</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div *ngIf="user.is_active">
                <mat-icon>check_box</mat-icon>
                <span translate>Present</span>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
    <mat-row [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected': ''" (click)='selectItem(row, $event)'
        *matRowDef="let row; columns: getColumnDefinition()">
    </mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>

<mat-menu #userMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="'users.can_manage'" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>MultiSelect</span>
        </button>

        <button mat-menu-item *osPerms="'users.can_manage'" routerLink="groups">
            <mat-icon>people</mat-icon>
            <span translate>Groups</span>
        </button>

        <button mat-menu-item>
            <mat-icon>save_alt</mat-icon>
            <span translate>Import ...</span>
        </button>

        <button mat-menu-item (click)="csvExportUserList()">
            <mat-icon>archive</mat-icon>
            <span translate>Export as CSV</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <div *osPerms="'users.can_manage'">
            <button mat-menu-item (click)="setGroupSelected(null)">
                <mat-icon>archive</mat-icon>
                <span translate>Set groups</span>
                <!-- TODO bottomsheet/menu? -->
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="setActiveSelected(true)">
                <mat-icon>add_circle</mat-icon>
                <span translate>Set active</span>
            </button>

            <button mat-menu-item (click)="setActiveSelected(false)">
                <mat-icon>remove_circle</mat-icon>
                <span translate>Set inactive</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="setPresentSelected(true)">
                <mat-icon>add_circle</mat-icon>
                <span translate>Set as present</span>
            </button>

            <button mat-menu-item (click)="setPresentSelected(false)">
                <mat-icon>remove_circle</mat-icon>
                <span translate>Set as not present</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="setCommitteeSelected(true)">
                <mat-icon>add_circle</mat-icon>
                <span translate>Set as committee</span>
            </button>

            <button mat-menu-item (click)="setCommitteeSelected(false)">
                <mat-icon>remove_circle</mat-icon>
                <span translate>Unset committee</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="sendInvitationSelected()">
                <mat-icon>mail</mat-icon>
                <span translate>Send invitations</span>
            </button>

            <button mat-menu-item (click)="deleteSelected()">
                <mat-icon>delete</mat-icon>
                <span translate>Delete selected</span>
            </button>
        </div>
    </div>
</mat-menu>
