@import '~assets/styles/tables.scss';

.groupsCell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    mat-icon {
        font-size: 80%;
    }
}

.infoCell {
    display: grid;
}

.detail-link {
    z-index: 2;
}

.nameCell {
    position: relative;
    z-index: 1;
    display: flex;

    span {
        margin-right: 5px;
    }
}

.icon-group {
    margin-left: 1em;
    z-index: 3;
}
