<os-head-bar plusButton=true (plusButtonClicked)=onPlusButton()>
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Users</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<div class='custom-table-header on-transition-fade'>
    <button mat-button>
        <span translate>SORT</span>
    </button>
    <button mat-button>
        <span translate>FILTER</span>
    </button>
</div>

<mat-table class='os-listview-table on-transition-fade' [dataSource]="dataSource" matSort>

    <!-- name column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.full_name}} </mat-cell>
    </ng-container>

    <!-- prefix column -->
    <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div class='groupsCell'>
                <span *ngIf="user.groups.length > 0">
                    <mat-icon>people</mat-icon>
                    {{user.groups}}
                </span>
                <br *ngIf="user.groups && user.structureLevel">
                <span *ngIf="user.structureLevel">
                    <mat-icon>flag</mat-icon>
                    {{user.structure_level}}
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Presence column -->
    <ng-container matColumnDef="presence">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Presence </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div *ngIf="user.is_active">
                <mat-icon>check_box</mat-icon>
                <span translate>Present</span>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'group', 'presence']"></mat-header-row>
    <mat-row (click)='selectUser(row)' *matRowDef="let row; columns: ['name', 'group', 'presence']"></mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item *osPerms="'users.can_manage'" routerLink="groups">
        <mat-icon>people</mat-icon>
        <span translate>Groups</span>
    </button>

    <button mat-menu-item>
        <mat-icon>save_alt</mat-icon>
        <span translate>Import ...</span>
    </button>

    <button mat-menu-item>
        <mat-icon>archive</mat-icon>
        <span translate>Export ...</span>
    </button>
</mat-menu>
