<os-head-bar [mainButton]="canAddUser" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Participants</h2></div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon>more_vert</mat-icon></button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<mat-drawer-container class="on-transition-fade">
    <os-sort-filter-bar
        [filterCount]="filteredCount"
        [sortService]="sortService"
        [filterService]="filterService"
        (searchFieldChange)="searchFilter($event)"
    >
    </os-sort-filter-bar>

    <mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
        <!-- Selector column -->
        <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <mat-icon>{{ isSelected(user) ? 'check_circle' : '' }}</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Projector column -->
        <ng-container matColumnDef="projector">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Projector</mat-header-cell>
            <mat-cell *matCellDef="let user">
                <os-projector-button [object]="user"></os-projector-button>
            </mat-cell>
        </ng-container>

        <!-- name column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let user">
                {{ user.full_name }}
            </mat-cell>
        </ng-container>

        <!-- group column -->
        <ng-container matColumnDef="group">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
            <mat-cell (click)="openEditInfo(user, $event)" *matCellDef="let user">
                <div class="fill">
                    <div class="groupsCell">
                        <span *ngIf="user.groups && user.groups.length">
                            <mat-icon>people</mat-icon>
                            <span *ngFor="let group of user.groups; let last = last"
                                >{{ group.getTitle() | translate }}<span *ngIf="!last">,&nbsp;</span>
                            </span>
                        </span>
                        <br *ngIf="user.groups && user.structure_level" />
                        <span *ngIf="user.structure_level"> <mat-icon>flag</mat-icon>{{ user.structure_level }}</span>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Anchor column to open separate tab -->
        <ng-container matColumnDef="anchor">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <a [routerLink]="user.id" *ngIf="!isMultiSelect"></a>
            </mat-cell>
        </ng-container>

        <!-- Presence column -->
        <ng-container matColumnDef="presence">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Presence</mat-header-cell>
            <mat-cell (click)="ignoreClick($event)" *matCellDef="let user" class="presentCell">
                <div class="fill" *ngIf="user.is_active">
                    <mat-checkbox
                        class="checkboxPresent"
                        (change)="setPresent(user)"
                        [checked]="user.is_present"
                        [disabled]="isMultiSelect"
                    >
                        <span translate>Present</span>
                    </mat-checkbox>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
        <mat-row
            [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
            *matRowDef="let row; columns: getColumnDefinition()"
            (click)="selectItem(row, $event)"
        >
        </mat-row>
    </mat-table>

    <mat-paginator class="on-transition-fade" [pageSizeOptions]="pageSize"></mat-paginator>
</mat-drawer-container>

<mat-menu #userMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="'users.can_manage'" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>Multiselect</span>
        </button>

        <button mat-menu-item *osPerms="'users.can_manage'" routerLink="groups">
            <mat-icon>people</mat-icon>
            <span translate>Groups</span>
        </button>

        <div *ngIf="presenceViewConfigured">
            <button mat-menu-item *osPerms="'users.can_manage'" routerLink="presence">
                <mat-icon>transfer_within_a_station</mat-icon>
                <span translate>Presence</span>
            </button>
        </div>

        <button mat-menu-item (click)="pdfExportUserList()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span translate>List of participants (PDF)</span>
        </button>

        <button mat-menu-item *osPerms="'users.can_manage'" (click)="onDownloadAccessPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span translate>Access data (PDF)</span>
        </button>

        <button mat-menu-item *osPerms="'users.can_manage'" (click)="csvExportUserList()">
            <mat-icon>archive</mat-icon>
            <span translate>Export as CSV</span>
        </button>

        <button mat-menu-item *osPerms="'users.can_manage'" routerLink="import">
            <mat-icon>cloud_upload</mat-icon>
            <span translate>Import</span><span>&nbsp;...</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>

        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>

        <div *osPerms="'users.can_manage'">
            <mat-divider></mat-divider>
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="setGroupSelected()">
                <mat-icon>people</mat-icon>
                <span translate>Add/remove groups ...</span>
            </button>

            <div *ngIf="presenceViewConfigured">
                <button
                    mat-menu-item
                    *osPerms="'users.can_manage'"
                    [disabled]="!selectedRows.length"
                    routerLink="presence"
                >
                    <mat-icon>transfer_within_a_station</mat-icon>
                    <span translate>Presence</span>
                </button>
            </div>

            <button mat-menu-item *osPerms="'users.can_manage'" routerLink="import">
                <mat-icon>save_alt</mat-icon>
                <span translate>Import</span><span>&nbsp;...</span>
            </button>

            <div *osPerms="'users.can_manage'">
                <mat-divider></mat-divider>

                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setActiveSelected()">
                    <mat-icon>block</mat-icon>
                    <span translate>Enable/disable account ...</span>
                </button>

                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setPresentSelected()">
                    <mat-icon>check_box</mat-icon>
                    <span translate>Set presence ...</span>
                </button>

                <button mat-menu-item [disabled]="!selectedRows.length" (click)="setCommitteeSelected()">
                    <mat-icon>account_balance</mat-icon>
                    <span translate>Set committee ...</span>
                </button>

                <mat-divider></mat-divider>

                <button mat-menu-item [disabled]="!selectedRows.length" (click)="sendInvitationEmailSelected()">
                    <mat-icon>mail</mat-icon>
                    <span translate>Send invitation email</span>
                </button>

                <button mat-menu-item [disabled]="!selectedRows.length" (click)="resetPasswordsSelected()">
                    <mat-icon>vpn_key</mat-icon>
                    <span translate>Generate new passwords</span>
                </button>
                <mat-divider></mat-divider>
                <button
                    mat-menu-item
                    class="red-warning-text"
                    [disabled]="!selectedRows.length"
                    (click)="deleteSelected()"
                >
                    <mat-icon>delete</mat-icon>
                    <span translate>Delete</span>
                </button>
            </div>
        </div>
    </div>
</mat-menu>

<ng-template #userInfoDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Edit details for' | translate }} {{ infoDialog.name }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <mat-form-field>
            <mat-select placeholder="{{ 'Groups' | translate }}" [(ngModel)]="infoDialog.groups_id" multiple>
                <mat-option *ngFor="let group of groups" [value]="group.id">
                    {{ group.getTitle() | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="{{ 'Gender' | translate }}" [(ngModel)]="infoDialog.gender">
                <mat-option>-</mat-option>
                <mat-option *ngFor="let gender of genderList" [value]="gender">{{ gender | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input
                type="text"
                matInput
                placeholder="{{ 'Participant number' | translate }}"
                [(ngModel)]="infoDialog.number"
            />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            color="primary"
            [mat-dialog-close]="{
                groups_id: infoDialog.groups_id,
                gender: infoDialog.gender,
                number: infoDialog.number
            }"
        >
            <span translate>Save</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span translate>Cancel</span>
        </button>
    </div>
</ng-template>
