<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="block">
            <mat-icon *ngIf="block.internal">lock</mat-icon>
            {{ block.title }}
        </h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionBlockMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card>
    <button
        *osPerms="['motions.can_manage', 'motions.can_manage_metadata']"
        mat-raised-button
        color="primary"
        (click)="onFollowRecButton()"
        [disabled]="isFollowingProhibited()"
    >
        <mat-icon>done_all</mat-icon>&nbsp;
        <span translate>Follow recommendations for all motions</span>
    </button>

    <pbl-ngrid
        class="block-detail-table"
        cellTooltip
        showHeader="true"
        vScrollFixed="80"
        [dataSource]="dataSource"
        [columns]="columnSet"
    >
        <!-- Title column -->
        <div
            *pblNgridCellDef="'title'; row as motion; rowContext as rowContext"
            class="cell-slot fill motion-block-title"
        >
            <a class="detail-link" [routerLink]="motion.getDetailStateURL()" *ngIf="!isMultiSelect"></a>
            <span>{{ motion.getTitle() }}</span>
        </div>

        <!-- State column -->
        <div *pblNgridCellDef="'state'; row as motion" class="cell-slot fill">
            <div class="chip-container">
                <mat-basic-chip disableRipple [ngClass]="motion.stateCssColor">
                    {{ getStateLabel(motion) }}
                </mat-basic-chip>
            </div>
        </div>

        <!-- Recommendation column -->
        <div *pblNgridCellDef="'recommendation'; row as motion" class="cell-slot fill">
            <mat-basic-chip *ngIf="!!motion.recommendation" disableRipple class="bluegrey">
                {{ getRecommendationLabel(motion) }}
            </mat-basic-chip>
        </div>

        <!-- Remove from block column -->
        <div *pblNgridCellDef="'remove'; row as motion" class="cell-slot fill">
            <button
                type="button"
                mat-icon-button
                color="warn"
                matTooltip="{{ 'Remove from motion block' | translate }}"
                (click)="onRemoveMotionButton(motion)"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </pbl-ngrid>
</mat-card>

<!-- The menu content -->
<mat-menu #motionBlockMenu="matMenu">
    <os-speaker-button [menuItem]="true" [object]="block"></os-speaker-button>

    <os-projector-button *ngIf="block" [object]="block" [menuItem]="true"></os-projector-button>

    <div *osPerms="'agenda.can_manage'">
        <button mat-menu-item (click)="addToAgenda()" *ngIf="block && !block.agendaItem">
            <mat-icon>add</mat-icon>
            <span translate>Add to agenda</span>
        </button>
        <button mat-menu-item (click)="removeFromAgenda()" *ngIf="block && block.agendaItem">
            <mat-icon>remove</mat-icon>
            <span translate>Remove from agenda</span>
        </button>
    </div>

    <div *osPerms="['motions.can_manage', 'motions.can_manage_metadata']">
        <button mat-menu-item (click)="toggleEditMode()">
            <mat-icon>edit</mat-icon>
            <span translate>Edit</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item class="red-warning-text" (click)="onDeleteBlockButton()">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</mat-menu>

<ng-template #editDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Edit details for' | translate }} {{ block.title }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-form" [formGroup]="blockEditForm" (ngSubmit)="saveBlock()" (keydown)="onKeyDown($event)">
            <mat-form-field>
                <input matInput osAutofocus placeholder="{{ 'Title' | translate }}" formControlName="title" required />
            </mat-form-field>
            <mat-checkbox formControlName="internal">Internal</mat-checkbox>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="!blockEditForm.valid" color="primary" (click)="saveBlock()">
            <span translate>Save</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span translate>Cancel</span>
        </button>
    </div>
</ng-template>
