<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <os-icon-container
            *ngIf="block"
            [noWrap]="true"
            icon="check"
            size="large"
            [showIcon]="block.isFinished"
            [iconTooltip]="'Finished' | translate"
        >
            <os-icon-container
                [noWrap]="true"
                icon="lock"
                size="large"
                [showIcon]="block.internal"
                [iconTooltip]="'Internal' | translate"
            >
                <h2>{{ block.title }}</h2>
            </os-icon-container>
        </os-icon-container>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionBlockMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Extra Controls -->
    <div class="extra-controls-slot" *ngIf="!vp.isMobile">
        <button
            *osPerms="['motions.can_manage', 'motions.can_manage_metadata']"
            mat-button
            (click)="onFollowRecButton()"
            [disabled]="isFollowingProhibited()"
        >
            <os-icon-container icon="done_all">
                <span>{{ 'Follow recommendations for all motions' | translate }}</span>
            </os-icon-container>
        </button>
    </div>
</os-head-bar>

<os-list-view-table
    [listObservableProvider]="motionRepo"
    [filterService]="filterService"
    [columns]="tableColumnDefinition"
    [restricted]="restrictedColumns"
    [filterProps]="filterProps"
    [hiddenInMobile]="['remove']"
    (dataSourceChange)="onDataSourceChange($event)"
>
    <!-- Title column -->
    <div *pblNgridCellDef="'title'; row as motion; rowContext as rowContext" class="cell-slot fill">
        <a
            class="detail-link"
            [routerLink]="motion.getDetailStateURL()"
            [state]="{ back: 'true' }"
            *ngIf="!isMultiSelect"
        ></a>
        <div class="column-title innerTable">
            <div class="title-line ellipsis-overflow">
                <!-- Is Favorite -->
                <span *ngIf="motion.star" class="favorite-star">
                    <mat-icon inline>star</mat-icon>
                </span>

                <!-- Has File -->
                <span class="icon-prefix" *ngIf="motion.hasAttachments()">
                    <mat-icon>attach_file</mat-icon>
                </span>

                <!-- The title -->
                <span>
                    <span *ngIf="motion.identifier">
                        {{ motion.identifier }}
                        <span>&middot;</span>
                    </span>
                    {{ motion.title }}
                </span>
            </div>

            <!-- Submitters -->
            <div class="submitters-line ellipsis-overflow">
                <span *ngIf="motion.submitters.length">
                    <span>{{ 'by' | translate }}</span>
                    {{ motion.submitters }}
                </span>

                <span *ngIf="showSequential">
                    <span *ngIf="motion.submitters.length">
                        &middot;
                    </span>
                    <span>{{ 'Sequential number' | translate }}</span>
                    {{ motion.id }}
                </span>
            </div>

            <!-- Workflow state -->
            <div class="ellipsis-overflow white">
                <mat-basic-chip *ngIf="motion.state" [ngClass]="motion.stateCssColor" [disabled]="true">
                    {{ getStateLabel(motion) }}
                </mat-basic-chip>
            </div>
        </div>
    </div>

    <!-- Recommendation column -->
    <div *pblNgridCellDef="'recommendation'; row as motion" class="cell-slot fill">
        <mat-basic-chip *ngIf="!!motion.recommendation" disableRipple class="bluegrey">
            {{ getRecommendationLabel(motion) }}
        </mat-basic-chip>
    </div>

    <!-- Remove from block column -->
    <div *pblNgridCellDef="'remove'; row as motion" class="cell-slot fill">
        <button
            type="button"
            mat-icon-button
            color="warn"
            matTooltip="{{ 'Remove from motion block' | translate }}"
            (click)="onRemoveMotionButton(motion)"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Menu -->
    <div *pblNgridCellDef="'menu'; row as motion" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ motion: motion }"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list-view-table>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-motion="motion">
        <os-projector-button [object]="motion" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="motion" [menuItem]="true"></os-speaker-button>
        <button mat-menu-item class="red-warning-text" (click)="onRemoveMotionButton(motion)">
            <mat-icon>close</mat-icon>
            <span>{{ 'Remove from motion block' | translate }}</span>
        </button>
    </ng-template>
</mat-menu>

<!-- The menu content -->
<mat-menu #motionBlockMenu="matMenu">
    <div *ngIf="vp.isMobile">
        <button
            *osPerms="['motions.can_manage', 'motions.can_manage_metadata']"
            mat-menu-item
            (click)="onFollowRecButton()"
            [disabled]="isFollowingProhibited()"
        >
            <mat-icon>done_all</mat-icon>
            <span>{{ 'Follow recommendations for all motions' | translate }}</span>
        </button>
    </div>

    <os-speaker-button [menuItem]="true" [object]="block"></os-speaker-button>

    <os-projector-button *ngIf="block" [object]="block" [menuItem]="true"></os-projector-button>

    <div *osPerms="'agenda.can_manage'">
        <button mat-menu-item (click)="addToAgenda()" *ngIf="block && !block.item">
            <mat-icon>add</mat-icon>
            <span>{{ 'Add to agenda' | translate }}</span>
        </button>
        <button mat-menu-item (click)="removeFromAgenda()" *ngIf="block && block.item">
            <mat-icon>remove</mat-icon>
            <span>{{ 'Remove from agenda' | translate }}</span>
        </button>
    </div>

    <div *osPerms="['motions.can_manage', 'motions.can_manage_metadata']">
        <button mat-menu-item (click)="toggleEditMode()">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item class="red-warning-text" (click)="onDeleteBlockButton()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>

<ng-template #editDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Edit details for' | translate }} {{ block.title }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-form" [formGroup]="blockEditForm" (ngSubmit)="saveBlock()" (keydown)="onKeyDown($event)">
            <mat-form-field>
                <input matInput osAutofocus placeholder="{{ 'Title' | translate }}" formControlName="title" required />
            </mat-form-field>
            <mat-checkbox formControlName="internal">Internal</mat-checkbox>
        </form>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-button [disabled]="!blockEditForm.valid" color="accent" (click)="saveBlock()">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
