{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "useTabs": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "strict",
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid"
}
