<os-head-bar>
    <div class="title-slot" translate>Motions poll list</div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="pollMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<os-list-view-table
    [listObservableProvider]="repo"
    [vScrollFixed]="64"
    [columns]="tableColumnDefinition"
    [listStorageKey]="'motion-polls'"
>
    <div *pblNgridCellDef="'title'; row as poll; rowContext as context" class="cell-slot fill">
        <a
            class="detail-link"
            (click)="saveScrollIndex('motion-polls', rowContext.identity)"
            [routerLink]="poll.id"
            *ngIf="!isMultiSelect"
        ></a>
        <span>{{ poll.title }}</span>
    </div>
    <div *pblNgridCellDef="'state'; row as poll; rowContext as context" class="cell-slot fill">
        <span>{{ poll.stateVerbose }}</span>
    </div>
</os-list-view-table>

<mat-menu #pollMenu="matMenu">
    <!-- Settings -->
    <button mat-menu-item *osPerms="'core.can_manage_config'" routerLink="/settings/polls">
        <mat-icon>settings</mat-icon>
        <span translate>Settings</span>
    </button>
</mat-menu>
