div.indent {
    margin-left: 24px;
}
mat-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.filter-subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.9;
    font-style: italic;
}
