@import './font-variables.scss';

/** Regular */
@font-face {
    font-family: $font;
    font-style: normal;
    font-display: swap;
    font-weight: $font-weight-regular;
    src: $font-regular;
}

/** Italic */
@font-face {
    font-family: $font;
    font-style: italic;
    font-display: swap;
    font-weight: $font-weight-italic;
    src: $font-italic;
}

/** Medium */
@font-face {
    font-family: $font;
    font-style: normal;
    font-display: swap;
    font-weight: $font-weight-medium;
    src: $font-medium;
}

/** Medium Italic */
@font-face {
    font-family: $font;
    font-style: italic;
    font-display: swap;
    font-weight: $font-weight-medium-italic;
    src: $font-medium-italic;
}

/** Condensed Regular */
@font-face {
    font-family: $font-condensed;
    font-style: normal;
    font-display: swap;
    font-weight: $font-weight-condensed-regular;
    src: $font-condensed-regular;
}

/** Countown */
@font-face {
    font-family: $font-monospace;
    font-style: normal;
    font-display: swap;
    font-weight: $font-weight-monospace;
    src: $font-monospace-src;
}

/** Chyron Name */
@font-face {
    font-family: $font-chyronname;
    font-style: normal;
    font-display: swap;
    font-weight: $font-weight-chyronname;
    src: $font-chyronname-src;
}

/** projectorH1 */
@font-face {
    font-family: $font-projectorH1;
    font-style: normal;
    font-display: swap;
    src: $font-projectorH1-src;
}

/** projectorH2 */
@font-face {
    font-family: $font-projectorH2;
    font-style: normal;
    font-display: swap;
    src: $font-projectorH2-src;
}
