@use '~@angular/material' as mat;
// Material theming import

/**
 *  Mixin-style to style global classes and tags with theme-related colors.
 */
@mixin os-components-style($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $is-dark-theme: map-get($theme, is-dark);

    h1,
    h3.accent {
        color: mat.get-color-from-palette(if($is-dark-theme, $accent, $primary));
    }

    a {
        color: mat.get-color-from-palette(if($is-dark-theme, $accent, $primary));
    }

    .anchor-button {
        color: mat.get-color-from-palette($foreground, text) !important;
    }

    .accent,
    .accent-text {
        color: mat.get-color-from-palette($accent);
    }

    .primary-accent-by-theme {
        color: mat.get-color-from-palette(if($is-dark-theme, $accent, $primary));
    }

    /**
     * normal current mat bg color with primary text color.
     * important is required to overwrite materials default
     * button color
     */
    .custom-table-header,
    .background-default {
        background: mat.get-color-from-palette($background, background) !important;
    }

    .fake-disabled {
        background: mat.get-color-from-palette($background, unselected-chip) !important;
        opacity: 1 !important;

        .mat-button-wrapper {
            .mat-icon {
                color: mat.get-color-from-palette($foreground, disabled-button) !important;
                svg path {
                    fill: mat.get-color-from-palette($foreground, disabled-button) !important;
                }
            }
        }
    }

    .background-default[disabled] {
        @extend .fake-disabled;
    }

    .underline {
        border-bottom: 1px solid mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.7, 0.42));
    }

    .hint {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    /* Custom hint and error classes. Same values as .mat-hint and -mat-error */
    .hint,
    .error {
        font-size: 75%;
        display: block;
    }

    .error,
    .warn {
        color: mat.get-color-from-palette($warn);
    }

    .outline-border-bottom {
        border-bottom: 1px solid $os-outline;
    }

    /* motion list/detail view */
    .mat-chip-list.user .mat-chip {
        color: mat.get-color-from-palette($foreground, text);
        background: mat.get-color-from-palette($background, card);
        border-color: mat.get-color-from-palette($background, selected-button);
    }

    .os-amount-chip {
        background: mat.get-color-from-palette($background, selected-button);
        color: mat.get-color-from-palette($foreground, text);
    }

    .tile-text {
        color: mat.get-color-from-palette($foreground, text);
    }

    .subtitle-text {
        font-size: 125%;
        margin-top: 0;
        margin-bottom: 15px;
        color: mat.get-color-from-palette(if($is-dark-theme, $accent, $primary));
    }

    .tile-color {
        background-color: mat.get-color-from-palette($background, selected-button);
    }

    .main-nav-color {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .submitters-line {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .subtitle-nocolor {
        font-size: 12px;
        font-weight: 400;
    }

    .subtitle {
        @extend .subtitle-nocolor;
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .user-subtitle {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    mat-card-header {
        background-color: mat.get-color-from-palette($background, app-bar);
    }

    /* drag & drop views */
    .node-content-wrapper {
        background-color: mat.get-color-from-palette($background, app-bar);
    }

    /* projector components */
    .backgroundColorAccent {
        background-color: mat.get-color-from-palette($accent);
        color: mat.get-color-from-palette($accent, default-contrast) !important;
    }

    .backgroundColorSelected {
        background-color: rgba(0, 0, 0, 0.155);
        color: mat.get-color-from-palette($foreground, text) !important;
    }

    .backgroundColorLight {
        background-color: mat.get-color-from-palette($background, hover);
        color: mat.get-color-from-palette($foreground, text) !important;
    }

    input[readonly] {
        cursor: default;
    }

    .stretch-to-fill-parent {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .icon {
        color: mat.get-color-from-palette($foreground, icon);
    }

    .small-icon {
        @extend .icon;
        font-size: 18px;
    }

    /** Custom themes for NGrid. Could be an own file if it gets more */
    .pbl-ngrid-container {
        background: mat.get-color-from-palette($background, card);
    }

    .pbl-ngrid-no-data {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .pbl-ngrid-row:hover {
        background-color: rgba(0, 0, 0, 0.025);
    }

    .pbl-ngrid-header-row,
    .pbl-ngrid-row {
        align-items: stretch;
    }

    /**
     * CLEANUP:
     * whole themes can be replaced using classes like this one
     */
    .background-primary {
        background: mat.get-color-from-palette($primary);
        color: mat.get-color-from-palette($primary, default-contrast) !important;
    }

    .background-primary-darkest {
        background: mat.get-color-from-palette($primary, 900);
        color: mat.get-color-from-palette($primary, default-contrast) !important;
    }

    .background-card {
        background: mat.get-color-from-palette($background, card);
        color: mat.get-color-from-palette($foreground, text);
    }

    .primary-foreground {
        color: mat.get-color-from-palette($primary);
    }

    .accent-foreground {
        color: mat.get-color-from-palette($accent);
    }

    .svg-primary {
        svg path {
            fill: mat.get-color-from-palette($primary) !important;
        }
    }
}
