/**
 * Define the colors used for yes, no and abstain
 */
$votes-yes-color: #4caf50;
$votes-no-color: #cc6c5b;
$votes-abstain-color: #a6a6a6;
$vote-active-color: white;
$poll-start-color: #4caf50;
$poll-stop-color: #ff5252;
$poll-publish-color: #e6b100;
