#projector {
    * {
        font-family: customProjectorFont;
    }
    .material-icons {
        font-family: 'Material Icons';
    }
    h1 {
        font-size: 1.8em;
        font-weight: 500;
        line-height: 1.1em;
    }

    .slidetitle > h1,
    .slidetitle > h1 *,
    h1.projector_h1,
    h1.projector_h1 * {
        font-size: 1.8em;
        font-weight: 500;
        line-height: 1.1em;
        font-family: $font-projectorH1;
    }

    h2 {
        line-height: 40px;
        font-weight: normal;
    }

    .slidetitle > h2,
    .slidetitle > h2 *,
    h2.projector_h2,
    h2.projector_h1 *  {
        line-height: 40px;
        font-weight: normal;
        font-family: $font-projectorH2;
    }

    h3 {
        margin-bottom: 10px;
    }

    .slidetitle {
        border-bottom: 2px solid #d3d3d3;
        padding-bottom: 10px;

        h1 {
            margin-bottom: 0;
            padding-bottom: 0;
            margin-top: 20px;
        }

        h2 {
            color: #9a9898;
            margin-top: 10px;
            margin-bottom: -10px;
            font-size: 28px;
            font-weight: normal;
            display: block;
        }
    }

    ul,
    ol {
        margin: 0 0 10px 0;
    }

    hr {
        margin: 10px 0;
    }

    .bold {
        font-weight: 500;
    }
}
