<div class="result-wrapper" *ngIf="poll">
    <ng-container *ngIf="hasResults && canSeeResults">
        <!-- result table -->
        <table class="result-table">
            <tbody>
                <tr>
                    <th></th>
                    <th colspan="2">{{ 'Votes' | translate }}</th>
                </tr>
                <tr *ngFor="let row of tableData; trackBy: trackByIndex" [class]="row.votingOption">
                    <!-- YNA/Valid etc -->
                    <td>
                        <os-icon-container *ngIf="row.value[0].icon" [icon]="row.value[0].icon" [size]="iconSize">
                            {{ row.votingOption | pollKeyVerbose | translate }}
                        </os-icon-container>
                        <span *ngIf="!row.value[0].icon">
                            {{ row.votingOption | pollKeyVerbose | translate }}
                        </span>
                    </td>

                    <!-- Percent numbers -->
                    <td class="result-cell-definition">
                        <span *ngIf="row.value[0].showPercent">
                            {{ row.value[0].amount | pollPercentBase: poll:'motion' }}
                        </span>
                    </td>

                    <!-- Voices -->
                    <td class="result-cell-definition">
                        {{ row.value[0].amount | parsePollNumber }}
                    </td>
                </tr>
                <tr *ngIf="isPercentBaseEntitled" class="entitled-users-row">
                    <td>{{ 'Entitled users' | translate }}</td>
                    <td class="result-cell-definition">
                        {{ poll.entitled_users_at_stop.length | pollPercentBase: poll:'motion' }}
                    </td>
                    <td class="result-cell-definition">
                        {{ poll.entitled_users_at_stop.length }}
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Chart -->
        <div class="doughnut-chart">
            <os-charts type="doughnut" [data]="chartData"></os-charts>
        </div>
    </ng-container>

    <!-- No results yet -->
    <div *ngIf="!hasResults">
        <i>
            {{ 'No results yet.' | translate }}
        </i>
    </div>

    <!-- Has results, but user cannot see -->
    <div *ngIf="hasResults && !canSeeResults">
        <i>
            {{ 'Counting of votes is in progress ...' | translate }}
        </i>
    </div>
</div>
