<os-meta-text-block *ngFor="let section of sections" [showActionRow]="canEditSection(section)" icon="comment">
    <ng-container class="meta-text-block-title">
        <span>{{ section.getTitle() }}</span>
    </ng-container>

    <ng-container class="meta-text-block-content">
        <ng-container *ngIf="!isCommentEdited(section)">
            <div *ngIf="comments[section.id]" [innerHTML]="comments[section.id].comment"></div>
            <div class="no-content" *ngIf="!comments[section.id] || !comments[section.id].comment" translate>
                No comment
            </div>
        </ng-container>
        <form [formGroup]="commentForms[section.id]" *ngIf="isCommentEdited(section)">
            <mat-form-field>
                <textarea formControlName="comment" matInput placeholder="{{'Comment' | translate}}"></textarea>
            </mat-form-field>
        </form>
    </ng-container>

    <ng-container class="meta-text-block-action-row">
        <button mat-icon-button *ngIf="!isCommentEdited(section)" (click)="editComment(section)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isCommentEdited(section)" (click)="saveComment(section)">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isCommentEdited(section)" (click)="cancelEditing(section)">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>
</os-meta-text-block>

