<h1 mat-dialog-title>{{ 'Export motions' | translate }}</h1>

<form [formGroup]="exportForm">
    <!-- Content -->
    <div mat-dialog-content>
        <div>
            <p class="toggle-group-head" translate>Format</p>
            <mat-button-toggle-group class="smaller-buttons" formControlName="format">
                <mat-button-toggle value="pdf">PDF</mat-button-toggle>
                <mat-button-toggle value="csv">CSV</mat-button-toggle>
                <mat-button-toggle value="xlsx">XLSX</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div>
            <p class="toggle-group-head" translate>Line numbering</p>
            <mat-button-toggle-group class="smaller-buttons" formControlName="lnMode">
                <mat-button-toggle [value]="lnMode.None"> <span translate>None</span> </mat-button-toggle>
                <mat-button-toggle [value]="lnMode.Inside"> <span translate>Inline</span> </mat-button-toggle>
                <mat-button-toggle [value]="lnMode.Outside"> <span translate>Outside</span> </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div>
            <p class="toggle-group-head" translate>Change recommendations</p>
            <mat-button-toggle-group class="smaller-buttons" formControlName="crMode">
                <mat-button-toggle [value]="crMode.Original">
                    <span translate>Original version</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="crMode.Changed"> <span translate>Changed version</span> </mat-button-toggle>
                <mat-button-toggle [value]="crMode.Diff" #diffVersionButton>
                    <span translate>Diff version</span>
                </mat-button-toggle>
                <mat-button-toggle [value]="crMode.Final"> <span translate>Final version</span> </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div>
            <p class="toggle-group-head" translate>Content</p>
            <mat-button-toggle-group class="smaller-buttons" multiple formControlName="content">
                <mat-button-toggle value="text"> <span translate>Text</span> </mat-button-toggle>
                <mat-button-toggle value="reason"> <span translate>Reason</span> </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div>
            <p class="toggle-group-head" translate>Meta information</p>
            <mat-button-toggle-group class="smaller-buttons" multiple formControlName="metaInfo">
                <mat-button-toggle value="submitters"> <span translate>Submitters</span> </mat-button-toggle>
                <mat-button-toggle value="state"> <span translate>State</span> </mat-button-toggle>
                <mat-button-toggle value="recommendation"> <span translate>Recommendation</span> </mat-button-toggle>
                <mat-button-toggle value="category"> <span translate>Category</span> </mat-button-toggle>
                <mat-button-toggle value="tags"> <span translate>Tags</span> </mat-button-toggle>
                <mat-button-toggle value="origin"> <span translate>Origin</span> </mat-button-toggle>
                <mat-button-toggle value="block"> <span translate>Motion block</span> </mat-button-toggle>
                <mat-button-toggle value="polls" #votingResultButton>
                    <span translate>Voting result</span>
                </mat-button-toggle>
                <mat-button-toggle value="id"><span translate>Sequential number</span></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div *ngIf="commentsToExport.length && exportForm.get('format').value === 'pdf'">
            <p class="toggle-group-head" translate>Comments</p>
            <mat-button-toggle-group class="smaller-buttons" multiple formControlName="comments">
                <mat-button-toggle *ngFor="let comment of commentsToExport" [value]="comment.id">
                    <span>{{ comment.name }}</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <!-- TODO only if not csv -->
        </div>

        <br />
    </div>

    <!-- Action buttons -->
    <div mat-dialog-actions>
        <button mat-button type="button" color="primary" [mat-dialog-close]="exportForm.value">
            <span translate>Export</span>
        </button>
        <button mat-button type="button" (click)="onCloseClick()"><span translate>Cancel</span></button>
    </div>
</form>
