<div class="charts-wrapper">
    <ng-container *ngIf="chartData.length || circleData.length">
        <canvas
            *ngIf="type === 'bar' || type === 'stackedBar' || type === 'horizontalBar' || type === 'line'"
            baseChart
            [datasets]="chartData"
            [labels]="labels"
            [legend]="showLegend"
            [options]="chartOptions"
            [chartType]="type"
            (chartClick)="select.emit($event)"
            (chartHover)="hover.emit($event)"
        >
        </canvas>
        <canvas
            *ngIf="type === 'pie' || type === 'doughnut'"
            baseChart
            [data]="circleData"
            [labels]="circleLabels"
            [colors]="circleColors"
            [chartType]="type"
            [legend]="showLegend"
        ></canvas>
    </ng-container>
</div>
