.form70 {
    ::ng-deep {
        width: 70%;
    }
}

.form37 {
    ::ng-deep {
        width: 37%;
    }
}

.form25 {
    ::ng-deep {
        width: 25%;
    }
}

.form16 {
    ::ng-deep {
        width: 16%;
    }
}

.force-min-with {
    min-width: 110px;
}

.distance {
    padding-right: 5%;
}

mat-checkbox {
    margin-right: 10px;
}
