// hide certain stuff whem editing is disabled
.mat-form-field-disabled {
    ::ng-deep {
        .mat-input-element {
            color: currentColor;
        }

        .mat-select-value {
            color: currentColor;
        }

        .mat-form-field-underline {
            display: none;
        }

        .mat-hint {
            display: none;
        }

        .mat-select-value {
            display: table-cell;
        }

        button {
            display: none;
        }
    }
}

// angular material does not have this class. This is virtually set using ngClass
.mat-form-field-enabled {
    .form100 {
        ::ng-deep {
            width: 100%;
        }
    }

    .form70 {
        ::ng-deep {
            width: 70%;
        }
    }

    .force-min-with {
        min-width: 150px;
    }

    .form30 {
        ::ng-deep {
            width: 30%;
        }
    }

    .form20 {
        ::ng-deep {
            width: 25%;
        }
    }

    .distance {
        padding-right: 5%;
    }
}

mat-checkbox {
    margin-right: 10px;
}
