@import '~assets/styles/media-queries.scss';

@include set-breakpoint-upper(xs) {
    .form70 {
        width: 70%;
    }

    .form37 {
        width: 37%;
    }

    .form25 {
        width: 25%;
    }

    .form16 {
        width: 16%;
    }
}

.force-min-width {
    min-width: 110px;
}

.distance {
    padding-right: 5%;
}

mat-checkbox {
    margin-right: 10px;
}

.state-icons {
    display: flex;

    mat-icon {
        margin-left: 5px;
    }
}
