{% extends "beamer.html" %}
{% load tags %}
{% block title %}{{ block.super }} - {{ item.title }}{% endblock %}
{% block content %}

    <div id="sidebar">
    <div class="box">
        <p><b>{%trans "Status" %}:</b><br>
        {% if item.application.status != "pub" %}
            {%trans item.application.get_status_display %}
            <br>
        {% else %}
            {% for note in item.application.notes %}
            {{ note }}
            {% endfor %}
        {% endif %}
        </p>

        <p><b>{% trans "Submitter" %}:</b><br>
        {{ item.application.submitter.profile }}</p>
    {% with item.application.poll_set.all as polls %}
    {% if polls|length > 0 and polls.0.has_vote %}
    <p><b>{% trans "Poll result" %}:</b></p>
    {% for p in polls %}
        {% if p.has_vote %}
            {% if polls|length > 1 %}
                {{forloop.counter}}. {% trans "Vote" %}:<br>
            {% endif %}
            {% for option in p.options %}
                <img src="/static/images/icons/voting-yes.png" title="{% trans 'Yes' %}"> {{ option.yes }} <br>
                <img src="/static/images/icons/voting-no.png" title="{% trans 'No' %}"> {{ option.no }} <br>
                <img src="/static/images/icons/voting-abstention.png" title="{% trans 'Abstention' %}">  {{ option.undesided }}<br>
                <img src="/static/images/icons/voting-invalid.png" title="{% trans 'Invalid' %}"> {{ p.votesinvalidf }}<br>
                <div style="border-top: 1px solid; padding-top: 5px; margin: 5px 0; width: 10em;">
                    <img src="/static/images/icons/voting-total.png" title="{% trans 'Votes cast' %}"> {{ p.votescastf }}
                </div>
            {% endfor %}
            <br>
        {% else %}
            {% if poll|length  == 1 %}
            <i>{% trans "No poll results available." %}</i>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    </div>

    <h1>{% trans "Application No." %} {{ item.application.number }}</h1>
    <b>{{ item.title }}</b>
    <p>
    <div class="text">{{ item.application.public_version.text|linebreaks }}</div>
    {% if item.application.public_version.reason %}
        <br>
        <div class="reason"><p><b>{% trans "Reason" %}:</b></p>
        {{ item.application.public_version.reason|linebreaks }}</div>
    {% endif %}
    </p>
{% endblock %}
