<mat-form-field [formGroup]="form">
    <mat-select [formControl]="formControl" [placeholder]="listname" [multiple]="multiple" #thisSelector>
        <ngx-mat-select-search [formControl]="filterControl"></ngx-mat-select-search>
        <div *ngIf="!multiple">
            <mat-option><span translate>None</span></mat-option>
            <mat-divider></mat-divider>
        </div>
        <mat-option *ngFor="let selectedItem of filteredItems | async" [value]="selectedItem">
            {{selectedItem.getTitle(translate)}}
        </mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="dispSelected">
    <p>
        <span translate>Selected Values</span>:
    </p>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let selectedItem of thisSelector?.value" (removed)="remove(selectedItem)">{{selectedItem.name}}
            <fa-icon matSuffix icon="times" (click)="remove(selectedItem)"></fa-icon>
        </mat-chip>
    </mat-chip-list>
</div>
