<mat-select [formControl]="contentForm" [multiple]="multiple">
    <ngx-mat-select-search [formControl]="searchValue"></ngx-mat-select-search>
    <ng-container *ngIf="!multiple && includeNone">
        <mat-option [value]="null">
            {{ noneTitle | translate }}
        </mat-option>
        <mat-divider></mat-divider>
    </ng-container>
    <mat-option *ngFor="let selectedItem of getFilteredItems()" [value]="selectedItem.id">
        {{ selectedItem.getTitle() | translate }}
    </mat-option>
</mat-select>
