<mat-form-field [style.display]="fullWidth ? 'block' : 'inline-block'">
    <mat-select
        [formControl]="formControl"
        placeholder="{{ listname | translate }}"
        [multiple]="multiple"
        #thisSelector
    >
        <ngx-mat-select-search ngModel (ngModelChange)="onSearch($event)"></ngx-mat-select-search>
        <div *ngIf="!multiple && includeNone">
            <mat-option [value]="null">
                {{ noneTitle | translate }}
            </mat-option>
            <mat-divider></mat-divider>
        </div>
        <mat-option *ngFor="let selectedItem of getFilteredItems()" [value]="selectedItem.id">
            {{ selectedItem.getTitle() | translate }}
        </mat-option>
    </mat-select>
</mat-form-field>
