<os-head-bar [mainButton]="canManage" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Agenda</h2></div>
    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="agendaMenu"><mat-icon>more_vert</mat-icon></button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>
<mat-drawer-container class="on-transition-fade">
    <os-sort-filter-bar
        [filterCount]="filteredCount"
        [extraItemInfo]="getDurationEndString()"
        [filterService]="filterService"
        (searchFieldChange)="searchFilter($event)"
    ></os-sort-filter-bar>
    <mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
        <!-- selector column -->
        <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="checkbox-cell"></mat-header-cell>
            <mat-cell (click)="selectItem(item, $event)" *matCellDef="let item" class="checkbox-cell">
                <mat-icon>{{ isSelected(item) ? 'check_circle' : '' }}</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Projector column -->
        <ng-container matColumnDef="projector">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Projector</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div *ngIf="item.contentObject">
                    <os-projector-button [object]="item.contentObject"></os-projector-button>
                </div>
            </mat-cell>
        </ng-container>

        <!-- title column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Topic</mat-header-cell>
            <!-- <mat-cell (click)="onTitleColumn(item)" *matCellDef="let item"> -->
            <mat-cell (click)="selectItem(item, $event)" *matCellDef="let item">
                <div [ngStyle]="{ 'margin-left': item.agendaListLevel * 25 + 'px' }">
                    <span *ngIf="item.closed"> <mat-icon class="done-check">check</mat-icon> </span>
                    <span class="table-view-list-title">{{ item.getListTitle() }}</span>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Info column -->
        <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Info</mat-header-cell>
            <mat-cell (click)="openEditInfo(item)" *matCellDef="let item">
                <div class="info-col-items">
                    <div *ngIf="item.verboseType">
                        <mat-icon>visibility</mat-icon>
                        {{ item.verboseType | translate }}
                    </div>
                    <div *ngIf="item.duration">
                        <mat-icon>access_time</mat-icon>
                        {{ durationService.durationToString(item.duration) }}
                    </div>
                    <div *ngIf="item.comment">
                        <mat-icon>comment</mat-icon>
                        {{ item.comment }}
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Speakers column -->
        <ng-container matColumnDef="speakers">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Speakers</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <button mat-icon-button (click)="onSpeakerIcon(item)">
                    <mat-icon
                        [matBadge]="item.waitingSpeakerAmount > 0 ? item.waitingSpeakerAmount : null"
                        matBadgeColor="accent"
                    >
                        mic
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- menu -->
        <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Menu</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <button mat-icon-button
                *osPerms="'agenda.can_manage'"
                [matMenuTriggerFor]="singleItemMenu" [matMenuTriggerData]="{ item: item }">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
        <mat-row
            class="lg"
            [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
            *matRowDef="let row; columns: getColumnDefinition()"
        ></mat-row>
    </mat-table>
    <mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>
</mat-drawer-container>

<mat-menu #agendaMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <div *osPerms="'agenda.can_manage'">
            <!-- Enable multi select -->
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span translate>Multiselect</span>
            </button>

            <!-- automatic numbering -->
            <button mat-menu-item *ngIf="isNumberingAllowed" (click)="onAutoNumbering()">
                <mat-icon>format_list_numbered</mat-icon>
                <span translate>Numbering</span>
            </button>
            <button mat-menu-item routerLink="sort-agenda">
                <mat-icon>sort</mat-icon>
                <span translate>Sort</span>
            </button>
        </div>

        <!-- Project agenda -->
        <os-projector-button [object]="itemListSlide" [menuItem]="true"></os-projector-button>

        <!-- Current list of speakers -->
        <button mat-menu-item routerLink="speakers">
            <mat-icon>mic</mat-icon>
            <span translate>Current list of speakers</span>
        </button>
        <!-- CSV export -->
        <button mat-menu-item *osPerms="'agenda.can_manage'" (click)="csvExportItemList()">
            <mat-icon>archive</mat-icon>
            <span translate>Export as CSV</span>
        </button>
        <!-- PDF export -->
        <button mat-menu-item (click)="onDownloadPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span translate>Export as PDF</span>
        </button>
        <!-- Import -->
        <button mat-menu-item *osPerms="'agenda.can_manage'" routerLink="import">
            <mat-icon>cloud_upload</mat-icon>
            <span translate>Import</span><span>&nbsp;...</span>
        </button>
    </div>

    <div *ngIf="isMultiSelect">
        <!-- Select all -->
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>

        <!-- Deselect all -->
        <button mat-menu-item (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>
        <mat-divider></mat-divider>
        <div *osPerms="'agenda.can_manage'">
            <!-- Close selected -->
            <button mat-menu-item (click)="setClosedSelected(true)">
                <mat-icon>done</mat-icon>
                <span translate>Close</span>
            </button>

            <!-- Open selected -->
            <button mat-menu-item (click)="setClosedSelected(false)">
                <mat-icon>redo</mat-icon>
                <span translate>Open</span>
            </button>

            <mat-divider></mat-divider>

            <!-- Set multiple to public -->
            <button mat-menu-item (click)="setAgendaType(1)">
                <mat-icon>public</mat-icon>
                <span translate>Set public</span>
            </button>

            <!-- Set multiple to internal -->
            <button mat-menu-item (click)="setAgendaType(2)">
                <mat-icon>visibility</mat-icon>
                <span translate>Set internal</span>
            </button>

            <!-- Set multiple to hidden -->
            <button mat-menu-item (click)="setAgendaType(3)">
                <mat-icon>visibility_off</mat-icon>
                <span translate>Set hidden</span>
            </button>
            <mat-divider></mat-divider>

            <!-- Delete selected -->
            <button mat-menu-item class="red-warning-text" (click)="deleteSelected()">
                <mat-icon>delete</mat-icon>
                <span translate>Delete</span>
            </button>
        </div>
    </div>
</mat-menu>

<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <!-- Done check -->
        <button mat-menu-item (click)="onDoneSingleButton(item)">
            <mat-icon color="accent"> {{ item.closed ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
            <span translate>Done</span>
        </button>

        <!-- Edit button -->
        <button mat-menu-item (click)="openEditInfo(item)">
            <mat-icon>edit</mat-icon>
            <span translate>Edit details</span>
        </button>

        <!-- Delete Button -->
        <button mat-menu-item class="red-warning-text" (click)="onDelete(item)">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </ng-template>
</mat-menu>
