@import '~assets/styles/motion-styles-common';

.paragraph-context {
    opacity: 0.5;
}

/**
 * Override some special values which will be set dynamically
 */
.slidetitle {
    /* Original: 40px: This is done in the `scroll()` method, so the
     * motion text will be cut (to be taken by word) on the grey line */
    margin-bottom: 0px !important;

    h1 {
        margin: 0 !important;
    }
}

#sidebox {
    width: 260px;
    right: 0;
    background: #d3d3d3;
    border-radius: 7px 0 0 7px;
    padding: 3px 7px 10px 10px;
    position: fixed;
    z-index: 5;
    word-break: break-word;

    h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

.metatable {
    background-color: #ddd;
    width: 100%;
    font-size: 120%;

    td {
        border-bottom: 2px solid white;
    }
    td.min {
        width: 1%;
        white-space: nowrap;
        font-weight: 500;
        padding: 0 10px 0 7px;
        vertical-align: top;
    }
}

.spacer {
    min-width: 1px;
}

#text-wrapper {
    overflow: hidden;
}

#text {
    position: relative;
}

/* override the absolute position of outside linenumbers on motion slide */
.motion-text {
    &.line-numbers-outside {
        .os-line-number {
            &:after {
                top: 17px !important;
                font-size: 16px !important;
            }
        }
    }
}
