#slide {
    width: 100%;
    height: 100%;

    &.content {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
    }
}

::ng-deep #slide {
    z-index: 5;
    height: 100%;
}
