#slide {
    width: 100%;
    height: 100%;

    &.content {
        width: calc(100% - 100px);
        position: absolute;
        left: 50px;
        top: 50px;
        line-height: 1.5em;
    }
}

::ng-deep #slide {
    z-index: 5;
    height: 100%;
}
