<h2 mat-dialog-title>Datenschutzerklärung</h2>
<mat-dialog-content>
    OpenSlides speichert nur so viele personenbezogene Daten wie unbedingt nötig sind, um Besuchern Informationen und Dienste
    zuverlässig und sicher anbieten zu können.
</mat-dialog-content>
<br>
<mat-dialog-content>
    Eine Auswertung der Dienste-Protokolle erfolgt nur von uns selbst und auch nur, um mögliche Fehler, Einbruchsversuche oder
    technisches Verhalten der Server auf unseren Server zu analysieren.
</mat-dialog-content>
<br>
<mat-dialog-content>
    Nachfolgend wird genau aufgeschlüsselt, bei welcher Gelegenheit welche Daten wie lange gespeichert sind. Zudem wird beschrieben,
    welche Schritte erforderlich sind um Daten zu löschen.
</mat-dialog-content>
<br>
<h3>Cookies</h3>
<mat-dialog-content>
    Beim Besuch der Website wird ein sogenanntes Cookie angelegt. Dieses Cookie wird ausschließlich dazu verwendet, um auf der
    Website eingeloggt zu bleiben. Ein sogenanntes "Tracking Cookie" wird nicht verwendet.
</mat-dialog-content>
<br>
<h3>Logfiles</h3>
<mat-dialog-content>
    Zu OpenSlides gehören verschiedene Unter-Services. Diese loggen folgende Informationen: Quell-IP-Adresse, Zeitstempel, genutztes
    Betriebssystem, verwendeter Web-Browser, Referer-URL, E-Mail-Adresse und besuchte Seite.
</mat-dialog-content>
<br>
<h3>Datenbank</h3>
<mat-dialog-content>
    Als Mitglied werden folgende Daten von Ihnen gespeichert: Titel, Vorname, Nachname, EMail, Gliederungsebene, Teilnehmernummer,
    Gruppenzugehörigkeit, Initiales Passwort im Klartext, Vergebenes Passwort als kryptografischer Hashwert und ein Kommentar
    für interne Notizen. Diese Informationen werden mit den Aktionen innerhalb von OpenSlides in Verbindung gebracht. Diese
    Informationen werden nicht an Dritte weiter gegeben und sind auch nicht für diese zugänglich.
</mat-dialog-content>
<br>
<h3>Löschung von Daten</h3>
<mat-dialog-content>
    Die Daten dieser OpenSlides-Demo-Instanz werden nächtlich automatisch gelöscht.
</mat-dialog-content>