@import '~assets/styles/tables.scss';

.os-headed-listview-table {
    // Title
    .mat-column-title {
        flex: 9 0 0;
    }

    // Amount
    .mat-column-amount {
        flex: 1 0 60px;
    }

    // Menu
    .mat-column-menu {
        flex: 0 0 40px;
    }
}

.mat-cell > div {
    z-index: 1 !important;
}
