.filter-menu {
    margin-left: 5px;
    justify-content: space-between;
    :hover {
        cursor: pointer;
    }
}
span.right-with-margin {
    margin-right: 25px;
}

.filter-count {
    font-style: italic;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.current-filters {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    button {
        padding: 3px;
        font-size: 80%;
        margin: 5px;
    }
}
