@use '~@angular/material' as mat;

@mixin os-config-field-style($theme) {
    $foreground: map-get($theme, foreground);

    $is-dark-theme: map-get($theme, is-dark);

    .config-field-wrapper {
        .mat-form-field {
            .mat-form-field-flex {
                border-bottom: 1px solid mat.get-color-from-palette($foreground, divider, if($is-dark-theme, 0.7, 0.42));
            }
        }

        .datetimepicker-container {
            .ngx-material-timepicker-toggle {
                mat-icon {
                    color: mat.get-color-from-palette($foreground, icon);
                }
            }
        }
    }
}
