<os-head-bar [nav]="false" [goBack]="true">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Search results</h2></div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<!-- search-field -->
<div class="search-container">
    <div class="search-field">
        <mat-form-field appearance="outline" class="search-component">
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput [formControl]="searchForm" />
            <mat-icon matPrefix>search</mat-icon>
            <button *ngIf="searchForm.value !== ''" mat-icon-button matSuffix (click)="searchForm.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <mat-menu #menu="matMenu">
        <button
            mat-menu-item
            *ngFor="let registeredModel of registeredModels"
            (click)="toggleModel($event, registeredModel)"
        >
            <mat-checkbox [checked]="registeredModel.enabled" (click)="$event.preventDefault()">
                <span>{{ registeredModel.verboseNamePlural | translate }}</span>
            </mat-checkbox>
        </button>
        <mat-divider></mat-divider>
        <h4 matSubheader>{{ 'Sort' | translate }}</h4>
        <mat-list-item *ngFor="let option of sortingOptionsList" (click)="toggleSorting($event, option.option)">
            <button mat-menu-item>
                <mat-icon matListIcon>{{ sortingProperty === option.option ? 'check' : '' }}</mat-icon>
                <span>{{ option.label | translate }}</span>
            </button>
        </mat-list-item>
    </mat-menu>

    <div *ngIf="searchResults.length > 0">
        <div class="os-card">
            {{ searchResultCount }}
            <span *ngIf="searchResultCount === 1" translate>result</span>
            <span *ngIf="searchResultCount !== 1" translate>results</span>
        </div>
        <div class="os-card">
            <div class="noSearchResults" *ngIf="searchResultCount === 0 && query !== ''">
                <span translate>No search result found for</span> "{{ query }}"
            </div>

            <ng-container *ngFor="let searchResult of searchResults">
                <mat-card *ngIf="searchResult.models.length > 0">
                    <mat-card-title>
                        {{ searchResult.models.length }} {{ searchResult.verboseName | translate }}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item *ngFor="let model of searchResult.models">
                                <a *ngIf="!searchResult.openInNewTab" [routerLink]="model.getDetailStateURL()">
                                    {{ model.getTitle() }}
                                </a>
                                <a
                                    *ngIf="searchResult.openInNewTab"
                                    [routerLink]="model.getDetailStateURL()"
                                    target="_blank"
                                >
                                    {{ model.getTitle() }}
                                </a>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>
