#card-wrapper {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    // if there is only 1 and desktop size, use 0.5 fr
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .projector-card {
        width: 100%;
        max-width: 100vmin;
        max-height: 100vh;
    }
}
