#card-wrapper {
    margin-top: 10px;
    margin-left: 10px;

    .projector-card {
        width: 350px;
        margin: 10px;
        float: left;

        .projector {
            width: 320px;
            color: black;
        }

        form {
            margin-top: 10px;
        }

        ::ng-deep mat-card {
            margin: 0;
        }

        .no-markup {
            /* Do not let the a tag ruin the projector */
            color: inherit;
            text-decoration: inherit;
        }
    }
}
