<os-head-bar [nav]="true" [mainButton]="canManage" (mainEvent)="onPlusButton()">
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Projectors</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <div *osPerms="'core.can_manage_projector'">
            <button type="button" mat-icon-button [matMenuTriggerFor]="ellipsisMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
</os-head-bar>

<mat-card *ngIf="!projectorToCreate && projectors && projectors.length > 1">
    <span translate>
        Reference projector for current list of speakers: </span
    >&nbsp;
    <mat-form-field>
        <mat-select
            [disabled]="!!editId"
            [value]="projectors.length ? projectors[0].reference_projector_id : null"
            (selectionChange)="onSelectReferenceProjector($event)"
        >
            <mat-option *ngFor="let projector of projectors" [value]="projector.id">
                {{ projector.getTitle() | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>

<mat-card *ngIf="projectorToCreate">
    <mat-card-title translate>New Projector</mat-card-title>
    <mat-card-content>
        <form [formGroup]="createForm" (keydown)="keyDownFunction($event)">
            <p>
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="{{ 'Name' | translate }}" required />
                    <mat-hint *ngIf="!createForm.controls.name.valid">
                        <span translate>Required</span>
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="create()">
            <span translate>Create</span>
        </button>
        <button mat-button (click)="projectorToCreate = null">
            <span translate>Cancel</span>
        </button>
    </mat-card-actions>
</mat-card>

<div id="card-wrapper">
    <div class="projector-card" *ngFor="let projector of projectors">
        <os-meta-text-block showActionRow="false">
            <ng-container class="meta-text-block-title">
                {{ projector.name | translate }}
            </ng-container>
            <ng-container class="meta-text-block-action-row" *ngIf="canManage">
                <button mat-icon-button *ngIf="editId !== projector.id" (click)="onEditButton(projector)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="editId === projector.id" (click)="onCancelButton(projector)">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button *ngIf="editId === projector.id" (click)="onSaveButton(projector)">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDeleteButton(projector)">
                    <mat-icon>delete</mat-icon>
                </button>
            </ng-container>
            <ng-container class="meta-text-block-content">
                <a class="no-markup" [routerLink]="['/projectors/detail', projector.id]">
                    <div class="projector">
                        <os-projector [projector]="projector"></os-projector>
                    </div>
                </a>
                <ng-container *ngIf="editId === projector.id">
                    <form [formGroup]="updateForm" (keydown)="keyDownFunction($event, projector)">
                        <!-- Name field -->
                        <mat-form-field>
                            <input formControlName="name" matInput placeholder="{{ 'Name' | translate }}" required />
                            <mat-hint *ngIf="!updateForm.controls.name.valid">
                                <span translate>Required</span>
                            </mat-hint>
                        </mat-form-field>

                        <h3 translate>Resolution and size</h3>
                        <!-- Aspect ratio field -->
                        <mat-radio-group formControlName="aspectRatio" [name]="projector.id">
                            <mat-radio-button *ngFor="let ratio of aspectRatiosKeys" [value]="ratio">
                                {{ ratio }}
                            </mat-radio-button>
                        </mat-radio-group>
                        <mat-slider
                            [thumbLabel]="true"
                            formControlName="width"
                            min="800"
                            max="3840"
                            step="10"
                        ></mat-slider>
                        {{ updateForm.value.width }}

                        <!-- colors -->
                        <mat-form-field>
                            <span translate>Background color</span>
                            <input matInput formControlName="background_color" type="color" />
                            <mat-hint *ngIf="!updateForm.controls.background_color.valid">
                                <span translate>Required</span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <span translate>Header background color</span>
                            <input matInput formControlName="header_background_color" type="color" />
                            <mat-hint *ngIf="!updateForm.controls.header_background_color.valid">
                                <span translate>Required</span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <span translate>Header font color</span>
                            <input matInput formControlName="header_font_color" type="color" />
                            <mat-hint *ngIf="!updateForm.controls.header_font_color.valid">
                                <span translate>Required</span>
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <span translate>Headline color</span>
                            <input matInput formControlName="header_h1_color" type="color" />
                            <mat-hint *ngIf="!updateForm.controls.header_h1_color.valid">
                                <span translate>Required</span>
                            </mat-hint>
                        </mat-form-field>

                        <!-- checkboxes -->
                        <div>
                            <mat-checkbox formControlName="show_header_footer">
                                <span translate>Show header and footer</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox formControlName="show_title">
                                <span translate>Show title</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox formControlName="show_logo">
                                <span translate>Show logo</span>
                            </mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox formControlName="clock">
                                <span translate>Show clock</span>
                            </mat-checkbox>
                        </div>
                    </form>
                </ng-container>
            </ng-container>
        </os-meta-text-block>
    </div>
</div>

<mat-menu #ellipsisMenu="matMenu">
    <button type="button" mat-menu-item routerLink="/projectors/messages">
        <mat-icon>note</mat-icon>
        <span translate>Projector messages</span>
    </button>
</mat-menu>
