tr.activeline a.activate_link div {
    background-image: url(/static/images/icons/task-accepted.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}
tr.inactiveline a.activate_link div {
    background-image: url(/static/images/icons/task-accepted-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}

a.close_link.closed span {
    background-image: url(/static/images/icons/user-offline.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.close_link.open span {
    background-image: url(/static/images/icons/user-online.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

a.hidelink.hide span {
    background-image: url(/static/images/icons/layer-visible-off.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.hidelink.show span {
    background-image: url(/static/images/icons/layer-visible-on.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

a.countdown_visible_link.closed div {
    background-image: url(/static/images/icons/user-offline.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.countdown_visible_link.open div {
    background-image: url(/static/images/icons/user-online.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}