/**
 * OpenSlides default template style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

body {
   background-color: #FBFBFB;
}

/* Header */
#header {
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -ms-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    height: 35px;
    margin-bottom: 20px;
    padding: 7px 20px 0;
    position: relative;
}
#header .logo img {
    height: 30px;
    padding-left: 3px;
}
#header .title {
    font-size: 20px;
    color: #999999;
}

/* Headings and Links */
h1 {
    border-bottom: 1px solid #EEEEEE;
    margin: 0px 0 30px;
    padding-bottom: 9px;
}
h5 {
    margin-bottom: 0px;
}
a:hover {
    text-decoration: none;
}

/* Login page */
#login-page.container {
    width: 320px;
    margin-top: 20px;
}
#login-page h2 {
    margin-left: 30px;
    margin-bottom: 20px;
}
#login-page h2 img {
    width: 250px;
}
#login-page .well {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding-bottom: 20px;
    line-height: 45px;
}
#login-page input {
    width: 240px;
    height: 30px;
    font-size: 20px;
}
#login-page span.add-on {
    height: 26px;
    padding: 8px 5px 4px 5px;
}


/** Utils **/
tr.itemdoneline td, li.itemdoneline {
    background-color: #EAEAEA !important;
}
tr.activeline td, li.activeline {
    background-color: #bed4de !important;
}
.nopadding {
    padding: 0;
}
.alert form {
    margin-bottom: 0;
}
tr.total td {
    border-top: 1px solid #333333;
}
.nobr {
    white-space: nowrap;
}
/* show optional column */
.optional {
    display: auto;
}


/** Forms **/
input, textarea {
    width: 320px;
}
textarea {
    height: 100px;
}
.help-inline {
    font-size: 11px;
}
.errorlist{
    margin: 0;
}
.errorlist li {
    list-style: none outside none;
}
form .required label:after {
    content: " *";
}


/** Left sitebar navigation **/
.leftmenu ul {
    margin: 0;
    list-style: none; 
}
.leftmenu ul ul {
    display: none;
    margin-left: 35px;
    margin-top: -1px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);  
}
.leftmenu ul li {
    display: block;
    width: 100%;
}
.leftmenu ul li a {
    border-style: none solid solid;
    border-width: 0 1px 1px;
    border-color: #dddddd;
    color: #666666;
    display: block;
    font-weight: bold;
    background-color: #ffffff;
    padding: 0;    
}
.leftmenu ul li:first-child a {
    border-top: 1px solid #DDDDDD;
}

.leftmenu ul li a span.ico {
    display: inline-block;
    background: #f9f9f9;
    padding: 8px 10px 6px;
    margin: 0 5px 0 0;
    border-right: 1px solid #dddddd;
}
.leftmenu ul li a, .leftmenu ul li a span.ico {
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.leftmenu ul li a:hover {
    background-color: #f5f5f5;
    color: #000000;
}
.leftmenu ul li a:hover span.ico {
    background-color: #efefef;
}
.leftmenu ul li.active a {
    background-color: #333333;
    color: #ffffff;
}
.leftmenu ul li.active a span.ico {
    background-color: #111111;
    border-right: 1px solid #444444;
}
.leftmenu ul li.active a span.ico i {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.leftmenu ul li.hider a {
    margin-top: 5px;
    height: 20px;
}

.leftmenu.lefticon > ul {
    width: 37px !important;
}
.leftmenu.lefticon ul ul {
    position: absolute;
    z-index: 20;
    margin-top: -34px;
}
.leftmenu.lefticon > ul > li > a > span.text {
    display: none;
}
.leftmenu.lefticon ul ul > li > a {
    min-width: 200px !important;
}
.leftmenu.lefticon span.text {
    padding-right: 15px;
}

/** Navigation icons (mapping to glyphicons-halflings) **/
.icon-dashboard {
    background-position: 0 -24px;
}
.icon-agenda {
    background-position: -264px 0;
}
.icon-motion, .icon-motions {
    background-position: -24px -24px;
}
.icon-assignment, .icon-assignments {
    background-position: -144px -72px;
}
.icon-participant, .icon-participants {
    background-position: -168px 0;
}
.icon-config {
    background-position: -360px -144px;
}

/** More glyphicons free icons **/
.custom-icons {
    background-position: 0;
}
.icon-check_new, .close_link.closed i {
    background-image: url("../img/glyphicons_152_check.png");
}
.icon-uncheck_new, .close_link.open i {
    background-image: url("../img/glyphicons_153_unchecked.png");
}

/** Responsive **/
@media (max-width: 767px) {
    body {
        padding: 0;
    }
    .row-fluid .leftmenu {
        float: left;
    }
    #content {
        margin: 0 5px 0 45px;
    }
    /* hide optional column */ 
    .optional {
        display: none;
    }
}
