/**
 * OpenSlides default template style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

body {
    padding: 0 0 0px;
    margin:0;
    background:url("../images/bg-submenu.gif") repeat-y scroll 0 0 #FFFFFF;
    color:#1B110F;
    font-family:'Lucida Grande',"Trebuchet MS",Verdana,sans-serif;
    font-size:12px;
    position:relative;
}

/* HEADER */
#header {
    position:relative;
    background:url("../images/bg-header.gif") repeat-x scroll center top #3D3020;
    height:150px;
}
#logo {
    position:absolute;
    top: 25px;
    left: 75px;
}
#header_title {
    position:absolute;
    height:40px;
    left:230px;
    top:25px;
    font-size:34px;
    font-weight: bold;
    color:#FFFFFF;
}
#header_subtitle {
    position:absolute;
    color:#B9A894;
    left:230px;
    top:70px;
    font-size:14px;
}
#header_userprofile, #header_userprofile a  {
    color:#B9A894;
}
#header_userprofile {
    position:absolute;
    font-size:10px;
    top:10px;
    right:20px;
}
#header_userprofile li {
    float:right;
    margin:0 10px 0 0;
}
#header_userprofile li#last {
    clear:both;
    color:#6A5644;
    padding:8px 0 0;
}
#header_userprofile li strong {
    color:#ECE0D2;
    font-weight:normal;
}
#header_userprofile li a {
    color:#B9A894;
    padding:1px 0 1px 10px;
    text-decoration:none;
}
#header_userprofile li a:hover {
    color:#ECE0D2;
}

/* Main Menu */
#mainmenu {
    position:absolute;
    bottom:0;
    left:197px;
    z-index:1000;}
#mainmenu li {
    float:left;
    font-size:12px;
}
#mainmenu li a {
    border-radius:6px 6px 0px 0px;
    background:none repeat scroll 0 0 #4F4743;
    color:#A59A92;
    display:block;
    margin:0 3px;
    padding:10px 12px;
    text-decoration:none;
}
#mainmenu li a:hover {
    color:#ECE0D2;
}
#mainmenu li.selected a {
    background:none repeat scroll 0 0 #FFFFFF;
    color:#333333;
}


/* Wrapper */
#wrapper {
    float:left;
    line-height:140%;
    width: 100%;
}

/* Sub Menu */
#submenu {
    float: left;
    width: 200px;
    margin-left: -100%;
}
#submenu .section {
    border-top:1px solid #2C2523;
}
#submenu .sectiontitle {
    /*background-color: #2E2520*/
}
#submenu .section h4 {
    border-top:1px solid #443C3A;
    border-bottom:1px solid #B9A894;
    color:#B9A894;
    padding:15px 20px 10px 5px;
    margin:0px;
    margin-bottom:0px;
    font-size: 16px;
    text-align:right;
}
#submenu .section h3 {
    border-bottom:1px dashed #B9A894;
    color:#B9A894;
    padding:15px 20px 10px 5px;
    margin:0px;
    margin-bottom:0px;
    font-size: 16px;
    text-align:right;
    overflow:hidden;
}
#submenu li a {
    color:#B9A894;
    display:block;
    font-size:11px;
    padding:6px 20px 6px 2px;
    text-align:right;
    text-decoration:none;
}
.section li a:hover {
    background:none repeat scroll 0 0 #443C3A;
}
#submenu li.selected a, .section li.selected a:hover {
    background:none repeat scroll 0 0 #FFFFFF;
    color:#333333;
}


/* Content */
#content {
    margin-left: 200px;
    padding: 3px 20px;
}
#content h1 {
    font-size: 28px;
    font-weight: normal;
    line-height: 100%;
}
#content h2 {
    margin-top: 40px;
}
#content h3 {
    font-size: 20px;
    font-weight: normal;
}


/* Table */
table {
    border-collapse:collapse;
    border-color:#CCCCCC;
    border-style:solid;
    border-width:1px;
    font-size:11px;
    margin:0;
    width:100%;
    border-spacing:0px;
}
table th {
    border-right:1px solid #CCCCCC;
    color:#333333;
    font-weight:bold;
    padding:10px 10px 10px 10px;
    text-align:left;
    text-transform:uppercase;
}
table tr.odd td {
    background:none repeat scroll 0 0 #F1F1F1;
}
table td {
    background:none repeat scroll 0 0 #F7F7F7;
    border-right:1px solid #CCCCCC;
    line-height:120%;
    padding: 10px 10px;
    vertical-align:middle;
}
table tr:hover td, tr.odd:hover td {
    background:none repeat scroll 0 0 #E8E4DE;
}
table a.table_delete {
    background:url("../img/icons/cross.png") no-repeat scroll 0 0 transparent;
    display:block;
    float:left;
    height:16px;
    margin:0 10px 0 0;
    padding:0;
    text-indent:-9999px;
    width:16px;
}
table a.table_edit {
    background:url("../img/icons/pencil.png") no-repeat scroll 0 0 transparent;
    display:block;
    float:left;
    height:16px;
    margin:0 10px 0 0;
    padding:0;
    text-indent:-9999px;
    width:16px;
}
.valigntop td {
    vertical-align:top;
}
.agendatable td.dragcell {
    padding: 0px 0 0px 10px;
}
.agendatable td img.center {
    margin-left: 10px;
}

.agendatable tr.activesummarychildline td {
    background-color: #f5cfa2;
}
.cleantable, .cleantable td, .cleantable td:hover {
    border:none;
    background:none;
    line-height:120%;
    padding: 5px 0;
    font-size:11px;
    margin:0;
    width: 0;
}
tr.total td {
    border-top: 1px solid #333333;
    background-color: #e3e3e3;
}
tr.topline td {
    border-bottom: 1px solid #333333;
    background-color: #e3e3e3;
}
table tr.emptyline, table tr.emptyline td, table tr.emptyline td:hover {
    border-right: 0px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    background: none !important;
}

/* Links and Images */
a {
    color:#41829F;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}
img {
    border:none;
}


/*Forms*/
form {
    margin:0;
    padding:0
}
label {
    /*clear:both;*/
    display:block;
    padding:5px 0;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select {
    background:none repeat scroll 0 0 #F7F7F7;
    border:1px solid #CCCCCC;
    outline:medium none;
    padding:5px;
    font-size:13px;
    width: 400px;
    size:800px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    height:17px;
}
textarea {
    height: 150px;
}
select {
    padding:0px;
}
input[type="submit"], input[type="button"]  {
    background:url("../images/button.gif") repeat-x scroll left top #459300 !important;
    border:1px solid #459300 !important;
    color:#FFFFFF !important;
    cursor:pointer;
    display:inline-block;
    padding:4px 10px !important;
    margin: 2px 0 2px 0;
}
#id_permissions, #id_users {
    height: 310px;
}
.button {
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-weight: normal;
    padding: 4px 10px;
    margin: 2px 0 2px 0;
    text-align: center;
    text-decoration: none;
    background:#f9f9f9;
    background:#f9f9f9 -webkit-gradient( linear,0% 0%,0% 100%,from(rgba(255,255,255,.2)),to(rgba(0,0,0,0)));
    background:#f9f9f9 -moz-linear-gradient( top,rgba(255,255,255,.4),rgba(0,0,0,0));
    color: #555555;
    cursor: pointer;
}
.button:hover {
    border: 1px solid #999999;
    background:#f9f9f9 -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,.55)),to(rgba(0,0,0,0)));
    background:#f9f9f9 -moz-linear-gradient( top,rgba(255,255,255,.55),rgba(0,0,0,0));
}
.button:active {
    -webkit-box-shadow:inset 0 100% 0 0 rgba(0,0,0,0.2);
    background:#f9f9f9 -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0)));
    background:#f9f9f9 -moz-linear-gradient( top,rgba(0,0,0,.1),rgba(0,0,0,0));
}
.button .icon {
    height: 16px;
    text-indent:20px;
    padding-top: 1px;
    display:block;
    text-transform:none;
    white-space:nowrap;
}
.button .cancel{
    background:url(../images/icons/dialog-cancel.png) no-repeat 0px 0px;
}
.button .ok{
    background:url(../images/icons/dialog-ok-apply.png) no-repeat 0px 0px;
}
.button .ok-blue, .button .apply{
    background:url(../images/icons/dialog-ok.png) no-repeat 0px 0px;
}
.button .edit{
    background:url(../images/icons/edit.png) no-repeat 0px 0px;
}
.button .revert{
    background:url(../images/icons/revert.png) no-repeat 0px 0px;
}
.button .undo{
    background:url(../images/icons/undo.png) no-repeat 0px 0px;
}
.button .item{
    background:url(../images/icons/view-list-details.png) no-repeat 0px 0px;
}
.button .projector{
    background:url(../images/icons/projector.png) no-repeat 0px 0px;
}
.button .done{
    background:url(../images/icons/done.png) no-repeat 0px 0px;
}
.button .close{
    background:url(../images/icons/close.png) no-repeat 0px 0px;
}
.button .reject{
    background:url(../images/icons/reject.png) no-repeat 0px 0px;
}
.statistics{
    background:url(../images/icons/statistics.png) no-repeat 0px 0px;
}
.button .pdf{
    background:url(../images/icons/pdf.png) no-repeat 0px 0px;
}
.button .adduser{
    background:url(../images/icons/add-user.png) no-repeat 0px 0px;
}
.button .remove{
    background:url(../images/icons/remove.png) no-repeat 0px 0px;
}
.button .removeuser{
    background:url(../images/icons/remove-user.png) no-repeat 0px 0px;
}
.button .export{
    background:url(../images/icons/export.png) no-repeat 0px 0px;
}
.button .import{
    background:url(../images/icons/import.png) no-repeat 0px 0px;
}
.add{
    background:url(../images/icons/add.png) no-repeat 0px 0px;
}
.button .number{
    background:url(../images/icons/number.png) no-repeat 0px 0px;
}
.button .guest{
    background:url(../images/icons/guest.png) no-repeat 0px 0px;
}
.button .clear{
    background:url(../images/icons/clear.png) no-repeat 0px 0px;
    text-indent:12px;
}

.small-input {
    width: 40px !important;
}

.small-form input {
    width: 40px !important;
}

.medium-input {
    width: 200px !important;
}
.default-input {
    width: auto !important;
}

.errorlist {
    color:#DA3939;
    font-size:9px;
    font-style:italic;
    height:13px;
    padding:0;
}
form .required label:after {
    content: " *";
}
form .error {
    font-weight: bold;
    color:#DA3939;
}
form p.error {
    margin-top:0;
}
form .error input, form .error textarea {
    border:1px solid #DA3939;
}
form input:after {
    font-weight: bold;
}
.helptext {
    font-size:9px;
    display: block;
    color: #556652;
}
/* Fieldsets */
fieldset {
    width: 0px;
    padding: 0 60px 0 20px;
}

/* Lists */
ul {
    list-style:none outside none;
    -moz-padding-start:0px;
    margin:0;
    padding:0;
}
ol {
    -moz-padding-start:20px;
    margin:0;
    padding-left:20px;
}
ul.results {
    list-style:square outside none;
    -moz-padding-start:0px;
    margin-left: 20px;
    padding:0;
}

/* Main container */
#main ul{
    list-style: disc inside;
}
#main table {
    width: auto;
}

/* Misc */
#sidebar {
    width: 250px;
    float: right;
    margin:50px 0 20px 10px;
}
.box {
    border:1px solid #808080;
    padding: 0px 10px 10px 10px;
}
.box h4 {
    margin-bottom: 0;
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
}

.note {
    color: red;
}

/* Footer */
#footer {
    border-top:1px solid #CCCCCC;
    font-size:12px;
    margin:20px 0 0;
    padding:5px 0;
    clear: both;
}

/* Notification */
.notification {
    border-radius: 6px 6px 6px 6px;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    border: 1px solid;
    font-size: 13px;
    margin: 10px 0 15px 0;
    padding: 0;
    position: relative;
    line-height: 100%;
    width: 96%;
    cursor: pointer;
}
.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.notification em {
    display: block;
    font-style: normal;
    line-height: 1.5em;
    padding: 10px 20px 10px 36px;
}
.notification.success {
    background: url("../images/icons/done.png") repeat scroll 0 0 #D5FFCE;
    border-color: #9ADF8F;
    color: #556652;
}
.notification.error {
    background: url("../images/icons/error.png") repeat scroll 0 0 #FFCECE;
    border-color: #DF8F8F;
    color: #665252;
}
.notification.warning {
    background: url("../images/icons/warning.png") repeat scroll 0 0 #FFFBCC;
    border-color: #E6DB55;
    color: #666452;
}
.notification.info {
    background: url("../images/icons/information.png") repeat scroll 0 0 #DBE3FF;
    border-color: #A2B4EE;
    color: #585B66;
}

/* Icons */
.icon {
    font-size: 14px;
}

.icon span {
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.right {
    float: right
}
.preview {
    background:url("../images/icons/preview.png") no-repeat 0px 0px;
}
.edit {
    background:url("../images/icons/edit.png") no-repeat 0px 0px;
}
.delete {
    background:url("../images/icons/delete.png") no-repeat 0px 0px;
}



/* inactive/active */
a.activate_link span {
    background-image: url(../images/icons/accept-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}
a.activate_link.active span {
    background-image: url(../images/icons/accept.png);
}
tr.activeline td, li.activeline {
    background-color: #bed4de !important;
}
