<mat-toolbar color='primary'>
    <span class='app-name on-transition-fade' translate>Home</span>
</mat-toolbar>

<mat-card class="os-card">
    <div class="app-content" translate>

        <h4> {{welcomeTitle | translate}} </h4>
        <span> {{welcomeText | translate}} </span>
        <br/>
        <!-- example to translate with parameters -->
        <p>{{'Hello user' | translate:username}}</p>

        <button type="button" (click)="DataStoreTest()">DataStoreTest</button>
        <br/>
        <button type="button" (click)="TranslateTest()">Translate in console</button>
        <br/>
        <button type="button" (click)="giveDataStore()">print the dataStore</button>
    </div>
</mat-card>