<mat-toolbar color='primary'>
    <span class='app-name' translate>Home</span>
</mat-toolbar>

<div class="app-content" translate>
    <span>{{'Welcome to OpenSlides' | translate}}</span>
    <br/>
    <!-- <p translate [translateParams]="{user: 'Tim'}">Hello user</p> -->
    <p>{{'Hello user' | translate:username}}</p>
    <button type="button" (click)="DataStoreTest()">DataStoreTest</button>
    <br/>
    <button type="button" (click)="TranslateTest()">Translate in console</button>
    <br/>
    <button type="button" (click)="giveDataStore()">print the dataStore</button>
</div>