<app-head-bar appName="Home"></app-head-bar>

<mat-card class="os-card">
    <div class="app-content" translate>

        <h4> {{welcomeTitle | translate}} </h4>
        <span> {{welcomeText | translate}} </span>
        <br/>
        <!-- example to translate with parameters -->
        <p>{{'Hello user' | translate:username}}</p>

        <button mat-button (click)="DataStoreTest()">DataStoreTest</button>
        <br/>
        <button mat-button (click)="TranslateTest()">Translate in console</button>
        <br/>
        <button mat-button (click)="giveDataStore()">print the dataStore</button>
        <br/>
        <input matInput #motionNumber placeholder="Number of Motions to add" value="100">
        <button mat-button (click)="createMotions(motionNumber.value)">Add Random Motions</button>
    </div>
</mat-card>
