@use '~@angular/material' as mat;
@import '.~assets/styles/color-palettes/os-blue';

$openslides-primary: mat.define-palette($openslides-blue);
$openslides-accent: mat.define-palette(mat.$light-blue-palette);
$openslides-warn: mat.define-palette(mat.$red-palette);

$openslides-default-dark: mat.define-dark-theme($openslides-primary, $openslides-accent, $openslides-warn);

