@use '~@angular/material' as mat;
@import '~assets/styles/color-palettes/os-green.scss';

$openslides-primary: mat.define-palette($openslides-green);
$openslides-accent: mat.define-palette(mat.$amber-palette);
$openslides-warn: mat.define-palette(mat.$red-palette);

$openslides-green-dark: mat.define-dark-theme($openslides-primary, $openslides-accent, $openslides-warn);
