 <h1 translate>Import participants</h1>

<div id="submenu">
  <a ui-sref="users.user.list" class="btn btn-sm btn-default">
    <i class="fa fa-angle-double-left fa-lg"></i>
    <translate>Back to overview</translate>
  </a>
</div>

<p translate>Select a CSV file to import users!

<p translate>Please note:</p>
<ul>
    <li><translate>Required comma separated values</translate>:<br>
        <code translate>'title, first name, last name, gender, email, group id, structure level,
        committee, about me, comment, is active'</code>
    <li><translate>Default groups</translate>:
        <translate>Delegate</translate> <code>3</code>,
        <translate>Staff</translate> <code>4</code>
    <li translate>At least first name or last name have to be filled in. All
      other fields are optional and may be empty.
    <li translate>The first line (header) is ignored.
    <li translate>Required CSV file encoding is UTF-8.
    <li><a href="https://github.com/OpenSlides/OpenSlides/wiki/CSV-Import" translate>
          Use the CSV example file from OpenSlides Wiki.
        </a>
</ul>

<ng-csv-import
  content="csv.content"
  class="import"
  header="csv.header"
  separator="csv.separator"
  result="csv.result"></ng-csv-import>

<div ng-if="csv.content">
  <h2>CSV</h2>
  <div class="content"><pre>{{ csv.content }}</pre></div>
</div>

<div ng-if="csv.result">
  <h2>JSON</h2>
  <div class="content"><pre>{{ csv.result }}</pre></div>
</div>

<div class="form-group">
  <button ng-click="import(csv.result)" class="btn btn-primary" translate>
    Import
  </button>
  <button ui-sref="users.user.list" class="btn btn-default" translate>
    Cancel
  </button>
</div>
