<div class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="users.user.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Back to overview</translate>
      </a>
    </div>
    <h1 translate>Change password for {{ user.get_short_name() }}</h1>
  </div>
</div>

<div class="details">
  <form name="userForm">
    <h3 class="text-danger" style="margin-top: 0;">
      <i class="fa fa-exclamation-triangle"></i>
      <translate>You override the personally set password of</translate> {{ user.get_short_name() }}!
    </h3>
    <div uib-alert ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')" ng-click="alert={}" close="alert={}">
      {{ alert.msg }}
    </div>
    <div class="form-group">
      <label for="inputOldPassword" translate>New password</label>
      <div class="input-group">
        <input type="text"
           ng-model="new_password"
           class="form-control"
           name="inputNewPassword"
           required>
        </input>
        <div class="input-group-addon pointer" ng-click="generatePassword()">
          <i class="fa fa-magic"></i>
          <translate>Generate</translate>
        </div>
      </div>
      <div class="spacer-top">
        <span uib-tooltip="{{ 'Initial password can not be changed.' | translate }}">
          <i class="fa fa-info-circle"></i>
          <translate>Initial password</translate>: {{ user.default_password }}
        </span>
      </div>
    </div>
    <button type="submit" ng-click="save(user)" class="btn btn-primary btn-sm" translate>
      Change password
    </button>
    <button ui-sref="users.user.list" class="btn btn-default btn-sm" translate>
      Cancel
    </button>
  </form>
</div>
