<mat-card class="os-card">
    <div>
        <ng-container *ngIf="!isEditing">
            <div *ngIf="legalNotice" class="legal-notice-text" [innerHtml]="legalNotice | trust: 'html'"></div>
            <div *ngIf="!legalNotice" translate>
                The event manager hasn't set up a legal notice yet.
            </div>
        </ng-container>
        <ng-container *ngIf="isEditing">
            <div>
                <form [formGroup]="formGroup">
                    <editor formControlName="legalNotice" [init]="tinyMceSettings"></editor>
                </form>
            </div>
        </ng-container>
        <mat-divider></mat-divider>
        <div *ngIf="versionInfo" class="version-text">
            <a [attr.href]="versionInfo.openslides_url" target="_blank">
                OpenSlides {{ versionInfo.openslides_version }}
            </a>
            (<span translate>License</span>: {{ versionInfo.openslides_license }})

            <div *ngIf="versionInfo.plugins.length">
                <p><span translate>Installed plugins</span>:</p>
                <div *ngFor="let plugin of versionInfo.plugins">
                    <a [attr.href]="plugin.url" target="_blank"> {{ plugin.verbose_name }} {{ plugin.version }} </a>
                    <div *ngIf="plugin.license">(<span translate>License</span>: {{ plugin.license }})</div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
