<mat-toolbar color='primary'>

    <button class='generic-plus-button on-transition-fade' routerLink='new' mat-fab>
        <fa-icon icon='plus'></fa-icon>
    </button>

    <span class='app-name on-transition-fade' translate>Motions</span>

  
    <!-- <button class='on-transition-fade' mat-icon-button (click)='downloadMotionsButton()'> -->
    <span class='spacer'></span>
    <button class='on-transition-fade' mat-icon-button [matMenuTriggerFor]="motionExtraMenu">
        <fa-icon icon='ellipsis-v'></fa-icon>
    </button>
    <mat-menu #motionExtraMenu="matMenu">
        <!-- TODO the functions for the buttons -->
        <button mat-menu-item translate><fa-icon icon='download'></fa-icon> Export As...</button>
        <button mat-menu-item routerLink='category' translate>Categories</button>
    </mat-menu>

</mat-toolbar>

<div class='custom-table-header on-transition-fade'>
    <button mat-button>
        <span translate>SORT</span>
    </button>
    <button mat-button>
        <span translate>FILTER</span>
    </button>
</div>

<mat-table class='on-transition-fade' [dataSource]="dataSource" matSort>
    <!-- identifier column -->
    <ng-container matColumnDef="identifier">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Identifier </mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div class='innerTable'>
                {{motion.identifier}}
            </div>
        </mat-cell>
    </ng-container>

    <!-- title column -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div class='innerTable'>
                <span class='motion-list-title'>{{motion.versions[0].title}}</span>
                <br>
                <span class='motion-list-from'>
                    <span translate>by</span>
                    {{motion.submitterAsUser}}
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- state column -->
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div *ngIf='isDisplayIcon(motion.state) && motion.state' class='innerTable'>
                <fa-icon icon={{getStateIcon(motion.state)}}></fa-icon>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplayMinWidth"></mat-header-row>
    <mat-row (click)='selectMotion(row)' *matRowDef="let row; columns: columnsToDisplayMinWidth"></mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>
