.no-info {
    font-style: italic;
    color: slategray; // TODO: Colors per theme
}

.custom-table-header {
    justify-content: space-between;
    text-align: left;

    & > div {
        padding: 0 20px;
    }
}
