<os-head-bar>
    <!-- Title -->
    <div class="title-slot" translate>History</div>

    <!-- Menu -->
    <div class="menu-slot">
        <!-- Hidden for everyone but the superadmin -->
        <button *osPerms="'superadmin'" type="button" mat-icon-button [matMenuTriggerFor]="historyMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<div class="custom-table-header">
    <mat-form-field>
        <input matInput (keyup)="applySearch($event.target.value)" placeholder="{{ 'Search' | translate }}" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<mat-table class="os-headed-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
    <!-- Timestamp -->
    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef translate>Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let history">{{ getTimestamp(history) }}</mat-cell>
    </ng-container>

    <!-- Element -->
    <ng-container matColumnDef="element">
        <mat-header-cell *matHeaderCellDef translate>Element</mat-header-cell>
        <mat-cell *matCellDef="let history">
            <div *ngIf="getElementInfo(history)">{{ getElementInfo(history) | translate }}</div>
            <div
                class="no-info"
                matTooltip="{{ 'This element does not exist at this time.' | translate }}"
                *ngIf="!getElementInfo(history)"
            >
                <span>{{ 'No information available' | translate }} ({{ history.element_id }})</span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Info -->
    <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef translate>Comment</mat-header-cell>
        <mat-cell *matCellDef="let history">{{ parseInformation(history.information) }}</mat-cell>
    </ng-container>

    <!-- User -->
    <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef translate>Changed by</mat-header-cell>
        <mat-cell *matCellDef="let history">{{ history.user }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getRowDef()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getRowDef()" (click)="onClickRow(row)"></mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="pageSize"></mat-paginator>

<mat-menu #historyMenu="matMenu">
    <button mat-menu-item class="red-warning-text" (click)="onDeleteAllButton()">
        <mat-icon>delete</mat-icon>
        <span translate>Delete whole history</span>
    </button>
</mat-menu>
