.no-info {
    font-style: italic;
}

.history-table-header {
    display: flex;
    justify-content: space-between;
}

.os-headed-listview-table {
    .mat-header-cell,
    .mat-cell {
        padding-left: 5px;
        padding-right: 5px;
    }
}
