<div *ngIf="data">
    <div class="slidetitle">
        <h1>{{ data.data.title }}</h1>
        <h2><span translate>Motion block</span> – {{ data.data.motions.length }} <span translate>motions</span></h2>
    </div>

    <table>
        <tr *ngFor="let i of rowsArray">
            <td *ngFor="let j of columnsArray">
                <ng-container *ngIf="getMotion(i, j)">
                    <div class="ellipsis-overflow">
                        {{ getMotionTitle(i, j) }}
                    </div>
                    <div class="white">
                        <mat-basic-chip *ngIf="hasRecommendation(i, j)" disableRipple [ngClass]="getStateCssColor(i, j)" class="block-recommendation">
                            {{ getRecommendationLabel(i, j) }}
                        </mat-basic-chip>
                    </div>
                </ng-container>
            </td>
        </tr>
    </table>
</div>
