@import '~@angular/material/theming';

@include mat-core();

/** Import brand theme and (new) component themes */
@import './assets/styles/openslides-theme';
@import './app/site/site.component.scss-theme';

@mixin openslides-components-theme($theme) {
    @include app-site-theme($theme);
    /** More components are added here */
}

@include angular-material-theme($openslides-theme);
@include openslides-components-theme($openslides-theme);

* {
    font-family: Arial, Helvetica, sans-serif !important;
}

html,
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100% !important;
}

body {
    background: #fafafa;
    margin: 0 auto;
    padding: 0;
}

/**the plus button in Motion, Agenda, etc*/
.generic-plus-button {
    bottom: -30px;
}

/**title of an app page*/
.app-name {
    margin-left: 20px;
}

/**content of an app page*/
.app-content {
    margin: 20px;
    margin-top: 50px;
}

/**use to push content to the right side*/
.spacer {
    flex: 1 1 auto;
}
