@import '~@angular/material/theming';
@include mat-core();

/** Import brand theme and (new) component themes */
@import './assets/styles/openslides-theme.scss';
@import './app/site/site.component.scss-theme';
@import '../node_modules/typeface-fira-sans/index.css';
@import '../node_modules/typeface-fira-sans-condensed/index.css';
@mixin openslides-components-theme($theme) {
    @include os-site-theme($theme);
    /** More components are added here */
}

@include angular-material-theme($openslides-theme);
@include openslides-components-theme($openslides-theme);

@import '~angular-tree-component/dist/angular-tree-component.css';

* {
    font-family: Fira Sans, Roboto, Arial, Helvetica, sans-serif;
}
.mat-toolbar h2 {
    font-family: Fira Sans, Roboto, Arial, Helvetica, sans-serif !important;
}

mat-icon {
    font-family: MaterialIcons-Regular;
}

body {
    // background: #e8eaed;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
    color: #222;
}

h1,
h2,
h3,
.title-font {
    font-family: Fira Sans Condensed, Roboto-condensed, Arial, Helvetica, sans-serif;
}

h1 {
    padding-bottom: 10px;
    line-height: 1.2;
    color: $os-primary;
    margin: 0;
    font-weight: normal;
    font-size: 36px;
}
h3 {
    font-weight: 500;
    margin-bottom: 0;
}
h4 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 5px;
}

.small {
    font-size: 90%;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #039be5; /*TODO: move to theme*/

    &:hover {
        text-decoration: underline;
    }
}

strong,
b {
    font-weight: 500;
}

.generic-mini-button {
    bottom: -28px;
    z-index: 100;
}

.save-button {
    // needs to be important or will be overwritten locally
    background-color: rgb(77, 243, 86) !important;
}

.text-success {
    color: rgb(77, 243, 86);
}

// transform text to uppercase. Use on span, p, h, (...)
.upper {
    text-transform: uppercase;
}

.red-warning-text {
    color: red;
    mat-icon {
        color: red !important;
    }
}

.accent-text {
    color: mat-color($openslides-accent);
}

.green-text {
    // TODO better name/theming
    color: #5a5;
}

.icon-text-distance {
    margin-left: 5px;
}

.no-content {
    text-align: center;
    color: gray;
}
mat-card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
}
.os-card {
    max-width: 770px;
    margin-top: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 16px;

    .mat-select-arrow-wrapper {
        visibility: hidden;
    }
}
.os-form-card {
    max-width: 770px;
    margin-top: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 16px;

    .mat-form-field {
        width: 100%;
        padding: 10px 0;
    }
}

// Shared table definitions
%os-table {
    width: 100%;

    /** size of the mat row  */
    mat-row {
        height: 60px;
    }
    mat-row.lg {
        height: 90px;
    }
    mat-row:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.025);
    }
    mat-row.selected {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.055);
    }
}

@keyframes fadeIn {
    0% {
        width: 0%;
        margin-left: 0;
    }
    100% {
        width: 100%;
        margin-left: -100%;
    }
}

//custom table header for search button, filtering and more. Used in ListViews
.custom-table-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: flex-end;

    button {
        border-radius: 0%;
    }

    input {
        position: relative;
        max-width: 400px;
        z-index: 2;
        background-color: #eee;
        padding-right: 5px;
        margin-right: 0px;
    }

    input.vp {
        margin-left: -100%;
        max-width: 100%;
        animation-name: fadeIn;
        animation-duration: 0.3s;
    }

    mat-icon {
        vertical-align: text-bottom;
    }
}

.os-listview-table {
    @extend %os-table;

    /** hide mat header row */
    .mat-header-row {
        display: none;
    }
}

.os-headed-listview-table {
    @extend %os-table;
}

/* TODO: find a better way to get more vertical space in (empty/small) tables for maximize filter dialog */
mat-paginator {
    min-height: 800px;
}

/* hide scrollbars caused by hidden filter dialog outside of the viewport */
.mat-drawer-content {
    overflow-x: hidden !important;
}

.card-plus-distance {
    margin-top: 40px;
}

/**title of an app page*/
.app-name {
    margin-left: 20px;
}

/**content of an app page*/
.app-content {
    margin: 20px;
    margin-top: 50px;
}

/**use to push content to the right side*/
.spacer {
    flex: 1 1 auto;
}

/** helper classes for animation */
.on-transition-fade {
    z-index: 100;
}

mat-expansion-panel {
    border-radius: 0 !important;
}

mat-panel-title mat-icon {
    padding-right: 30px;
}

.hidden-cell {
    flex: 0;
    width: 0;
    display: none;
}

.checkbox-cell {
    flex: 1;
    max-width: 30px;
}

// ngx-file-drop requires the custom style in the global css file
.file-drop-style {
    margin: auto;
    height: 100px;
    border: 2px dotted #0782d0;
}

.os-tree {
    .node-content-wrapper {
        background-color: aliceblue;
        border: 1px black;
        width: 100%;
        padding: 10px 20px;
    }

    tree-loading-component {
        display: none;
    }
}

.mat-chip,
.mat-basic-chip {
    font-size: 12px;
    min-height: 22px !important;
    border-radius: 5px !important;
    padding: 4px 8px !important;
    margin: 8px 8px 8px 0;
}

// to display quantities. Use in span or div
.os-amount-chip {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    background: lightgray;
    color: #000;
    text-align: center;
}

.mat-chip:focus,
.mat-basic-chip:focus {
    outline: none;
}
button.mat-menu-item.selected {
    font-weight: bold !important;
}

.meta-text-block .mat-icon-button {
    margin-top: -12px !important;
}
.meta-text-block .mat-icon-button mat-icon {
    font-size: 18px;
}

/** helper classes for margin/padding */
.spacer-top-10 {
    margin-top: 10px;
}
.spacer-top-20 {
    margin-top: 20px;
}
.spacer-bottom-20 {
    margin-bottom: 20px;
}
.button24 {
    background-color: white;
    color: $os-primary !important;
    width: 24px !important;
    height: 24px !important;
}
.icon24 {
    font-size: 16px;
    margin-top: -8px;
}

.mat-mini-fab.large {
    width: 24px;
    height: 24px;
    line-height: 24px;

    .mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}
.title-left {
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mat-radio-button {
    padding-right: 20px;
}

/** more helper classes **/
.center {
    text-align: center;
}

/** Colors **/
.lightblue {
    background-color: rgb(33, 150, 243) !important;
    color: white !important;
}

.darkblue {
    background-color: rgb(63, 81, 181) !important;
    color: white !important;
}

.green,
.success {
    background-color: rgb(76, 175, 80) !important;
    color: white !important;
}

.red,
.error {
    background-color: rgb(255, 82, 82) !important;
    color: white !important;
}

.yellow,
.warning {
    background-color: rgb(255, 193, 7) !important;
    color: white !important;
}

.bluegrey {
    background-color: rgb(96, 125, 139) !important;
    color: white !important;
}

.grey {
    background-color: #e0e0e0 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

/* TODO: move to site.component.scss-theme.scss (does not work currently) */

/* make the .user-menu expansion panel look like the nav-toolbar above */
.user-menu {
    min-height: 48px;

    .mat-expansion-panel-header {
        padding: 0 16px !important;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }
}

.mat-drawer-inner-container {
    scrollbar-width: none; /* hide scrollbars in Firefox */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* hide scrollbars in Edge until the scrollable area is hovered */
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none !important; /* hide scrollbars in webkit browsers */
}

.import-table {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        margin-top: 5px;
    }

    table {
        width: 100%;
        overflow: scroll;
    }

    .mat-header-cell {
        min-width: 100px;
        flex: 2;
        padding-right: 8px;
    }
    .mat-cell {
        min-width: 100px;
        flex: 2;
        padding-top: 2px;
        padding-right: 8px;
    }
    .selection {
        min-width: 80px;
    }

    .import-done {
        background-color: #cfc;
    }
    .import-error {
        background-color: #fcc;
    }

    .code {
        padding-left: 1em;
        font-style: italic;
    }

    div.wrapper {
        display: flex;
        vertical-align: bottom;
        padding: 10px;
    }

    div.summary {
        display: flex;
    }

    .hidden-input {
        display: none;
    }

    .newBadge {
        margin-left: -3px;
    }

    .first-column {
        flex: 1;
        min-width: 0px;
    }
    .filter-imports {
        max-width: 50%;
    }
}
