@import '~@angular/material/theming';
@include mat-core();

/** Import brand theme and (new) component themes */
@import './assets/styles/openslides-theme';
@import './app/site/site.component.scss-theme';
@mixin openslides-components-theme($theme) {
    @include app-site-theme($theme);
    /** More components are added here */
}

@include angular-material-theme($openslides-theme);
@include openslides-components-theme($openslides-theme);
* {
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    // background: #e8eaed;
    margin: 0 auto;
    padding: 0;
}

/**the plus button in Motion, Agenda, etc*/
.generic-plus-button {
    bottom: -30px;
    z-index: 100;
}

.generic-mini-button {
    bottom: -28px;
    z-index: 100;
}

.os-card {
    max-width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-plus-distance {
    margin-top: 40px;
}

/**title of an app page*/
.app-name {
    margin-left: 20px;
}

/**content of an app page*/
.app-content {
    margin: 20px;
    margin-top: 50px;
}

/**use to push content to the right side*/
.spacer {
    flex: 1 1 auto;
}

/** helper classes for animation */
.on-transition-fade {
    z-index: 100;
}

footer {
    position: absolute;
    left: 0;
    bottom: -70px; //black magic for keeping the footer interactive
    width: 100%;
    z-index: 1;
}
