@mixin icon-container($iconSize, $contentSize, $fontWeight) {
    line-height: $iconSize;

    & > mat-icon {
        font-size: $iconSize;
        width: $iconSize;
        height: $iconSize;
        margin-top: 0 !important;
    }

    & > .content-node {
        font-size: $contentSize;
        font-weight: $fontWeight;
    }
}

os-icon-container {
    display: flex;
    align-items: center;

    &.small-container {
        @include icon-container(12px, 12px, 400);
    }

    &.medium-container {
        @include icon-container(18px, 14px, 400);
    }

    &.large-container {
        @include icon-container(24px, 16px, 400);
    }

    &.gigantic-container {
        @include icon-container(34px, 22px, 400);
    }

    .content-node {
        margin: auto 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

    .break-lines {
        white-space: pre-line;
    }

    .single-line {
        white-space: nowrap;
    }
}
