<ng-container *ngIf="!swap && showIcon" [ngTemplateOutlet]="theIcon"> </ng-container>
<span class="content-node" [ngClass]="noWrap ? 'single-line' : 'break-lines'">
    <ng-content></ng-content>
</span>
<ng-container *ngIf="swap && showIcon" [ngTemplateOutlet]="theIcon"> </ng-container>

<!-- Templates the icon -->
<ng-template #theIcon>
    <mat-icon
        *ngIf="icon || iconCanBeEmpty"
        [matTooltip]="iconTooltip"
        [class]="iconAction ? 'pointer' : ''"
        (click)="iconAction.emit()"
        >{{ icon }}</mat-icon
    >
</ng-template>
