<!DOCTYPE html>
<html lang="en" class="no-js">
<meta charset="utf-8">
<base href="/">
<title>OpenSlides – Projector</title>
<link rel="stylesheet" href="static/css/openslides-libs.css">
<link rel="stylesheet" href="static/css/projector.css">
<link rel="icon" href="/static/img/favicon.png">
<script src="static/js/openslides-libs.js"></script>

<style type="text/css">
  #header, #footer {
    background-color: {{ config('projector_backgroundcolor') }};
  }
  h1 {
    color: {{ config('projector_backgroundcolor') }};
  }
</style>


<div id="header">
  <img id="logo" src="/static/img/logo-projector.png" alt="OpenSlides" />
  <div id="eventdata">
    <div class="title">
      {{ config('general_event_name') }}
    </div>
    <div ng-if="config('general_event_description')" class="description">
      {{ config('general_event_description') }}
    </div>
  </div>
</div>

<div ng-controller="ProjectorCtrl">
  <style type="text/css">
    .scrollcontent {
      margin-top: {{scroll}}em;
      font-size: {{scale}}%;
    }
  </style>
  <div ng-repeat="element in elements">
    <div ng-include="element.template"></div>
  </div>
</div>

<div id="footer">
  <span ng-if="config('general_event_date')">
    {{ config('general_event_date') }}
  </span>
  <span ng-if="config('general_event_date') && config('general_event_location')">
    |
  </span>
  <span ng-if="config('general_event_location')">
    {{ config('general_event_location') }}
  </span>
</div>
<script src="/angular_js/projector/"></script>
