{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block submenu %}
    {% url application_overview as url_applicationoverview %}
    <h4>{%trans "Applications" %}</h4>
    <ul>
        <li class="{% if request.path == url_applicationoverview %}selected{% endif %}"><a href="{% url application_overview %}">{%trans "All applications" %}</a></li>
        {% if perms.application.can_create_application or perms.application.can_manage_application %}
            <li class="{% active request '/application/new' %}"><a href="{%  url application_new %}">{%trans "New application" %}</a></li>
        {% endif %}
        {% if perms.application.can_manage_application %}
            <li class="{% active request '/application/import' %}"><a href="{%  url application_import %}">{%trans 'Import applications' %}</a></li>
        {% endif %}
        <li><a href="{% url print_applications %}"><img src="{% static 'images/icons/application-pdf.png' %}"> {%trans 'All applications as PDF' %}</a></li>
    </ul>

    {# second submenu #}
    {% if application %}
        <br>
        <h3>{% trans "Application No." %}
            {% if application.number != None %}
                {{ application.number }}
            {% else %}
                <i>[-]</i>
            {% endif %}
        </h3>
        <ul>
        {# view application #}
            {% url application_view application.id as url_applicationview %}
            <li class="{% if request.path == url_applicationview %}selected{% endif %}"><a href="{% url application_view application.id  %}">{%trans 'View application' %}</a></li>
        {# edit application #}
            {% if "edit" in actions %}
            {% url application_edit application.id as url_applicationedit %}
            <li class="{% if request.path == url_applicationedit %}selected{% endif %}"><a href="{% url application_edit application.id  %}">{%trans 'Edit application' %}</a></li>
            {% endif %}
        {# delete application #}
            {% if "delete" in actions %}
            <li><a href="{% url application_delete application.id  %}">{%trans 'Delete application' %}</a></li>
            {% endif %}
        {# PDF #}
            <li><a href="{% url print_application application.id  %}"><img src="{% static 'images/icons/application-pdf.png' %}"> {%trans 'Application as PDF' %}</a></li>
        {# application polls #}
            {% if perms.projector.can_manage_projector %}
                <li><a href="{% url projector_activate_slide application.sid  %}"><img src="{% static 'images/icons/video-projector.png' %}"> {%trans 'Show Application' %}</a></li>
                {% if "genpoll" in actions %}
                <li><a href='{% url application_gen_poll application.id %}'><img src="{% static 'images/icons/view-statistics.png' %}"> {%trans 'New vote' %}</a></li>
                {% endif %}
                {% for poll in application.polls %}
                    {% url application_poll_view poll.id as url_applicationpollview %}
                    <li class="{% if request.path == url_applicationpollview %}selected{% endif %}"><a href="{% url application_poll_view poll.id %}">{% trans "View Vote" %} {% if forloop.counter > 1 %}(#{{ forloop.counter }}){% endif %}</a></li>
                    {% url print_application_poll poll.id as url_applicationedit %}
                    <li><a href="{% url print_application_poll poll.id %}"><img src="{% static 'images/icons/application-pdf.png' %}"> {%trans 'Ballot paper' %} {% if forloop.counter > 1 %}(#{{ forloop.counter }}){% endif %}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
