{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {% trans "Motion" %}
    {% if application.number != None %}
        {{ application.number }}
    {% else %}
        [{% trans "no number" %}]
    {% endif %}
{% endblock %}

{% block content %}
<h1>
    {{ version.title }}
    <small>
    {% if application.number != None %}
        {% trans "Motion" %} {{ application.number }},
    {% else %}
        <i>[{% trans "no number" %}]</i>,
    {% endif %}
    {% trans "Version" %} {{ version.aid }}
    </small>
    <small class="pull-right">
    <div class="btn-toolbar">
        <a href="{% url application_overview %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        <a href="{% url print_application application.id  %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Print this motion as PDF' %}"><i class="icon-print"></i> PDF</a>
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn btn-mini dropdown-toggle">
                {% trans 'More actions' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <!-- edit -->
                {% if "edit" in actions %}
                     <li><a href="{% url application_edit application.id  %}"><i class="icon-edit"></i> {% trans 'Edit motion' %}</a></li>
                {% endif %}
                <!-- delete -->
                {% if "delete" in actions %}
                    <li><a href="{% url application_delete application.id  %}"><i class="icon-remove"></i> {% trans 'Delete motion' %}</a></li>
                {% endif %}
                <!-- activate projector -->
                {% if perms.projector.can_manage_projector %}
                    <li>
                        <a class="activate_link {% if item.active %}active{% endif %}" href="{% url projector_activate_slide application.sid  %}"><i class="icon-facetime-video"></i> {% trans 'Show Application' %}</a>
                    </li>
                {% endif %}
                <!-- edit poll -->
                {% if perms.application.can_manage_application %}
                    {% for poll in application.polls %}
                        <li><a href="{% url application_poll_view poll.id %}"><i class="icon-edit"></i> {{ forloop.counter }}. {% trans "Vote" %}</a></li>
                    {% endfor %}
                {% endif %}
                <!-- create agenda item -->
                {% if perms.agenda.can_manage_agenda %}
                <li>
                    <a href="{% url application_create_agenda application.id  %}"><i class="icon-plus"></i> {% trans 'New agenda item' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </small>
</h1>

<div class="row-fluid">
<div class="span9">
    {% if application.public_version != application.last_version %}
        &#8901;
        {% if version == application.public_version %}
            {% trans "This is not the newest version." %} <a href="{% url application_view_newest application.id %}">{% trans "Go to version" %} {{ application.last_version.aid }}.</a>
        {% else %}
            {% trans "This is not the authorized version." %} <a href="{% url application_view application.id %}">{% trans "Go to version" %} {{ application.public_version.aid }}.</a>
        {% endif %}
    {% endif %}

    <!-- Text -->
    <h4>{% trans "Motion text" %}:</h4>
    {{ version.text|linebreaks }}
    <br>
    <!-- Reason -->
    <h4>{% trans "Reason" %}:</h4>
    {% if version.reason %}
        {{ version.reason|linebreaks }}
    {% else %}
        –
    {% endif %}
    <br>
    <!-- Version history -->
    {% if application.versions|length > 1 %}
        <h4>{% trans "Version History" %}:</h4>
        <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>{% trans "Version" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Text" %}</th>
            <th>{% trans "Reason" %}</th>
        </tr>
        {% for revision in application.versions  %}
        <tr>
            <td style="white-space:nowrap;">
            {% if application.status != "pub" %}
            {% if revision == application.permitted %}
                 <img title="{% trans 'Version authorized' %}" src="{% static 'images/icons/accept.png' %}">
            {% else %}
                 {% if perms.application.can_manage_application %}
                     <a href="{% url application_version_permit revision.id %}"><img title="{% trans 'Permit Version' %}" src="{% static 'images/icons/accept-grey.png' %}"></a>
                 {% endif %}
                 {% if not revision.rejected and revision.id > application.permitted.id and perms.application.can_manage_application %}
                     <a href="{% url application_version_reject revision.id %}"><img title="{% trans 'Reject Version' %}" src="{% static 'images/icons/reject-grey.png' %}"></a>
                 {% endif %}
            {% endif %}
            {% if revision.rejected %}
                <img title="{% trans 'Version rejected' %}" src="{% static 'images/icons/reject.png' %}">
            {% endif %}
            {% endif %}
            </td>
            <td>{{ revision.aid }}</td>
            <td><i>{{ revision.time }}</i></td>
            <td>
                {% ifchanged %}
                <b>{{ revision.title }}</b>
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
            <td>
                {% ifchanged %}
                {{ revision.text|linebreaks }}
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
            <td>
                {% ifchanged %}
                {{ revision.reason|linebreaks }}
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    <!-- Log -->
    {% if perms.application.can_manage_application %}
        <h4>{% trans "Log" %}:</h4>
        <small>{{ application.log|linebreaks }}</small>
    {% endif %}

</div> <!--/span-->

<div class="span3">
    <div class="well">
        <!-- Submitter -->
        <h5>{% trans "Submitter" %}:</h5>
        {{ application.submitter }}
        {% if user == application.submitter.user %}
            <img src="{% static 'images/icons/user-information.png' %}" title="{% trans 'Me' %}">
        {% endif %}
        <!-- Supporters -->
        {% if min_supporters > 0 %}
            <h5>{% trans "Supporters" %}: *</h5>
            {% if not application.supporters %}
                -
            {% else %}
                <ol>
                {% for supporter in application.supporters %}
                    <li> {{ supporter }}</li>
                {% endfor %}
                </ol>
            {% endif %}
        {% endif %}
        <!-- Status -->
        <h5>{% trans "Status" %}:</h5>
        {% if application.status != "pub" %}
            {% trans application.get_status_display %}
            <br>
        {% endif %}
        {% for note in application.notes %}
            {{ note }}
            {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
        <!-- Vote results -->
        <h5>{% trans "Vote results" %}:</h5>
            {% with application.polls as polls %}
            {% if not polls.exists %}
                {% if perms.application.can_manage_application %}
                    {% if "genpoll" in actions %}
                    <a href='{% url application_gen_poll application.id %}' class="btn btn-mini">
                        <i class="icon-signal"></i> {% trans 'New vote' %}
                    </a>
                    {% else %}
                    -
                    {% endif %}
                {% else %}
                -
                {% endif %}
            {% endif %}
            <ol>
            {% for poll in polls %}
            {% if perms.application.can_manage_application or poll.has_votes %}
                <li>{% trans "Vote" %}
                    {% if perms.application.can_manage_application %}
                        <a class="btn btn-mini" href="{% url application_poll_view poll.id %}" title="{% trans 'Edit Vote' %}"><i class="icon-edit"></i></a>
                        <a class="btn btn-mini" href="{% url application_poll_delete poll.id %}" title="{% trans 'Delete Vote' %}"><i class="icon-remove"></i></a>
                    {% endif %}
                    <br>
                    {% if poll.has_votes %}
                        {% with poll.get_options.0 as option %}
                            <img src="{% static 'images/icons/voting-yes.png' %}" title="{% trans 'Yes' %}"> {{ option.Yes }}<br>
                            <img src="{% static 'images/icons/voting-no.png' %}" title="{% trans 'No' %}"> {{ option.No }}<br>
                            <img src="{% static 'images/icons/voting-abstention.png' %}" title="{% trans 'Abstention' %}"> {{ option.Abstain }}<br>
                            <img src="{% static 'images/icons/voting-invalid.png' %}" title="{% trans 'Invalid' %}"> {{ poll.print_votesinvalid }}<br>
                            <div style="border-top: 1px solid; padding-top: 5px; margin: 5px 0; width: 10em;">
                                <img src="{% static 'images/icons/voting-total.png' %}" title="{% trans 'Votes cast' %}"> {{ poll.print_votescast }}
                            </div>
                        {% endwith %}
                        {% if perms.application.can_manage_application %}
                            {% if forloop.last %}
                            {% if "genpoll" in actions %}
                            <a href='{% url application_gen_poll application.id %}' class="btn btn-mini">
                                <i class="icon-signal"></i> {% trans 'New vote' %}
                            </a>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if perms.application.can_manage_application %}
                            <span class="label label-info">{% trans 'No results' %}</span>
                         {% endif %}
                    {% endif %}
                </li>
            {% endif %}
            {% endfor %}
            </ol>
            {% endwith %}
        <!-- Creation Time -->
        <h5>{% trans "Creation Time" %}:</h5>
        {{ application.creation_time }}
        <!-- Widthdraw button -->
        {% if "wit" in actions and user == application.submitter.user %}
            <br><br>
            <a href='{% url application_set_status application.id 'wit' %}' class="btn">
                <span class="icon revert">{% trans 'Withdraw motion' %}</span>
            </a>
        {% endif %}
        <!-- Support/Unsupport button -->
        {% if perms.application.can_support_application and min_supporters > 0 %}
            {% if "unsupport" in actions %}
                <br><br>
                <a href='{% url application_unsupport application.id %}' class="btn">
                    {% trans 'Unsupport motion' %}
                </a>
            {% endif %}
            {% if "support" in actions %}
                <br><br>
                <a href='{% url application_support application.id %}'>
                    {% trans 'Support' %}
                </a>
            {% endif %}
        {% endif %}
        <!-- Footnote: requried supporters -->
        {% if min_supporters > 0 %}
            <br><br>
            <small>* {% trans "minimum required supporters" %}: {{ min_supporters }}</small>
        {% endif %}
    </div> <!--/well-->

    {% if perms.application.can_manage_application %}
    <!-- Manage application box -->
    <div class="well">
    <h4>{% trans "Manage motion" %}</h4>
    <!-- Formal validation -->
    {% if "pub" in actions or "per" in actions or "nop" in actions or "setnumber" in actions %}
        <h5>{% trans "Formal validation" %}:</h5>
        <div class="btn-group btn-group-vertical">
            {% if "pub" in actions %}
                <a href='{% url application_set_status application.id 'pub' %}' class="btn">{% trans 'Publish' %}</a>
            {% endif %}
            {% if "per" in actions %}
                <a href='{% url application_permit application.id %}' class="btn btn-info">{% trans 'Permit' %}</a>
            {% endif %}
            {% if "nop" in actions %}
                <a href='{% url application_notpermit application.id %}' class="btn">{% trans 'Not permit' %}</a>
            {% endif %}
            {% if "setnumber" in actions %}
                <a href='{% url application_set_number application.id %}' class="btn">{% trans 'Set number' %}</a>
            {% endif %}
        </div>
    {% endif %}
    <!-- Result after vote -->
    {% if "acc" in actions or "rej" in actions %}
        <h5>{% trans "Result after vote" %}:</h5>
        <div class="btn-group btn-group-vertical">
            {% if "acc" in actions %}
            <a href='{% url application_set_status application.id 'acc' %}' class="btn btn-success">
                <i class="icon-ok icon-white"></i> {% trans 'Accepted' %}
            </a>
            {% endif %}
            {% if "rej" in actions %}
            <a href='{% url application_set_status application.id 'rej' %}' class="btn btn-danger">
                <i class="icon-ban-circle icon-white"></i> {% trans 'Rejected' %}
            </a>
            {% endif %}
        </div>
    {% endif %}
    <!-- Result after debate -->
    {% if "adj" in actions or "noc" in actions or "com" in actions or "wit" in actions %}
        <br><br>
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn dropdown-toggle">
                {% trans 'More actions' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                {% if "adj" in actions %}
                    <li><a href='{% url application_set_status application.id 'adj' %}'>{% trans 'Adjourned' %}</a></li>
                {% endif %}
                {% if "noc" in actions %}
                    <li><a href='{% url application_set_status application.id 'noc' %}'>{% trans 'Not Concerned' %}</a></li>
                {% endif %}
                {% if "com" in actions %}
                    <li><a href='{% url application_set_status application.id 'com' %}'>{% trans 'Commited a bill' %}</a></li>
                {% endif %}
                {% if "wit" in actions %}
                    <li><a href='{% url application_set_status application.id 'wit' %}'>{% trans 'Withdrawed by Submitter' %}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <p></p>
    <hr>
    <h5>{% trans "For Administration only:" %}</h5>
    <a href='{% url application_reset application.id %}' class="btn btn-danger">
        {% trans 'Reset' %}
    </a>
    </div> <!--/well-->
    {% endif %} {# end perms.application.can_support_application #}
  </div> <!--/span-->
</div> <!--/row-->
{% endblock %}
