# General
*.pyc
*.swp
*.swo
*.log
*~

# Virtual Environment
.virtualenv*/*
.venv/*

# Javascript tools and libraries
node_modules/*
bower_components/*

# OS4-Submodules
openslides-*

# Local user data (settings, database, media, search index, static files)
personal_data/*
openslides/static/*
collected-static/*

# Package building/IDE
docs/_build/*
*.egg-info
build/*
dist/*
debug/*
.DS_Store
.idea

# Unit test and coverage reports
.coverage
tests/file/*
tests/db.sqlite3.test
.pytest_cache

# Plugin development
openslides_*

# Mypy cache for typechecking
.mypy_cache

# OpenSlides 3 Client

# compiled output
client/dist
client/tmp
client/out-tsc
client/documentation

# dependencies
client/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# misc
Compodoc
Compodocmodules
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/yarn-error.log
client/testem.log
client/typings
client/yarn.lock
package-lock.json
client/package-lock.json
cypress.json

# System Files
client/.DS_Store
client/Thumbs.db
