# General
*.pyc
*.swp
*~

# Virtual Environment
.virtualenv/*
.venv/*

# Node modules
node_modules/*

# Development user data (settings, database, media, search index, static files)
settings.py
!tests/settings.py
database.sqlite
media/*
whoosh_index/*
bower_components/*
openslides/static/*

# Package building/IDE
docs/_build/*
*.egg-info
build/*
dist/*
.DS_Store
.idea

# Unit test and coverage reports
.coverage
htmlcov/*
