# General
*.pyc
*.swp
*.swo
*~

# Virtual Environment
.virtualenv/*
.venv/*

# Javascript tools and libraries
node_modules/*
bower_components/*

# Local user data (settings, database, media, search index, static files)
personal_data/*
openslides/static/*

# Package building/IDE
docs/_build/*
*.egg-info
build/*
dist/*
.DS_Store
.idea

# Unit test and coverage reports
.coverage
tests/file/*
