language: python
sudo: false
cache:
  pip: true
  yarn: true
python:
  - "3.4"
  - "3.5"
  - "3.6"
env:
  - TRAVIS_NODE_VERSION="4"
before_install:
  - nvm install $TRAVIS_NODE_VERSION
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade --requirement requirements.txt
  - pip freeze
  - yarn
  - node_modules/.bin/gulp --production
script:
  - flake8 openslides tests
  - if [ "`python --version`" \> "Python 3.5.0" ]; then isort --check-only --recursive openslides tests; fi
  - python -m mypy openslides/
  - node_modules/.bin/gulp jshint
  - node_modules/.bin/karma start --browsers PhantomJS tests/karma/karma.conf.js

  - DJANGO_SETTINGS_MODULE='tests.settings' coverage run ./manage.py test tests.unit
  - coverage report --fail-under=44

  - DJANGO_SETTINGS_MODULE='tests.settings' coverage run ./manage.py test tests.integration
  - coverage report --fail-under=74

  - DJANGO_SETTINGS_MODULE='tests.settings' ./manage.py test tests.old
