language: python
dist: xenial
sudo: true
cache:
  pip: true
  yarn: true
python:
  - "3.6"
  - "3.7"
env:
  - TRAVIS_NODE_VERSION="10.5"
before_install:
  - nvm install $TRAVIS_NODE_VERSION
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
  - pip install --upgrade setuptools pip
  - pip install --upgrade --requirement requirements/development.txt
  - pip install --upgrade .[big_mode]
  - pip freeze
  - cd client && npm install && cd ..
script:
  - cd client && npm run-script lint && cd ..
  - flake8 openslides tests
  - isort --check-only --diff --recursive openslides tests
  - python -m mypy openslides/
  - pytest tests/old/ tests/integration/ tests/unit/ --cov --cov-fail-under=75
