include AUTHORS
include CHANGELOG
include INSTALL.txt
include LICENSE
include README.txt
include THANKS
include requirements_production.txt
recursive-include openslides *.*
recursive-exclude openslides *.pyc
recursive-exclude openslides *.swp
recursive-exclude openslides *~
