# Requirements for OpenSlides in production in alphabetical order
Django>=1.9,<1.11,!=1.10.0
beautifulsoup4>=4.5,<4.6
channels>=0.15,<1.0
djangorestframework>=3.4,<3.5
html5lib>=0.99,<1.0
jsonfield>=0.9.19,<1.1
jsonschema>=2.5,<2.6
natsort>=3.2,<5.1
PyPDF2>=1.25.0,<1.27
reportlab>=3.0,<3.4
roman>=2.0,<2.1
setuptools>=18.5,<26.0
Whoosh>=2.7.0,<2.8
