# Requirements for OpenSlides in production
-r requirements_production.txt

# Requirements for development and tests
Fabric==1.8.0
coverage==3.7
flake8==2.0

# Requirements for OpenSlides handbook/documentation
Sphinx==1.2b3
sphinx-bootstrap-theme==0.2.4

# For Python 2.6 support
argparse==1.2.1
