# Requirements for OpenSlides in production
-r requirements_production.txt

# Requirements for development and tests
Fabric==1.6.0
coverage==3.6
django-discover-runner==0.3
pep8==1.4.5

# Requirements for OpenSlides handbook/documentation
Sphinx==1.2b1
sphinx-bootstrap-theme==0.2.3

# For Python 2.6 support
argparse==1.2.1
