# Requirements for OpenSlides in production in alphabetical order
channels>=1.0,<1.1
Django>=1.10.4,<1.11
djangorestframework>=3.4,<3.5
jsonfield>=1.0,<1.1
PyPDF2>=1.26,<1.27
roman>=2.0,<2.1
setuptools>=29.0,<35.0
bleach>=1.5.0,<1.6
