<os-head-bar
    [nav]="false"
    [goBack]="true"
    [editMode]="isEditing"
    [hasMainButton]="canManage()"
    [mainButtonIcon]="'edit'"
    [mainActionTooltip]="'Edit' | translate"
    (cancelEditEvent)="isEditing = !isEditing"
    (mainEvent)="isEditing = !isEditing"
    (saveEvent)="saveChanges()"
>
    <div class="title-slot">
        <h2 translate>Legal notice</h2>
    </div>
</os-head-bar>

<os-legal-notice-content
    [canBeEdited]="true"
    [isEditing]="isEditing"
    (update)="legalNotice = $event"
></os-legal-notice-content>

<mat-card class="os-card">
    <div>
        <button type="button" mat-button (click)="resetCache()">
            <span translate>Reset cache</span>
        </button>
    </div>

    <div>
        <button type="button" mat-button (click)="checkForUpdate()">
            <span translate>Check for updates</span>
        </button>
    </div>

    <div *osIsSuperAdmin>
        <button
            type="button"
            mat-button
            (click)="initiateUpdateCheckForAllClients()"
            matTooltip="{{ 'This will send an update notification to all active clients' | translate }}"
        >
            <span translate>Initiate update check for all clients</span>
            <mat-icon class="warning spacer-left-10">warning</mat-icon>
        </button>
    </div>
</mat-card>

<os-count-users></os-count-users>
