span {
    margin: 0;
}

.extra-controls-slot {
    div {
        padding: 0px;
        button {
            .mat-button-wrapper {
                display: inherit;
            }
            font-size: 100%;
        }
        span {
            font-size: 80%;
        }
    }
}

.motion-title {
    padding: 40px;
    padding-left: 25px;
    line-height: 180%;
    font-size: 120%;
    color: #317796; // TODO: put in theme as $primary

    h2 {
        margin: 0;
        font-weight: normal;
    }
}

.motion-content {
    display: flow-root;
}

.motion-text-controls {
    float: right;
    button {
        font-size: 115%;
    }
}

.motion-submitter {
    display: inline;
    font-weight: bold;
    font-size: 70%;
}

.meta-info-block {
    form {
        div + div {
            margin-top: 15px;
        }

        ul {
            margin: 5px;
        }
    }

    h3 {
        display: block;
        // padding-top: 0;
        margin-top: 0px; //distance between heading and text
        margin-bottom: 3px; //distance between heading and text
        font-size: 80%;
        color: gray;

        mat-icon {
            margin-left: 5px;
        }
    }

    .mat-form-field-label {
        font-size: 12pt;
        color: gray;
    }

    .mat-form-field-label-wrapper {
        mat-icon {
            margin-left: 5px;
        }
    }
}

.wide-form {
    textarea {
        height: 25vh;
    }

    ::ng-deep {
        width: 100%;
    }
}

.meta-info-panel {
    padding-top: 25px;

    a:hover {
        cursor: pointer;
    }
}

.mat-accordion {
    display: block;
    margin-top: 0px;
}

.mat-expansion-panel {
    padding-top: 0;
    .expansion-panel-custom-body {
        padding-left: 55px;
    }
}

.motion-content {
    h4 {
        margin: 10px 10px 15px 0;
        display: block;
        font-weight: bold;
        font-size: 110%;
    }

    h5 {
        margin: 15px 10px 10px 0;
        display: block;
        font-weight: bold;
        font-size: 100%;
    }

    .motion-text {
        margin-left: 0px;
    }

    //the assembly may decide ...
    .text-prefix-label {
        display: block;
        margin: 0 10px 7px 0px;
    }
}

.desktop-view {
    .desktop-left {
        width: 30%;
        float: left;

        .meta-info-desktop {
            padding-left: 20px;
        }
    }

    .desktop-right {
        display: grid;

        min-width: 70%;

        mat-card {
            display: inline;
            margin: 0px 40px 10px 10px;
        }
    }
}

/* Line numbers */
// :host ::ng-deep is needed as this styling applies to the motion html that is injected using innerHTML,
// which doesn't have the [ngcontent]-attributes necessary for regular styles.
// An alternative approach (in case ::ng-deep gets removed) might be to change the view encapsulation.
:host ::ng-deep .motion-text {
    ins,
    .insert {
        color: green;
        text-decoration: underline;
    }

    del,
    .delete {
        color: red;
        text-decoration: line-through;
    }

    li {
        padding-bottom: 10px;
    }

    ol,
    ul {
        margin-left: 15px;
        margin-bottom: 0;
    }

    .highlight {
        background-color: #ff0;
    }
    &.line-numbers-outside {
        padding-left: 40px;
        position: relative;

        .os-line-number {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 0;
            padding-right: 55px;

            &:after {
                content: attr(data-line-number);
                position: absolute;
                top: 10px;
                vertical-align: top;
                color: gray;
                font-size: 12px;
                font-weight: normal;
            }

            &.selectable:hover:before,
            &.selected:before {
                position: absolute;
                top: 4px;
                left: 20px;
                display: inline-block;
                cursor: pointer;
                content: '';
                width: 16px;
                height: 16px;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-2 10h-4v4h-2v-4H7v-2h4V7h2v4h4v2z" fill="%23337ab7"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
                background-size: 16px 16px;
            }
        }
    }

    &.line-numbers-inline {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: inline-block;

            &:after {
                display: inline-block;
                content: attr(data-line-number);
                vertical-align: top;
                font-size: 10px;
                font-weight: normal;
                color: gray;
                margin-top: -3px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &.line-numbers-none {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: none;
        }
    }
}
