<div *ngIf="poll" class="poll-progress-wrapper">
    <div class="motion-vote-number" *ngIf="poll.pollClassType === 'motion'">
        <span>{{ poll.votescast }} / {{ max }}</span>
    </div>

    <div *ngIf="poll.pollClassType === 'assignment'">
        <div>{{ 'Total' | translate }}: {{ poll.votescast }} / {{ max }},</div>
        <div>{{ 'Valid' | translate }}: {{ poll.votesvalid }} / {{ max }},</div>
        <div>{{ 'Invalid votes' | translate }}: {{ poll.votesinvalid }} / {{ max }}</div>
    </div>
    <mat-progress-bar class="voting-progress-bar" [value]="valueInPercent"></mat-progress-bar>
</div>
