.assignment-result-wrapper {
    .chart-wrapper {
        margin-top: 2em;
    }

    .named-result-table {
        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }

        .single-votes-table {
            display: block;
            height: 500px;

            .list-view-frame {
                height: 100%;
            }

            .single-vote-result + .single-vote-result {
                margin-top: 1em;
            }
        }

        .vote-field {
            text-align: center;
            width: 100%;
            padding-right: 12px;
        }
    }
}

.openslides-theme .pbl-ngrid-no-data {
    top: 10%;
}

.openslides-theme .pbl-ngrid-header-cell:first-child {
    & {
        overflow: visible;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        height: 100%;
    }
}
