<os-head-bar [goBack]="true" [nav]="false">
    <div class="title-slot">
        <h2 *ngIf="!!poll">{{ poll.title }}</h2>
    </div>

    <div class="menu-slot" *osPerms="'assignments.can_manage'">
        <button type="button" mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card class="os-card spacer-bottom-60">
    <ng-container [ngTemplateOutlet]="viewTemplate"></ng-container>
</mat-card>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    <div *ngIf="isReady">
        <h1>{{ poll.title }}</h1>
        <div>
            <!-- Voting type -->
            <span *ngIf="poll.type !== 'analog'"> {{ poll.typeVerbose | translate }} &middot; </span>

            <!-- State -->
            <span>
                {{ poll.stateVerbose | translate }}
            </span>
        </div>

        <div class="assignment-result-wrapper" *ngIf="poll">
            <!-- Result Table -->
            <os-assignment-poll-detail-content [poll]="poll"></os-assignment-poll-detail-content>

            <!-- Result Chart -->
            <div class="chart-wrapper" *ngIf="showResults && poll.stateHasVotes">
                <os-charts class="assignment-result-chart" [labels]="candidatesLabels" [data]="chartData"></os-charts>
            </div>

            <mat-tab-group *ngIf="showResults && poll.stateHasVotes && poll.isEVoting">
                <mat-tab label="{{ 'Single votes' | translate }}">
                    <!-- Single Votes Table -->
                    <div class="named-result-table">
                        <os-list-view-table
                            class="single-votes-table"
                            *ngIf="votesDataObservable"
                            [listObservable]="votesDataObservable"
                            [columns]="columnDefinitionSingleVotes"
                            [filterProps]="filterProps"
                            [allowProjector]="false"
                            [fullScreen]="false"
                            [vScrollFixed]="-1"
                            listStorageKey="assignment-poll-vote"
                            [showListOfSpeakers]="false"
                            [showMenu]="false"
                        >
                            <!-- Header -->
                            <div *pblNgridHeaderCellDef="'user'; col as col">
                                {{ col.label | translate }}
                            </div>
                            <div *pblNgridHeaderCellDef="'votes'; col as col">
                                {{ col.label | translate }}
                            </div>

                            <!-- Content -->
                            <div *pblNgridCellDef="'user'; row as vote">
                                <div *ngIf="vote.user">
                                    {{ vote.user.getShortName() }}
                                    <div class="user-subtitle">
                                        <!-- Level and number -->
                                        <div *ngIf="vote.user.getLevelAndNumber()">
                                            {{ vote.user.getLevelAndNumber() }}
                                        </div>

                                        <!-- Vote weight -->
                                        <div *ngIf="isVoteWeightActive">
                                            {{ 'Vote weight' | translate }}: {{ vote.user.vote_weight }}
                                        </div>

                                        <!-- Delegation -->
                                        <div *ngIf="userHasVoteDelegation(vote.user)">
                                            <span>
                                                ({{ 'represented by' | translate }}
                                                {{ getUsersVoteDelegation(vote.user).getShortName().trim() }})
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!vote.user">
                                    <i *ngIf="poll.is_pseudoanonymized">{{ "Anonymous" | translate }}</i>
                                    <i *ngIf="!poll.is_pseudoanonymized">{{ "Deleted user" | translate }}</i>
                                </div>
                            </div>

                            <div *pblNgridCellDef="'votes'; row as vote">
                                <div class="single-vote-result" *ngFor="let candidate of vote.votes">{{ candidate }}</div>
                            </div>
                        </os-list-view-table>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'Entitled users' | translate }}">
                    <os-entitled-users-table
                        [entitledUsersObservable]="entitledUsersObservable"
                        [listStorageKey]="assignment-poll-entitled-users"
                    ></os-entitled-users-table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <!-- Meta Infos -->
    <os-assignment-poll-meta-info [poll]="poll" [showCandidates]="showCandidatesInMetaInfo"></os-assignment-poll-meta-info>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <os-projector-button [menuItem]="true" [object]="poll" *osPerms="'core.can_manage_projector'"></os-projector-button>
    <button *osPerms="'assignments.can_manage'" mat-menu-item (click)="openDialog(poll)">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <button
        mat-menu-item
        *osPerms="'assignments.can_manage'; and: poll && poll.type === 'named'"
        (click)="pseudoanonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span>{{ 'Anonymize votes' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button *osPerms="'assignments.can_manage'" mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
