<os-head-bar [nav]="false" [goBack]="true">
    <!-- Title -->
    <div class="title-slot">
        <h2>
            <span *ngIf="!currentListOfSpeakers" translate>List of speakers</span>
            <span *ngIf="currentListOfSpeakers" translate>Current list of speakers</span>
        </h2>
    </div>
    <div class="menu-slot" *osPerms="['agenda.can_manage_list_of_speakers', 'core.can_manage_projector']">
        <button type="button" mat-icon-button [matMenuTriggerFor]="speakerMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<h1 class="title on-transition-fade" *ngIf="viewItem">{{ viewItem.getTitle() }}</h1>

<mat-card class="speaker-card" *ngIf="viewItem">
    <!-- List of finished speakers -->
    <mat-expansion-panel *ngIf="finishedSpeakers && finishedSpeakers.length > 0" class="finished-list">
        <mat-expansion-panel-header>
            <mat-panel-title translate> Last speakers </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <!-- {Number}. {full_name} {time} minutes (Start time: {begin_time}) [close button] -->
            <mat-list-item *ngFor="let speaker of finishedSpeakers; let number = index">
                <div class="finished-prefix">
                    <span>{{ number + 1 }}. {{ speaker }}</span>
                </div>
                <div class="finished-suffix">
                    &nbsp;&nbsp; {{ durationString(speaker) }} ({{ 'Start time' | translate }}:
                    {{ startTimeToString(speaker) }})
                </div>
                <button
                    mat-stroked-button
                    matTooltip="{{ 'Remove' | translate }}"
                    *osPerms="'agenda.can_manage_list_of_speakers'"
                    (click)="onDeleteButton(speaker)"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <!-- Current Speaker -->
    <div class="current-speaker" *ngIf="activeSpeaker">
        <mat-icon class="speaking-icon">play_arrow</mat-icon>
        <span class="speaking-name">{{ activeSpeaker }}</span>

        <button
            mat-stroked-button
            matTooltip="{{ 'End speech' | translate }}"
            *osPerms="'agenda.can_manage_list_of_speakers'"
            (click)="onStopButton()"
        >
            <mat-icon>mic_off</mat-icon>
            <span translate>Stop</span>
        </button>
    </div>

    <!-- Waiting speakers -->
    <div>
        <div class="waiting-list" *ngIf="speakers && speakers.length > 0">
            <os-sorting-list
                [input]="speakers"
                [live]="true"
                [count]="true"
                [enable]="opCanManage()"
                (sortEvent)="onSortingChange($event)"
            >
                <!-- implicit item references into the component using ng-template slot -->
                <ng-template let-item>
                    <span *osPerms="'agenda.can_manage_list_of_speakers'">
                        <span *ngIf="hasSpokenCount(item)" class="red-warning-text speaker-warning">
                            {{ hasSpokenCount(item) + 1 }}. <span translate>contribution</span>
                        </span>
                        <span *ngIf="item.gender">({{ item.gender | translate }})</span>
                    </span>
                    <mat-button-toggle-group *osPerms="'agenda.can_manage_list_of_speakers'">
                        <mat-button-toggle matTooltip="{{ 'Begin speech' | translate }}" (click)="onStartButton(item)">
                            <mat-icon>mic</mat-icon>
                            <span translate>Start</span>
                        </mat-button-toggle>
                        <mat-button-toggle matTooltip="{{ 'Mark speaker' | translate }}" (click)="onMarkButton(item)">
                            <mat-icon>{{ item.marked ? 'star' : 'star_border' }}</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle matTooltip="{{ 'Remove' | translate }}" (click)="onDeleteButton(item)">
                            <mat-icon>close</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </ng-template>
            </os-sorting-list>
        </div>
    </div>

    <!-- Search for speakers -->
    <div *osPerms="'agenda.can_manage_list_of_speakers'">
        <form *ngIf="users && users.value.length > 0" [formGroup]="addSpeakerForm">
            <os-search-value-selector
                class="search-users"
                ngDefaultControl
                [form]="addSpeakerForm"
                [formControl]="addSpeakerForm.get('user_id')"
                [multiple]="false"
                listname="{{ 'Select or search new speaker ...' | translate }}"
                [InputListValues]="users"
            ></os-search-value-selector>
        </form>
    </div>

    <!-- Add me and remove me if OP has correct permission -->
    <div *osPerms="'agenda.can_be_speaker'" class="add-self-buttons">
        <div *ngIf="speakers && !closedList">
            <button mat-raised-button (click)="addNewSpeaker()" *ngIf="!isOpInList()">
                <mat-icon>add</mat-icon>
                <span translate>Add me</span>
            </button>
            <button mat-raised-button (click)="onDeleteButton()" *ngIf="isOpInList()">
                <mat-icon>remove</mat-icon>
                <span translate>Remove me</span>
            </button>
        </div>
    </div>
</mat-card>

<mat-menu #speakerMenu="matMenu">
    <os-projector-button
        *ngIf="viewItem && projectors && projectors.length > 1"
        [object]="getClosSlide()"
        [menuItem]="true"
        text="Current list of speakers (as slide)"
    ></os-projector-button>

    <os-projector-button
        *ngIf="viewItem"
        [object]="viewItem.listOfSpeakersSlide"
        [menuItem]="true"
        text="List of speakers"
    ></os-projector-button>

    <os-projector-button
        *ngIf="viewItem"
        [object]="viewItem.contentObject"
        [menuItem]="true"
        [text]="getContentObjectProjectorButtonText()"
    ></os-projector-button>

    <button mat-menu-item *ngIf="closedList" (click)="openSpeakerList()">
        <mat-icon>mic</mat-icon>
        <span translate>Open list of speakers</span>
    </button>

    <button mat-menu-item *ngIf="!closedList" (click)="closeSpeakerList()">
        <mat-icon>mic_off</mat-icon>
        <span translate>Close list of speakers</span>
    </button>

    <mat-divider *ngIf="!emptyList"></mat-divider>

    <button mat-menu-item (click)="clearSpeakerList()" *ngIf="!emptyList" class="red-warning-text">
        <mat-icon>delete</mat-icon>
        <span translate>Remove all speakers</span>
    </button>
</mat-menu>
