@import '~@angular/material/theming';

@mixin os-list-of-speakers-style($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $contrast: map-get($primary, contrast);
    $foreground: map-get($theme, foreground);

    .current-speaker {
        background-color: mat-color($accent) !important;

        > span {
            color: mat-color($accent, default-contrast);
        }
    }

    .finished-speaker-grid {
        > .number .name .controls {
            color: mat-color($foreground, text);
        }

        > .time {
            color: mat-color($foreground, secondary-text);
        }
    }
}
