<os-head-bar
    [nav]="false"
    [goBack]="true"
    [editMode]="isMobile && manualSortMode"
    (cancelEditEvent)="setManualSortMode(false)"
    (saveEvent)="onMobileSaveSorting()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2>
            <span *ngIf="!isCurrentListOfSpeakers">{{ 'List of speakers' | translate }}</span>
            <span *ngIf="isCurrentListOfSpeakers">{{ 'Current list of speakers' | translate }}</span>
        </h2>
    </div>
    <div class="menu-slot" *osPerms="['agenda.can_manage_list_of_speakers', 'core.can_manage_projector']">
        <button
            type="button"
            mat-icon-button
            matTooltip="{{ 'Re-add last speaker' | translate }}"
            (click)="readdLastSpeaker()"
            [disabled]="!hasFinishedSpeakers"
        >
            <mat-icon>undo</mat-icon>
        </button>
        <button type="button" mat-icon-button [matMenuTriggerFor]="speakerMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<os-list-of-speakers-content
    #content
    [speakers]="viewListOfSpeakers"
    [sortMode]="manualSortMode"
    (isListOfSpeakersEmptyEvent)="isListOfSpeakersEmpty = $event"
    (hasFinishesSpeakersEvent)="hasFinishedSpeakers = $event"
></os-list-of-speakers-content>

<mat-menu #speakerMenu="matMenu">
    <button *ngIf="isMobile" mat-menu-item (click)="setManualSortMode(true)">
        <mat-icon>sort</mat-icon>
        <span>{{ 'Sort' | translate }}</span>
    </button>

    <os-projector-button
        *ngIf="viewListOfSpeakers && projectors && projectors.length > 1"
        [object]="getClosSlide()"
        [menuItem]="true"
        text="Current list of speakers (as slide)"
    ></os-projector-button>

    <os-projector-button
        *ngIf="viewListOfSpeakers"
        [object]="viewListOfSpeakers"
        [menuItem]="true"
        text="List of speakers"
    ></os-projector-button>

    <os-projector-button
        *ngIf="viewListOfSpeakers"
        [object]="viewListOfSpeakers.contentObject"
        [menuItem]="true"
        [text]="getContentObjectProjectorButtonText()"
    ></os-projector-button>

    <button mat-menu-item *ngIf="isListOfSpeakersClosed" (click)="openSpeakerList()">
        <mat-icon>lock_open</mat-icon>
        <span>{{ 'Open list of speakers' | translate }}</span>
    </button>

    <button mat-menu-item *ngIf="!isListOfSpeakersClosed" (click)="closeSpeakerList()">
        <mat-icon>lock</mat-icon>
        <span>{{ 'Close list of speakers' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="clearSpeakerList()" [disabled]="isListOfSpeakersEmpty" class="red-warning-text">
        <mat-icon>delete</mat-icon>
        <span>{{ 'Remove all speakers' | translate }}</span>
    </button>
</mat-menu>
