{% load tags %}
{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <link href="{% static 'styles/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'styles/projector.css' %}" type="text/css" rel="stylesheet">
        <link  href="{% static 'img/favicon.png' %}" type="image/png" rel="shortcut icon">
        <title>{% trans 'Projector' %} – {{ 'event_name'|get_config }}</title>
    </head>
    <body>
        <div id="header">
            <a title="Startseite" id="logo" href="/"><img alt="Logo" src="/static/img/logo.png"></a>
            <div class="pull-right"></div>
        </div>

        <div id="overlays">
            {{ overlays }}
        </div>

        <div id="content" {% if reload %}class="reload"{% endif %}>
            {{ content }}
        </div>

        <div id="footer">
            <div class="event_name_description">
                {{ 'event_name'|get_config }} | {{ 'event_description'|get_config }}
            </div>
            <div class="event_date_location">
                {% if 'event_date'|get_config %}
                    {{ 'event_date'|get_config }}{% if 'event_location'|get_config %}, {{ 'event_location'|get_config }}{% endif %}
                {% endif %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'javascript/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/sockjs-0.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/projector.js' %}"></script>
        <script type="text/javascript">
            {% for js in overlay_js %}
                projector.update_data({{ js|safe }});
            {% endfor %}
            {% for key, value in calls.items %}
                projector.{{ key }}({{ value }});
            {% endfor %}
        </script>
    </body>
</html>
