import endpoint

    reverse_proxy /system/* autoupdate:8002 {
        flush_interval -1
    }

    @server {
        path /apps/*
        path /rest/*
        path /server-version.txt
    }
    reverse_proxy @server server:8000

    reverse_proxy /media/* media:8000

    reverse_proxy client:4200
}
