{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {% if category %}
        {% trans "Edit category" %}
    {% else %}
        {% trans "New category" %}
    {% endif %}
    – {{ block.super }}
{% endblock %}

{% block content %}
    <h1>
        {% if category %}
            {% trans "Edit category" %}
        {% else %}
            {% trans "New category" %}
        {% endif %}
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
            {% include "formbuttons_saveapply.html" %}
            <a href='{% url 'motion_category_list' %}' class="btn">
                {% trans 'Cancel' %}
            </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
