.votes-grid {
    display: grid;
    grid-gap: 5px;
    margin-bottom: 10px;
    align-items: baseline;
    grid-template-columns: auto max-content;
    .mat-form-field {
        width: 100%;
    }
}
