{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Über OpenSlides" %}{% endblock %}
{% block headline %}{% trans "Was ist OpenSlides?" %}{% endblock %}
{% block submenu_about %}active{% endblock %}

{% block lead %}
OpenSlides ist ein freies, webbasiertes Präsentationssystem zur Darstellung 
und Steuerung von Tagesordnungen, Anträgen und Wahlen einer Veranstaltung.
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="span4">
        <h3>Ziele</h3>
        <p>Mit OpenSlides können alle Inhalte einer Veranstaltung, wie Tagesordnung, Antragstexte, 
        Redelisten, Kandidatenlisten, Wahlergebnisse usw. zeitaktuell an die Leinwand projiziert 
        werden. Die Versammlungsleitung steuert und bearbeitet diese Inhalte interaktiv. 
        Außerdem verwaltet OpenSlides die anwesenden Teilnehmer, um so leicht Kandidaten für 
        anstehende Wahlen aufzustellen, vorgedruckte Wahlscheine zu generieren und ausgezählte 
        Wahl- und Abstimmungsergebnisse anzuzeigen.
        </p>
    </div>
    <div class="span4">
        <h3>Neuartig</h3>
        <p>Neuartig ist vor allem die Funktion, das Plenum mit einzubeziehen: Jeder Teilnehmer auf
        einer Veranstaltung hat die Möglichkeit, sich mit dem eigenen Laptop oder Smartphone per
        WLAN bei OpenSlides anzumelden. Dabei kann der Teilnehmer z.B. einen Antrag einreichen,
        Anträge anderer Teilnehmer unterstützen, bei anstehenden Wahlen kandidieren, Kandidaten
        vorschlagen oder Abstimmungsergebnisse nachlesen.
        </p>
        <p>OpenSlides ist konzipiert für den Einsatz auf Veranstaltungen wie Delegierten- und
        Mitgliederversammlungen, Parteitagen und Hauptversammlungen. Eine Teilnehmerbeschränkung
        gibt es nicht.
        </p>
    </div>
    <div class="span4">
        <h3>Vorteile</h3>
        <p>Der entscheidende Vorteil gegenüber herkömmlichen Office-Präsentations-Systemen,
        wie MS PowerPoint oder OpenOffice Impress, ist die Bearbeitung der Folien über ein
        Redaktionssystem. Der Präsentationsmodus auf dem Beamer muss nicht verlassen werden
        und zeigt stets die aktuelle Folie an.
        </p>
        
        <p><a class="btn btn-primary" href="{% url features %}">Alle Funktionen &raquo;</a></p>
    </div>
  </div>
  <br> 

  <h2>Historie</h2>
  <div class="row">
    <div class="span6">
        <p>Im Jahre 2005 wurde ein interner PHP-Prototyp von OpenSlides speziell für
        den Einsatz auf der Bundesversammlung des Bundesverbandes der
        <a href="http://www.bundes-esg.de">Evangelischen
        StudentInnengemeinde (Bundes-ESG)</a> durch Emanuel Schütze entwickelt.</p>
    </div>
    <div class="span6">
        <p>Ende 2010 begannen Oskar Hahn und Emanuel Schütze mit einer kompletten
        Neuentwicklung in Python/Django und bauten ein Freies Software Produkt
        mit dem Namen "OpenSlides" auf. OpenSlides wurde im August 2011 unter
        der GNU GPL v2+ veröffentlicht. Version 1.0 ist am 12. September 2011
        erschienen. Der erste produktive Einsatz von OpenSlides fand Mitte
        September auf der ESG-Bundesversammlung 2011 in Hannover statt.
        </p>
    </div>
  </div>
{% endblock %}
