{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Über OpenSlides" %}{% endblock %}
{% block headline %}{% trans "Was ist OpenSlides?" %}{% endblock %}
{% block submenu_about %}active{% endblock %}

{% block lead %}
{% blocktrans %}OpenSlides ist ein freies, webbasiertes Präsentationssystem zur Darstellung 
und Steuerung von Tagesordnungen, Anträgen und Wahlen einer Veranstaltung.{% endblocktrans %}
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="span4">
        <img class="os-icon" src="/static/img/icons/glyphicons_056_projector.png">
        <h2>{% trans 'Inhalte projizieren' %}</h2>
        <p>{% blocktrans %}Mit OpenSlides können alle Inhalte einer Veranstaltung (wie Tagesordnung, Antragstexte, 
        Redelisten, Kandidatenlisten und Wahlergebnisse) zeitaktuell an die Leinwand projiziert 
        werden. Die Versammlungsleitung steuert und bearbeitet diese
        Inhalte interaktiv.{% endblocktrans %}</p>

        <img class="os-icon" src="/static/img/icons/glyphicons_043_group.png">
        <h2>{% trans 'Teilnehmer verwalten' %}</h2>
        <p>{% blocktrans %}OpenSlides verwaltet darüber hinaus die anwesenden
        Teilnehmer, um so leicht Kandidaten für 
        anstehende Wahlen aufzustellen, vorgedruckte Wahlscheine zu generieren und ausgezählte 
        Wahl- und Abstimmungsergebnisse anzuzeigen.{% endblocktrans %}
        </p>
        
        <img class="os-icon" src="/static/img/icons/glyphicons_061_keynote.png">
        <h2>{% trans 'Einsatz vor Ort' %}</h2>
        <p>{% blocktrans %}OpenSlides ist konzipiert für den Einsatz auf
        Veranstaltungen wie Delegierten-/Mitgliederversammlungen, Parteitagen oder
        Hauptversammlungen. Eine Teilnehmerbeschränkung
        gibt es nicht.{% endblocktrans %}
        </p>
    </div>
    <div class="span4">
        <img class="os-icon" src="/static/img/icons/glyphicons_163_iphone.png">
        <h2>{% trans 'Transparenz' %}</h2>
        <p>{% blocktrans %}Neuartig ist vor allem die Funktion, das Plenum mit einzubeziehen: Jeder Teilnehmer auf
        einer Veranstaltung hat die Möglichkeit, sich mit dem eigenen Laptop oder Smartphone per
        WLAN bei OpenSlides anzumelden.{% endblocktrans %} </p>
        
        <img class="os-icon" src="/static/img/icons/glyphicons_082_roundabout.png">
        <h2>{% trans 'Interaktion' %}</h2>
        <p>{% blocktrans %}Dabei kann der Teilnehmer z.B. einen Antrag einreichen,
        Anträge anderer Teilnehmer unterstützen, bei anstehenden Wahlen kandidieren, Kandidaten
        vorschlagen oder Abstimmungsergebnisse nachlesen.{% endblocktrans %}
        </p>
        
        <img class="os-icon" src="/static/img/icons/glyphicons_289_podium.png">
        <h2>{% trans 'Vorteile nutzen' %}</h2>
        <p>{% blocktrans %}Der entscheidende Vorteil gegenüber herkömmlichen Office-Präsentations-Systemen,
        wie MS PowerPoint oder OpenOffice Impress, ist die Bearbeitung der Folien über ein
        Redaktionssystem. Der Präsentationsmodus auf dem Projektor muss nicht verlassen werden
        und zeigt stets die aktuelle Folie an.{% endblocktrans %}
        </p>
        
        <p><a class="btn btn-primary" href="{% url features
            %}">{% trans 'Screenshots & Funktionen' %} &raquo;</a></p>
    </div>
    <div class="span4">
      <p><a class="btn btn-primary" href="{% url donate %}">
          <i class="icon-heart icon-white"></i>
          {% trans 'Unterstützen Sie OpenSlides mit Ihrer Spende' %}</a></p>
      <div class="well">

      <img class="os-icon" src="/static/img/icons/glyphicons_057_history.png">
      <h2>{% trans 'Historie' %}</h2>
            <p>{% blocktrans %}Im Jahre 2005 wurde ein interner PHP-Prototyp von OpenSlides speziell für
            den Einsatz auf der Bundesversammlung der
            <a href="http://www.bundes-esg.de">Evangelischen
            StudentInnengemeinde (Bundes-ESG)</a> durch Emanuel Schütze entwickelt.{% endblocktrans %}</p>
            <p>{% blocktrans %}Ende 2010 begannen Oskar Hahn und Emanuel Schütze mit einer kompletten
            Neuentwicklung in Python/Django und bauten ein Freies Software Produkt
            mit dem Namen "OpenSlides" auf.{% endblocktrans %}</p>
            <p>{% blocktrans %}OpenSlides wurde im August 2011 unter
            der GNU GPL v2+ veröffentlicht. Version 1.0 ist am 12. September 2011
            erschienen. Der erste produktive Einsatz von OpenSlides fand Mitte
            September auf der ESG-Bundesversammlung 2011 in Hannover statt.{% endblocktrans %}
            </p>
      </div>
    </div>
  </div>
  <br> 


{% endblock %}
