{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Autoren" %}{% endblock %}
{% block headline %}{% trans "Autoren" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span4">
        <p>
            {% blocktrans %}OpenSlides ist eine Software von:{% endblocktrans %}
            <ul>
                <li>Emanuel Schütze</li>
                <li>Norman Jäckel</li>
                <li>Oskar Hahn</li>
            </ul>
            {% blocktrans %}Mit Unterstützung von:{% endblocktrans %}
            <ul>
                <li>Andy Kittner</li>
                <li>René Köcher</li>
            </ul>
            {% blocktrans %}OpenSlides baut auf folgender Freier Software auf:{% endblocktrans %}
            <ul>
                <li><a href="http://www.python.org/">Python</a></li>
                <li><a href="https://www.djangoproject.com/">Django</a></li>
                <li><a href="https://github.com/django-mptt/django-mptt/">django-mptt</a></li>
                <li><a href="https://github.com/bradjasper/django-jsonfield">django-jsonfield</a></li>
                <li><a href="http://www.reportlab.com/software/opensource/rl-toolkit/">ReportLab</a></li>
                <li><a href="http://www.jquery.com/">jQuery</a></li>
                <li><a href="http://www.drupal.org/">Drupal (tabledrag function)</a></li>
                <li><a href="http://jqueryui.com/">jQuery UI</a></li>
                <li><a href="http://font.ubuntu.com/">Ubuntu TrueType Font</a></li>
            </ul>
        </p>
    </div>
  </div>
{% endblock %}
