{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Kontaktformular" %}{% endblock %}
{% block headline %}{% trans "Kontaktformular" %}{% endblock %}

{% block mainmenu_contact %}active{% endblock %}

{% block lead %}
{% blocktrans %}Haben Sie Fragen oder Anregungen zu OpenSlides? 
Sie können hier das Hauptentwicklerteam direkt kontaktieren.
Wir freuen uns auf Ihre Anfrage!{% endblocktrans %}
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
{{ form.name_of_field.errors }}
{{ form.as_p }}
<button class="btn btn-large btn-primary" type="submit">
    {% trans 'Senden' %}</span>
</button><br>
</form>

{% endblock %}
