{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Kontakt" %}{% endblock %}
{% block headline %}{% trans "Kontakt" %}{% endblock %}

{% block mainmenu_contact %}active{% endblock %}

{% block lead %}
{% blocktrans %}Ihnen gefällt OpenSlides? Sie haben Fragen oder Anregungen? Geben Sie
uns Ihre Rückmeldung!{% endblocktrans %}
{% endblock %}

{% block content %}

<p><a class="btn btn-primary" href="{% url contactform %}">{% trans 'Zum Kontaktformular' %} &raquo;</a></p>
<br>
<div class="row">
    <div class="span4">
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_399_e-mail.png">
        <h2>{% trans 'Mailinglisten' %}</h2>
        <p>{% blocktrans %}OpenSlides bietet öffentliche Mailinglisten zur Koordination der Entwicklung 
        sowie Diskussion von Tickets, Anwenderfragen und speziellen Anwendungsfällen. 
        Bei Problemen und Fragen zu OpenSlides schreiben Sie an die 
        OpenSlides-Mailingliste in Ihrer Sprache.{% endblocktrans %} 
               
        <blockquote>
        <p><strong>users-de@openslides.org</strong><small>{% trans 'Deutschsprachige Mailingliste für Anwender und Entwickler' %}</small></p>
        <p><a class="btn btn-primary" href="http://mail.openslides.org/listinfo/users-de/ ">{% trans 'Abonnieren' %} &raquo;</a>
        <a class="btn" href="http://mail.openslides.org/pipermail/users-de/ ">{% trans 'Archiv' %} &raquo;</a></p>
        <br>
        <p><strong>users-en@openslides.org</strong><small>{% trans 'Englischsprachige Mailingliste für Anwender und Entwickler' %}</small></p>
        <p><a class="btn btn-primary" href="http://mail.openslides.org/listinfo/users-en/">{% trans 'Abonnieren' %} &raquo;</a>
        <a class="btn" href="http://mail.openslides.org/pipermail/users-en/">{% trans 'Archiv' %} &raquo;</a></p>
        <br>
        <p><strong>commit@openslides.org</strong><small>{% trans 'HG-commit-Mailingliste von hg.openslides.org (moderiert), für Entwickler' %}</small></p>
        <p><a class="btn btn-primary" href="http://mail.openslides.org/listinfo/commit/">{% trans 'Abonnieren' %} &raquo;</a>
        <a class="btn" href="http://mail.openslides.org/pipermail/commit/">{% trans 'Archiv' %} &raquo;</a></p>
        </blockquote>
        <p><small>{% trans 'Hinweis: Bitte abonnieren Sie eine Mailingliste bevor Sie an diese schreiben!' %}</small></p>
        </div>
    </div>

    <div class="span4">
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_352_nameplate.png">
        <h2>{% trans 'Professionelle Unterstützung' %}</h2>
        <p>
        {% url pricing as pricing_url %}
        {% blocktrans %}Sie haben Interesse an OpenSlides und denken über einen Einsatz auf Ihrer 
        Veranstaltung nach? Sie suchen dafür professionelle Unterstützung 
        bei der Vorbereitung? Sie haben Fragen zu unseren 
        <a href="{{ pricing_url }}">Supportpaketen</a>?{% endblocktrans %}</p>
        <p>{% trans 'Kontaktieren Sie uns! Wir beraten Sie gerne.' %}</p>
        
        <p>{% trans 'Ihr Ansprechpartner' %}:<p>
        
        <blockquote>
        <p><a href="mailto:emanuel.schuetze@intevation.de">Emanuel Schütze</a><br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        <strong>Tel: ++49-541-335083-746</strong></p>
        </blockquote>
        </div>
    </div>

    <div class="span4">
        <div class="well">
        <img class="os-icon" src="/static/img/icons/glyphicons_245_chat.png">
        <h2>IRC</h2>
        <p>{% blocktrans %}Für den direkten Kontakt zwischen interessierten OpenSlides-Anwendern 
        und -Entwicklern nutzen Sie IRC (ein textbasierter Chat):{% endblocktrans %}</p>
        
        <blockquote>
        <p>{% trans 'Netzwerk' %}: freenode<br>
        {% trans 'Kanal' %}: #openslides</p>
        <br>
        <p><a class="btn btn-primary" href="http://webchat.freenode.net?channels=openslides&uio=d4s">IRC Chat starten &raquo;</a></p>
        </blockquote>
        </div>
    </div>
</div>
{% endblock %}
