{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'Demo' %}{% endblock %}
{% block headline %}{% trans 'Demo' %}{% endblock %}


{% block lead %}
{% trans 'Entdecken Sie die Funktionen von OpenSlides in dieser Online-Demo.' %}
{% endblock %}


{% block content %}

<p>
    <a class="btn btn-primary btn-large" href="http://demo.openslides.org/login">
    OpenSlides Demo starten &raquo;
    </a>
</p>

<p>{% trans 'Es sind drei Demo-Nutzer mit unterschiedlichen Rechten eingerichtet:' %}</p>

<blockquote>
<p><strong>{% trans 'Versammlungsleitung' %}</strong></p>
<p>{% trans 'Nutzername' %}: demo<br>
    {% trans 'Passwort' %}: demo</p>

<br>
<p><strong>{% trans 'Delegierter' %}</strong></p>
<p>{% trans 'Nutzername' %}: delegierter<br>
    {% trans 'Passwort' %}: demo</p>

<br>
<p><strong>{% trans 'Gast' %}:</strong></p>
<p>{% trans 'ohne Zugangsdaten' %}</p>
</blockquote>

<p><span class="label label-warning">{% trans 'Achtung' %}:</span> {% trans 'Die Demo wird täglich zurückgesetzt!' %}</p>
{% endblock %}
