{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Entwicklung" %}{% endblock %}
{% block headline %}{% trans "Entwicklung" %}{% endblock %}

{% block mainmenu_development %}active{% endblock %}

{% block lead %}OpenSlides ist eine engagierte Freie
Software-Initiative von Freiwilligen. Entsprechend offen und
frei zugänglich ist auch die Entwicklung. Nutze die Möglichkeit und wirfen einen Blick
in unsere Trac-Entwicklungsplattform. - Jede Mitarbeit ist sehr willkommen:
Bugreports erstellen, Arbeiten am Quellcode, Übersetzungen oder Grafikdesign. Wir freuen
uns über jede Form der Unterstützung! <a href="{% url contact %}">Kontaktiere</a> uns einfach! Wir finden sicher interessante
Aufgaben für Dich.
{% endblock %}


{% block content %}

  <div class="row">
    <div class="span3">
        <img class="os-icon" src="/static/img/icons/glyphicons_351_book_open.png">
        <h2>Wiki</h2>
        <p>Das OpenSlides-Wiki dient als technische Dokumentation von
        Dingen, die (noch) nicht im Handbuch stehen oder einfach
        irgendwo erfasst und nicht vergessen werden sollen.</p>
        <p>Wir freuen uns über Unterstützung beim Erstellen neuer
        hilfreicher Seiten.</p>
        <p><a class="btn" href="http://dev.openslides.org">Wiki &raquo;</a></p>
    </div>
    <div class="span3">
        <img class="os-icon" src="/static/img/icons/glyphicons_040_stats.png">
        <h2>Roadmap</h2>
        <p>Wann steht eine neue OpenSlides-Version an? Welche Tickets sind
        für welchen Meilenstein geplant und welche Tickets sind
        bereits erledigt?</p> 
        <p>Diesen Überblick gibt uns die Roadmap und dient zur Planung
        und Information über neue OpenSlides-Versionen.</p>
        <p><a class="btn" href="http://dev.openslides.org/roadmap">Roadmap &raquo;</a></p>
    </div>
    <div class="span3">
        <img class="os-icon" src="/static/img/icons/glyphicons_235_pen.png">
        <h2>Tickets</h2>
        <p>Probleme und Wünsche an OpenSlides erfassen wir in
        einzelnen Tickets im Trac. Um ein Problem oder Wunsch zu berichten,
        melde Dich im Trac an und lege ein <a href="http://dev.openslides.org/newticket">neues
            Ticket</a> an. </p>
        <p>Alternativ kannst Du Dein Rückmeldung zu OpenSlides auch an die <a href="{%
            url contact %}">Mailingliste</a> senden.</p>
        <p><a class="btn"
            href="http://dev.openslides.org/report/3">Alle offene Tickets &raquo;</a></p>
    </div>
    <div class="span3">
        <img class="os-icon" src="/static/img/icons/glyphicons_117_embed.png">
        <h2>Quellcode</h2>
        <p>Werfe einen Blick in den aktuellen OpenSlides-Quellcode ohne ihn extra (per
        HG/Mercurial) zu clonen. Trac bietet die Möglichkeit den Quellcode aus
        dem angebundenden hg-Repository zu "durchbrowsen".</p>
        <p>Eine Anleitung zum Clonen gibt es unter <a href="{% url download %}">Download</a>.</p>
        <p><a class="btn" href="http://dev.openslides.org/browser"><nobr>Quellcode durchsuchen &raquo;</nobr></a></p>
    </div>
  </div>
    
{% endblock %}


