{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Download{% endblock %}
{% block headline %}Download{% endblock %}

{% block mainmenu_download %}active{% endblock %}

{% block lead %}{% trans 'Aktuelle Version: OpenSlides 1.2 (veröffentlicht am 25.7.2012)' %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="span4 well">
      <h3>{% trans 'Für Windows' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://files.openslides.org/openslides-1.2-portable.zip">
      {% trans 'Download OpenSlides' %}<br>
      <small>v1.2 | .zip | 10 MB</small></a>
      </p>
      <p>{% blocktrans %}Dies ist eine <strong>portable Version</strong>. 
      OpenSlides muss nicht installiert werden. Einfach herunterladen, entpacken und openslides.exe starten!
      {% endblocktrans %}</p>
    </div>
    <div class="span4 well">
      <h3>{% trans 'Für Linux/MacOS' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://files.openslides.org/openslides-1.2.tar.gz">
      {% trans 'Download OpenSlides' %} <br><small>v1.2 | .tar.gz | 1 MB</small></a>
      </p>
      <p>{% blocktrans %}Folgen Sie der <a href="http://files.openslides.org/INSTALL-1.2.txt">Installationsanleitung</a> 
      nach dem Download. Die Anleitung liegt auch im Archiv bei.{% endblocktrans %}<br><br></p>
    </div>
  </div>
  <br>
  <p>
  <a class="btn btn-large"
  href="http://files.openslides.org/">
  {% trans 'Ältere Versionen und Prüfsummen' %} &raquo;</a>
  </p>
  <br>
  
  <h2>{% trans 'Quellcode' %}</h2>
  <p>{% blocktrans %}Der aktuelle Entwicklungstand von OpenSlides kann im öffentlichen 
  Quellcode-Repository eingesehen werden.{% endblocktrans %}</p>
  
  <p>{% trans 'Zum Auschecken des Quellcodes von OpenSlides nutzen Sie:' %}</p>

  <p><code>hg clone http://hg.openslides.org</code></p>



    </div>
{% endblock %}

{% block sidebar %}
        <div id="sidebar">
            <h3>Sidebar</h3>
            <p>TODO</p>
        </div>
{% endblock %}
