{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Download{% endblock %}
{% block headline %}Download{% endblock %}

{% block mainmenu_download %}active{% endblock %}

{% block lead %}{% trans 'Aktuelle Version: OpenSlides 1.2-rc1 (veröffentlicht am 16.7.2012)' %}{% endblock %}


{% block content %}

  <div class="row">
    <div class="span6">
      <h3>{% trans 'Für Windows' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://openslides.org/download/Beta/openslides-1.2-rc1-portable.zip">
      {% trans 'Download OpenSlides' %}<br>
      <small>v1.2-rc1 | .zip | 10 MB</small></a>
      </p>
      <p>{% trans 'Portable Version mit openslides.exe' %}</p>
      <p><a href="#">{% trans 'Installationsanleitung' %}</a></p>
    </div>
    <div class="span6">
      <h3>{% trans 'Für Linux/MacOS' %}</h3>
      <p>
      <a class="jumbotron btn btn-primary btn-large"
      href="http://openslides.org/download/Beta/openslides-1.2-rc1-portable.tar.gz">
      {% trans 'Download OpenSlides' %} <br><small>v1.2-rc1 | .tar.gz | 1 MB</small></a>
      </p>
      <p><a href="#">{% trans 'Installationsanleitung' %}</a></p>
    </div>
  </div>
  <br>
  <p>
  <a class="btn btn-large"
  href="http://openslides.org/download/">
  {% trans 'Ältere Versionen und Prüfsummen' %} &raquo;</a>
  </p>
  <br>
  
  <h2>{% trans 'Quellcode' %}</h2>
  <p>{% blocktrans %}Der aktuelle Entwicklungstand von OpenSlides kann im öffentlichen 
  Quellcode-Repository eingesehen werden.{% endblocktrans %}</p>
  
  <p>{% trans 'Zum Auschecken des Quellcodes von OpenSlides nutzen Sie:' %}</p>

  <p><code>hg clone http://hg.openslides.org</code></p>



    </div>
{% endblock %}

{% block sidebar %}
        <div id="sidebar">
            <h3>Sidebar</h3>
            <p>TODO</p>
        </div>
{% endblock %}
