{% extends "base_manual.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "FAQ" %}{% endblock %}
{% block headline %}{% trans "FAQ" %}{% endblock %}

{% block submenu_faq %}active{% endblock %}

{% block lead %}
{% blocktrans %}Diese Seite ist noch im Aufbau.{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
    <p>{% blocktrans %}Helfen Sie uns und schreiben Sie uns Ihre wichtigsten Fragen zu 
    OpenSlides an <a href="support@openslides.org">support@openslides.org</a>! 
    Wir werden dann demnächst hier eine hilfreiche Auswahl an FAQs zusammenstellen.
    {% endblocktrans %}
    </p>
    </div>
  </div>
  <p><br></p>
  <p><br></p>
{% endblock %}
