{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Home{% endblock %}
{% block header %}
 <style type="text/css">
   #headline { height: 350px;}
 </style>
{% endblock %}

{% block mainmenu_home %}active{% endblock %}

{% block container %}


  <div class="hero-unit">
  <div class="thumbnail span5" style="float:right; margin: 5px;">
    <img src="/static/img/agenda-overview_de.png" alt="">
  </div>
    <span>
    <h1>OpenSlides</h1>
    <br>
    <p>Mehr Transparenz.<br> Mehr Offenheit.<br> Mehr Effizienz.<br>
    <strong>Die Lösung für Ihre Versammlung!</strong></p>
    <br>
    <br>
    <a class="btn btn-primary btn-large" href="{% url download %}">
    Download &raquo;
    </a>

    <a class="btn  btn-large" href="{% url demo %}">
    Demo
    </a>
    </p>
    </span>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Was ist OpenSlides?</h2>
       <p>OpenSlides ist ein freies, webbasiertes Präsentationssystem zur 
       Darstellung und Steuerung von Tagesordnungen, Anträgen und Wahlen 
       einer Veranstaltung. </p>
       <p>Neuartig ist vor allem die Funktion, das Plenum mit einzubeziehen: 
       Jeder Teilnehmer auf einer Veranstaltung hat die Möglichkeit, sich mit
       dem eigenen Laptop oder Smartphone per WLAN bei OpenSlides anzumelden.</p>
       
      <p><a class="btn" href="#">Mehr &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Support</h2>
       <p>Für den professionellen Einsatz von OpenSlides gibt es angepasste
       Pakte mit professionellen Support. Sie unterstützen damit gleichzeitig 
       die Weiterentwicklung von OpenSlides. - 
       Wählen Sie Ihr passendes Produkt aus! </p>
      <p><a class="btn" href="#">OpenSlides-Pakete &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Referenzen</h2>
      <p>OpenSlides war bereits erfolgreich im Einsatz bei:</p>
      <ul class="thumbnails">
        <li class="span2">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/100">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/100">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/100">
          </a>
        </li>
        <li class="span2">
          <a class="thumbnail" href="#">
            <img alt="" src="http://placehold.it/100">
          </a>
        </li>
      </ul>
      <p><a class="btn" href="#">Mehr &raquo;</a></p>
    </div>
  </div>

{% endblock %}