{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Home{% endblock %}
{% block header %}
 <style type="text/css">
   #headline { height: 350px;}
 </style>
{% endblock %}

{% block mainmenu_home %}active{% endblock %}

{% block container %}
  <div class="hero-unit">
    <div class="row">
    <div class="span5">
    <h1>OpenSlides</h1>
    <br>
    <p>Mehr Transparenz.<br> Mehr Flexibilität.<br> Mehr Effizienz.<br>
    <strong>Die Lösung für Ihre Versammlung!</strong></p>
    <br>
    <a class="jumbotron btn btn-primary btn-large" href="{% url download %}">
    Download
    </a>

    <a class="jumbotron btn btn-large" href="{% url demo %}">
    Demo
    </a>
    </p>
    </div>
    <div class="span5">
        <div class="thumbnail">
          <img src="/static/img/agenda-overview_de.png" alt="">
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <img class="os-icon" src="/static/img/icons/glyphicons_064_lightbulb.png">
      <h2>Was ist OpenSlides?</h2>
       <p>OpenSlides ist ein freies, webbasiertes Präsentationssystem zur 
       Darstellung und Steuerung von Tagesordnungen, Anträgen und Wahlen 
       einer Veranstaltung. </p>
       <p>Neuartig ist vor allem die Funktion, das Plenum mit einzubeziehen: 
       Jeder Teilnehmer auf einer Veranstaltung hat die Möglichkeit, sich mit
       dem eigenen Laptop oder Smartphone per WLAN bei OpenSlides anzumelden.</p>
       
       <p><a class="btn" href="{% url about %}">Mehr &raquo;</a></p>
    </div>
    <div class="span4">
      <img class="os-icon" src="/static/img/icons/glyphicons_341_briefcase.png">
      <h2>Preise und Supportpakete</h2>
       <p>Sie wollen OpenSlides professionell und erfolgreich auf
       Ihrer Veranstaltung einsetzen? Dann nutzen Sie unsere
       abgestimmten Supportpakete von der Intevation GmbH.</p>
       <p>OpenSlides ist <strong>Freie Software</strong>. 
       Mit dem Kauf eines Supportpakets leisten Sie gleichzeitig einen
       wichtigen Beitrag, um die Weiterentwicklung von OpenSlides zu
       sichern.</p> 
       <p>Wählen Sie jetzt Ihr passendes Paket aus! </p>
       <p><a class="btn" href="{% url pricing %}">OpenSlides-Supportpakete &raquo;</a></p>
   </div>
    <div class="span4">
      <img class="os-icon" src="/static/img/icons/glyphicons_332_certificate.png">
      <h2>Referenzen</h2>
      <p>OpenSlides war bereits erfolgreich im Einsatz bei:</p>
      <ul class="thumbnails">
        <li class="span2">
          <span class="thumbnail" title="Piratenpartei Deutschland">
            <img alt="Piraten" src="/static/img/references/piraten-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg">
            <img alt="Grüne HH" src="/static/img/references/gruene-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="Evangelischen StudentInnengemeinde in der Bundesrepublik Deutschland (ESG)">
            <img alt="ESG" src="/static/img/references/esg-logo.png">
          </span>
        </li>
        <li class="span2">
          <span class="thumbnail" title="Arbeitsgemeinschaft der Evangelischen Jugend in Deutschland e. V. (aej)">
            <img alt="aej" src="/static/img/references/aej-logo.png">
          </span>
        </li>
      </ul>
      <a class="btn" href="{% url references %}">Weitere Referenzen &raquo;</a>
    </div>
  </div>

{% endblock %}
