{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Lizenz" %}{% endblock %}
{% block headline %}{% trans "Lizenz" %}{% endblock %}

{% block submenu_license %}active{% endblock %}

{% block lead %}
OpenSlides is Free/Libre Open Source Software (FLOSS).
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
OpenSlides steht unter der <strong>GNU General Public
License (GNU GPL) Version 2+</strong> und darf ohne Restriktionen
(unter den Bedingungen der Lizenz) benutzt, verändert und (geändert)
weitergegeben werden.</p>

<p>Eine Kopie der Lizenz liegt jedem
OpenSlides-Release bei und ist auch in der 
<a href="http://dev.openslides.org/browser/LICENSE">LICENSE-Datei</a> im
Quellcode-Repository nachzulesen.</p>
    </div>
  </div>
  <p><br></p>
  <p><br></p>
{% endblock %}
