{% extends "base_manual.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Handbuch" %}{% endblock %}
{% block headline %}{% trans "Handbuch" %}{% endblock %}

{% block submenu_manual %}active{% endblock %}

{% block lead %}
{% blocktrans %}Sie brauchen Hilfe zu OpenSlides? Werfen Sie mal einen Blick 
in unser Handbuch!{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
    <p>{% blocktrans %}Das OpenSlides-Handbuch ist noch im Aufbau. 
    Eine aktuelle Version finden Sie hier:{% endblocktrans %}</p>
      <a class="btn btn-primary btn-large"
      href="http://docs.openslides.org/de">
      <i class="icon-question-sign icon-white"></i>
      {% trans 'OpenSlides-Handbuch' %}  &raquo;</a>
    </div>
  </div>
  <p><br></p>
  <p><br></p>
{% endblock %}
