{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Bestellformular" %}{% endblock %}
{% block headline %}{% trans "Bestellformular" %}{% endblock %}

{% block mainmenu_pricing %}active{% endblock %}

{% block lead %}
Supportpaket OpenSlides
<strong>
{% if package == '1' %}Starter{% endif %}
{% if package == '2' %}Business{% endif %}
{% if package == '3' %}Premium{% endif %}
</strong>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span7">
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Ihre Veranstaltung" %}</legend>
            
            {{ form_event.as_p }}
        </fieldset>
    
        <fieldset>
            <legend>{% trans "Ihre Kontaktdaten" %}</legend>
            {{ form_contact.as_p }}
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
    </div>
    <div class="span4 well box">
    {% if package == '1' %}
        <div class="header">  
            <h3>OpenSlides Starter</h3>
            <p class="price">TODO,- €
            <small>zzgl. 19% MwSt.</small></p>
        </div>
        <ul class="unstyled">
            <li>Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{% url license
                %}">GNU GPL v2+</a>.</small></li>
            <li><strong>2h Supportkontingent</strong>
                <small>Laufzeit: 1 Monat</small></li>
            <li>OpenSlides 1.2+ <small>inkl. qualitätsgesicherte
                Updates aus der stabilen Entwicklungsversion</small></li>
            <li>Werbefrei <small>Kein Verweis auf den professional
                Support</small></li>
            <li>USB-Stick mit eingraviertem OpenSlides-Logo
                <small>"OpenSlides portable" bereits vorinstalliert und
                direkt vom USB-Stick startbar</small></li>
            <li>Werkzeug zum Datenexport ins CSV-Format</li>
            <li>Veranstaltungsdaten vorkonfiguriert <small>nach
                Vorlage</small><br><br></li>
            <li><span class="label label-important">Optional</span>
            Vor-Ort-Service <small>z.B.: Beratung, Schulung,
                technische Durchführung<br>1000,- &euro;/d zzgl. 19% MwSt.
                </small></li>
        </ul>
    {% endif %}
    {% if package == '2' %}
        <div class="header">  
            <h3>OpenSlides Business</h3>
            <p class="price">TODO,- €
            <small>zzgl. 19% MwSt.</small></p>
        </div>
        <ul class="unstyled">
            <li>Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{% url license
                %}">GNU GPL v2+</a>.</small></li>
            <li><strong>6h Supportkontingent</strong>
                <small>Laufzeit: 2 Monat</small></li>
            <li>OpenSlides 1.2+ <small>inkl. qualitätsgesicherte
                Updates aus der stabilen Entwicklungsversion</small></li>
            <li>Werbefrei <small>Kein Verweis auf den professional
                Support</small></li>
            <li>USB-Stick mit eingraviertem OpenSlides-Logo
                <small>"OpenSlides portable" bereits vorinstalliert und
                direkt vom USB-Stick startbar</small></li>
            <li>Werkzeug zum Datenexport ins CSV-Format</li>
            <li>Veranstaltungsdaten vorkonfiguriert <small>nach
                Vorlage</small></li>
            <li><strong>Namenskarten mit QR-Code</strong>
               <small>Für schnelle Anwesenheitserfassung der
                   Teilnehmer</small></li>
               <li><strong>Anpassung des Projektortemplates</strong> 
               <small>nach Vorlage</small><br><br></li>
            <li><span class="label label-important">Optional</span>
            Vor-Ort-Service <small>z.B.: Beratung, Schulung,
                technische Durchführung<br>900,- &euro;/d zzgl. 19% MwSt.
            </small></li>
            <li><span class="label label-important">Optional</span>
            Verleih oder Verkauf eines
                elektronischen Abstimmugssystems
                <small>Anbindung an OpenSlides über Plugin
                    "VoteCollector"<br>Preis auf Anfrage</small></li>
        </ul>
    {% endif %}

    {% if package == '3' %}
        <div class="header">  
            <h3>OpenSlides Premium</h3>
            <p class="price">TODO,- €
            <small>zzgl. 19% MwSt.</small></p>
        </div>
        <ul class="unstyled">
            <li>Lizenzkostenfreie Nutzung<small>OpenSlides 
            ist Freie Software unter der <a href="{% url license
                %}">GNU GPL v2+</a>.</small></li>
            <li><strong>TODOh Supportkontingent</strong>
                <small>Laufzeit: 3 Monat</small></li>
            <li>OpenSlides 1.2+ <small>inkl. qualitätsgesicherte
                Updates aus der stabilen Entwicklungsversion</small></li>
            <li>Werbefrei <small>Kein Verweis auf den professional
                Support</small></li>
            <li>USB-Stick mit eingraviertem OpenSlides-Logo
                <small>"OpenSlides portable" bereits vorinstalliert und
                direkt vom USB-Stick startbar</small></li>
            <li>Werkzeug zum Datenexport ins CSV-Format</li>
            <li>Veranstaltungsdaten vorkonfiguriert <small>nach
                Vorlage</small></li>
            <li>Namenskarten mit QR-Code<small>Für schnelle
                Anwesenheitserfassung der Teilnehmer</small></li>
            <li>Anpassung des Projektortemplates <small>nach Vorlage</small></li>
            <li><strong>OpenSlides-Schulung vor Ort</strong><small>1 Tag</small></li>
            <li><strong>Unterstützung bei Umstellung auf
                leistungsfähigere Datenbank und Webserver</strong>
                <br><br></li>
            <li><span class="label label-important">Optional</span>
            Vor-Ort-Service <small>z.B.: Beratung, Schulung,
                technische Durchführung<br>800,- &euro;/d zzgl. 19% MwSt.
            </small></li>
            <li><span class="label label-important">Optional</span>
            Verleih oder Verkauf eines
                elektronischen Abstimmugssystems
                <small>Anbindung an OpenSlides über Plugin
                    "VoteCollector"<br>Preis auf Anfrage</small></li>
        </ul>
    {% endif %}
        <br>
        <p><strong>Haben Sie noch Fragen? Wir beraten Sie gerne.</strong>
        <br>Ihr Ansprechpartner:</p>
        <p>Emanuel Schütze<br>
        Intevation GmbH<br>
        Neuer Graben 17<br>
        D-49074 Osnabrück<br>
        E-Mail: <a href="mailto:emanuel.schuetze@intevation.de">emanuel.schuetze@intevation.de</a><br>
        Tel: ++49-541-335083-746</p>
    </div>
</div>
{% endblock %}
