{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Pressemitteilung" %}{% endblock %}
{% block headline %}{% trans "Presse" %}{% endblock %}

{% block submenu_press %}active{% endblock %}


{% block content %}
<p><i><a href="{% url press %}">&laquo; Zurück</a></i></p>

<h3>{% trans 'Pressemitteilung' %}</h3>
<br>
<h4>+++ OpenSlides 1.2 - Präsentations- und Versammlungssystem mit
    verbesserter Installation und Projektorsteuerung +++</h4>
<br>
<p><em>Osnabrück, 26. Juli 2012</em></p>


<p>OpenSlides, das freie Präsentations- und Versammlungssystem, ist
nach 8-monatiger Entwicklungsarbeit in der Version 1.2 erschienen. Die
Software kann auf der Website <a
    href="http://www.openslides.org/">http://www.openslides.org/</a>
kostenlos heruntergeladen werden.</p>

<p>Es gibt zahlreiche Neuerungen in OpenSlides 1.2:</p>

<p>Veranstaltungsleiter können beispielsweise den Projektor über ein
eigene Dashboard-Seite steuern. Alle Folien (zu Tagesordnung, Anträgen
und Wahlen) werden dort übersichtlich aufgelistet. Eine verkleinerte
Projektor-Live-Ansicht zeigt immer die aktuell ausgewählte Folie an.
Neue benutzerdefinierte Folien und Overlay-Nachrichten ermöglichen ein
flexibles Reagieren auf außerplanmäßige oder organisatorische Themen
abseits der offiziellen Tagesordnung.</p>

<p>Die Installation unter Windows hat sich mit OpenSlides 1.2
wesentlich vereinfacht: Der OpenSlides-Server ist als portable Version
direkt startbar. Es ist keine Installation mehr erforderlich.</p>

<p>Eine vollständige Übersicht aller in OpenSlides 1.2 enthaltenen
Änderungen sind im <a
    href="http://dev.openslides.org/browser/CHANGELOG">Changelog</a>
zu finden.</p>

<p>Der Freie Softwaredienstleister Intevation GmbH unterstützt die
Weiterentwicklung von OpenSlides und bietet, erstmalig mit OpenSlides
1.2, professionelle <a href="{% url pricing %}">Supportpakete</a> für
Veranstalter an, die OpenSlides einsetzen wollen.</p>

<p>"Seit Veröffentlichung von OpenSlides im September 2011 haben
bereits verschiedene Verbände und Parteien OpenSlides erfolgreich
eingesetzt.  Deren Rückmeldungen und Verbesserungsvorschläge haben wir
in die Entwicklung von OpenSlides 1.2 einfließen lassen.", sagt
Emanuel Schütze, Mitbegründer von OpenSlides und Mitarbeiter der
Intevation GmbH.</p>

<p>OpenSlides ist ein freies, webbasiertes Präsentationssystem für
Versammlungen zur professionellen Darstellung und Steuerung von
Tagesordnung, Anträgen und Wahlen. Die große Stärke der Software ist
die Bearbeitung der Folien über ein Redaktionssystem während der
Präsentationsmodus läuft.  </p>

<p>Hohe Interaktivität schafft OpenSlides durch die Möglichkeit
Teilnehmer mit ihren Mobilgeräten auf gezielte Inhalte von OpenSlides
zugreifen zu lassen. "OpenSlides bietet damit mehr Transparenz in den
demokratischen Prozessen.", sagt Emanuel Schütze.</p>

<p>OpenSlides ist Freie Software, lizensiert unter der GNU GPL v2+.
Der vollständigen Quellcode kann auf der Webseite kostenlos heruntergeladen
werden. OpenSlides ist plattformunabhängig und läuft als
Serveranwendung überall dort, wo Python verfügbar ist (u.a. Windows,
MacOSX, GNU/Linux).</p>


<p>Download und weitere Informationen auf der offiziellen Webseite:<br>
<a href="http://openslides.org">http://openslides.org</a></p>


<p>Ansprechpartner:</p>

<p>Emanuel Schütze<br>
Intevation GmbH<br>
Neuer Graben 17<br>
49074 Osnabrück<br>
E-Mail: emanuel.schuetze@intevation.de<br>
Telefon: 0541-335083-746</p>

{% endblock %}
