{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Presse" %}{% endblock %}
{% block headline %}{% trans "Presse" %}{% endblock %}

{% block submenu_press %}active{% endblock %}


{% block content %}
<p><i><a href="{% url press %}">&laquo; Zurück</a></i></p>

<h3>Pressemitteilung</h3>
<br>
<h4>+++ OpenSlides 1.0 - Neues Präsentationssystem für Veranstaltungen mit Tagesordnungen, Anträgen und Wahlen +++</h4>
<br>
<p><em>Osnabrück, 15. September 2011</em></p>


<p>OpenSlides - ein webbasiertes Präsentationssystem zur Darstellung und
Steuerung von Tagesordnungen, Anträgen und Wahlen auf einer
Veranstaltung - ist nach 10-monatiger Entwicklungszeit in der Version
1.0 als Freie Software erschienen.</p>

<p>Mit OpenSlides können alle Inhalte einer Veranstaltung, wie
Tagesordnung, Antragstexte, Redelisten, Kandidatenlisten, Wahlergebnisse
usw. zeitaktuell an die Leinwand projiziert werden. Die
Versammlungsleitung steuert und bearbeitet diese Inhalte interaktiv.
Außerdem verwaltet OpenSlides die anwesenden Teilnehmer. So kann die
Anwendung leicht Kandidaten für anstehende Wahlen aufstellen,
vorgedruckte Wahlscheine generieren und ausgezählte Wahl- und
Abstimmungsergebnisse anzeigen.</p>

<p>Neu ist vor allem die Funktion, das Plenum mit einzubeziehen: Jeder
Teilnehmer auf einer Veranstaltung hat die Möglichkeit, sich mit dem
eigenen Laptop oder Smartphone per WLAN über den Browser bei OpenSlides
anzumelden. Dabei kann der einzelne Teilnehmer z.B. einen Antrag
einreichen, Anträge anderer Teilnehmer unterstützen, bei anstehenden
Wahlen kandidieren, Kandidaten vorschlagen oder Abstimmungsergebnisse
nachlesen. Beim Teilnehmer muss dazu keine Software installiert werden -
dem Nutzer reicht ein Browser.</p>

<p>OpenSlides ist konzipiert für den Einsatz vor Ort auf Veranstaltungen
wie Delegierten- und Mitgliederversammlungen, Parteitagen und
Hauptversammlungen. Eine Teilnehmerbeschränkung gibt es nicht.</p>

<p>Ein entscheidender Vorteil gegenüber herkömmlichen
Office-Präsentations-Systemen, wie MS PowerPoint oder OpenOffice
Impress, ist die interaktive Bearbeitung der Folien über ein
Redaktionssystem. Der Präsentationsmodus auf dem Beamer muss dafür nicht
verlassen werden und zeigt stets die aktuelle Folie an.</p>

<p>OpenSlides ist Freie Software, lizensiert unter der GNU GPL v2+, und
kann mit dem vollständigen Quellcode auf der Webseite kostenlos
heruntergeladen werden. Die OpenSlides ist plattformunabhängig und läuft
als Serveranwendung überall dort, wo Python verfügbar ist (u.a. Windows,
MacOSX, GNU/Linux).</p>

<p>Download und weitere Informationen auf der offiziellen Webseite:<br>
<a href="http://openslides.org">http://openslides.org</a></p>


<p>Ansprechpartner:</p>

<p>Emanuel Schütze<br>
Intevation GmbH<br>
Neuer Graben 17<br>
49074 Osnabrück<br>
E-Mail: emanuel.schuetze@intevation.de<br>
Telefon: 0541-335083-746</p>

{% endblock %}