{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Presse" %}{% endblock %}
{% block headline %}{% trans "Presse" %}{% endblock %}

{% block submenu_press %}active{% endblock %}

{% block lead %}Die neue Idee von OpenSlides hat Eindruck hinterlassen. 
Lesen Sie, was die Pressestimmen über OpenSlides berichten.{% endblock %}

{% block content %}
<h2>OpenSlides in der Presse</h2>
<ul>
<li><a href="http://www.heise.de/download/openslides-3682916.html">Artikel aus c't 26/2011 zu OpenSlides 1.1</a></li>
<li><a href="http://www.av-views.de/aktuell/archiv/2011/2011-5/thema1.php">Artikel aus AV-views 2011/5 zu OpenSlides 1.1</a></li>
<li><a href="http://www.pro-linux.de/news/1/17504/openslides-10-vorgestellt.html">Pro-Linux-Meldung zu OpenSlides 1.0</a></li>
</ul>

<h2>Pressemitteilungen</h2>
<ul>
<li>2011-09-15:<br>
<a href="{% url pm-20110915 %}">OpenSlides 1.0 - Neues Präsentationssystem für Veranstaltungen mit Tagesordnungen, Anträgen und Wahlen</a></li>
</ul>

<h2>Logos</h2>
    <div class="thumbnails">
        <a class="thumbnail span3" href="/static/img/openslides-logo.png" title="OpenSlides Logo">
          <img alt="Logo" src="/static/img/openslides-logo.png">
        </a>
        <br>
        <a class="thumbnail span3" href="/static/img/openslides-logo_wide75.png" title="OpenSlides Logo">
          <img alt="Logo" src="/static/img/openslides-logo_wide75.png">
        </a>
    </div>
    <br>
    <p><a href="http://dev.openslides.org/browser/extras/logo/">Alle Größen und Varianten des OpenSlides Logos &raquo;</a></p>


<h2>Pressekontakt</h2>

<p><strong>Emanuel Schütze</strong><br>
Intevation GmbH<br>
Neuer Graben 17<br>
49074 Osnabrück<br>
E-Mail: emanuel.schuetze@intevation.de<br>
Telefon: 0541-335083-746</p>


{% endblock %}