{% extends "base_about.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Referenzen" %}{% endblock %}
{% block headline %}{% trans "Referenzen" %}{% endblock %}

{% block submenu_references %}active{% endblock %}

{% block lead %}
Auf zahlreichen Veranstaltungen war OpenSlides bereits erfolgreich im Einsatz.
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span9">
     <p>Hier eine Auswahl. Ergänzungen bitte an 
     <a href="mailto:support@openslides.org">support@openslides.org</a> senden!</p>
     <ul>
     <li>Bundesversammlung der <a class="reference external" href="http://www.bundes-esg.de">Evangelischen StudentInnengemeinde in der
     Bundesrepublik Deutschland (ESG)</a></li>
     <li>Mitgliederversammlung der <a class="reference external" href="http://aej-online.de">Arbeitsgemeinschaft der Evangelischen Jugend in Deutschland e. V. (aej)</a></li>
     <li>Parteitage der <a class="reference external" href="http://www.piratenpartei.de">Piratenpartei Deutschland</a> (Bundes- Landes-, Kreisparteitage)</li>
     <li>Landesparteitag von <a class="reference external" href="http://hamburg.gruene.de/">BÜNDNIS 90/DIE GRÜNEN Landesverband Hamburg</a></li>
     <li>...</li>
     </ul>
    </div>
  </div>
{% endblock %}
