{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - Support{% endblock %}
{% block headline %}Support{% endblock %}

{% block mainmenu_support %}active{% endblock %}
 
{% block lead %}
Die Intevation GmbH bietet Ihnen professionellen Support beim Einsatz von OpenSlides auf Ihrer Veranstaltung an.
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>OpenSlides Professional Pakete</h1>
  </div>
  <div class="row">
    <div class="span3">
        <h3>Paket 1</h3>
        <p>TODO</p>
        <p><a class="btn" href="#">Details &raquo;</a></p>
    </div>
    <div class="span3">
        <h3>Paket 2</h3>
        <p>TODO</p>
        <p><a class="btn" href="#">Details &raquo;</a></p>
    </div>
    <div class="span3">
        <h3>Paket 3</h3>
        <p>TODO</p>
        <p><a class="btn" href="#">Details &raquo;</a></p>
    </div>
    <div class="span3">
        <h3>Paket 4</h3>
        <p>TODO</p>
        <p><a class="btn" href="#">Details &raquo;</a></p>
    </div>
  </div>
{% endblock %}