{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans 'Bestellbestätigung' %}{% endblock %}
{% block headline %}{% trans 'Vielen Dank!' %}{% endblock %}

{% block mainmenu_pricing %}active{% endblock %}
 
{% block lead %}
{% blocktrans %}Vielen Dank für die Bestellung Ihres OpenSlides-Supportpakets! 
Ihre Bestellung wird bearbeitet. Sie erhalten in Kürze eine Antwort.
Ein USB-Stick mit Ihrer individuell OpenSlides-Installation wird
erstellt und Ihnen per Post zugeschickt.{% endblocktrans %}
{% endblock %}

{% block content %}
<p>{% trans 'Sollten Sie noch Fragen haben, melden Sie sich gerne!' %}</p>
{% endblock %}
