<div class="form-wrapper">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
        <h3>{{ 'Enter your email to send the password reset link' | translate }}</h3>
        <mat-form-field>
            <input
                matInput
                required
                placeholder="{{ 'Email' | translate }}"
                formControlName="email"
                type="email"
                autocomplete="off"
            />
            <mat-error *ngIf="resetPasswordForm.get('email').invalid">
                {{ 'Please enter a valid email address!' | translate }}
            </mat-error>
        </mat-form-field>
        <br />
        <button
            type="submit"
            mat-raised-button
            color="accent"
            class="submit-button"
            [disabled]="resetPasswordForm.invalid"
        >
            {{ 'Reset password' | translate }}</button
        >&nbsp;
        <button type="button" mat-button routerLink="/login">{{ 'Back' | translate }}</button>
    </form>
</div>
