<os-head-bar appName="Files" plusButton=true [menuList]=extraMenu (plusButtonClicked)=onPlusButton() (ellipsisMenuItem)=onEllipsisItem($event)>
</os-head-bar>


<mat-table class='os-listview-table on-transition-fade' [dataSource]="dataSource" matSort>
    <!-- name column -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell (click)='selectFile(file)' *matCellDef="let file"> {{file.title}} </mat-cell>
    </ng-container>

    <!-- prefix column -->
    <ng-container matColumnDef="info">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
        <mat-cell (click)='selectFile(file)' *matCellDef="let file">
            {{file.type}}
            <br>
            {{file.size}}
        </mat-cell>
    </ng-container>
    <!-- prefix column -->
    <ng-container matColumnDef="download">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Download </mat-header-cell>
        <mat-cell (click)="download(file)" *matCellDef="let file">
            <mat-icon>save_alt</mat-icon>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['title', 'info', 'download']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['title', 'info', 'download']"></mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>
