<os-head-bar>
    <div class="title-slot">
        <h2>{{ 'Autopilot' | translate }}</h2>
    </div>
</os-head-bar>
<div class="content-container">
    <!-- Title Card -->
    <mat-card class="os-card">
        <h1 class="line-and-icon">
            {{ title }}
            <a
                mat-icon-button
                [disabled]="!viewModelUrl"
                [class.disabled]="!viewModelUrl"
                [routerLink]="viewModelUrl"
                [state]="{ back: 'true' }"
            >
                <mat-icon>open_in_new</mat-icon>
            </a>
        </h1>
    </mat-card>

    <!-- List of speakers -->
    <os-list-of-speakers-content
        [customTitle]="true"
        [speakers]="listOfSpeakers"
        *osPerms="permission.agendaCanSeeListOfSpeakers; and: listOfSpeakers"
    >
        <p class="line-and-icon subtitle-text">
            <a [routerLink]="closUrl" [class.disabled]="!closUrl">
                {{ 'List of speakers' | translate }}
            </a>

            <ng-container *osPerms="permission.agendaCanManageListOfSpeakers; complement: true">
                <mat-icon *ngIf="isLosClosed" matTooltip="{{ 'The list of speakers is closed.' | translate }}">
                    lock
                </mat-icon>
            </ng-container>

            <button
                *osPerms="permission.agendaCanManageListOfSpeakers"
                mat-icon-button
                (click)="toggleListOfSpeakersOpen()"
            >
                <mat-icon *ngIf="isLosClosed" matTooltip="{{ 'The list of speakers is closed.' | translate }}">
                    lock
                </mat-icon>

                <mat-icon *ngIf="!isLosClosed" matTooltip="{{ 'The list of speakers is open.' | translate }}">
                    lock_open
                </mat-icon>
            </button>
        </p>
    </os-list-of-speakers-content>

    <os-poll-collection [currentProjection]="projectedViewModel"></os-poll-collection>

    <!-- Projector -->
    <mat-card class="os-card spacer-bottom-60">
        <p class="subtitle-text">{{ projectorTitle | translate }}</p>
        <a [routerLink]="projectorUrl" [target]="projectionTarget">
            <div class="projector">
                <os-projector *ngIf="projector" [projector]="projector"></os-projector>
            </div>
        </a>
    </mat-card>
</div>
