h3 {
    margin-top: 0;
    font-weight: normal;
}

mat-form-field {
    width: 100%;
}

.submit-button {
    margin-top: 30px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

form {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 400px;
}
