.lastSpeakers {
    color: #9a9898;
    margin-left: 33px;
    margin-bottom: 10px;
}

.currentSpeaker {
    font-weight: bold;
    margin: 20px 0 16px;

    .mat-icon,
    span {
        vertical-align: middle;
    }
    span {
        padding-left: 8px;
    }
}

.nextSpeakers {
    margin: 0;
    padding-left: 6px;

    li {
        list-style-position: inside;
        line-height: 150%;
    }
}
