/**
 * OpenSlides projector view style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

body{
    font-size: 20px !important;
    line-height: 24px !important;
    overflow: hidden;
}

/*** HEADER ***/
#header {
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -ms-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    height: 70px;
    margin-bottom: 20px;
    padding: 7px 20px 0;
    position: relative;
}
#logo {
    position: absolute;
    top: 8px;
    left: 75px;
}

#currentTime {
    border:0 solid #000000;
    font-size:24px;
    position:absolute;
    text-align:right;
    top:110px;
    right:40px;
    padding-left:30px;
    background: url(../img/glyphicons_054_clock_big.png) no-repeat scroll 0px 0px;
}

/*** FOOTER ***/
#footer {
    color: #999999;
    font-size: 16px;
    clear: both;
    margin-top: 50px;
    position: fixed;
    left: 0px;
    right: 0;
    bottom: 0px;
    height: 30px;
    padding-top: 10px;
    background-color: #333333;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -ms-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    border-top: 1px solid #999999;

}
.event_name_description {
    left: 75px;
    float: left;
    position: absolute;
    width: 50%;
}
.event_date_location {
    text-align: right;
    right: 40px;
    position: absolute;
    width: 40%;
}

/*** CONTENT ***/
#content {
    position: absolute;
    left: 75px;
    top: 150px;
    right: 40px;
    z-index: -1;
}
h1 {
    font-size: 45px !important;
    margin-bottom: 40px !important;
}
#sidebar {
    width: 255px;
    float: right;
    margin: 0 0 20px 10px;
}
.well h4 {
    margin: 20px 0 2px 0;
}
.well h4 .first {
    margin-top: 0;
}

.well .results {
    line-height: 30px;
}
.results.big {
    font-size: 120%;
    line-height: 40px;
}
.results .bold {
    font-weight: bold;
}
.well .results hr {
    margin: 5px 0 !important;
}

hr {
    margin: 10px 0 !important;
}


/*** OVERLAY ***/
#overlay_transparent {
    background-color: #777777;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*** Agenda Items ***/
.itemlist
{
    margin-top: 20px;
}
.itemlist li
{
    font-size:130%;
    padding-bottom: 20px;
    list-style-type: none;
}
.itemlist .closed
{
    color: #9FA9B7;
    list-style-type: none;
}


/* Table */
table {
    border-collapse:collapse;
    border-color:#CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-style:solid none solid solid;
    border-width:1px medium 1px 1px;
    margin:0;
    border-spacing:0px;
}
table th {
    border-right:1px solid #CCCCCC;
    color:#333333;
    font-weight:normal;
    padding:10px 10px 10px 10px;
    text-align:left;
    text-transform:uppercase;
}
table tr.odd td {
    background:none repeat scroll 0 0 #F1F1F1;
}
table td {
    background:none repeat scroll 0 0 #F7F7F7;
    border-right:1px solid #CCCCCC;
    line-height:120%;
    padding: 10px 10px;
    vertical-align:middle;
}
tr.total td {
    border-top: 1px solid #333333;
    background-color: #e3e3e3;
}
td.elected {
    background-color: #BED4DE !important;
}
