<os-head-bar [mainButton]="true" [nav]="false" [editMode]="editGroup"
    (mainEvent)="setEditMode(!editGroup)" (saveEvent)="saveGroup()">
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="!editGroup && !newGroup" translate>Groups</h2>

        <form *ngIf="editGroup" [formGroup]="groupForm" (ngSubmit)="saveGroup()" (keydown)="keyDownFunction($event)">
            <mat-form-field>
                <input type="text" matInput osAutofocus required formControlName="name"
                    placeholder="{{ 'New group name' | translate}}">
                <mat-error *ngIf="groupForm.invalid" translate>Required</mat-error>
            </mat-form-field>
        </form>
    </div>

    <!-- remove button button -->
    <div class="extra-controls-slot on-transition-fade">
        <button *ngIf="editGroup && !newGroup" type="button" mat-button (click)="deleteSelectedGroup()">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>

</os-head-bar>

<div class="hint-text on-transition-fade">
    <span translate>All your changes are saved immediately.</span>
</div>

<mat-accordion *ngFor="let app of repo.appPermissions">
    <mat-expansion-panel class="mat-elevation-z0" [expanded]=true>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ app.name | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="scrollable-perm-matrix">
            <table mat-table class="on-transition-fade" [dataSource]="getTableDataSource(app.permissions)">
                <ng-container matColumnDef="perm" sticky>
                    <mat-header-cell *matHeaderCellDef translate>Permissions</mat-header-cell>
                    <mat-cell *matCellDef="let perm">
                        {{ perm.display_name | translate }}
                    </mat-cell>
                </ng-container>

                <div *ngFor="let group of groups; trackBy: trackByIndex">
                    <ng-container [matColumnDef]="group.name">
                        <mat-header-cell class="group-head-table-cell" *matHeaderCellDef (click)="selectGroup(group)">
                            <div class="inner-table">
                                {{ group.name | translate }}
                            </div>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let perm">
                            <div class="inner-table">
                                <mat-checkbox *ngIf="group.id !== 2" [checked]="group.hasPermission(perm.value)"
                                    (change)="togglePerm(group, perm.value)"></mat-checkbox>
                                <mat-checkbox *ngIf="group.id === 2" [checked]="true" [disabled]="true"></mat-checkbox>
                            </div>
                        </mat-cell>
                    </ng-container>
                </div>

                <mat-header-row *matHeaderRowDef="headerRowDef"></mat-header-row>
                <mat-row *matRowDef="let row; columns: headerRowDef"></mat-row>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>
