{% load tags %}
{% load i18n %}
{% load staticfiles %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}{% get_config 'event_name' %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/base.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png" />
    <script type="text/javascript" src="{% static 'javascript/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/utils.js' %}"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <a href="/" title="{% trans 'Home' %}"><div id="logo"><img src="{% static 'images/logo.png' %}"></div></a>
        <div id="header_title">{% get_config 'event_name' %}</div>
        <div id="header_subtitle">{% get_config 'event_description' %}</div>
        <div id="header_userprofile">
            <ul>
            {% if user.is_authenticated %}
                <li>|<a href="{% url user_logout %}">{% trans "Logout" %}</a></li>
                {% url user_settings as url_usersettings %}
                <li>|<a href="{% url user_settings %}">{% if request.path == url_usersettings %}<strong>{% endif %}{% trans "User Settings" %}{% if request.path == url_usersettings %}</strong>{% endif %}</a></li>
                <li>{% trans "Welcome" %}, <strong>{{ user.username }}</strong></li>
            {% else %}
                <li><a href="{% url user_login %}">{% trans "Login" %}</a></li>
            {% endif %}
            </ul>
        </div>

        <div id="mainmenu">
           {% block mainmenu %}
            <ul>
                {% for tab in tabs %}
                    {% if tab.permission %}
                    <li{% if tab.selected%} class="selected"{% endif %}>
                        <a href="{{ tab.url }}">{{ tab.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </div>

    <div id="wrapper">
        <div id="content">
            <div id="notifications">
                <div id="dummy-notification" class="notification" style="display:none">
                    <a class="close" href="#">
                    <img alt="close" title="{% trans 'Close this notification' %}" src="{% static 'images/icons/cross.png' %}">
                    </a>
                    <em></em>
                </div>
                {% for message in messages %}
                <div class="notification {% if message.tags %}{{ message.tags }}{% endif %}">
                    <a class="close" href="#">
                    <img alt="close" title="{% trans 'Close this notification' %}" src="{% static 'images/icons/cross.png' %}">
                    </a>
                    <em>{{ message|safe }}</em>
                </div>
                {% endfor %}
                <script>
                    $("div.notification").click(function () {
                        $(this).slideUp("fast");
                    });
                </script>
            </div>
            {% block content %}
            {% endblock %}
            <div id="footer">
                <small>
                &copy; Copyright 2011-2012 | Powered by <a href="http://openslides.org" target="_blank">OpenSlides</a> | {% trans "Get <a href='http://openslides.org/support' target='_blank'>professional support</a> for OpenSlides." %}
                </small>
            </div>
        </div>
    </div> <!-- end wrapper -->

    <div id="submenu">
        <div class="section">
            {% block submenu %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
