{% for field in form %}
    <div class="control-group {% if field.errors %}error{% endif%}">
        <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}:</label>
        {{ field }}
        {% if field.errors %}
            <span class="help-inline">{{ field.errors }}</span>
        {% endif %}
        {% if field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
        {% endif %}
    </div>
{% endfor %}
