<h2 mat-dialog-title>New change recommendation</h2>
<mat-dialog-content>
    <form class="motion-content" [formGroup]='contentForm' (ngSubmit)='saveChangeRecommendation()'>
        <h3>Change from line {{ lineRange.from }} to {{ lineRange.to }}:</h3>

        <mat-radio-group #rGroup formControlName="diffType">
            <mat-radio-button *ngFor="let radio of replacementTypes" [value]="radio.value">{{ radio.title }}</mat-radio-button>
        </mat-radio-group>

        <!-- The HTML Editor -->
        <h4 translate>Changed version</h4>
        <editor
            formControlName='text'
            [init]="tinyMceSettings"
        ></editor>

        <mat-checkbox formControlName="public">{{ 'Public' | translate }}</mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>
        <span translate>Cancel</span>
    </button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="saveChangeRecommendation()">
        <span translate>Save</span>
    </button>
</mat-dialog-actions>
