<table class="imageTable">
  <tr>
    <td style="width: 55%; border-right: 2px solid #ddd">
      <div id="imageBrowser"></div>
    </td>
    <td style="width: 45%;">
      <div id="imagePreviewSection" class="hidden">
        <div id="imagePreview">
          <div id="fullSizeContainer">
            <img src=""/>
          </div>
        </div>
        <div>
          <span id="scaleLabel"></span>
        </div>
        <div>
          <input type="number" id="image-scale" class="cke_dialog_ui_input_text"> %
        </div>
        <div id="originalSizeText"></div>
      </div>
    </td>
  </tr>
</table>
