<div ng-controller="SlideMediafileCtrl" class="content" ng-class="{'fullscreen': element.fullscreen, 'video-container': element.is_video}">
    <!-- PDF -->
    <ng-pdf ng-if="mediafile.is_pdf" template-url="/static/templates/mediafiles/slide_mediafile_partial.html"
         ng-attr-scale="{{ element.scale }}"
         ng-attr-page="{{ element.page }}">
    </ng-pdf>

    <!-- Image -->
    <img ng-if="mediafile.is_image && !element.fullscreen" class='projector-image rotate{{element.rotate}}'
        ng-src='{{mediafile.mediafileUrl}}'></img>
    <div ng-if="mediafile.is_image && element.fullscreen" class='projector-image rotate{{element.rotate}}'
        style='background-image: url("{{mediafile.mediafileUrl}}")'></div>

    <!-- Video -->
    <div ng-if="mediafile.is_video" class='video-container'>
        <video id='video-player' ng-src="{{mediafile.mediafileUrl}}"></video>
    </div>
</div>
