<os-head-bar prevUrl="../.." [nav]="false" [hasMainButton]="canEdit" (mainEvent)="onPlusButton()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Motion blocks' | translate }}</h2>
    </div>
</os-head-bar>

<os-list-view-table
    class="block-list"
    [vScrollFixed]="64"
    [listObservableProvider]="repo"
    [showFilterBar]="true"
    [columns]="tableColumnDefinition"
    [sortService]="sortService"
    [multiSelect]="isMultiSelect"
    listStorageKey="motionBlock"
    [(selectedRows)]="selectedRows"
    [filterProps]="filterProps"
    (dataSourceChange)="onDataSourceChange($event)"
>
    <!-- Title column -->
    <div *pblNgridCellDef="'title'; value as title; row as block; rowContext as rowContext" class="cell-slot fill">
        <a class="detail-link" [routerLink]="block.id" *ngIf="!isMultiSelect"></a>
        <!--
        TODO: Tooltips do not work when hidden under the absolute link, but they can't be above it either,
        because for some reason they don't delegate the click event. So no tooltips for now
        -->
        <div class="innerTable">
            <os-icon-container
                [noWrap]="true"
                [icon]="block.isFinished ? 'check' : block.internal ? 'lock' : null"
                size="large"
                [iconTooltip]="block.isFinished ? 'Finished' : block.internal ? 'Internal' : ('' | translate)"
            >
                <os-icon-container
                    [noWrap]="true"
                    icon="lock"
                    size="large"
                    [showIcon]="block.isFinished && block.internal"
                    [iconTooltip]="'Internal' | translate"
                >
                    <div class="ellipsis-overflow">
                        {{ title }}
                    </div>
                </os-icon-container>
            </os-icon-container>
        </div>
    </div>

    <!-- Amount -->
    <div *pblNgridCellDef="'amount'; row as block" class="cell-slot fill">
        <span class="os-amount-chip" matTooltip="{{ 'Motions' | translate }}">{{ block.motions.length }}</span>
    </div>

    <!-- Menu -->
    <div *pblNgridCellDef="'menu'; row as block" class="cell-slot fill">
        <button
            mat-icon-button
            [disabled]="isMultiSelect"
            [matMenuTriggerFor]="singleItemMenu"
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ block: block }"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list-view-table>

<!-- Menu for mobile entries -->
<mat-menu #singleItemMenu="matMenu">
    <ng-template matMenuContent let-block="block">
        <os-projector-button [object]="block" [menuItem]="true"></os-projector-button>
        <os-speaker-button [object]="block" [menuItem]="true"></os-speaker-button>
    </ng-template>
</mat-menu>

<!-- Template for new motion block dialog -->
<ng-template #newMotionBlockDialog>
    <h1 mat-dialog-title>
        <span>{{ 'New motion block' | translate }}</span>
    </h1>
    <form [formGroup]="createBlockForm" (keydown)="onKeyDown($event)">
        <div mat-dialog-content>
            <!-- Title -->
            <mat-form-field>
                <input formControlName="title" matInput placeholder="{{ 'Title' | translate }}" required />
                <mat-error *ngIf="createBlockForm.get('title').hasError('required')">
                    {{ 'A title is required' | translate }}
                </mat-error>
            </mat-form-field>

            <!-- Internal -->
            <p>
                <mat-checkbox formControlName="internal"
                    ><span>{{ 'Internal' | translate }}</span></mat-checkbox
                >
            </p>

            <os-agenda-content-object-form [form]="createBlockForm"></os-agenda-content-object-form>
        </div>
    </form>
    <div mat-dialog-actions>
        <button mat-button [disabled]="!createBlockForm.valid" [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
