@import "projector-container";

/* Template styles for OpenSlides projector */
html, body {
    height: 100%;
}

body {
    font-family: $font, sans-serif;
    font-size: 20px !important;
    line-height: 24px !important;
    overflow: hidden;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-family: $font-condensed, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.25em;
    line-height: 1.1em;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-top: 15px;
    display: block;
    color: #9a9898;
}

h3 {
    color: #222;
    margin-bottom: 10px
}

ul, ol {
    margin: 0 0 10px 0;
}

hr {
    margin: 10px 0;
}

#header {
    font-family: $font-condensed-light;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    height: 70px;
    margin-bottom: 20px;
}

#logo {
    position: relative;
    left: 50px;
    top: 10px;
    height: 50px;
    margin-right: 25px;
    float: left;
}

#eventdata {
    position: relative;
    left: 50px;
    top: 12px;
    height: 50px;
    overflow: hidden;

    .title {
        font-size: 26px;
        font-weight: bold;

        &.titleonly {
            position: relative;
            top: 12px;
        }
    }

    .description {
        font-size: 18px;
        opacity: 0.8;
    }
}

#currentTime {
    font-family: $font-condensed-light;
    border: 0 solid #000000;
    font-size: 24px;
    position: absolute;
    text-align: right;
    top: 23px;
    right: 50px;
    padding-left: 30px;
}

#footer {
    font-family: $font-condensed-light;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    overflow: hidden;
    text-align: right;

    span {
        opacity: 0.8;
    }
}

/* Content */
.content {
    position: absolute;
    left: 50px;
    right: 50px;
    z-index: -1;
    line-height: 1.5em;

    img {
        max-width: 65%;
        height: auto;
    }
}

.scrollcontent {
    transition-property: margin;
    transition-duration: 1s;
}

.zoomcontent {
    transition-property: font-size;
    transition-duration: 1s;
}

.fullscreen {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;

    canvas {
        margin: auto;
        display: block !important;
    }
}

#title {
    border-bottom: 5px solid #d3d3d3;
    margin-bottom: 40px;

    h1 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/* Overlays: countdown and message */
.countdown {
    min-width: 260px;
    position: relative;
    margin: 0 0 10px 10px;
    top: 0px;
    right: 0px;
    padding: 26px 45px 7px 19px;
    min-height: 72px;
    font-family: $font-condensed, sans-serif;
    font-size: 3.7em;
    font-weight: bold;
    text-align: right;
    border-radius: 7px 7px 7px 7px;
    z-index: 320;

    .description {
        font-weight: normal;
        font-size: 18px;
        margin-top: 20px;
        padding-right: 6px;
    }

    &.warning {
        color: #ed940d;
    }

    &.negative {
        color: #CC0000;
    }
}

.message_background {
    background-color: #777777;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}
.message {
    font-family: $font-condensed, sans-serif;
    font-weight: normal;
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 0.2em;
    background: #FFFFFF;
    font-size: 2.75em;
    padding: 0.2em 0;
    line-height: normal !important;
    z-index: 350;
}
.identify {
    background-color: #D9F8C4;
    z-index: 400;
}

/* Table style */
.table {
    border-collapse:collapse;
    border-color:#CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-style:solid none solid solid;
    border-width:1px medium 1px 1px;
    margin:0;
    border-spacing:0px;

    th {
        border-right:1px solid #CCCCCC;
        color:#333333;
        font-weight:normal;
        padding:10px 10px 10px 10px;
        text-align:left;
        text-transform:uppercase;
    }

    tr.odd td {
        background:none repeat scroll 0 0 #F1F1F1;
    }

    td {
        background:none repeat scroll 0 0 #F7F7F7;
        border-right:1px solid #CCCCCC;
        line-height:120%;
        padding: 10px 10px;
        vertical-align:middle;
    }

    tr.total td {
        border-top: 1px solid #333333;
        background-color: #e3e3e3;
    }

    tr.elected td {
        background-color: #BED4DE !important;
    }
}

.transparentTable td {
    background-color: transparent;
    padding-right: 10px;
}
