/* search results */
.searchresults li {
    margin-bottom: 12px;
}
.searchresults h3 {
    margin-bottom: 3px;
    padding-bottom: 0;
}
.searchresults .hits {
    margin-bottom: 10px;
    color: #999999;
    font-size: 85%;
}
