.agenda-slide-wrapper {
    .item {
        line-height: 34px;
    }

    .item + .item {
        margin-top: 10px;
    }

    .mainitem {
        font-size: 110%;
    }

    .subitem {
        font-size: 90%;
    }
}
