/**
 * OpenSlides website style
 *
 * :copyright: 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */
body {
    padding-top: 85px;
}
.navbar .nav > li > a {
    color: #cccccc;
    font-size: 14px;
}
.navbar .nav.pull-right > li > a {
    font-size: 11px;
}
.hero-unit {
    margin-top: -15px;
    padding: 40px 60px;
}
.subhead {
    margin-bottom: 9px;
    padding-bottom: 0;
}
.subhead h1 {
    font-size: 50px;
}
.jumbotron {
    position: relative;
}
.jumbotron h1 {
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}
.jumbotron p {
    font-weight: 300;
    margin-bottom: 18px;
}
.jumbotron.btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}
.btn-large small {
    font-size: 14px;
}
.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
    width: 938px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}

footer {
    background: none repeat scroll 0 0 #252525;
    border-top: 0 none;
    margin-top: 19px;
    padding: 19px 0;
}
footer h4 {
    color: #999999;
}
footer p {
    color: #999999;
}
footer a {
    color: #FFFFFF;
}
footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
.errorlist li {
    color: #DA3939;
    font-size: 9px;
    font-style: italic;
    height: 13px;
    padding: 0;
}
form .error {
    color: #DA3939;
    font-weight: bold;
}
form p.error {
    margin-top: 0;
}
form .error input, form .error textarea {
    border: 1px solid #DA3939;
}
.price {
    font-size: 21px;
    font-style: italic;
    margin: 10px 0;
}
.packagetable th {
    vertical-align: top !important;
}
.packagetable td, .packagetable th {
    text-align: center;
}
.packagetable td.leftcolumn {
    text-align: left;
}
.packagetable small {
    color: #999999;
    display: block;
    line-height: 18px;
    font-size: 11px;
}

.references .thumbnail {
    float: left;
    margin-right: 20px;
}
