@import '~assets/styles/variables.scss';
@import '~assets/styles/poll-colors.scss';

.assignment-result-wrapper {
    margin-top: 2em;
    display: grid;
    grid-gap: 10px;

    .assignment-result-table {
        border-collapse: collapse;

        th {
            text-align: left;
            font-weight: initial;
        }

        tr {
            height: 48px;
        }

        tr:last-child {
            border-bottom: none;
        }

        tr.sums {
            border-bottom: none;
            td {
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }

        .user + .sums {
            td {
                padding-top: 4em;
            }
        }
    }

    .pie-chart {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.single-vote-result + .single-vote-result {
    margin-top: 1em;
}

.named-result-table {
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .single-votes-table {
        display: block;
        height: 500px;
    }

    .vote-field {
        text-align: center;
        width: 100%;
        padding-right: 12px;
    }
}

.assignment-poll-meta {
    display: grid;
    text-align: right;
    padding-top: 20px;
}

.voted-yes {
    color: $votes-yes-color;
}

.voted-no {
    color: $votes-no-color;
}

.voted-abstain {
    color: $votes-abstain-color;
}

// theme
.openslides-theme .pbl-ngrid-row:hover {
    background-color: #f9f9f9;
}

.openslides-theme os-list-view-table os-sort-filter-bar .custom-table-header {
    &,
    .action-buttons .input-container input {
        background: white;
    }
}

.openslides-theme .pbl-ngrid-no-data {
    top: 10%;
}

.openslides-theme .pbl-ngrid-header-cell:first-child {
    & {
        overflow: visible;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        height: 100%;
        border-right: 1px solid #e0e0e0;
    }
}
