<os-head-bar [goBack]="true" [nav]="false">
    <div class="title-slot">
        <h2 *ngIf="!!poll">{{ poll.title }}</h2>
    </div>

    <div class="menu-slot" *osPerms="'assignments.can_manage_polls'">
        <button type="button" mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <ng-container [ngTemplateOutlet]="viewTemplate"></ng-container>
</mat-card>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    <ng-container *ngIf="isReady">
        <h1>{{ poll.title }}</h1>
        <span *ngIf="poll.type !== 'analog'">{{ poll.typeVerbose | translate }}</span>

        <div *ngIf="poll.stateHasVotes">
            <h2 translate>Result</h2>

            <div class="result-wrapper">
                <!-- Result Table -->
                <mat-table class="result-table" [dataSource]="poll.tableData">
                    <ng-container matColumnDef="user" sticky>
                        <mat-header-cell *matHeaderCellDef>{{ 'Candidates' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.user }}</mat-cell>
                    </ng-container>
                    <div *ngIf="!isVotedPoll">
                        <ng-container matColumnDef="yes">
                            <mat-header-cell *matHeaderCellDef>{{ 'Yes' | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.yes }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef>{{ 'No' | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.no }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="abstain">
                            <mat-header-cell *matHeaderCellDef>{{ 'Abstain' | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.abstain }}</mat-cell>
                        </ng-container>
                    </div>

                    <div *ngIf="isVotedPoll">
                        <ng-container matColumnDef="votes">
                            <mat-header-cell *matHeaderCellDef>{{ 'Votes' | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.yes }}</mat-cell>
                        </ng-container>
                    </div>

                    <mat-header-row *matHeaderRowDef="columnDefinitionOverview"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnDefinitionOverview"></mat-row>
                </mat-table>

                <!-- Result Chart -->
                <os-charts
                    class="result-chart"
                    *ngIf="chartDataSubject.value"
                    [type]="chartType"
                    [labels]="candidatesLabels"
                    [data]="chartDataSubject"
                    [hasPadding]="false"
                    [legendPosition]="isVotedPoll ? 'right' : 'top'"
                ></os-charts>
            </div>

            <!-- Single Votes Table -->
            <ng-container class="named-result-table" *ngIf="poll.type === 'named'">
                <h3>{{ 'Single votes' | translate }}</h3>
                <os-list-view-table
                    *ngIf="votesDataObservable"
                    [listObservable]="votesDataObservable"
                    [columns]="columnDefinitionSingleVotes"
                    [filterProps]="filterProps"
                    [allowProjector]="false"
                    [fullScreen]="false"
                    [vScrollFixed]="isVotedPoll ? -1 : 60"
                    listStorageKey="assignment-poll-vote"
                    [cssClasses]="{ 'single-votes-table': true }"
                >
                    <!-- Header -->
                    <div *pblNgridHeaderCellDef="'user'; col as col">
                        {{ col.label | translate }}
                    </div>
                    <div *pblNgridHeaderCellDef="'*'; col as col">
                        {{ col.label | translate }}
                    </div>

                    <!-- Content -->
                    <div *pblNgridCellDef="'user'; row as vote">
                        <b *ngIf="vote.user">{{ vote.user.getFullName() }}</b>
                        <b *ngIf="!vote.user">{{ 'Anonymous' | translate }}</b>
                    </div>
                    <!-- Y/N/(A) -->
                    <ng-container *ngIf="poll.pollmethod !== AssignmentPollMethods.Votes">
                        <ng-container *ngFor="let option of poll.options">
                            <div
                                *pblNgridCellDef="'votes-' + option.user_id; row as vote"
                                [ngClass]="voteOptionStyle[vote.votes[option.user_id].value].css"
                                class="vote-field"
                            >
                                <mat-icon> {{ voteOptionStyle[vote.votes[option.user_id].value].icon }}</mat-icon> {{ vote.votes[option.user_id].valueVerbose | translate }}
                            </div>
                        </ng-container>
                    </ng-container>
                    <!-- Votes method -->
                    <ng-container *ngIf="poll.pollmethod === AssignmentPollMethods.Votes">
                        <div *pblNgridCellDef="'votes'; row as vote">
                            <div *ngFor="let candidate of vote.votes">{{ candidate }}</div>
                        </div>
                    </ng-container>
                </os-list-view-table>
                <div *ngIf="!votesDataObservable">
                    {{ 'The individual votes were anonymized.' | translate }}
                </div>
            </ng-container>
        </div>

        <!-- Meta Infos -->
        <div class="poll-content small">
            <div *ngIf="poll.groups && poll.type && poll.type !== 'analog'">
                {{ 'Groups' | translate }}:

                <span *ngFor="let group of poll.groups; let i = index">
                    {{ group.getTitle() | translate }}<span *ngIf="i < poll.groups.length - 1">, </span>
                </span>
            </div>

            <div>{{ 'Required majority' | translate }}: {{ poll.majorityMethodVerbose | translate }}</div>
            <div>{{ '100% base' | translate }}: {{ poll.percentBaseVerbose | translate }}</div>
        </div>
    </ng-container>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <os-projector-button [menuItem]="true" [object]="poll" *osPerms="'core.can_manage_projector'"></os-projector-button>
    <button *osPerms="'assignments.can_manage_polls'" mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span translate>Edit</span>
    </button>
    <button
        mat-menu-item
        *osPerms="'assignments.can_manage_polls'; and: poll && poll.type === 'named'"
        (click)="pseudoanonymizePoll()"
    >
        <mat-icon>warning</mat-icon>
        <span translate>Anonymize votes</span>
    </button>
    <mat-divider></mat-divider>
    <button *osPerms="'assignments.can_manage_polls'" mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span translate>Delete</span>
    </button>
</mat-menu>
