@import '~assets/styles/variables.scss';
@import '~assets/styles/poll-colors.scss';

.assignment-result-wrapper {
    .assignment-result-table {
        margin-top: 2em;
        display: block;
        overflow-x: auto;
        border-collapse: collapse;

        th {
            font-weight: initial;
        }

        tr {
            height: 48px;

            td:first-child {
                padding-right: 1em;
            }
        }

        tr.sums {
            border-bottom: none;
            td {
                padding-top: 1em;
                padding-bottom: 1em;
            }
        }

        .result {
            text-align: right;
            padding-left: 1em;
        }

        .voting-option {
            min-width: 200px;
            width: 100%;
            text-align: left;
        }

        .user + .sums {
            td {
                padding-top: 2em;
            }
        }

        .single-result {
            white-space: pre;
        }
    }

    .chart-wrapper {
        margin-top: 2em;
        .pie-chart {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }

    .named-result-table {
        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }

        .single-votes-table {
            display: block;
            height: 500px;

            .single-vote-result + .single-vote-result {
                margin-top: 1em;
            }
        }

        .vote-field {
            text-align: center;
            width: 100%;
            padding-right: 12px;
        }
    }
}

.assignment-poll-meta {
    display: grid;
    text-align: right;
    padding-top: 20px;
}

.voted-yes {
    color: $votes-yes-color;
}

.voted-no {
    color: $votes-no-color;
}

.voted-abstain {
    color: $votes-abstain-color;
}

// theme
.openslides-theme .pbl-ngrid-row:hover {
    background-color: #f9f9f9;
}

.openslides-theme os-list-view-table os-sort-filter-bar .custom-table-header {
    &,
    .action-buttons .input-container input {
        background: white;
    }
}

.openslides-theme .pbl-ngrid-no-data {
    top: 10%;
}

.openslides-theme .pbl-ngrid-header-cell:first-child {
    & {
        overflow: visible;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -1px;
        height: 100%;
        border-right: 1px solid #e0e0e0;
    }
}
