.mat-dialog-content {
    display: block;
}

.mat-radio-group {
    display: inline-flex;
    flex-direction: column;

    .mat-radio-button {
        margin: 5px;
    }
}

.mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}
