<h2 mat-dialog-title>{{ data.title | translate }}</h2>
<div class="scrollmenu">
    <mat-radio-group
        #radio
        name="choice"
        *ngIf="!data.multiSelect"
        class="choice-radio-group"
        [(ngModel)]="selectedChoice"
    >
        <mat-radio-button class="choice-button" *ngFor="let choice of data.choices" [value]="choice.id">
            {{ getChoiceTitle(choice) | translate }}
        </mat-radio-button>
    </mat-radio-group>

    <mat-list *ngIf="data.multiSelect">
        <mat-list-item *ngFor="let choice of data.choices">
            <mat-checkbox [checked]="isChosen(choice)" (change)="toggleChoice(choice)">
                {{ getChoiceTitle(choice) | translate }}
            </mat-checkbox>
        </mat-list-item>
    </mat-list>

    <span *ngIf="!data.choices.length" translate>No choices available</span>
</div>
<mat-dialog-actions>
    <button *ngIf="!data.multiSelect || data.choices.length" mat-button (click)="closeDialog(true)">
        <span translate>Ok</span>
    </button>
    <button mat-button (click)="closeDialog(false)"><span translate>Cancel</span></button>
</mat-dialog-actions>
