mat-radio-group {
    display: inline-flex;
    flex-direction: column;

    mat-radio-button {
        margin: 5px;
    }
}

.scrollmenu {
    padding: 4px;
    overflow-y: auto;
    display: block;
    overflow-y: auto;
}
