<div ng-if="item" class="header">
  <div class="title">
    <div class="submenu">
      <a ui-sref="agenda.item.list" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        <translate>Agenda</translate>
      </a>
      <a ui-sref="{{ item.content_object.collection.replace('/','.') }}.detail({id: item.content_object.id})" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left fa-lg"></i>
        {{ item.getContentResource().verboseName | translate }}
      </a>
      <!-- project list of speakers -->
      <span class="btn-group" style="min-width:54px;" uib-dropdown
        uib-tooltip="{{ 'Projector' | translate }} {{ item.isListOfSpeakersProjected()[0] || '' }}"
        tooltip-enable="item.isListofSpeakersProjected().length"
        os-perms="core.can_manage_projector">
        <button type="button" class="btn btn-default btn-sm"
          ng-click="item.projectListOfSpeakers(defaultProjectorListOfSpeakersId)"
          ng-class="{ 'btn-primary': inArray(item.isListOfSpeakersProjected(), defaultProjectorListOfSpeakersId)  }">
          <i class="fa fa-video-camera"></i>
          <translate>List of speakers</translate>
        </button>
        <button type="button" class="btn btn-default btn-sm slimDropDown"
          ng-class="{ 'btn-primary': (item.isListOfSpeakersProjected().length && !inArray(item.isListOfSpeakersProjected(), defaultProjectorListOfSpeakersId) ) }"
          ng-if="projectors.length > 1"
          uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-if="projectors.length > 1">
          <li role="menuitem" ng-repeat="projector in projectors | orderBy:'id'">
            <a href="" ng-click="item.projectListOfSpeakers(projector.id)"
              ng-class="{ 'projected': inArray(item.isListOfSpeakersProjected(), projector.id) }">
              <i class="fa fa-video-camera" ng-show="inArray(item.isListOfSpeakersProjected(), projector.id) "></i>
              {{ projector.name | translate }}
              <span ng-if="defaultProjectorListOfSpeakersId == projector.id">(<translate>Default</translate>)</span>
            </a>
          </li>
        </ul>
      </span> 
      <!-- project -->
      <projector-button model="item" default-projector-id="defaultProjectorItemId"
        content="{{ item.getContentResource().verboseName | translate }}">
      </projector-button>
    </div>
    <h1>{{ item.getTitle() }}</h1>
    <h2>
      <translate>List of speakers</translate>
      <span ng-if="item.speaker_list_closed" class="slimlabel label label-danger"
          translate>Closed</span>
    </h2>
  </div>
</div>

<ng-include src="'static/templates/agenda/list-of-speakers-partial-management.html'"></ng-include>
