<h1 translate>Sort agenda</h1>

<div id="submenu">
  <a ui-sref="agenda.item.list" class="btn btn-sm btn-default">
    <i class="fa fa-angle-double-left fa-lg"></i>
    <translate>Back to overview</translate>
  </a>
</div>

<p translate>Drag and drop items to change the order of the agenda. Your modification will be saved directly.</p>

<div ui-tree callbacks="treeOptions">
  <ol ui-tree-nodes="" ng-model="items" id="tree-root">
    <li ng-repeat="item in items" ui-tree-node ng-include="'nodes_renderer.html'">
  </ol>
</div>


<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
    {{ item.item.item_number }}
    {{ item.item.title }}
  </div>
  <ol ui-tree-nodes="" ng-model="item.children">
    <li ng-repeat="item in item.children" ui-tree-node ng-include="'nodes_renderer.html'">
  </ol>
</script>

