<div id="speakerbox">
  <h3 translate>List of speakers</h3>

  <!-- Last speakers -->
  <p ng-repeat="speaker in lastSpeakers = (agendaItem.speakers
    | filter: {end_time: '!!', begin_time: '!!'})
    | limitTo: config('agenda_show_last_speakers') : (lastSpeakers.length - config('agenda_show_last_speakers'))"
    class="lastSpeakers">
    {{ speaker.user.get_full_name() }}
  </p>

  <!-- Current speaker -->
  <p ng-repeat="speaker in agendaItem.speakers | filter: {end_time: null, begin_time: '!!'} "
    class="currentSpeaker">
    <i class="fa fa-microphone fa-lg"></i> {{ speaker.user.get_full_name() }}
  </p>

  <!-- Next speakers -->
  <ol class="nextSpeakers">
    <li ng-repeat="speaker in nextSpeakers = (agendaItem.speakers
      | filter: {begin_time: null})
      | orderBy:'weight'
      | limitTo: 3">
      {{ speaker.user.get_full_name() }}
    </li>
  </ol>
  <p ng-if="nextSpeakers.length > 3" class="lastSpeakers">
    <i>+ {{ nextSpeakers.length - 3 }}</i>
  </p>
</div>
