<div ng-controller="SlideItemDetailCtrl" class="content">
  <h1>
    {{ item.title }}
    <span translate>List of speakers</span>
    <span ng-if="item.speaker_list_closed" class="label label-danger" translate>Closed</span>
  </h1>
  <!-- List of speakers -->
  <!-- TODO: show last old speakers -->

  <!-- Current speaker -->
  <p>
    <strong ng-repeat="speaker in item.speakers | filter: {end_time: null, begin_time: '!!'}">
      {{ speaker.user.get_full_name() }}
    </strong>
  <!-- Next speakers -->
  <ol id="list_of_speakers">
    <li ng-repeat="speaker in item.speakers | filter: {begin_time: null}">
      {{ speaker.user.get_full_name() }}
  </ol>
</div>
