<div ng-controller="SlideItemListCtrl" class="content scrollcontent">
  <h1 ng-if="!element.id" translate>Agenda</h1>
  <h1 ng-if="element.id">{{ rootItem.getTitle() }}</h1>

  <div class="agendalist zoomcontent" ng-class="{'spacer-left-lg': element.id}">
    <table class="agendalist-table">
      <tr ng-repeat="node in tree" ng-include="'projector_agenda_renderer.html'"></tr>
    </table>
  </div>
</div>

<!-- Nested node template -->
<script type="text/ng-template" id="projector_agenda_renderer.html">
  <td class="number" ng-if="!node.item.closed">
    <p ng-class="{mainitem: node.item.parent_id === null, subitem: node.item.parent_id !== null}">
      {{ node.item.item_number }}
    </p>
  </td>
  <td ng-if="!node.item.closed">
    <p ng-class="{mainitem: node.item.parent_id === null, subitem: node.item.parent_id !== null}">
      {{ node.item.title }}
    </p>
    <table ng-if="node.children.length" class="agendalist-table">
      <tr ng-repeat="node in node.children" ng-include="'projector_agenda_renderer.html'"></tr>
    </table>
  </td>
</script>
