/** Chatbox **/
.icon-comments {
    background-position: -240px -120px;
}
div#chatbox {
    width: 35%;
}
div#chatbox h1 {
    border-bottom: none;
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
}
div#chatbox div#chatbox-text {
    clear: both;
    min-height: 150px;
    max-height:150px;
    overflow-y:scroll;
}
