mat-form-field {
    width: 100%;
}

header {
    width: 100%;
    flex: 1;
    mat-toolbar {
        min-height: 200px !important;
    }
    .login-logo-bar {
        img {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            height: 90%;
            max-width: 400px;
        }
    }
}

.forgot-password-button {
    float: right;
    padding: 0;
    text-align: right;
}

.login-button {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    mat-spinner {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.login-form {
    padding-top: 60px;
    margin: 0 auto;
    max-width: 400px;
}

footer {
    bottom: 0; //black magic to keep the toolbar active here
}
