<div class="ngdialog-content" role="document">
  <form (ngSubmit)="onSubmit()" ngNativeValidate class="ng-valid ng-dirty ng-valid-parse">
    <div class="modal-header">
      <img src="/assets/img/openslides-logo.png" alt="OpenSlides" class="login-logo center-block">
    </div>
    <div class="modal-body loginForm">
      {{info}}
      <!-- Instead of the original approach, user alert component -->
      <app-alert [alert]="alert"></app-alert>

      <div class="input-group form-group">
        <div class="input-group-addon">
          <fa-icon icon="user"></fa-icon>
        </div>
        <input [(ngModel)]="user.username" os-focus-me="" type="text" class="form-control input-lg ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
          placeholder="Username" name="username">
      </div>
      <div class="input-group form-group">
        <div class="input-group-addon">
          <fa-icon icon="key"></fa-icon>
        </div>
        <input [(ngModel)]="user.password" type="password" class="form-control
          input-lg ng-valid ng-not-empty ng-dirty
          ng-valid-parse ng-touched" placeholder="Passwort" name="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" translate="">
          <span class="ng-scope">Anmelden</span>
        </button>
      </div>
    </div>
  </form>
</div>