<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>OpenSides 3 - Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-full-widht">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-full-widht">
              <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="formLogin()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>