<!-- <mat-toolbar color='primary'>

    <button class='generic-plus-button on-transition-fade' mat-fab>
        <fa-icon icon='plus'></fa-icon>
    </button>

    <span class='app-name on-transition-fade' translate>Assignments</span>

    <span class='spacer'></span>
    <button class='on-transition-fade' mat-icon-button (click)='downloadAssignmentButton()'>
        <fa-icon icon='download'></fa-icon>
    </button>

</mat-toolbar> -->

<os-head-bar appName="Assignments" plusButton=true [menuList]=assignmentMenu (plusButtonClicked)=onPlusButton() (ellipsisMenuItem)=onEllipsisItem($event)>
</os-head-bar>

<mat-card class="os-card card-plus-distance">
    assignment-list works!
</mat-card>
