<ng-container *ngIf="poll">
    <!-- own voting -->
    <ng-container [ngTemplateOutlet]="votingArea"></ng-container>

    <!-- Delegations -->
    <ng-container *ngIf="user.is_present">
        <div class="assignment-vote-delegation" *ngFor="let delegation of delegations">
            <mat-divider></mat-divider>

            <ng-container
                [ngTemplateOutlet]="votingArea"
                [ngTemplateOutletContext]="{ delegation: delegation }"
            ></ng-container>
        </div>
    </ng-container>
</ng-container>

<ng-template #votingArea let-delegation="delegation">
    <h4 *ngIf="delegation" class="assignment-delegation-title">
        <span>{{ 'Voting right for' | translate }}</span>
        <span>&nbsp;{{ delegation.getFullName() }}</span>
    </h4>

    <ng-container *ngIf="canVote(delegation)">
        <!-- Poll hint -->
        <p *ngIf="pollHint">
            <i>{{ pollHint }}</i>
        </p>

        <!-- Leftover votes -->
        <h4 *ngIf="(poll.isMethodY || poll.isMethodN) && poll.max_votes_amount > 1">
            {{ 'Available votes' | translate }}:
            <b> {{ getVotesAvailable(delegation) }}/{{ poll.max_votes_amount }} </b>

            <span *ngIf="poll.min_votes_amount > 1">
                ({{ 'at least' | translate }} <b>{{ poll.min_votes_amount }}</b
                >)
            </span>
        </h4>

        <!-- Options and Actions -->
        <div *ngFor="let option of poll.options; let i = index">
            <div *ngIf="poll.type !== PollType.Pseudoanonymous || !option.user_has_voted">
                <div
                    [ngClass]="{
                        'yna-grid': poll.isMethodYNA,
                        'yn-grid': poll.isMethodYN,
                        'single-vote-grid': poll.isMethodY || poll.isMethodN
                    }"
                >
                    <div class="vote-candidate-name">
                        <span *ngIf="option.user">
                            <span>{{ option.user.short_name }}</span>
                            <div class="user-subtitle" *ngIf="option.user.getLevelAndNumber()">
                                {{ option.user.getLevelAndNumber() }}
                            </div>
                        </span>
                        <i *ngIf="!option.user">{{ unknownUserLabel | translate }}</i>
                    </div>

                    <div *ngFor="let action of voteActions">
                        <button
                            class="vote-button"
                            mat-raised-button
                            (click)="saveSingleVote(option.id, action.vote, delegation)"
                            [disabled]="isDeliveringVote(delegation)"
                            [ngClass]="getActionButtonClass(action, option, delegation)"
                        >
                            <mat-icon> {{ action.icon }}</mat-icon>
                        </button>
                        <span *ngIf="poll.isMethodYN || poll.isMethodYNA" class="vote-label">
                            {{ action.label | translate }}
                        </span>
                    </div>
                </div>
                <mat-divider *ngIf="poll.options.length - 1 > i"></mat-divider>
            </div>
        </div>

        <!-- global no/abstain -->
        <ng-container
            *ngIf="(poll.isMethodY || poll.isMethodN) && (poll.global_yes || poll.global_no || poll.global_abstain)"
        >
            <mat-divider></mat-divider>
            <div class="global-option-grid">
                <div *ngIf="poll.global_yes">
                    <button
                        class="vote-button"
                        mat-raised-button
                        (click)="saveGlobalVote('Y', delegation)"
                        [ngClass]="getGlobalYesClass(delegation)"
                        [disabled]="isDeliveringVote(delegation)"
                    >
                        <mat-icon>thumb_up</mat-icon>
                    </button>
                    <span class="vote-label">
                        {{ PollPropertyVerbose.global_yes | translate }}
                    </span>
                </div>

                <div *ngIf="poll.global_no">
                    <button
                        class="vote-button"
                        mat-raised-button
                        (click)="saveGlobalVote('N', delegation)"
                        [ngClass]="getGlobalNoClass(delegation)"
                        [disabled]="isDeliveringVote(delegation)"
                    >
                        <mat-icon>thumb_down</mat-icon>
                    </button>
                    <span class="vote-label">
                        {{ PollPropertyVerbose.global_no | translate }}
                    </span>
                </div>

                <div *ngIf="poll.global_abstain">
                    <button
                        class="vote-button"
                        mat-raised-button
                        (click)="saveGlobalVote('A', delegation)"
                        [ngClass]="getGlobalAbstainClass(delegation)"
                        [disabled]="isDeliveringVote(delegation)"
                    >
                        <mat-icon>trip_origin</mat-icon>
                    </button>
                    <span class="vote-label">
                        {{ PollPropertyVerbose.global_abstain | translate }}
                    </span>
                </div>
            </div>
        </ng-container>

        <!-- Submit Vote -->
        <ng-container
            [ngTemplateOutlet]="sendNow"
            [ngTemplateOutletContext]="{ delegation: delegation }"
        ></ng-container>
    </ng-container>

    <ng-container
        *ngIf="!canVote(delegation)"
        [ngTemplateOutlet]="cannotVote"
        [ngTemplateOutletContext]="{ delegation: delegation }"
    >
    </ng-container>
</ng-template>

<ng-template #cannotVote let-delegation="delegation">
    <div class="centered-button-wrapper">
        <!-- Success -->
        <div *ngIf="hasAlreadyVoted(delegation) && !isDeliveringVote(delegation)">
            <mat-icon class="vote-submitted"> check_circle </mat-icon>
            <br />
            <span>{{ 'Voting successful.' | translate }}</span>
        </div>

        <!-- Delivering -->
        <div *ngIf="isDeliveringVote(delegation)" class="submit-vote-indicator">
            <mat-spinner class="small-spinner"></mat-spinner>
            <br />
            <span>{{ 'Delivering vote... Please wait!' | translate }}</span>
        </div>

        <!-- Permission error error -->
        <div *ngIf="!hasAlreadyVoted(delegation) && !isDeliveringVote(delegation)">
            <span>{{ getVotingError(delegation) | translate }}</span>
        </div>
    </div>
</ng-template>

<ng-template #sendNow let-delegation="delegation">
    <div class="centered-button-wrapper">
        <button
            mat-flat-button
            color="accent"
            (click)="submitVote(delegation)"
            [disabled]="getVotesCount(delegation) < minVotes"
        >
            <mat-icon> how_to_vote </mat-icon>
            <span>
                {{ 'Submit vote now' | translate }}
            </span>
        </button>
    </div>
</ng-template>
