/**
 * OpenSlides participants style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

a.status_link span {
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

a.status_link.deactivate span {
    background-image: url(../images/icons/on.png);
}

a.status_link.activate span {
    background-image: url(../images/icons/off.png);
}
