/**
 * OpenSlides assignent style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

td.elected {
    background-color: #BED4DE !important;
}

td.elected a.election_link {
    background-image: url(../img/voting-yes.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
    float: left;
}

td a.election_link {
    background-image: url(../img/voting-yes-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
    float: left;
}
