.filter-menu-head {
    padding-left: 5px;

    .mat-button {
        margin: 0 auto;
    }
}

.filter-menu-head:hover {
    cursor: pointer;
}

.action-buttons {
    display: flex;
    os-rounded-input {
        margin: 0 10px;
    }
}

.active-filter {
    // force the filter tex tot stay in one line. Safe due to horizontal scrolling
    white-space: pre;
}

span.right-with-margin {
    margin-right: 25px;
}

.filter-count {
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
}

.current-filters {
    width: 100%;
    display: flex;

    > div {
        display: inherit;
    }

    button {
        padding: 5px;
        margin: auto 5px;
        font-size: 75%;
    }

    .mat-icon {
        $size: 12px;
        font-size: $size;
        height: $size;
        width: $size;
    }

    overflow-x: auto;

    // firefox scrollbar
    scrollbar-width: 5px;
    scrollbar-color: #666666;
}

// custom scrollbar. If required on more components, move to style.scss
.current-filters::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.current-filters::-webkit-scrollbar-thumb {
    background: #666666;
    height: 5px;
    border-radius: 5px;
}

.current-filters::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}
