@import '~assets/styles/variables.scss';

.filter-menu-head {
    padding-left: 5px;

    .mat-button {
        margin: 0 auto;
    }
}

.filter-menu-head:hover {
    cursor: pointer;
}

.action-buttons {
    display: flex;
    os-rounded-input {
        margin: 0 10px;
        @include phone {
            display: none;
        }
    }
}

.active-filter {
    // force the filter tex tot stay in one line. Safe due to horizontal scrolling
    white-space: pre;
}

span.right-with-margin {
    margin-right: 25px;
}

.filter-count {
    font-style: italic;
    margin-left: 24px;
    margin-right: 5px;
}

.current-filters {
    width: 100%;
    display: flex;

    > div {
        display: inherit;
    }

    button {
        padding: 5px;
        margin: auto 5px;
        font-size: 75%;
    }

    .mat-icon {
        $size: 12px;
        font-size: $size;
        height: $size;
        width: $size;
    }
}
