<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Call list</h2>
    </div>

    <!-- Export -->
    <div class="menu-slot">
        <button mat-icon-button (click)="csvExportCallList()">
            <mat-icon>archive</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card>
    <button mat-button (click)="expandCollapseAll(true)" translate>Expand</button>
    <button mat-button (click)="expandCollapseAll(false)" translate>Collapse</button>
    <os-sorting-tree #sorter (sort)="sort($event)" parentIdKey="sort_parent_id"
        weightKey="weight" [modelsObservable]="motionsObservable" [expandCollapseAll]="expandCollapse">
    </os-sorting-tree>
</mat-card>
