{% extends "base-projector.html" %}

{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="item_fullscreen">{{ shown_user }}
        <span>
        {% if shown_user.committee %}
            <p>{{ shown_user.committee }}</p>
        {% endif %}
        <p>
            {% if shown_user.groups.all %}
                {% for group in shown_user.groups.all %}
                    {% trans group.name %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        </span>
    </div>
{% endblock %}
