<os-head-bar
    prevUrl="../.."
    [nav]="false"
    [editMode]="hasChanged"
    (mainEvent)="onCancel()"
    (saveEvent)="onSave()">

    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Call list</h2>
    </div>

    <!-- Export menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="downloadMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card>
    <os-sorting-tree
        #osSortedTree
        parentKey="sort_parent_id"
        weightKey="weight"
        (hasChanged)="receiveChanges($event)"
        [model]="motionsObservable"></os-sorting-tree>
</mat-card>

<mat-menu #downloadMenu="matMenu">
    <button mat-menu-item (click)="pdfExportCallList()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span translate>Export as PDF</span>
    </button>

    <button mat-menu-item (click)="csvExportCallList()">
        <mat-icon>archive</mat-icon>
        <span translate>Export as CSV</span>
    </button>
</mat-menu>
