{% extends 'core/widget.html' %}

{% load i18n %}
{% load tags %}

{% block content %}
<ul style="line-height: 180%">
    <li class="{% if welcomepage_is_active %}activeline{% endif %}">
        <a href="{% url 'projector_activate_slide' 'default' %}" class="activate_link btn {% if welcomepage_is_active %}btn-primary{% endif %} btn-mini"
            rel="tooltip" data-original-title="{% trans 'Show' %}">
            <i class="icon-facetime-video {% if welcomepage_is_active %}icon-white{% endif %}"></i>
        </a>&nbsp;
        <a href="{% url 'projector_preview' callback='default' %}"
            rel="tooltip" data-original-title="{% trans 'Preview' %}" class="btn btn-mini right">
            <i class="icon-search"></i>
        </a>
        {{ 'welcome_title'|get_config }}
    </li>
</ul>
<hr>
<ul style="line-height: 180%">
{% for slide in slides %}
    <li class="{% if slide.is_active_slide %}activeline{% endif %}">
        <a href="{{ slide|absolute_url:'projector' }}" class="activate_link btn {% if slide.is_active_slide %}btn-primary{% endif %} btn-mini"
            rel="tooltip" data-original-title="{% trans 'Show' %}">
            <i class="icon-facetime-video {% if slide.is_active_slide %}icon-white{% endif %}"></i>
        </a>&nbsp;
        <a href="{{ slide|absolute_url:'update' }}">{{ slide }}</a>
        <a href="{{ slide|absolute_url:'delete' }}"
            rel="tooltip" data-original-title="{% trans 'Delete' %}" class="btn btn-mini right">
            <i class="icon-remove"></i>
        </a>
        <a href="{{ slide|absolute_url:'update' }}"
            rel="tooltip" data-original-title="{% trans 'Edit' %}" class="btn btn-mini right">
            <i class="icon-pencil"></i>
        </a>
        <a href="{{ slide|absolute_url:'projector_preview' }}"
            rel="tooltip" data-original-title="{% trans 'Preview' %}" class="btn btn-mini right">
            <i class="icon-search"></i>
        </a>
    </li>
{% empty %}
    <li>{% trans 'No items available.' %}</li>
{% endfor %}
</ul>
<a href="{% url 'customslide_create' %}" class="btn btn-mini right" style="margin: 10px 0;">
    <i class="icon-plus"></i>{% trans 'New' %}
</a>
{% endblock %}
