<cdk-tree
    #osTree="cdkDropList"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    cdkDropList
    [cdkDropListData]="osTreeData"
    (cdkDropListSorted)="sortItems($event)"
>
    <cdk-tree-node
        cdkDrag
        [cdkDragData]="node"
        (cdkDragDropped)="onDrop(node)"
        (mousedown)="mouseDown($event)"
        (mouseup)="mouseUp()"
        (touchstart)="touchStart($event)"
        (touchend)="mouseUp()"
        (cdkDragStarted)="startsDrag($event)"
        (cdkDragMoved)="moveItem($event)"
        *cdkTreeNodeDef="let node"
        [style.display]="shouldRender(node) ? 'flex' : 'none'"
        [style.padding-left]="node.level * 40 + 'px'"
    >
        <div class="backgroundColorLight">
            <span cdkDragHandle>
                <mat-icon>drag_indicator</mat-icon>
            </span>
            <button *ngIf="!hasChild" mat-icon-button disabled></button>
            <button
                *ngIf="hasChild"
                mat-icon-button
                cdkTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename"
                (click)="handleClick(node, true)"
                [style.visibility]="node.expandable ? 'visible' : 'hidden'"
            >
                <mat-icon
                    [style.transform]="node.isExpanded ? 'rotate(90deg)' : 'rotate(0deg)'"
                    class="mat-icon-rtl-mirror"
                >
                    chevron_right
                </mat-icon>
            </button>
            <ng-container [ngTemplateOutlet]="innerNode" [ngTemplateOutletContext]="{ item: node.item }"></ng-container>
        </div>
        <div [style.margin-left]="placeholderLevel * 40 + 'px'" *cdkDragPlaceholder></div>
    </cdk-tree-node>
</cdk-tree>
