<os-head-bar [mainButton]="perms.isAllowed('create')" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Motions</h2></div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<mat-drawer-container class="on-transition-fade">
    <os-sort-filter-bar
        [filterService]="filterService"
        [sortService]="sortService"
        (searchFieldChange)="searchFilter($event)"
    >
    </os-sort-filter-bar>

    <mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
        <!-- Selector column -->
        <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="checkbox-cell"></mat-header-cell>
            <mat-cell *matCellDef="let motion" class="checkbox-cell">
                <mat-icon>{{ isSelected(motion) ? 'check_circle' : '' }}</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Projector column -->
        <ng-container matColumnDef="projector">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="icon-cell">Projector</mat-header-cell>
            <mat-cell *matCellDef="let motion" class="icon-cell">
                <os-projector-button [object]="motion"></os-projector-button>
            </mat-cell>
        </ng-container>

        <!-- identifier column -->
        <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <div class="innerTable">{{ motion.identifier }}</div>
            </mat-cell>
        </ng-container>

        <!-- title column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <div class="innerTable max-width">
                    <!-- title line -->
                    <div class="motion-list">
                        <!-- attachment icon -->
                        <span class="attached-files" *ngIf="motion.hasAttachments()">
                            <mat-icon>attach_file</mat-icon>
                        </span>
                        <!-- title -->
                        <span class="motion-list-title" matTooltip="{{ motion.title }}">
                            {{ motion.title }}
                        </span>
                        <!-- favorite icon -->
                        <span *ngIf="motion.star" class="favorite-star">
                            <mat-icon inline>star</mat-icon>
                        </span>
                    </div>
                    <!-- submitters line -->
                    <div class="motion-list">
                        <span class="motion-list-from" *ngIf="motion.submitters.length">
                            <span translate>by</span> {{ motion.submitters }}
                        </span>
                    </div>
                    <!-- state -->
                    <mat-basic-chip
                        *ngIf="motion.state"
                        [ngClass]="{
                            green: motion.state.css_class === 'success',
                            red: motion.state.css_class === 'danger',
                            grey: motion.state.css_class === 'default',
                            lightblue: motion.state.css_class === 'primary'
                        }"
                    >
                        {{ getStateLabel(motion) }}
                    </mat-basic-chip>

                    <!-- recommendation -->
                    <span *ngIf="motion.recommendation">
                        <mat-basic-chip class="bluegrey"> {{ getRecommendationLabel(motion) }} </mat-basic-chip>
                    </span>
                </div>
            </mat-cell>
        </ng-container>

        <!-- state column -->
        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <div class="innerTable">
                    <div class="small" *ngIf="motion.category">
                        <mat-icon>device_hub</mat-icon>
                        {{ motion.category }}
                    </div>
                    <div class="small" *ngIf="motion.motion_block">
                        <mat-icon>widgets</mat-icon>
                        {{ motion.motion_block.title }}
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Speakers column -->
        <ng-container matColumnDef="speakers">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Speakers</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <button mat-icon-button (click)="onSpeakerIcon(motion, $event)">
                    <mat-icon
                        [matBadge]="motion.agendaSpeakerAmount > 0 ? motion.agendaSpeakerAmount : null"
                        matBadgeColor="accent"
                    >
                        mic
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
        <mat-row
            [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
            (click)="selectItem(row, $event)"
            *matRowDef="let row; columns: getColumnDefinition()"
            class="lg"
        >
        </mat-row>
    </mat-table>

    <mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>
</mat-drawer-container>

<mat-menu #motionListMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <div *ngIf="perms.isAllowed('change_metadata')">
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span translate>Multiselect</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage')">
            <button mat-menu-item routerLink="call-list">
                <mat-icon>sort</mat-icon>
                <span translate>Call list</span>
            </button>
            <button mat-menu-item routerLink="category">
                <mat-icon>device_hub</mat-icon>
                <span translate>Categories</span>
            </button>
            <button mat-menu-item routerLink="blocks">
                <mat-icon>widgets</mat-icon>
                <span translate>Motion blocks</span>
            </button>
            <button mat-menu-item routerLink="statute-paragraphs" *ngIf="statutesEnabled">
                <mat-icon>account_balance</mat-icon>
                <span translate>Statute</span>
            </button>
            <button mat-menu-item routerLink="comment-section">
                <mat-icon>speaker_notes</mat-icon>
                <span translate>Comment fields</span>
            </button>
            <button mat-menu-item routerLink="/tags" *osPerms="'core.can_manage_tags'">
                <mat-icon>local_offer</mat-icon>
                <span translate>Tags</span>
            </button>
            <button mat-menu-item (click)="csvExportMotionList()">
                <mat-icon>archive</mat-icon>
                <span translate>Export as CSV</span>
            </button>
            <button mat-menu-item (click)="onExportAsPdf()">
                <mat-icon>picture_as_pdf</mat-icon>
                <span translate>Export all as PDF</span>
            </button>
            <button mat-menu-item routerLink="import">
                <mat-icon>save_alt</mat-icon>
                <span translate>Import</span><span>&nbsp;...</span>
            </button>
        </div>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>
        <button mat-menu-item (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>
        <div *ngIf="perms.isAllowed('change_metadata')">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.setStateOfMultiple(selectedRows))">
                <mat-icon>label</mat-icon>
                <span translate>Set status</span>
            </button>
            <button
                *ngIf="recomendationEnabled"
                mat-menu-item
                (click)="multiselectWrapper(multiselectService.setRecommendation(selectedRows))"
            >
                <mat-icon>report</mat-icon>
                <!-- TODO: better icon -->
                <span translate>Set recommendation</span>
            </button>
            <button
                mat-menu-item
                *ngIf="categories.length"
                (click)="multiselectWrapper(multiselectService.setCategory(selectedRows))"
            >
                <mat-icon>device_hub</mat-icon>
                <!-- TODO: icon -->
                <span translate>Set category</span>
            </button>
            <button
                mat-menu-item
                *ngIf="motionBlocks.length"
                (click)="multiselectWrapper(multiselectService.setMotionBlock(selectedRows))"
            >
                <mat-icon>widgets</mat-icon>
                <!-- TODO: icon -->
                <span translate>Set motion block</span>
            </button>

            <button mat-menu-item (click)="multiselectWrapper(multiselectService.changeSubmitters(selectedRows))">
                <mat-icon>person_add</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add/remove submitters</span>
            </button>
            <button
                mat-menu-item
                *ngIf="tags.length"
                (click)="multiselectWrapper(multiselectService.changeTags(selectedRows))"
            >
                <mat-icon>bookmarks</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add/remove tags</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.moveToItem(selectedRows))">
                <!-- TODO: Not implemented yet -->
                <mat-icon>sort</mat-icon>
                <span translate>Move to agenda item</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage')">
            <mat-divider></mat-divider>
            <button
                mat-menu-item
                class="red-warning-text"
                (click)="multiselectService.delete(selectedRows); toggleMultiSelect()"
            >
                <mat-icon>delete</mat-icon>
                <span translate>Delete</span>
            </button>
        </div>
    </div>
</mat-menu>
