<os-head-bar [mainButton]="true" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Motions</h2></div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<div class="custom-table-header on-transition-fade">
    <button mat-button><span translate>SORT</span></button> <button mat-button><span translate>FILTER</span></button>
</div>

<mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="selector">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="checkbox-cell"></mat-header-cell>
        <mat-cell *matCellDef="let motion" class="checkbox-cell">
            <mat-icon>{{ isSelected(motion) ? 'check_circle' : '' }}</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- identifier column -->
    <ng-container matColumnDef="identifier">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div class="innerTable">{{ motion.identifier }}</div>
        </mat-cell>
    </ng-container>

    <!-- title column -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div class="innerTable">
                <span class="motion-list-title">{{ motion.title }}</span> <br />
                <span class="motion-list-from" *ngIf="motion.submitters.length">
                    <span translate>by</span> {{ motion.submitters }}
                </span>
                <br *ngIf="motion.submitters.length" />
                <!-- state -->
                <mat-basic-chip
                    [ngClass]="{
                        green: motion.state.css_class === 'success',
                        red: motion.state.css_class === 'danger',
                        grey: motion.state.css_class === 'default',
                        lightblue: motion.state.css_class === 'primary'
                    }"
                >
                    {{ motion.state.name | translate }}
                </mat-basic-chip>

                <!-- recommendation -->
                <span *ngIf="motion.recommendation">
                    <mat-basic-chip class="bluegrey">{{
                        motion.recommendation.recommendation_label | translate
                    }}</mat-basic-chip>
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- state column -->
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <div class="innerTable">
                <div class="small" *ngIf="motion.category">
                    <mat-icon>device_hub</mat-icon>
                    {{ motion.category }}
                </div>
                <div class="small" *ngIf="motion.motion_block">
                    <mat-icon>widgets</mat-icon>
                    {{ motion.motion_block.title }}
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Speakers column -->
    <ng-container matColumnDef="speakers">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Speakers</mat-header-cell>
        <mat-cell *matCellDef="let motion">
            <button mat-icon-button (click)="onSpeakerIcon(motion, $event)">
                <mat-icon
                    [matBadge]="motion.agendaSpeakerAmount > 0 ? motion.agendaSpeakerAmount : null"
                    matBadgeColor="accent"
                >
                    mic
                </mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
    <mat-row
        [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
        (click)="selectItem(row, $event)"
        *matRowDef="let row; columns: getColumnDefinition()"
        class="lg"
    >
    </mat-row>
</mat-table>

<mat-paginator class="on-transition-fade" [pageSizeOptions]="[25, 50, 75, 100, 125]"></mat-paginator>

<mat-menu #motionListMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="'motions.can_manage'" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>Multiselect</span>
        </button>
        <button mat-menu-item *osPerms="'motions.can_manage'" routerLink="call-list">
            <mat-icon>sort</mat-icon>
            <span translate>Call list</span>
        </button>
        <button mat-menu-item routerLink="category">
            <mat-icon>device_hub</mat-icon>
            <span translate>Categories</span>
        </button>
        <button mat-menu-item routerLink="blocks">
            <!-- possible icons:
                dashboard
                widgets
                view_module
             -->
            <mat-icon>widgets</mat-icon>
            <span translate>Motion blocks</span>
        </button>
        <button mat-menu-item routerLink="statute-paragraphs" *ngIf="statutesEnabled">
            <mat-icon>account_balance</mat-icon>
            <span translate>Statute</span>
        </button>
        <button mat-menu-item routerLink="comment-section">
            <mat-icon>speaker_notes</mat-icon>
            <span translate>Comment fields</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>Exit multiselect</span>
        </button>
        <div *osPerms="'motions.can_manage'">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.moveToItem(selectedRows))">
                <!-- TODO: Not implemented yet -->
                <mat-icon>sort</mat-icon>
                <span translate>Move to agenda item</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.setStateOfMultiple(selectedRows))">
                <mat-icon>label</mat-icon>
                <span translate>Set status</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.setRecommendation(selectedRows))">
                <mat-icon>report</mat-icon>
                <!-- TODO: better icon -->
                <span translate>Set recommendation</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.setCategory(selectedRows))">
                <mat-icon>device_hub</mat-icon>
                <!-- TODO: icon -->
                <span translate>Set category</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.addSubmitters(selectedRows))">
                <mat-icon>person_add</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add submitters</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.removeSubmitters(selectedRows))">
                <mat-icon>person_outline</mat-icon>
                <!-- TODO: icon -->
                <span translate>remove submitters</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.addTags(selectedRows))">
                <mat-icon>bookmarks</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add tags</span>
            </button>
            <button mat-menu-item (click)="multiselectWrapper(multiselectService.removeTags(selectedRows))">
                <mat-icon>bookmark_border</mat-icon>
                <!-- TODO: icon -->
                <span translate>Remove tags</span>
            </button>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="csvExportMotionList(); toggleMultiSelect()">
            <mat-icon>archive</mat-icon>
            <span translate>Export as CSV</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            class="red-warning-text"
            (click)="multiselectService.delete(selectedRows); toggleMultiSelect()"
        >
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</mat-menu>
