{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Import motions' %} – {{ block.super }}{% endblock %}

{% block content %}
    <h1>
        {% trans 'Import motions' %}
        <small class="pull-right">
        <a href="{% url 'motion_list' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans 'Back to overview' %}</a>
        </small>
    </h1>

    <p>{% trans 'Select a CSV file to import motions' %}.</p>

    <p>{% trans 'Please note' %}:</p>
    <ul>
        <li>
            {% trans 'Required comma separated values' %}:<br />
            <code>({% trans 'identifier, title, text, reason, submitter (clean name), category' %})</code>
        </li>
        <li>
            {% trans 'Identifier, reason, submitter and category are optional and may be empty' %}.
        </li>
        <li>{% trans 'The first line (header) is ignored' %}.</li>
        <li>
            {% trans 'Required CSV file encoding is UTF-8' %}.
        </li>
        <li>
            <a href="https://github.com/OpenSlides/OpenSlides/wiki/CSV-Import">{% trans 'Use the CSV example file from OpenSlides Wiki.' %}</a>
        </li>
    </ul>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {% include 'form.html' %}
        <p>
        <button class="btn btn-primary" type="submit">
            <span class="icon import">{% trans 'Import' %}</span>
        </button>
        <a href="{% url 'motion_list' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
