{% extends "base.html" %}

{% load tags %}
{% load i18n %}

{% load staticfiles %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/ckeditor.css' %}" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'javascript/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/ckeditor-config.js' %}"></script>
{% endblock %}

{% block title %}
    {{ block.super }} –
    {% if motion %}
        {% trans "Edit motion" %}
    {% else %}
        {% trans "New motion" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if motion %}
            {% trans "Edit motion" %}
        {% else %}
            {% trans "New motion" %}
        {% endif %}
        <small class="pull-right">
        <a href="{% url 'motion_list' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        <a href='{% url 'motion_list' %}' class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
