{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {% trans "Motion" %}
    {% if motion.number != None %}
        {{ motion.number }}
    {% else %}
        [{% trans "no number" %}]
    {% endif %}
{% endblock %}

{% block content %}
<h1>
    {{ version.title }}
    <br>
    <small>
    {% if motion.number != None %}
        {% trans "Motion" %} {{ motion.number }},
    {% else %}
        <i>[{% trans "no number" %}]</i>,
    {% endif %}
    {% trans "Version" %} {{ version.aid }}
    </small>
    <small class="pull-right">
    <div class="btn-toolbar">
        <a href="{% url 'motion_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        <a href="{% url 'print_motion' motion.id  %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Print this motion as PDF' %}"><i class="icon-print"></i> PDF</a>
        <!-- activate projector -->
        {% if perms.projector.can_manage_projector %}
            <a href="{% url 'projector_activate_slide' motion.sid  %}" class="activate_link btn {% if motion.active %}btn-primary{% endif %} btn-mini" rel="tooltip" data-original-title="{% trans 'Show motion' %}">
                <i class="icon-facetime-video {% if motion.active %}icon-white{% endif %}"></i>
            </a>
        {% endif %}
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn btn-mini dropdown-toggle">
                {% trans 'More actions' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <!-- edit -->
                {% if "edit" in actions %}
                     <li><a href="{% url 'motion_edit' motion.id  %}"><i class="icon-pencil"></i> {% trans 'Edit motion' %}</a></li>
                {% endif %}
                <!-- delete -->
                {% if "delete" in actions %}
                    <li><a href="{% url 'motion_delete' motion.id  %}"><i class="icon-remove"></i> {% trans 'Delete motion' %}</a></li>
                {% endif %}
                <!-- edit poll -->
                {% if perms.motion.can_manage_motion %}
                    {% for poll in motion.polls %}
                        <li><a href="{% url 'motion_poll_view' poll.id %}"><i class="icon-edit"></i> {{ forloop.counter }}. {% trans "Vote" %}</a></li>
                    {% endfor %}
                {% endif %}
                <!-- create agenda item -->
                {% if perms.agenda.can_manage_agenda %}
                <li>
                    <a href="{% url 'motion_create_agenda' motion.id  %}"><i class="icon-plus"></i> {% trans 'New agenda item' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </small>
</h1>

<div class="row-fluid">
<div class="span8">
    {% if motion.public_version != motion.last_version %}
        <span class="label label-warning"><i class="icon-warning-sign icon-white"></i>
        {% if version == motion.public_version %}
            {% trans "This is not the newest version." %}</span> <a href="{% url 'motion_view_newest' motion.id %}">{% trans "Go to version" %} {{ motion.last_version.aid }}.</a>
        {% else %}
            {% trans "This is not the authorized version." %}</span> <a href="{% url 'motion_view' motion.id %}">{% trans "Go to version" %} {{ motion.public_version.aid }}.</a>
        {% endif %}
    {% endif %}

    <!-- Text -->
    <h4>{% trans "Motion text" %}:</h4>
    {{ version.text|linebreaks }}
    <br>
    <!-- Reason -->
    <h4>{% trans "Reason" %}:</h4>
    {% if version.reason %}
        {{ version.reason|linebreaks }}
    {% else %}
        –
    {% endif %}
    <br>
    <!-- Version history -->
    {% if motion.versions|length > 1 %}
        <h4>{% trans "Version History" %}:</h4>
        <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>{% trans "Version" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Text" %}</th>
            <th>{% trans "Reason" %}</th>
        </tr>
        {% for revision in motion.versions  %}
        <tr>
            <td style="white-space:nowrap;">
            {% if motion.status != "pub" %}
            {% if revision == motion.permitted %}
                 <span class="badge badge-success" title="{% trans 'This version is authorized' %}"><i class="icon-ok icon-white"></i></span>
            {% else %}
                 {% if perms.motion.can_manage_motion %}
                     <a class="btn btn-mini" href="{% url 'motion_version_permit' revision.id %}" title="{% trans 'Permit this version' %}"><i class="icon-ok"></i></a>
                 {% endif %}
                 {% if not revision.rejected and revision.id > motion.permitted.id and perms.motion.can_manage_motion %}
                     <a class="btn btn-mini" href="{% url 'motion_version_reject' revision.id %}" title="{% trans 'Reject this version' %}"><i class="icon-ban-circle"></i></a>
                 {% endif %}
            {% endif %}
            {% if revision.rejected %}
                <span class="badge badge-important" title="{% trans 'This version is rejected' %}"><i class="icon-ban-circle icon-white"></i></span>
            {% endif %}
            {% endif %}
            </td>
            <td>{{ revision.aid }}</td>
            <td><i>{{ revision.time }}</i></td>
            <td>
                {% ifchanged %}
                <b>{{ revision.title }}</b>
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
            <td>
                {% ifchanged %}
                {{ revision.text|linebreaks }}
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
            <td>
                {% ifchanged %}
                {{ revision.reason|linebreaks }}
                {% else %}
                <i>[{% trans "unchanged" %}]</i>
                {% endifchanged %}
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    <!-- Log -->
    {% if perms.motion.can_manage_motion %}
        <button type="button" class="btn" data-toggle="collapse" data-target="#log">
            {% trans "Show log" %}
        </button>
        <div id="log" class="collapse out">
            <small>{{ motion.log|linebreaks }}</small>
        </div>
    {% endif %}

</div> <!--/span-->


<div class="span4">
    <div class="well">
        <!-- Submitter -->
        <h5>{% trans "Submitter" %}:</h5>
        {{ motion.submitter }}
        <!-- Supporters -->
        {% if min_supporters > 0 %}
            <h5>{% trans "Supporters" %}: *</h5>
            {% if not motion.supporters %}
                -
            {% else %}
                <ol>
                {% for supporter in motion.supporters %}
                    <li>{{ supporter }}</li>
                {% endfor %}
                </ol>
            {% endif %}
        {% endif %}
        <!-- Status -->
        <h5>{% trans "Status" %}:</h5>
        {% if motion.status != "pub" %}
            {% trans motion.get_status_display %}
            <br>
        {% endif %}
        {% for note in motion.notes %}
            {{ note }}
            {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
        <!-- Vote results -->
        <h5>{% trans "Vote results" %}:</h5>
            {% with motion.polls as polls %}
            {% if not polls.exists %}
                {% if perms.motion.can_manage_motion %}
                    {% if "genpoll" in actions %}
                    <a href="{% url 'motion_gen_poll' motion.id %}" class="btn btn-mini">
                        <i class="icon-signal"></i> {% trans 'New vote' %}
                    </a>
                    {% else %}
                    -
                    {% endif %}
                {% else %}
                -
                {% endif %}
            {% endif %}
            <ol>
            {% for poll in polls %}
            {% if perms.motion.can_manage_motion or poll.has_votes %}
                <li>{% trans "Vote" %}
                    {% if perms.motion.can_manage_motion %}
                        <a class="btn btn-mini" href="{% url 'motion_poll_view' poll.id %}" title="{% trans 'Edit Vote' %}"><i class="icon-edit"></i></a>
                        <a class="btn btn-mini" href="{% url 'motion_poll_delete' poll.id %}" title="{% trans 'Delete Vote' %}"><i class="icon-remove"></i></a>
                    {% endif %}
                    <br>
                    {% if poll.has_votes %}
                        {% with poll.get_options.0 as option %}
                            <img src="{% static 'img/voting-yes.png' %}" title="{% trans 'Yes' %}"> {{ option.Yes }}<br>
                            <img src="{% static 'img/voting-no.png' %}" title="{% trans 'No' %}"> {{ option.No }}<br>
                            <img src="{% static 'img/voting-abstention.png' %}" title="{% trans 'Abstention' %}"> {{ option.Abstain }}<br>
                            <img src="{% static 'img/voting-invalid.png' %}" title="{% trans 'Invalid' %}"> {{ poll.print_votesinvalid }}<br>
                            <div style="border-top: 1px solid; padding-top: 5px; margin: 5px 0; width: 10em;">
                                <img src="{% static 'img/voting-total.png' %}" title="{% trans 'Votes cast' %}"> {{ poll.print_votescast }}
                            </div>
                        {% endwith %}
                        {% if perms.motion.can_manage_motion %}
                            {% if forloop.last %}
                            {% if "genpoll" in actions %}
                            <a href="{% url 'motion_gen_poll' motion.id %}" class="btn btn-mini">
                                <i class="icon-signal"></i> {% trans 'New vote' %}
                            </a>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if perms.motion.can_manage_motion %}
                            <span class="label label-info">{% trans 'No results' %}</span>
                         {% endif %}
                    {% endif %}
                </li>
            {% endif %}
            {% endfor %}
            </ol>
            {% endwith %}
        <!-- Creation Time -->
        <h5>{% trans "Creation Time" %}:</h5>
        {{ motion.creation_time }}
        <!-- Widthdraw button -->
        {% if "wit" in actions and user == motion.submitter.user %}
            <br><br>
            <a href="{% url 'motion_set_status' motion.id 'wit' %}" class="btn">
                <span class="icon revert">{% trans 'Withdraw motion' %}</span>
            </a>
        {% endif %}
        <!-- Support/Unsupport button -->
        {% if perms.motion.can_support_motion and min_supporters > 0 %}
            {% if "unsupport" in actions %}
                <br><br>
                <a href="{% url 'motion_unsupport' motion.id %}" class="btn">
                    {% trans 'Unsupport motion' %}
                </a>
            {% endif %}
            {% if "support" in actions %}
                <br><br>
                <a href="{% url 'motion_support' motion.id %}">
                    {% trans 'Support' %}
                </a>
            {% endif %}
        {% endif %}
        <!-- Footnote: requried supporters -->
        {% if min_supporters > 0 %}
            <br><br>
            <small>* {% trans "minimum required supporters" %}: {{ min_supporters }}</small>
        {% endif %}
    </div> <!--/well-->

    {% if perms.motion.can_manage_motion %}
    <!-- Manage motion box -->
    <div class="well">
    <h4>{% trans "Manage motion" %}</h4>
    <!-- Formal validation -->
    {% if "pub" in actions or "per" in actions or "nop" in actions or "setnumber" in actions %}
        <h5>{% trans "Formal validation" %}:</h5>
        {% if "pub" in actions %}
            <p><a href="{% url 'motion_set_status' motion.id 'pub' %}" class="btn">{% trans 'Publish' %}</a></p>
        {% endif %}
        {% if "per" in actions %}
            <p><a href="{% url 'motion_permit' motion.id %}" class="btn btn-info">{% trans 'Permit' %}</a></p>
        {% endif %}
        {% if "nop" in actions %}
            <p><a href="{% url 'motion_notpermit' motion.id %}" class="btn">{% trans 'Not permit' %}</a></p>
        {% endif %}
        {% if "setnumber" in actions %}
            <p><a href="{% url 'motion_set_number' motion.id %}" class="btn">{% trans 'Set number' %}</a></p>
        {% endif %}
    {% endif %}
    <!-- Result after vote -->
    {% if "acc" in actions or "rej" in actions %}
        <h5>{% trans "Result after vote" %}:</h5>
        <div>
            {% if "acc" in actions %}
            <p><a href="{% url 'motion_set_status' motion.id 'acc' %}" class="btn btn-success">
                <i class="icon-ok icon-white"></i> {% trans 'Accepted' %}
            </a></p>
            {% endif %}
            {% if "rej" in actions %}
            <p><a href="{% url 'motion_set_status' motion.id 'rej' %}" class="btn btn-danger">
                <i class="icon-ban-circle icon-white"></i> {% trans 'Rejected' %}
            </a></p>
            {% endif %}
        </div>
    {% endif %}
    <!-- Result after debate -->
    {% if "adj" in actions or "noc" in actions or "com" in actions or "wit" in actions %}
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn dropdown-toggle">
                {% trans 'More actions' %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                {% if "adj" in actions %}
                    <li><a href="{% url 'motion_set_status' motion.id 'adj' %}">{% trans 'Adjourned' %}</a></li>
                {% endif %}
                {% if "noc" in actions %}
                    <li><a href="{% url 'motion_set_status' motion.id 'noc' %}">{% trans 'Not Concerned' %}</a></li>
                {% endif %}
                {% if "com" in actions %}
                    <li><a href="{% url 'motion_set_status' motion.id 'com' %}">{% trans 'Commited a bill' %}</a></li>
                {% endif %}
                {% if "wit" in actions %}
                    <li><a href="{% url 'motion_set_status' motion.id 'wit' %}">{% trans 'Withdrawed by Submitter' %}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <p></p>
    <hr>
    <h5>{% trans "For Administration only:" %}</h5>
    <a href="{% url 'motion_reset' motion.id %}" class="btn btn-danger">
        <i  class="icon-exclamation-sign icon-white"></i> {% trans 'Reset' %}
    </a>
    </div> <!--/well-->
    {% endif %} {# end perms.motion.can_support_motion #}
  </div> <!--/span-->
</div> <!--/row-->
{% endblock %}
