{% load i18n %}
{% load tags %}

<ul style="line-height: 180%">
{% for motion in motions %}
    <li class="{% if motion.active %}activeline{% endif %}">
        <a href="{% url 'projector_activate_slide' motion.sid  %}" class="activate_link btn {% if motion.active %}btn-primary{% endif %} btn-mini" title="{% trans 'Show' %}">
            <i class="icon-facetime-video {% if motion.active %}icon-white{% endif %}"></i>
        </a>&nbsp;
        <a href="{% model_url motion 'edit' %}" title="{% trans 'Edit' %}" class="btn btn-mini right">
            <i class="icon-pencil"></i>
        </a>
        <a href="{% url 'projctor_preview_slide' motion.sid %}" title="{% trans 'Preview' %}" class="btn btn-mini right">
            <i class="icon-search"></i>
        </a>
        <a href="{% model_url motion 'view' %}">
            {{ motion.public_version.title }}
        </a>
        ({% trans "motion" %}
        {% if motion.number %}
            {{ motion.number }})
        {% else %}
            <i>[{% trans "no number" %}]</i>)
        {% endif %}
    </li>
{% empty %}
    <li>{% trans 'No motion available.' %}</li>
{% endfor %}
</ul>

