.head-button {
    position: fixed;
    z-index: 10; // should always be in top of everything else
    right: 20px;
    bottom: 55px;
}

.sticky-toolbar {
    top: 0;
    z-index: 5;
    position: sticky;
    height: 64px !important;

    .toolbar-left {
        display: flex;
        max-width: calc(100% - 100px);
        button {
            margin: 12px 0;
        }
        .toolbar-left-text {
            margin-left: 10px;
            width: 100%;
            overflow: hidden;

            .title-slot {
                margin: 16px 0;
                display: block;
                h2 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .toolbar-centered {
        margin: auto;
        vertical-align: baseline;
    }

    .toolbar-right {
        display: flex;
        .extra-controls-slot {
            display: flex;
        }
    }
}

mat-toolbar.multi-select {
    background-color: #757575 !important;
}
