.head-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.sticky-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.toolbar-left {
    display: contents;
    .toolbar-left-text {
        display: initial;
        margin-left: 10px;
    }
}
.toolbar-centered {
    margin: auto;
    vertical-align: baseline;
}

.toolbar-right {
    display: contents;
}

.extra-controls-wrapper {
    display: contents;
    ::ng-deep .extra-controls-slot {
        display: flex;
    }
}

mat-toolbar.multi-select {
    background-color: #757575;
}
