.poll-preview-wrapper {
    padding: 8px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);

    .poll-title {
        color: black;
        text-decoration: none;
        font-weight: 500;
    }

    .poll-title-actions {
        float: right;
    }

    .poll-properties {
        margin: 4px 0;

        .mat-chip {
            margin: 0 4px;

            &.active {
                cursor: pointer;
            }
        }

        .poll-state {
            &.created {
                background-color: #2196f3;
                color: white;
            }
            &.started {
                background-color: #4caf50;
                color: white;
            }
            &.finished {
                background-color: #ff5252;
                color: white;
            }
            &.published {
                background-color: #ffd800;
                color: black;
            }
        }
    }

    .poll-chart-wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto minmax(50px, 20%) auto;

        .votes-no {
            color: #cc6c5b;
            margin: auto 0;
            width: fit-content;
        }

        .votes-yes {
            color: #9fc773;
            margin: auto 0 auto auto;
            width: fit-content;
        }
    }
}

.poll-preview-meta-info {
    span {
        padding: 0 5px;
    }
}

.poll-content {
    padding-bottom: 8px;
}

.poll-footer {
    text-align: end;
}
