@import '~assets/styles/poll-colors.scss';

.poll-link-wrapper {
    outline: none;
}

.poll-preview-wrapper {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);

    .poll-title {
        text-decoration: none;
        font-weight: 500;
    }

    .poll-title-actions {
        float: right;
    }

    .poll-properties {
        margin: 4px 0;

        .mat-chip {
            margin: 0 4px;

            &.active {
                cursor: pointer;
            }
        }

        .poll-state {
            &.created {
                background-color: #2196f3;
                color: white;
            }
            &.started {
                background-color: #4caf50;
                color: white;
            }
            &.finished {
                background-color: #ff5252;
                color: white;
            }
            &.published {
                background-color: #ffd800;
                color: black;
            }
        }
    }

    .poll-chart-wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto minmax(50px, 20%) auto;

        .doughnut-chart {
            margin-top: auto;
            margin-bottom: auto;
        }

        .vote-legend {
            margin: auto 10px;

            div + div {
                margin-top: 10px;
            }

            .votes-yes {
                color: $votes-yes-color;
            }

            .votes-no {
                color: $votes-no-color;
            }

            .votes-abstain {
                color: $votes-abstain-color;
            }
        }
    }
}

.poll-detail-button-wrapper {
    display: flex;
    margin: auto 0;
    > button {
        margin-left: auto;
    }
}

.poll-preview-meta-info {
    span {
        padding: 0 5px;
    }
}

.poll-content {
    padding-bottom: 8px;
}

.poll-footer {
    text-align: end;
}
