<mat-card class="motion-poll-wrapper" *ngIf="showPoll">
    <!-- Poll Infos -->
    <div class="poll-title-wrapper">
        <!-- Title Area -->
        <div class="poll-title-area">
            <!-- Title -->
            <span class="poll-title">
                <a [routerLink]="pollLink">
                    {{ poll.title | translate }}
                </a>
            </span>
        </div>

        <!-- Dot Menu -->
        <span class="poll-actions" *osPerms="'motions.can_manage_polls'">
            <button mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
                <mat-icon class="small-icon">more_horiz</mat-icon>
            </button>
        </span>
    </div>

    <!-- Subtitle -->
    <div class="italic spacer-bottom-20">
        <!-- Type and State -->
        <div class="type-and-state italic spacer-bottom-20">
            <span *osPerms="permission.motionsCanManagePolls; and: poll.isEVoting">
                <os-icon-container
                    class="poll-type"
                    icon="info"
                    color="primary"
                    [swap]="true"
                    [showIcon]="poll.isAnon"
                    (iconAction)="openVotingWarning()"
                >
                    {{ poll.typeVerbose | translate }}
                </os-icon-container>
                <span *ngIf="poll.isAnon">&nbsp;</span>
                &middot;&nbsp;
            </span>

            <!-- State -->
            <span>
                {{ poll.stateVerbose | translate }}
            </span>
        </div>
    </div>

    <!-- Change state button -->
    <div *osPerms="'motions.can_manage_polls'; and: !hideChangeState">
        <button
            mat-stroked-button
            [ngClass]="pollStateActions[poll.state].css"
            (click)="changeState(poll.nextState)"
            [disabled]="stateChangePending"
        >
            <mat-icon> {{ pollStateActions[poll.state].icon }}</mat-icon>
            <span class="next-state-label">
                <ng-container *ngIf="!stateChangePending">
                    {{ poll.nextStateActionVerbose | translate }}
                </ng-container>
                <ng-container *ngIf="stateChangePending">
                    {{ 'In progress, please wait...' | translate }}
                </ng-container>
            </span>
        </button>
    </div>

    <!-- Results -->
    <ng-container *ngIf="poll && !poll.stateHasVotes && poll.type !== 'analog'; else votingResult">
        <div *osPerms="'motions.can_manage_polls'; and: poll && poll.isStarted">
            <os-poll-progress [poll]="poll"></os-poll-progress>
        </div>
        <os-motion-poll-vote [poll]="poll" *ngIf="poll.canBeVotedFor()"></os-motion-poll-vote>
    </ng-container>

    <!-- Detail link -->
    <div class="poll-detail-button-wrapper">
        <a mat-icon-button [routerLink]="pollLink" matTooltip="{{ 'More' | translate }}" *ngIf="poll.isPublished">
            <mat-icon class="small-icon">visibility</mat-icon>
        </a>
    </div>
</mat-card>

<ng-template #votingResult>
    <div class="poll-link-wrapper">
        <ng-container
            [ngTemplateOutlet]="poll.hasVotes && poll.stateHasVotes ? viewTemplate : emptyTemplate"
        ></ng-container>
    </div>
</ng-template>

<ng-template #viewTemplate>
    <os-motion-poll-detail-content [poll]="poll" [routerLink]="pollLink"></os-motion-poll-detail-content>
</ng-template>

<ng-template #emptyTemplate>
    <div *osPerms="'motions.can_manage_polls'; and: poll.type === 'analog'">
        {{ 'Edit to enter votes.' | translate }}
    </div>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <button *osPerms="'motions.can_manage_polls'" mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'Edit' | translate }}</span>
    </button>
    <os-projector-button [menuItem]="true" [object]="poll" *osPerms="'core.can_manage_projector'"></os-projector-button>
    <button mat-menu-item (click)="downloadPdf()">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>{{ 'Ballot papers' | translate }}</span>
    </button>
    <div *osPerms="'motions.can_manage_polls'">
        <mat-divider></mat-divider>
        <!-- Refresh Button -->
        <button mat-menu-item (click)="refreshPoll()">
            <mat-icon>refresh</mat-icon>
            <span>{{ 'Refresh' | translate }}</span>
        </button>

        <!-- Reset Button -->
        <button mat-menu-item (click)="resetState()">
            <mat-icon color="warn">replay</mat-icon>
            <span>{{ 'Reset state' | translate }}</span>
        </button>

        <!-- Delete button -->
        <button mat-menu-item (click)="deletePoll()">
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
