<div class="poll-preview-wrapper">
    <!-- Poll Infos -->
    <div class="poll-title-wrapper" *ngIf="poll">
        <!-- Title -->
        <a class="poll-title" routerLink="/motions/polls/{{ poll.id }}">
            {{ poll.title }}
        </a>

        <!-- Edit button -->
        <span class="poll-title-actions" *osPerms="'motions.can_manage_polls'">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="small-icon">edit</mat-icon>
            </button>
        </span>

        <!-- State chip -->
        <div class="poll-properties" *osPerms="'motions.can_manage_polls'">
            <div *ngIf="pollService.isElectronicVotingEnabled && poll.type !== 'analog'">
                {{ poll.typeVerbose | translate }}
            </div>

            <mat-chip
                disableRipple
                class="poll-state active"
                [matMenuTriggerFor]="triggerMenu"
                [ngClass]="poll.stateVerbose.toLowerCase()"
            >
                {{ poll.stateVerbose }}
            </mat-chip>
        </div>
    </div>

    <!-- Results -->
    <ng-container *ngIf="poll && !poll.stateHasVotes && poll.type !== 'analog'; else votingResult">
        <os-motion-poll-vote [poll]="poll"></os-motion-poll-vote>
    </ng-container>
</div>

<ng-template #votingResult>
    <div (click)="openPoll()">
        <ng-container
            [ngTemplateOutlet]="poll.hasVotes && poll.stateHasVotes ? viewTemplate : emptyTemplate"
        ></ng-container>
    </div>
</ng-template>

<ng-template #viewTemplate>
    <div class="poll-chart-wrapper">
        <div class="votes-yes">
            <os-icon-container icon="check" size="large">
                {{ voteYes }}
            </os-icon-container>
        </div>
        <div *ngIf="showChart" class="doughnut-chart">
            <os-charts [type]="'doughnut'" [data]="chartDataSubject" [showLegend]="false"> </os-charts>
        </div>
        <div class="votes-no">
            <os-icon-container icon="close" size="large">
                {{ voteNo }}
            </os-icon-container>
        </div>
    </div>
</ng-template>

<ng-template #emptyTemplate>
    <div>
        An empty poll - you have to enter votes.
    </div>
</ng-template>

<mat-menu #triggerMenu="matMenu">
    <ng-container *ngIf="poll">
        <button mat-menu-item (click)="changeState(state.value)" *ngFor="let state of poll.nextStates | keyvalue">
            <span translate>{{ state.key }}</span>
        </button>
    </ng-container>
</mat-menu>
