<os-head-bar prevUrl="../.." [nav]="false" [hasMainButton]="true" (mainEvent)="openDialog()">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Comment fields' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="commentListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<div class="head-spacer"></div>
<mat-accordion class="os-card">
    <mat-expansion-panel *ngFor="let section of this.commentSections" multiple="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="header-container">
                    <div class="name">
                        {{ section.name }}
                    </div>
                    <div class="read">
                        <os-icon-container icon="visibility">
                            <span *ngFor="let group of section.read_groups">{{ group.getTitle() | translate }}&nbsp;</span>
                            <ng-container *ngIf="section.read_groups.length === 0">
                                &ndash;
                            </ng-container>
                        </os-icon-container>
                    </div>
                    <div class="write">
                        <os-icon-container icon="edit">
                            <span *ngFor="let group of section.write_groups">{{ group.getTitle() | translate }}&nbsp;</span>
                            <ng-container *ngIf="section.write_groups.length === 0">
                                &ndash;
                            </ng-container>
                        </os-icon-container>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h3>{{ 'Name' | translate }}</h3>
        <div class="spacer-left">{{ section.name }}</div>
        <h3>{{ 'Groups with read permissions' | translate }}</h3>
        <ul *ngFor="let group of section.read_groups">
            <li>{{ group.getTitle() | translate }}</li>
        </ul>
        <div class="spacer-left" *ngIf="section.read_groups.length === 0">{{ 'No groups selected' | translate }}</div>
        <h3>{{ 'Groups with write permissions' | translate }}</h3>
        <ul *ngFor="let group of section.write_groups">
            <li>{{ group.getTitle() | translate }}</li>
        </ul>
        <div class="spacer-left" *ngIf="section.write_groups.length === 0">{{ 'No groups selected' | translate }}</div>
        <mat-action-row>
            <button mat-button (click)="openDialog(section)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="onDeleteButton(section)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<mat-menu #commentListMenu="matMenu">
    <button mat-menu-item routerLink="sort">
        <mat-icon>sort</mat-icon>
        <span>{{ 'Sort' | translate }}</span>
    </button>
</mat-menu>

<!-- Template for motion comment dialog -->
<ng-template #motionCommentDialog>
    <h1 mat-dialog-title>
        <span *ngIf="currentComment">{{ 'Edit comment field' | translate }}</span>
        <span *ngIf="!currentComment">{{ 'New comment field' | translate }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form [formGroup]="commentFieldForm" (keydown)="onKeyDown($event)">
            <p>
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="{{ 'Name' | translate }}" required />
                    <mat-error *ngIf="!commentFieldForm.controls.name.valid">
                        <span>{{ 'Required' | translate }}</span>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <os-search-value-selector
                        formControlName="read_groups_id"
                        [multiple]="true"
                        placeholder="{{ 'Groups with read permissions' | translate }}"
                        [inputListValues]="groups"
                    ></os-search-value-selector>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <os-search-value-selector
                        formControlName="write_groups_id"
                        [multiple]="true"
                        placeholder="{{ 'Groups with write permissions' | translate }}"
                        [inputListValues]="groups"
                    ></os-search-value-selector>
                </mat-form-field>
            </p>
        </form>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="commentFieldForm.invalid" mat-button [mat-dialog-close]="true">
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button mat-button [mat-dialog-close]="false">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
