.sort-header {
    display: block;
    padding: 0 8px;
    width: auto;
    position: relative;
    text-align: center;

    .button-menu {
        display: inline-block;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    mat-drawer {
        min-width: 320px;
    }

    .sort-drawer-content {
        text-align: left;

        .mat-button {
            margin-left: 8px;
        }

        .sort-grid {
            display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: 20px 30px;
            margin: 8px;
            vertical-align: top;
            line-height: 1.5;

            mat-checkbox:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    .current-filters {
        display: inline-block;

        div {
            display: inline;
        }
    }
}

.current-nodes {
    position: relative;
    margin-bottom: 8px;
}

.sort-node-icon {
    margin: 0 12px 0 auto;

    mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
    }
}
