.grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
        'project title buttons'
        'project controls controls';
    grid-gap: 10px;
    grid-template-columns: min-content auto auto;
}

.projector-button {
    grid-area: project;
    margin: auto 10px auto 0;
}

.title {
    grid-area: title;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-buttons {
    grid-area: buttons;
    text-align: right;
}

.timer {
    grid-area: controls;
    display: flex;
}

.larger-countdown {
    font-size: 150%;
    min-width: 60px;
    margin-right: 10px;
}

// smaller and closer mat icon buttons.
// use on button-tags
// TODO: Somehow does not apply when in style.scss
.small-mat-icon-button {
    $size: 20px;
    margin: 0 5px;
    position: relative;
    width: $size;
    height: $size;

    ::ng-deep .mat-icon {
        position: absolute;
        left: 0;
        top: 0;
        line-height: normal;
        width: $size;
        height: $size;
    }

    .material-icons {
        font-size: $size;
    }
}
