<!-- TODO permission -->
<os-head-bar
    [editMode]="hasChanged"
    (saveEvent)="sendUpdate()"
    (mainEvent)="onCancel()"
    [nav]="false">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Sort motions</h2></div>
</os-head-bar>

<mat-card class="os-form-card">
    <h3>{{ categoryName }}</h3>
    <br />
    <span translate>
        Drag and drop motions to reorder the category. Then click the button to renumber.
    </span>
    <br />
    <button
        mat-raised-button
        color="primary"
        (click)="onNumberMotions()"
        class="spacer-top-10 spacer-bottom-10"
        [disabled]="!motionsCount || hasChanged"
    >
        <span translate>Number motions</span>
    </button>

    <os-sorting-list
        (sortEvent)="onListUpdate($event)"
        [input]="motionObservable"
        #sorter
    >
        <!-- implicit motion references into the component using ng-template slot -->
        <ng-template let-motion>
            <span class="ellipsis-overflow small" *ngIf="motion.tags && motion.tags.length">
                <span *ngFor="let tag of motion.tags">
                    <mat-icon inline>local_offer</mat-icon>
                    {{ tag.getTitle() }}
                </span>
            </span>
            <mat-chip matTooltip="{{ 'Sequential number' | translate }}">{{ motion.id }}</mat-chip>
        </ng-template>
    </os-sorting-list>
</mat-card>
