<div *ngIf="poll">
    <table class="assignment-result-table" *ngIf="hasResults && canSeeResults">
        <tbody>
            <tr>
                <td></td>
                <th class="voting-option">{{ 'Candidates' | translate }}</th>
                <th class="result yes" *ngIf="showYHeader">
                    <span *ngIf="!isMethodY">
                        {{ 'Yes' | translate }}
                    </span>
                    <span *ngIf="isMethodY">
                        {{ 'Votes' | translate }}
                    </span>
                </th>
                <th class="result" *ngIf="showNHeader">
                    <span class="no" *ngIf="!isMethodN">
                        {{ 'No' | translate }}
                    </span>
                    <span class="yes" *ngIf="isMethodN">
                        {{ 'Votes' | translate }}
                    </span>
                </th>
                <th class="result abstain" *ngIf="isMethodYNA">{{ 'Abstain' | translate }}</th>
            </tr>
            <tr *ngFor="let row of tableData; let i = index" [class]="row.class">
                <td>
                    <span *ngIf="row.class === 'user'">{{ i + 1 }}.</span>
                </td>
                <td class="voting-option">
                    <div>
                        <span>
                            {{ row.votingOption | pollKeyVerbose | translate }}
                        </span>
                        <span class="user-subtitle" *ngIf="row.votingOptionSubtitle">
                            <br />
                            {{ row.votingOptionSubtitle }}
                        </span>
                    </div>
                </td>
                <td class="result" *ngFor="let vote of filterRelevantResults(row.value)">
                    <div class="single-result" [ngClass]="getVoteClass(vote)">
                        <span>
                            <span *ngIf="vote.showPercent">
                                {{ getVoteAmount(vote, row) | pollPercentBase: poll:row:'assignment' }}
                            </span>
                            <span *ngIf="row.class === 'user'">
                                {{ getVoteAmount(vote, row) | parsePollNumber }}
                            </span>
                            <span *ngIf="row.class !== 'user'">
                                {{ vote.amount | parsePollNumber }}
                            </span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr *ngIf="isPercentBaseEntitled && poll.entitled_users_at_stop" class="entitled-users-row">
                <td></td>
                <td>{{ 'Entitled users' | translate }}</td>
                <td class="result">
                    <div class="single-result">
                        <span>
                            {{ poll.entitled_users_at_stop.length | pollPercentBase: poll:row:'assignment' }}
                        </span>
                        <span>
                            {{ poll.entitled_users_at_stop.length }}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- No results yet -->
    <div *ngIf="!hasResults">
        <i>
            {{ 'No results yet.' | translate }}
        </i>
    </div>

    <!-- Has results, but user cannot see -->
    <div *ngIf="hasResults && !canSeeResults">
        <i>
            {{ 'Counting of votes is in progress ...' | translate }}
        </i>
    </div>
</div>
