<os-head-bar [isSearchEnabled]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Settings' | translate }}</h2>
    </div>
    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<os-grid-layout>
    <os-block-tile
        *ngFor="let group of this.groups"
        orientation="vertical"
        [only]="'content'"
        [preferredSize]="2"
        [isSquare]="true"
    >
        <ng-container class="block-node">
            <table>
                <tbody>
                    <tr>
                        <td [ngSwitch]="group">
                            <mat-icon *ngSwitchCase="'General'">home</mat-icon>
                            <mat-icon *ngSwitchCase="'Agenda'">today</mat-icon>
                            <mat-icon *ngSwitchCase="'Motions'">assignment</mat-icon>
                            <mat-icon *ngSwitchCase="'Elections'">how_to_vote</mat-icon>
                            <mat-icon *ngSwitchCase="'Participants'">groups</mat-icon>
                            <mat-icon *ngSwitchCase="'Custom translations'">language</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container class="block-content-node">
            <a class="stretch-to-fill-parent" [routerLink]="group.toLowerCase()"></a>
            <div class="link-wrapper">
                {{ group | translate }}
            </div>
        </ng-container>
    </os-block-tile>
</os-grid-layout>

<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="resetAll()">
        <mat-icon>undo</mat-icon>
        <span>{{ 'Reset to factory defaults' | translate }}</span>
    </button>
</mat-menu>
