.parent-wrapper {
    position: relative;
    padding: 50%;
    a {
        text-decoration: none;
    }
}

.link-wrapper {
    text-decoration: none;
    padding: 10% 0;
    display: block;
    text-align: center;
}
