@import '~assets/styles/tables.scss';
@import '~app/site/motions/styles/motion-list-styles.scss';

// Determine the distance between the top edge to the start of the table content
$text-margin-top: 10px;

.mat-button-toggle-group {
    line-height: normal;
    vertical-align: middle;
    box-shadow: none;

    mat-icon {
        vertical-align: middle;
        margin: 0;
    }
}

.projector-button {
    margin: auto;
}

.column-identifier {
    margin-top: $text-margin-top;
    word-break: break-all;
}

.column-title {
    margin-top: $text-margin-top;
}

.column-state {
    margin-top: $text-margin-top;
    width: inherit;

    .mat-icon {
        font-size: 150%;
    }
}

os-grid-layout {
    .color-select {
        width: 100%;
        padding: 0 8px;
    }
    .tile-block-title {
        font-size: 36px;

        .mat-icon {
            font-size: 36px;
            width: 36px;
            height: 36px;
        }

        .mat-badge-content {
            right: -22px;
            top: -11px;
            font-size: 16px;
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}
