/** css hacks https://codepen.io/edge0703/pen/iHJuA */
.innerTable {
    display: inline-block;
    vertical-align: top;
    line-height: 150%;
}

.os-listview-table {
    /** identifier */
    .mat-column-identifier {
        padding-left: 10px;
        flex: 0 0 50px;
        line-height: 60px; // set the text in the vertical middle, since vertical-align will not work
        display: initial; // reset display
        text-align: center; // center text
    }

    /** Title */
    .mat-column-title {
        width: 100%;
        flex: 1 0 200px;
        display: block;
        padding-left: 10px;

        .title-line {
            font-weight: 500;
            font-size: 16px;

            .attached-files {
                .mat-icon {
                    display: inline-flex;
                    vertical-align: middle;
                    $icon-size: 16px;
                    font-size: $icon-size;
                    height: $icon-size;
                    width: $icon-size;
                }
            }

            .favorite-star {
                padding-right: 3px;
            }
        }

        .submitters-line {
            font-size: 90%;
        }
    }

    /** State */
    .mat-column-state {
        flex: 0 0 160px;

        .state-column {
            width: 160px;
        }

        mat-icon {
            font-size: 150%;
        }
    }

    /** Speakers indicator */
    .mat-column-speakers {
        flex: 0 0 100px;
        justify-content: flex-end !important;
    }
}

.max-width {
    width: 100%;
}
