<os-head-bar [mainButton]="perms.isAllowed('create')" (mainEvent)="onPlusButton()" [multiSelectMode]="isMultiSelect">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Motions</h2></div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="motionListMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<mat-drawer-container class="on-transition-fade">
    <os-sort-filter-bar
        [filterCount]="filteredCount"
        [filterService]="filterService"
        [sortService]="sortService"
        (searchFieldChange)="searchFilter($event)"
    >
    </os-sort-filter-bar>

    <mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
        <!-- Selector column -->
        <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <mat-icon>{{ isSelected(motion) ? 'check_circle' : '' }}</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Projector column -->
        <ng-container matColumnDef="projector">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Projector</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <os-projector-button [object]="motion"></os-projector-button>
            </mat-cell>
        </ng-container>

        <!-- identifier column -->
        <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <div class="innerTable">
                    {{ motion.identifier }}
                </div>
            </mat-cell>
        </ng-container>

        <!-- title column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <div class="innerTable max-width">
                    <!-- title line -->
                    <div class="title-line ellipsis-overflow">
                        <!-- favorite icon -->
                        <span *ngIf="motion.star" class="favorite-star">
                            <mat-icon inline>star</mat-icon>
                        </span>
                        <!-- attachment icon -->
                        <span class="attached-files" *ngIf="motion.hasAttachments()">
                            <mat-icon>attach_file</mat-icon>
                        </span>
                        <!-- title -->
                        <span class="motion-list-title">
                            {{ motion.title }}
                        </span>
                    </div>
                    <!-- submitters line -->
                    <div class="submitters-line ellipsis-overflow" *ngIf="motion.submitters.length">
                        <span translate>by</span> {{ motion.submitters }}
                        <span *osPerms="'motions.can_manage'">
                            &middot;
                            <span translate>Sequential number</span>
                            {{ motion.id }}
                        </span>
                    </div>
                    <!-- state line-->
                    <div class="ellipsis-overflow white">
                        <mat-basic-chip *ngIf="motion.state" [ngClass]="motion.stateCssColor" [disabled]="true">
                            {{ getStateLabel(motion) }}
                        </mat-basic-chip>
                    </div>
                    <!-- recommendation line -->
                    <div
                        *ngIf="motion.recommendation && motion.state.next_states_id.length > 0"
                        class="ellipsis-overflow white"
                    >
                        <mat-basic-chip class="bluegrey" [disabled]="true">
                            {{ getRecommendationLabel(motion) }}
                        </mat-basic-chip>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- state column -->
        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
            <mat-cell (click)="openEditInfo(motion, $event)" *matCellDef="let motion">
                <div class="fill">
                    <div class="innerTable state-column">
                        <div class="small ellipsis-overflow" *ngIf="motion.category">
                            <mat-icon>device_hub</mat-icon>
                            {{ motion.category }}
                        </div>
                        <div class="small ellipsis-overflow" *ngIf="motion.motion_block">
                            <mat-icon>widgets</mat-icon>
                            {{ motion.motion_block.title }}
                        </div>
                        <div class="small ellipsis-overflow" *ngIf="motion.tags && motion.tags.length">
                            <mat-icon>local_offer</mat-icon>
                            <span *ngFor="let tag of motion.tags; let last = last">
                                {{ tag.getTitle() }}
                                <span *ngIf="!last">,&nbsp;</span>
                            </span>
                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Anchor column to open the separate tab -->
        <ng-container matColumnDef="anchor">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <a [routerLink]="motion.id" *ngIf="!isMultiSelect"></a>
            </mat-cell>
        </ng-container>

        <!-- Speakers column -->
        <ng-container matColumnDef="speakers">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Speakers</mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <button mat-icon-button (click)="onSpeakerIcon(motion, $event)" [disabled]="isMultiSelect">
                    <mat-icon
                        [matBadge]="motion.agendaSpeakerAmount > 0 ? motion.agendaSpeakerAmount : null"
                        matBadgeColor="accent"
                    >
                        mic
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
        <mat-row
            [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
            (click)="selectItem(row, $event)"
            *matRowDef="let row; columns: getColumnDefinition()"
            class="lg"
        >
        </mat-row>
    </mat-table>

    <mat-paginator class="on-transition-fade" [pageSizeOptions]="pageSize"></mat-paginator>
</mat-drawer-container>

<mat-menu #motionListMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <div *ngIf="perms.isAllowed('change_metadata')">
            <button mat-menu-item (click)="toggleMultiSelect()">
                <mat-icon>library_add</mat-icon>
                <span translate>Multiselect</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage')">
            <button mat-menu-item routerLink="call-list">
                <mat-icon>sort</mat-icon>
                <span translate>Call list</span>
            </button>
            <button mat-menu-item routerLink="category">
                <mat-icon>device_hub</mat-icon>
                <span translate>Categories</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage') || motionBlocks.length">
            <button mat-menu-item routerLink="blocks">
                <mat-icon>widgets</mat-icon>
                <span translate>Motion blocks</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage')">
            <button mat-menu-item routerLink="statute-paragraphs" *ngIf="statutesEnabled">
                <mat-icon>account_balance</mat-icon>
                <span translate>Statute</span>
            </button>
            <button mat-menu-item routerLink="comment-section">
                <mat-icon>speaker_notes</mat-icon>
                <span translate>Comment fields</span>
            </button>
            <button mat-menu-item routerLink="workflow">
                <mat-icon>build</mat-icon>
                <span translate>Workflows</span>
            </button>
            <button mat-menu-item routerLink="/tags" *osPerms="'core.can_manage_tags'">
                <mat-icon>local_offer</mat-icon>
                <span translate>Tags</span>
            </button>
            <button mat-menu-item (click)="openExportDialog()">
                <mat-icon>archive</mat-icon>
                <span translate>Export</span>
            </button>
            <button mat-menu-item routerLink="import">
                <mat-icon>cloud_upload</mat-icon>
                <span translate>Import</span>
            </button>
        </div>
        <div *ngIf="!perms.isAllowed('manage')">
            <button mat-menu-item (click)="directPdfExport()">
                <mat-icon>archive</mat-icon>
                <span translate>Export as PDF</span>
            </button>
        </div>
    </div>
    <div *ngIf="isMultiSelect">
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>
        <div *ngIf="perms.isAllowed('change_metadata')">
            <mat-divider></mat-divider>
            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.bulkSetFavorite(selectedRows))"
            >
                <mat-icon>star</mat-icon>
                <span translate>Set/unset Favorite</span>
            </button>
            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.setStateOfMultiple(selectedRows))"
            >
                <mat-icon>label</mat-icon>
                <span translate>Set status</span>
            </button>
            <button
                *ngIf="recommendationEnabled"
                [disabled]="!selectedRows.length"
                mat-menu-item
                (click)="multiselectWrapper(multiselectService.setRecommendation(selectedRows))"
            >
                <mat-icon>report</mat-icon>
                <!-- TODO: better icon -->
                <span translate>Set recommendation</span>
            </button>
            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                *ngIf="categories.length"
                (click)="multiselectWrapper(multiselectService.setCategory(selectedRows))"
            >
                <mat-icon>device_hub</mat-icon>
                <!-- TODO: icon -->
                <span translate>Set category</span>
            </button>
            <button
                mat-menu-item
                *ngIf="motionBlocks.length"
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.setMotionBlock(selectedRows))"
            >
                <mat-icon>widgets</mat-icon>
                <!-- TODO: icon -->
                <span translate>Set motion block</span>
            </button>

            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.changeSubmitters(selectedRows))"
            >
                <mat-icon>person_add</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add/remove submitters</span>
            </button>
            <button
                mat-menu-item
                *ngIf="tags.length"
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.changeTags(selectedRows))"
            >
                <mat-icon>bookmarks</mat-icon>
                <!-- TODO: icon -->
                <span translate>Add/remove tags</span>
            </button>
            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.moveToItem(selectedRows))"
            >
                <mat-icon>sort</mat-icon>
                <span translate>Move to agenda item</span>
            </button>
            <button
                mat-menu-item
                [disabled]="!selectedRows.length"
                (click)="multiselectWrapper(multiselectService.bulkMoveItems(selectedRows))"
            >
                <mat-icon>format_indent_increase</mat-icon>
                <span translate>Move in call list</span>
            </button>
        </div>
        <div *ngIf="perms.isAllowed('manage')">
            <button mat-menu-item [disabled]="!selectedRows.length" (click)="openExportDialog()">
                <mat-icon>archive</mat-icon>
                <span translate>Export selected motions</span>
            </button>
            <mat-divider></mat-divider>
            <button
                mat-menu-item
                class="red-warning-text"
                [disabled]="!selectedRows.length"
                (click)="multiselectService.delete(selectedRows); toggleMultiSelect()"
            >
                <mat-icon>delete</mat-icon>
                <span translate>Delete</span>
            </button>
        </div>
    </div>
</mat-menu>

<!-- Template for dialog for quick editing -->
<ng-template #motionInfoDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Edit details for' | translate }} {{ infoDialog.title }}</span>
    </h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <!-- Category -->
        <mat-form-field>
            <mat-select placeholder="{{ 'Category' | translate }}" [(ngModel)]="infoDialog.category">
                <mat-option [value]="null">-</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.getTitle() | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Motion block -->
        <mat-form-field>
            <mat-select placeholder="{{ 'Motion block' | translate }}" [(ngModel)]="infoDialog.motionBlock">
                <mat-option [value]="null">-</mat-option>
                <mat-option *ngFor="let block of motionBlocks" [value]="block.id">
                    {{ block.getTitle() | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Tag -->
        <mat-form-field>
            <mat-select multiple placeholder="{{ 'Tags' | translate }}" [(ngModel)]="infoDialog.tags">
                <mat-option *ngFor="let tag of tags" [value]="tag.id">
                    {{ tag.getTitle() | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="infoDialog">
            <span translate>Save</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span translate>Cancel</span>
        </button>
    </div>
</ng-template>
