h2 {
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 5px;
}
.element-name {
    margin-bottom: 10px;
}

mat-dialog-content {
    overflow: inherit;
    min-width: auto;

    div.projectors {
        padding: 15px 0;

        mat-checkbox {
            padding: 0 10px;
        }

        .right {
            float: right;
            padding-right: 10px;
        }
    }
}
