.progress-grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
        'message action'
        'bar action';
    grid-template-columns: auto min-content;

    .mat-progress-bar-buffer {
        // TODO theme
        // background-color: mat-color($background, card) !important;
        background-color: white !important;
    }

    .message {
        grid-area: message;
    }

    .bar {
        grid-area: bar;
    }

    .action {
        grid-area: action;
    }
}
