@import '~assets/styles/variables.scss';

.los-title {
    margin-left: 25px;
}

.finished-list {
    box-shadow: none !important;
    margin-bottom: 15px;

    .mat-list-item {
        height: auto;
        margin: 10px;

        .mat-list-item-content {
            display: block !important;
        }
    }
    .finished-speakers-grid {
        font-size: 14px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: min-content auto min-content;

        .finished-speaker-info {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
}

.current-speaker {
    display: table;
    width: -webkit-fill-available;
    height: 50px;
    margin: 50px 25px 20px 25px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    line-height: 1;

    .prefix {
        display: table-cell;
        padding: 0 15px;
        vertical-align: middle;
        .mat-icon {
            vertical-align: middle;
        }
    }

    .name {
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        padding-left: 10px;
        width: 100%;

        .active-speaker-subtitle {
            * {
                font-weight: initial;
                font-size: 95%;
            }
        }
    }

    .suffix {
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
        padding-right: 10px;
    }
}

.waiting-list {
    padding: 10px 25px 0 25px;

    .single-speaker-line {
        display: grid;
        grid-template-columns: auto min-content;
        grid-column-gap: 0.5em;

        .speaker-name {
            margin: auto 0;
        }

        .speaker-controls {
            margin-right: 0.5em;
        }
    }

    .speaker-warning {
        margin-right: 5px;
    }
}

.add-self-buttons {
    margin: 10px 20px;
    display: inline-flex;
    flex-wrap: wrap;

    button {
        margin: 5px;
    }
}

.search-new-speaker-form {
    padding: 15px 25px 0 25px;
    width: auto;

    .search-users-field {
        width: 100%;
        .search-users {
            display: grid;
            .mat-form-field {
                width: 100%;
            }
        }
    }
}
