<mat-card class="os-card speaker-card">
    <!-- Title -->
    <h1 class="los-title" *ngIf="!customTitle">
        <span>
            {{ title }}
        </span>
        <mat-icon *ngIf="closed" matTooltip="{{ 'The list of speakers is closed.' | translate }}"> lock </mat-icon>
    </h1>
    <span *ngIf="customTitle">
        <ng-content></ng-content>
    </span>

    <!-- List of finished speakers -->
    <mat-expansion-panel *ngIf="finishedSpeakers?.length" class="finished-list">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ 'Last speakers' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let speaker of finishedSpeakers; let number = index">
                <div class="finished-speaker-grid">
                    <div class="number">{{ number + 1 }}.</div>
                    <div class="name">{{ speaker.getTitle() }}</div>
                    <div class="point-of-order" *ngIf="speaker.point_of_order"><mat-icon color="warn">warning</mat-icon></div>
                    <div class="time">
                        {{ durationString(speaker) }} ({{ 'Start time' | translate }}: {{ startTimeToString(speaker) }})
                    </div>
                    <div class="controls">
                        <button
                            mat-icon-button
                            matTooltip="{{ 'Remove' | translate }}"
                            *osPerms="'agenda.can_manage_list_of_speakers'"
                            (click)="removeSpeaker(speaker)"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <!-- horizontal separation line -->
    <mat-divider *ngIf="finishedSpeakers && finishedSpeakers.length"></mat-divider>
    <div *ngIf="finishedSpeakers && finishedSpeakers.length" class="spacer-bottom-40"></div>

    <!-- Current Speaker -->
    <div class="current-speaker" *ngIf="activeSpeaker">
        <span class="prefix">
            <mat-icon>mic</mat-icon>
        </span>

        <span class="name">{{ activeSpeaker.getListTitle() }}</span>

        <span class="suffix">

            <!-- point of order visible for everyone -->
            <button
                mat-icon-button
                matTooltip="{{ 'Point of order' | translate }}"
                *ngIf="activeSpeaker.point_of_order"
            >
                <mat-icon color="warn">warning</mat-icon>
            </button>
            <!-- Stop speaker button -->
            <button
                mat-icon-button
                matTooltip="{{ 'End speech' | translate }}"
                *osPerms="'agenda.can_manage_list_of_speakers'"
                (click)="onStopButton()"
            >
                <mat-icon>stop</mat-icon>
            </button>
        </span>
    </div>

    <!-- Waiting speakers -->
    <div class="waiting-list" *ngIf="waitingSpeakers?.length">
        <os-sorting-list
            [live]="true"
            [input]="waitingSpeakers"
            [count]="true"
            [enable]="opCanManage && (isSortMode || !isMobile)"
            (sortEvent)="onSortingChanged($event)"
        >
            <!-- implicit speaker references into the component using ng-template slot -->
            <ng-template let-speaker>
                <span *osPerms="'agenda.can_manage_list_of_speakers'; and: !speaker.point_of_order">
                    <!-- Speaker count -->
                    <span *ngIf="hasSpokenCount(speaker)" class="red-warning-text speaker-warning">
                        {{ hasSpokenCount(speaker) + 1 }}. <span>{{ 'contribution' | translate }}</span>
                    </span>

                    <!-- First contribution -->
                    <span
                        *ngIf="showFistContributionHint && isFirstContribution(speaker)"
                        class="red-warning-text speaker-warning"
                    >
                        {{ 'First speech' | translate }}
                    </span>

                    <!-- Speaker gender -->
                    <span *ngIf="speaker.gender">({{ speaker.gender | translate }})</span>
                </span>

                <!-- Start, start and delete buttons -->
                <span>
                    <!-- start button -->
                    <button
                        mat-icon-button
                        matTooltip="{{ 'Begin speech' | translate }}"
                        (click)="onStartButton(speaker)"
                        *osPerms="'agenda.can_manage_list_of_speakers'"
                    >
                        <mat-icon>play_arrow</mat-icon>
                    </button>

                    <!-- star button -->
                    <button
                        mat-icon-button
                        matTooltip="{{ 'Mark speaker' | translate }}"
                        (click)="onMarkButton(speaker)"
                        *osPerms="'agenda.can_manage_list_of_speakers'; and: !speaker.point_of_order"
                    >
                        <mat-icon>{{ speaker.marked ? 'star' : 'star_border' }}</mat-icon>
                    </button>

                    <!-- point of order visible for everyone -->
                    <button
                        mat-icon-button
                        matTooltip="{{ 'Point of order' | translate }}"
                        *ngIf="speaker.point_of_order"
                    >
                        <mat-icon color="warn"> warning </mat-icon>
                    </button>

                    <!-- delete button -->
                    <button
                        mat-icon-button
                        matTooltip="{{ 'Remove' | translate }}"
                        (click)="removeSpeaker(speaker)"
                        *osPerms="'agenda.can_manage_list_of_speakers'"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </span>

                <!-- For thouse without LOS -->
                <span *osPerms="'agenda.can_manage_list_of_speakers'; complement: true">
                    <mat-icon *ngIf="speaker.marked"> star </mat-icon>
                </span>
            </ng-template>
        </os-sorting-list>
    </div>

    <!-- Search for speakers -->
    <div *osPerms="'agenda.can_manage_list_of_speakers'">
        <form
            *ngIf="waitingSpeakers && filteredUsers?.value?.length"
            [formGroup]="addSpeakerForm"
            class="search-new-speaker-form"
        >
            <mat-form-field class="search-users-field">
                <os-search-value-selector
                    class="search-users"
                    formControlName="user_id"
                    placeholder="{{ 'Select or search new speaker ...' | translate }}"
                    [inputListValues]="filteredUsers"
                    [showNotFoundButton]="true"
                    (clickNotFound)="onCreateUser($event)"
                >
                    <ng-container notFoundDescription>
                        <mat-icon>add</mat-icon>
                        {{ 'Create user' | translate }}
                    </ng-container>
                </os-search-value-selector>
            </mat-form-field>
        </form>
    </div>

    <div class="add-self-buttons" *osPerms="'agenda.can_be_speaker'">
        <!-- Add me and remove me if OP has correct permission -->
        <button
            *ngIf="!isOpInWaitlist()"
            mat-stroked-button
            [disabled]="closed || !canAddDueToPresence"
            (click)="addUserAsNewSpeaker()"
        >
            <mat-icon>add</mat-icon>
            <span>{{ 'Add me' | translate }}</span>
        </button>
        <button
            *ngIf="isOpInWaitlist()"
            mat-stroked-button
            [disabled]="closed"
            (click)="removeSpeaker()"
        >
            <mat-icon>remove</mat-icon>
            <span>{{ 'Remove me' | translate }}</span>
        </button>

        <!-- Point Of order -->
        <button mat-stroked-button color="warn" (click)="addPointOfOrder()" *ngIf="showPointOfOrders && !isOpInWaitlist(true)">
            <mat-icon>warning</mat-icon>&nbsp;
            <span>{{ 'Point of order' | translate }}</span>
        </button>
        <button mat-stroked-button color="warn" (click)="removePointOfOrder()" *ngIf="showPointOfOrders && isOpInWaitlist(true)">
            <mat-icon>remove</mat-icon>
            <span>{{ 'Withdraw point of order' | translate }}</span>
        </button>
    </div>
</mat-card>
