span {
    font-size: 20px;
    padding-left: 10px;
}
.center {
    text-align: center;
}
.space {
    margin-bottom: 5px;
}
#c4 {
    background-color: yellow;
    padding: 10px;
    margin: 15px auto;
}
#c4.disabled {
    background-color: grey;
}
#c4 td {
    width: 50px;
    height: 50px;
}
#c4 .notSelected {
    cursor: pointer;
    background-color: white;
}
#c4.disabled .notSelected {
    cursor: auto;
}
.thisPlayer {
    background-color: blue;
}
#c4.disabled .thisPlayer {
    background-color: #8888ff;
}
.partner {
    background-color: red;
}
#c4.disabled .partner {
    background-color: #ff8888;
}
.coin {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.coin.info-coin {
    display: inline-block;
    width: 20px;
    height: 20px;
}
