<h2 mat-dialog-title>{{ caption | translate }}</h2>
<mat-dialog-content>
    <ng-container *ngIf="partnerName">
        <div class="space">
            <div class="coin info-coin thisPlayer"></div>
            <span>{{ getPlayerName() }}</span>
        </div>
        <div>
            <div class="coin info-coin partner"></div>
            <span>{{ partnerName }}</span>
        </div>
    </ng-container>
    <table [class]="disableBoard ? 'disabled' : ''" id="c4">
        <tr *ngFor="let row of [5, 4, 3, 2, 1, 0]">
            <td *ngFor="let col of [0, 1, 2, 3, 4, 5, 6]">
                <div [class]="getCoinClass(row, col)" (click)="clickField(row, col)"></div>
            </td>
        </tr>
    </table>

    <div class="center">
        <button (click)="handleEvent('searchClicked')" *ngIf="state === 'start'" mat-raised-button color="accent">
            {{ 'Search player' | translate }}
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Close' | translate }}</button>
</mat-dialog-actions>
