<mat-card class="os-card" *ngIf="showPoll">
    <div class="assignment-poll-wrapper">
        <div>
            <!-- Title -->
            <mat-card-title>
                <a routerLink="/assignments/polls/{{ poll.id }}">
                    {{ poll.title }}
                </a>
            </mat-card-title>

            <!-- Type and State -->
            <div class="type-and-state italic spacer-bottom-20">
                <span *osPerms="'assignments.can_manage'; and: poll.isEVoting">
                    <os-icon-container
                        class="poll-type"
                        icon="info"
                        size="large"
                        color="primary"
                        [swap]="true"
                        [showIcon]="poll.isAnon"
                        (iconAction)="openVotingWarning()"
                    >
                        {{ poll.typeVerbose | translate }}
                    </os-icon-container>
                    <span *ngIf="poll.isAnon">&nbsp;</span>
                    &middot;&nbsp;
                </span>
                <span>
                    {{ poll.stateVerbose | translate }}
                </span>
            </div>

            <!-- Menu -->
            <div class="poll-menu">
                <!-- Buttons -->
                <button
                    mat-icon-button
                    *osPerms="['core.can_manage_projector', 'assignments.can_manage']"
                    [matMenuTriggerFor]="pollItemMenu"
                    (click)="$event.stopPropagation()"
                >
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </div>

            <!-- Change state button -->
            <div *osPerms="'assignments.can_manage'; and: !hideChangeState">
                <button
                    mat-stroked-button
                    [ngClass]="pollStateActions[poll.state].css"
                    (click)="changeState(poll.nextState)"
                    [disabled]="stateChangePending"
                >
                    <mat-icon> {{ pollStateActions[poll.state].icon }}</mat-icon>
                    <span class="next-state-label">
                        <ng-container *ngIf="!stateChangePending">
                            {{ poll.nextStateActionVerbose | translate }}
                        </ng-container>
                        <ng-container *ngIf="stateChangePending">
                            {{ 'In progress, please wait...' | translate }}
                        </ng-container>
                    </span>
                </button>
            </div>

            <!-- Enter Votes Hint -->
            <div *osPerms="'assignments.can_manage'; and: poll.type === 'analog' && !poll.stateHasVotes">
                {{ 'Edit to enter votes.' | translate }}
            </div>
        </div>

        <!-- Chart / Table -->
        <div *ngIf="poll.stateHasVotes" class="poll-result-wrapper">
            <os-assignment-poll-detail-content routerLink="/assignments/polls/{{ poll.id }}" [poll]="poll">
            </os-assignment-poll-detail-content>
        </div>

        <!-- Poll progress bar -->
        <div *osPerms="'assignments.can_manage'; and: poll && poll.isStarted">
            <os-poll-progress [poll]="poll"></os-poll-progress>
        </div>

        <!-- The Vote -->
        <os-assignment-poll-vote *ngIf="poll.canBeVotedFor()" [poll]="poll"></os-assignment-poll-vote>

        <!-- Meta-Info -->
        <os-assignment-poll-meta-info
            [poll]="poll"
            [showCandidates]="showCandidatesInMetaInfo"
            *ngIf="showMetaInfo"
        ></os-assignment-poll-meta-info>
    </div>
</mat-card>

<mat-menu #pollItemMenu="matMenu">
    <div *osPerms="'assignments.can_manage'">
        <button mat-menu-item (click)="openDialog()">
            <mat-icon>edit</mat-icon>
            <span>{{ 'Edit' | translate }}</span>
        </button>
    </div>
    <div *osPerms="'core.can_manage_projector'">
        <os-projector-button menuItem="true" [object]="poll"></os-projector-button>
    </div>
    <div *osPerms="'assignments.can_manage'">
        <button mat-menu-item (click)="printBallot()">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ 'Ballot papers' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <!-- Refresh Button -->
        <button mat-menu-item (click)="refreshPoll()">
            <mat-icon>refresh</mat-icon>
            <span>{{ 'Refresh' | translate }}</span>
        </button>

        <!-- Reset Button -->
        <button mat-menu-item (click)="resetState()">
            <mat-icon color="warn">replay</mat-icon>
            <span>{{ 'Reset state' | translate }}</span>
        </button>

        <!-- Delete button -->
        <button mat-menu-item class="red-warning-text" (click)="onDeletePoll()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </button>
    </div>
</mat-menu>
