@import '~assets/styles/poll-colors.scss';

.voted-yes {
    background-color: $votes-yes-color;
}

.voted-no {
    background-color: $votes-no-color;
}

.voted-abstain {
    background-color: $votes-abstain-color;
}

.vote-label {
    margin-left: 1em;
}
