@import '~assets/styles/poll-colors.scss';

.vote-button-grid {
    display: grid;
    grid-gap: 20px;
    margin-top: 2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.vote-button {
    display: inline-grid;
    grid-gap: 1em;
    margin: auto;

    .vote-label {
        text-align: center;
    }
}

.user-has-voted {
    display: flex;
    > * {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
}

.voted-yes {
    background-color: $votes-yes-color;
    color: $vote-active-color;
}

.voted-no {
    background-color: $votes-no-color;
    color: $vote-active-color;
}

.voted-abstain {
    background-color: $votes-abstain-color;
    color: $vote-active-color;
}
