.video-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

    .applause-particles {
        position: absolute;
        display: block;
        pointer-events: none !important;
        width: 100px;
        height: 100%;
        z-index: 1;
    }

    .is-offline-wrapper {
        width: 100%;
        text-align: center;
        width: 500px;
        height: 200px;

        .offlineposter {
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            button {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                opacity: 0.3;
            }

            button:hover {
                opacity: 1;
            }
        }
    }

    .player-container {
        width: 100%;

        .video-js {
            margin: auto;

            .vjs-control-bar {
                .vjs-subs-caps-button {
                    display: none !important;
                }

                .vjs-descriptions-button {
                    display: none !important;
                }

                .vjs-audio-button {
                    display: none !important;
                }
            }
        }

        .youtube-player {
            height: 100%;
            width: 100%;
            display: flex;

            .youtube-iFrame {
                width: 100%;
                height: 280px;
            }
        }
    }
}
