<div class="video-wrapper">
    <div class="player-container" [ngClass]="{ hide: !isUrlOnline && usingVjs }" *ngIf="isStable">
        <div *ngIf="usingVjs">
            <video #vjs class="video-js" controls preload="none"></video>
        </div>
        <div *ngIf="!usingVjs" class="iframe-player">
            <iframe
                *ngIf="usingYouTube"
                class="player"
                type="text/html"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen
                [src]="youTubeVideoUrl | trust: 'resourceUrl'"
            ></iframe>

            <iframe
                *ngIf="usingNanocosmos"
                class="player"
                type="text/html"
                scrolling="no"
                frameborder="0"
                allowfullscreen="true"
                [src]="nanocosmosVideoUrl | trust: 'resourceUrl'"
            >
            </iframe>
        </div>
    </div>
    <div *ngIf="usingVjs && !isUrlOnline" class="is-offline-wrapper">
        <ng-container *ngIf="!posterUrl">
            <p>
                {{ 'Currently no livestream available.' | translate }}
            </p>
            <button mat-raised-button (click)="onRefreshVideo()" color="primary">
                <mat-icon>refresh</mat-icon>&nbsp;
                <span>{{ 'Refresh' | translate }}</span>
            </button>
        </ng-container>
        <div *ngIf="posterUrl" class="offlineposter">
            <button mat-mini-fab (click)="onRefreshVideo()" color="accent" matTooltip="{{ 'Refresh' | translate }}">
                <mat-icon>refresh</mat-icon>
            </button>
            <img [src]="posterUrl" />
        </div>
    </div>
</div>
