span {
    margin: 0;
}

.motion-title {
    padding-left: 20px;
    line-height: 100%;
}

.motion-submitter {
    display: inline;
    font-weight: bold;
    font-size: 70%;
}

mat-panel-title {
    fa-icon {
        margin-right: 35px; //on line with text
    }
}

.meta-info-panel {
    padding-top: 25px;

    a:hover {
        cursor: pointer;
    }

    h3 {
        display: block;
        margin-top: 12px; //distance between heading and text
        margin-bottom: 3px; //distance between heading and text
        font-size: 80%;
        color: gray;

        fa-icon {
            margin-left: 5px;
        }
    }

    mat-form-field {
        margin-top: 12px; //distance between heading and text
    }

    .mat-form-field-label {
        font-size: 12pt;
        color: gray;
    }

    .mat-form-field-label-wrapper {
        fa-icon {
            margin-left: 5px;
        }
    }
}

.wide-text {
    width: 95%;

    textarea {
        height: 200px;
    }
}

mat-expansion-panel {
    .expansion-panel-custom-body {
        padding-left: 55px;
    }
}

.content-panel {
    h2 {
        display: block;
        font-weight: bold;
        font-size: 120%;
    }

    h3 {
        display: block;
        font-weight: initial;
        font-size: 100%;
    }

    h4 {
        display: block;
        font-weight: bold;
        font-size: 100%;
    }
}
