<mat-card class="spacer-bottom-60" [ngClass]="isEditing ? 'os-form-card' : 'os-card'">
    <ng-container *ngIf="!isEditing">
        <div *ngIf="privacyPolicy" [innerHtml]="privacyPolicy | trust: 'html'"></div>
        <div *ngIf="!privacyPolicy">
            {{ 'The event manager has not set up a privacy policy yet.' | translate }}
        </div>
    </ng-container>
    <ng-container *ngIf="isEditing">
        <form [formGroup]="formGroup">
            <editor formControlName="privacyPolicy" [init]="tinyMceSettings"></editor>
        </form>
    </ng-container>
</mat-card>
