<mat-card [ngClass]="isEditing ? 'os-form-card' : 'os-card'">
    <ng-container *ngIf="!isEditing">
        <div *ngIf="privacyPolicy" [innerHtml]="privacyPolicy | trust: 'html'"></div>
        <div *ngIf="!privacyPolicy" translate>
            The event manager hasn't set up a privacy policy yet.
        </div>
    </ng-container>
    <ng-container *ngIf="isEditing">
        <form [formGroup]="formGroup">
            <editor formControlName="privacyPolicy" [init]="tinyMceSettings"></editor>
        </form>
    </ng-container>
</mat-card>
