<os-head-bar [mainButton]="canUploadFiles" [multiSelectMode]="isMultiSelect" (mainEvent)="onMainEvent()">
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Files</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot" *osPerms="'mediafiles.can_manage'">
        <button type="button" mat-icon-button [matMenuTriggerFor]="mediafilesMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <!-- Multiselect info -->
    <div *ngIf="this.isMultiSelect" class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<os-list-view-table
    [repo]="repo"
    [filterService]="filterService"
    [sortService]="sortService"
    [columns]="tableColumnDefinition"
    [multiSelect]="isMultiSelect"
    [restricted]="restrictedColumns"
    [filterProps]="filterProps"
    scrollKey="user"
    [(selectedRows)]="selectedRows"
    (dataSourceChange)="onDataSourceChange($event)"
>
    <!-- File title column -->
    <div *pblNgridCellDef="'title'; row as file" class="cell-slot fill">
        <a class="detail-link" [routerLink]="file.downloadUrl" target="_blank" *ngIf="!isMultiSelect"></a>
        <span *ngIf="file.is_hidden">
            <mat-icon matTooltip="{{ 'is hidden' | translate }}">lock</mat-icon>
            &nbsp;
        </span>
        <div>
            {{ file.title }}
        </div>
    </div>

    <!-- Info column -->
    <div *pblNgridCellDef="'info'; row as file" class="cell-slot fill">
        <div class="file-info-cell">
            <os-icon-container icon="insert_drive_file">{{ file.type }}</os-icon-container>
            <os-icon-container icon="data_usage">{{ file.size }}</os-icon-container>
        </div>
    </div>

    <!-- Indicator column -->
    <div *pblNgridCellDef="'indicator'; row as file" class="cell-slot fill">
        <div
            *ngIf="getFileSettings(file).length > 0"
            [matMenuTriggerFor]="singleFileMenu"
            [matMenuTriggerData]="{ file: file }"
            [matTooltip]="formatIndicatorTooltip(file)"
        >
            <mat-icon *ngIf="file.isFont()">text_fields</mat-icon>
            <mat-icon *ngIf="file.isImage()">insert_photo</mat-icon>
        </div>
    </div>

    <!-- Menu column -->
    <div *pblNgridCellDef="'menu'; row as file" class="cell-slot fill">
        <button
            mat-icon-button
            [matMenuTriggerFor]="singleFileMenu"
            [matMenuTriggerData]="{ file: file }"
            [disabled]="isMultiSelect"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-list-view-table>

<!-- Template for the managing buttons -->
<ng-template #manageButton let-file="file" let-action="action">
    <button mat-menu-item (click)="onManageButton($event, file, action)">
        <mat-icon color="accent"> {{ isUsedAs(file, action) ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
        <span>{{ getNameOfAction(action) }}</span>
    </button>
</ng-template>

<!-- Menu for single files in the list -->
<mat-menu #singleFileMenu="matMenu">
    <ng-template matMenuContent let-file="file">
        <!-- Exclusive for images -->
        <div *ngIf="file.isImage()">
            <div *ngFor="let action of logoActions">
                <ng-container *ngTemplateOutlet="manageButton; context: { file: file, action: action }"></ng-container>
            </div>
        </div>

        <!-- Exclusive for fonts -->
        <div *ngIf="file.isFont()">
            <div *ngFor="let action of fontActions">
                <ng-container *ngTemplateOutlet="manageButton; context: { file: file, action: action }"></ng-container>
            </div>
        </div>

        <!-- Edit and delete for all images -->
        <mat-divider></mat-divider>

        <os-speaker-button [object]="file" [menuItem]="true"></os-speaker-button>
        <button mat-menu-item (click)="onEditFile(file)">
            <mat-icon>edit</mat-icon>
            <span translate>Edit</span>
        </button>
        <button mat-menu-item class="red-warning-text" (click)="onDelete(file)">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </ng-template>
</mat-menu>

<!-- Menu for Mediafiles -->
<mat-menu #mediafilesMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="'mediafiles.can_manage'" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>Multiselect</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            *osPerms="'mediafiles.can_manage'"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</mat-menu>

<ng-template #fileEditDialog>
    <h1 mat-dialog-title>{{ 'Edit details for' | translate }}</h1>
    <div class="os-form-card-mobile" mat-dialog-content>
        <form class="edit-file-form" [formGroup]="fileEditForm" (keydown)="keyDownFunction($event)">
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    osAutofocus
                    required
                    formControlName="title"
                    placeholder="{{ 'New file name' | translate }}"
                />
                <mat-error *ngIf="fileEditForm.invalid" translate>Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="hidden" placeholder="{{ 'Visibility' | translate }}">
                    <mat-option [value]="true"> <span translate>Hidden</span> </mat-option>
                    <mat-option [value]="false"><span translate>Visible</span></mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            [disabled]="!fileEditForm.valid"
            color="primary"
            (click)="onSaveEditedFile(fileEditForm.value)"
        >
            <span translate>Save</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span translate>Cancel</span>
        </button>
    </div>
</ng-template>
