@import '~assets/styles/tables.scss';

// multi line tooltip
::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

.folder-nav-bar {
    $size: 40px;
    position: relative;
    display: flex;
    line-height: $size;
    background-color: white; // TODO: theme

    .arrow {
        height: $size;
        float: left;
        .mat-icon {
            line-height: $size;
        }
    }

    .folder {
        height: $size;
    }

    .fake-folder {
        padding: 0 16px;
    }

    .folder-text {
        font-size: 16px;
        font-weight: 500;
        margin: auto 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .visibility {
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;
        .visible-for {
            margin-left: 10px;
            display: inherit;
        }
        mat-icon {
            cursor: auto;
        }
    }
}

.file-manager-table {
    .file-title {
        font-weight: 500;
        font-size: 16px;
    }

    .info-text {
        font-size: 90%;
    }

    height: calc(100vh - 105px);

    .pbl-ngrid-row {
        $size: 60px;
        height: $size !important;

        .pbl-ngrid-cell {
            height: $size !important;
        }
    }
}
