<os-head-bar
    [mainButton]="canUploadFiles"
    [editMode]="editFile"
    [multiSelectMode]="isMultiSelect"
    (mainEvent)="onMainEvent()"
    (saveEvent)="onSaveEditedFile()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="!editFile" translate>Files</h2>

        <form
            class="edit-file-form"
            *ngIf="editFile"
            [formGroup]="fileEditForm"
            (ngSubmit)="onSaveEditedFile()"
            (keydown)="keyDownFunction($event)"
        >
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    osAutofocus
                    required
                    formControlName="title"
                    placeholder="{{ 'New file name' | translate }}"
                />
                <mat-error *ngIf="fileEditForm.invalid" translate>Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select formControlName="hidden" placeholder="{{ 'Visibility' | translate }}">
                    <mat-option [value]="true"> <span translate>Hidden</span> </mat-option>
                    <mat-option [value]="false"><span translate>Visible</span></mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <!-- Menu -->
    <div class="menu-slot" *osPerms="'mediafiles.can_manage'">
        <button type="button" mat-icon-button [matMenuTriggerFor]="mediafilesMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <!-- Multiselect info -->
    <div *ngIf="this.isMultiSelect" class="central-info-slot">
        <button mat-icon-button (click)="toggleMultiSelect()"><mat-icon>arrow_back</mat-icon></button>
        <span>{{ selectedRows.length }}&nbsp;</span><span translate>selected</span>
    </div>
</os-head-bar>

<mat-drawer-container class="on-transition-fade">
    <os-sort-filter-bar
        [filterCount]="filteredCount"
        [sortService]="sortService"
        [filterService]="filterService"
        (searchFieldChange)="searchFilter($event)"
    >
    </os-sort-filter-bar>
    <mat-table class="os-listview-table on-transition-fade" [dataSource]="dataSource" matSort>
        <!-- Selector Column -->
        <ng-container matColumnDef="selector">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="icon-cell"></mat-header-cell>
            <mat-cell *matCellDef="let item" class="icon-cell" (click)="selectItem(item, $event)">
                <mat-icon>{{ isSelected(item) ? 'check_circle' : '' }}</mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Projector column -->
        <ng-container matColumnDef="projector">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Projector</mat-header-cell>
            <mat-cell *matCellDef="let file">
                <os-projector-button [object]="file"></os-projector-button>
            </mat-cell>
        </ng-container>

        <!-- Filename -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let file">
                <span *ngIf="file.is_hidden">
                    <mat-icon matTooltip="{{ 'is hidden' | translate }}">lock</mat-icon>
                    &nbsp;
                </span>
                {{ file.title }}</mat-cell
            >
        </ng-container>

        <!-- Info -->
        <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
            <mat-cell *matCellDef="let file">
                <div class="file-info-cell">
                    <span> <mat-icon [inline]="true">insert_drive_file</mat-icon> {{ file.type }} </span>
                    <span> <mat-icon [inline]="true">data_usage</mat-icon> {{ file.size }} </span>
                </div>
            </mat-cell>
        </ng-container>

        <!-- indicator -->
        <ng-container matColumnDef="indicator">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Indicator</mat-header-cell>
            <mat-cell *matCellDef="let file">
                <!-- check if the file is managed -->

                <div
                    *ngIf="getFileSettings(file).length > 0"
                    [matMenuTriggerFor]="singleFileMenu"
                    (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ file: file }"
                    [matTooltip]="formatIndicatorTooltip(file)"
                >
                    <mat-icon *ngIf="file.isFont()">text_fields</mat-icon>
                    <mat-icon *ngIf="file.isImage()">insert_photo</mat-icon>
                </div>
            </mat-cell>
        </ng-container>

        <!-- menu -->
        <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Menu</mat-header-cell>
            <mat-cell *matCellDef="let file">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="singleFileMenu"
                    (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ file: file }"
                    [disabled]="isMultiSelect"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
        <mat-row
            *matRowDef="let row; columns: getColumnDefinition()"
            (click)="selectItem(row, $event)"
            [ngClass]="selectedRows.indexOf(row) >= 0 ? 'selected' : ''"
        ></mat-row>
    </mat-table>

    <mat-paginator class="on-transition-fade" [pageSizeOptions]="pageSize"></mat-paginator>
</mat-drawer-container>

<!-- Template for the managing buttons -->
<ng-template #manageButton let-file="file" let-action="action">
    <button mat-menu-item (click)="onManageButton($event, file, action)">
        <mat-icon color="accent"> {{ isUsedAs(file, action) ? 'check_box' : 'check_box_outline_blank' }} </mat-icon>
        <span>{{ getNameOfAction(action) }}</span>
    </button>
</ng-template>

<!-- Menu for single files in the list -->
<mat-menu #singleFileMenu="matMenu">
    <ng-template matMenuContent let-file="file">
        <!-- Exclusive for images -->
        <div *ngIf="file.isImage()">
            <div *ngFor="let action of logoActions">
                <ng-container *ngTemplateOutlet="manageButton; context: { file: file, action: action }"></ng-container>
            </div>
        </div>

        <!-- Exclusive for fonts -->
        <div *ngIf="file.isFont()">
            <div *ngFor="let action of fontActions">
                <ng-container *ngTemplateOutlet="manageButton; context: { file: file, action: action }"></ng-container>
            </div>
        </div>

        <!-- Edit and delete for all images -->
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onEditFile(file)">
            <mat-icon>edit</mat-icon>
            <span translate>Edit</span>
        </button>
        <button mat-menu-item class="red-warning-text" (click)="onDelete(file)">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </ng-template>
</mat-menu>

<!-- Menu for Mediafiles -->
<mat-menu #mediafilesMenu="matMenu">
    <div *ngIf="!isMultiSelect">
        <button mat-menu-item *osPerms="'mediafiles.can_manage'" (click)="toggleMultiSelect()">
            <mat-icon>library_add</mat-icon>
            <span translate>Multiselect</span>
        </button>
    </div>
    <div *ngIf="isMultiSelect">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="selectAll()">
            <mat-icon>done_all</mat-icon>
            <span translate>Select all</span>
        </button>
        <button mat-menu-item [disabled]="!selectedRows.length" (click)="deselectAll()">
            <mat-icon>clear</mat-icon>
            <span translate>Deselect all</span>
        </button>
        <mat-divider></mat-divider>
        <button
            mat-menu-item
            *osPerms="'mediafiles.can_manage'"
            [disabled]="!selectedRows.length"
            (click)="deleteSelected()"
        >
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</mat-menu>
