@import '~@angular/material/theming';

@mixin os-jitsi-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .jitsi-bar {
        .apply-theme {
            background-color: mat-color($primary);

            .quick-icon:not([disabled]) {
                background-color: mat-color($primary, default-contrast);
            }

            .indicator {
                color: mat-color($primary, default-contrast);

                svg path {
                    fill: mat-color($primary) !important;
                }
            }

            .toggle-list-button {
                span {
                    color: mat-color($primary, default-contrast);
                }
            }
        }
    }

    .jitsi-list {
        background-color: mat-color($background, card);
    }
}
