.jitsi-fake-dialog-wrapper {
    z-index: 98;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 10% 20px 5%;

    .jitsi-fake-dialog {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;

        .jitsi-iframe-wrapper {
            flex: 1;
        }

        .jitsi-dialog-actions {
            display: flex;
            justify-content: space-between;

            div {
                min-width: 33%;
                display: flex;
            }

            .dialog-hangup {
                margin-left: auto;
                margin-right: auto;
            }

            .dialog-hide {
                margin-left: auto;
            }
        }
    }
}

.jitsi-dialog-hide {
    display: none;
}

.jitsi-integration {
    pointer-events: none;
    z-index: 99;
    position: fixed;
    left: 0;
    right: 20px;
    bottom: 0;

    .cast-shadow {
        box-shadow: -3px -3px 10px 0px rgba(0, 0, 0, 0.2) !important;
    }

    .jitsi-bar {
        display: flex;
        position: relative;
        justify-content: flex-end;
        $wrapper-padding: 5px;
        $bar-height: 40px;

        .control-icon-wrapper {
            pointer-events: all;
            z-index: 1;
            min-height: $bar-height;
            display: flex;
            margin-top: auto;
            padding-right: 0.5em;
            padding: $wrapper-padding 0 $wrapper-padding $wrapper-padding;
            border-top-left-radius: 4px;

            .indicator {
                width: 40px;
                text-align: center;
                margin: auto $wrapper-padding auto 0;
            }
        }

        .stream-width-wrapper {
            width: 100%;
            min-width: 100px;
            max-width: 500px;
        }

        .audio-list-wrapper {
            width: 100%;
            min-width: 100px;
            max-width: 300px;
        }

        .list-wrapper {
            position: relative;
            pointer-events: all;
            min-height: $bar-height;
            padding-top: $wrapper-padding;
            border-top-right-radius: 4px;

            .applause {
                position: absolute;
                top: 0;
                width: 90px;
                left: -90px;
                bottom: 50px;
            }

            .toggle-list-button {
                position: relative;
                line-height: normal;
                width: 100%;
                height: 40px;
                padding: 0 2.5em;
                margin-bottom: $wrapper-padding;
                font-weight: normal;
                text-align: right;

                .opened-indicator {
                    position: absolute;
                    right: $wrapper-padding;
                    top: 8px;
                }

                .dominant-speaker {
                    font-weight: 500;
                    width: fit-content;
                    margin: 0 auto;
                }
            }

            .jitsi-list {
                .content {
                    height: 40vh;
                    max-height: 100%;
                    clear: both;

                    .disconnected {
                        display: flex;
                        flex-direction: column;
                        height: inherit;
                        padding-left: 1em;
                        padding-right: 1em;

                        span {
                            margin: auto;
                        }
                    }

                    .room-members {
                        height: 100%;
                        position: relative;

                        .room-list-applause-particles {
                            position: absolute;
                            height: 100%;
                            width: 70px;
                            right: 0;
                        }

                        .member-list {
                            max-height: 100%;
                            overflow-y: auto;

                            .member-list-entry {
                                margin: 5px;
                                overflow-x: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        .focused {
                            font-weight: bold;
                        }
                    }
                }

                .control-grid {
                    padding: $wrapper-padding 0;
                    display: grid;
                    grid-template-areas: 'exit buttons new-tab';
                    grid-template-columns: 40px auto 40px;

                    .exit-conference {
                        grid-area: exit;
                    }

                    .control-buttons {
                        grid-area: buttons;
                        margin: auto;
                    }

                    .open-jitsi-in-tab {
                        grid-area: new-tab;
                    }
                }
            }
        }
    }
}
