{% extends 'base-projector.html' %}

{% load i18n %}
{% load tags %}

{% block title %}{{ block.super }} – {{ item }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2 style="margin-top: -10px;">
        {% trans 'List of speakers' %}
        {% if item.speaker_list_closed %}(<span class="closed">{% trans 'closed' %}</span>){% endif %}
    </h2>
{% endblock %}

{% block scrollcontent %}
<p>
    {% if list_of_speakers %}
    <ul id="list_of_speakers">
        {% for speaker_dict in list_of_speakers %}
        <li class="{{speaker_dict.type}}"> {#o ld_speaker, actual_speaker, coming_speaker #}
            {% if speaker_dict.type == 'coming_speaker' %}
                {{ speaker_dict.prefix }}.
            {% endif %}
            {{ speaker_dict.speaker }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <i>{% trans 'The list of speakers is empty.' %}</i>
    {% endif %}
</p>
{% endblock %}
