<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base-projector.html" %}

{% load i18n %}

{% block title %}{{ block.super }} -
    {% if title %} {{ title }} {% else %} {%trans "Agenda" %} {% endif %}
{% endblock %}

{% block content %}
    <h1>{%trans "Agenda" %}</h1>
    <ul class="itemlist">
    {% for item in items %}
        <li{% if item.closed %} class="closed" {% endif %}>{{ item }}
    {% endfor %}
    </li{%></ul>
{% endblock %}
</body></html>
