{% extends "base-projector.html" %}

{% load i18n %}

{% block title %}{{ block.super }} - {{ item }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2 style="margin-top: -15px;">{% trans 'List of speakers' %}</h2>
{% endblock %}

{% block scrollcontent %}
    {% if old_speakers|length > 0 %}
        <ul class="list_of_speakers last_speakers">
            {% for speaker in old_speakers %}
                <li>{{ speaker }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if speakers %}
    <ol class="list_of_speakers">
        {% for speaker in speakers %}
            <li>{{ speaker }}</li>
        {% endfor %}
    </ol>
    {% else %}
        <p><i>{% trans 'The list of speakers is empty.' %}</i></p>
    {% endif %}
{% endblock %}
