<ng-container *osPerms="'agenda.can_manage'">
    <ng-container *ngIf="showForm">
        <div [formGroup]="form">
            <p>
                <mat-checkbox formControlName="agenda_create">
                    <span>{{ 'Add to agenda' | translate }}</span>
                </mat-checkbox>
            </p>
        </div>

        <ng-container *ngIf="!!checkbox.value">
            <!-- Visibility -->
            <div>
                <mat-form-field [formGroup]="form">
                    <mat-select formControlName="agenda_type" placeholder="{{ 'Agenda visibility' | translate }}">
                        <mat-option *ngFor="let type of ItemVisibilityChoices" [value]="type.key">
                            <span>{{ type.name | translate }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Parent item -->
            <div *ngIf="itemObserver.value.length > 0" [formGroup]="form">
                <mat-form-field>
                    <os-search-value-selector
                        formControlName="agenda_parent_id"
                        [multiple]="false"
                        [includeNone]="true"
                        placeholder="{{ 'Parent agenda item' | translate }}"
                        [inputListValues]="itemObserver"
                    ></os-search-value-selector>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
