@import '~assets/styles/custom-button-styles.scss';

.grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
        'project message buttons'
        'project message buttons';
    grid-gap: 10px;
    grid-template-columns: min-content auto auto;
}

// could be in a shared scss
.projector-button {
    grid-area: project;
    margin: auto 10px auto 0;
}

// could be in a shared scss
.action-buttons {
    grid-area: buttons;
    text-align: right;
}
