{% extends "base.html" %}
{% load tags %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/styles/assignment.css" />
    <script type="text/javascript" src="/static/javascript/assignment.js"></script>
{% endblock %}

{% block submenu %}
    {% url assignment_overview as url_assignment_overview %}
    <h4 class="sectiontitle">{%trans "Elections" %}</h4>
    <ul>
        <li class="{% if request.path == url_assignment_overview %}selected{% endif %}"><a href="{% url assignment_overview %}">{%trans "All elections" %}</a></li>
        {% if perms.assignment.can_manage_assignment %}
            <li class="{% active request '/assignment/new' %}"><a href="{% url assignment_new %}">{%trans "New election" %}</a></li>
        {% endif %}
        <li><a href="{% url print_assignment %}"><img src="/static/images/icons/application-pdf.png"> {%trans 'Print all elections' %}</a></li>
    </ul>
{% endblock %}
