{% extends "config/base_config.html" %}

{% load i18n %}

{% block title %}{{ block.super }} – {% trans "Election settings" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Configuration" %}
        <small>{% trans "Elections" %}</small>
        {% block config_submenu %}{{ block.super }}{% endblock %}
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_save.html" %}
        <a href="{% url 'config_assignment' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
