{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} –
    {% if assignment %}
        {% trans "Edit election" %}
    {% else %}
        {% trans "New election" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if assignment %}
            {% trans "Edit election" %}
        {% else %}
            {% trans "New election" %}
        {% endif %}
        <small class="pull-right">
        <a href="{% url 'assignment_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>

    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        <a href='{% url 'assignment_overview' %}' class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
