{% extends "assignment/base_assignment.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} –
    {% if assignment %}
        {% trans "Edit election" %}
    {% else %}
        {% trans "New election" %}
    {% endif %}
{% endblock %}


{% block content %}
    {% if assignment %}
        <h1>{% trans "Edit election" %}</h1>
    {% else %}
        <h1>{% trans "New election" %}</h1>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>
        <button class="button" type="submit">
            <span class="icon ok">{% trans 'Save' %}</span>
        </button>
        <button class="button" type="submit" name="apply">
            <span class="icon apply">{% trans 'Apply' %}</span>
        </button>
        <a href='{% url assignment_overview %}'>
        <button class="button" type="button" onclick="window.location='{% url assignment_overview %}'">
            <span class="icon cancel">{% trans 'Cancel' %}</span>
        </button>
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
