{% extends 'core/widget.html' %}

{% load i18n %}
{% load tags %}

{% block content %}
<ul style="line-height: 180%">
    {% for assignment in assignments %}
        <li class="{% if assignment.is_active_slide %}activeline{% endif %}">
            <a href="{{ assignment|absolute_url:'projector' }}" class="activate_link btn {% if assignment.is_active_slide %}btn-primary{% endif %} btn-mini"
                rel="tooltip" data-original-title="{% trans 'Show' %}">
                <i class="icon-facetime-video {% if assignment.is_active_slide %}icon-white{% endif %}"></i>
            </a>&nbsp;
            {% if perms.assignment.can_manage_assignment %}
                <a href="{{ assignment|absolute_url:'update' }}"
                    rel="tooltip" data-original-title="{% trans 'Edit' %}" class="btn btn-mini right">
                    <i class="icon-pencil"></i>
                </a>
            {% endif %}
            <a href="{{ assignment|absolute_url:'projector_preview' }}"
                rel="tooltip" data-original-title="{% trans 'Preview' %}" class="btn btn-mini right">
                <i class="icon-search"></i>
            </a>
            <a href="{{ assignment|absolute_url }}">{{ assignment }}</a>
        </li>
    {% empty %}
        <li>{% trans 'No elections available.' %}</li>
    {% endfor %}
</ul>
{% endblock %}
