<h1 mat-dialog-title>{{ 'New change recommendation' | translate }}</h1>
<mat-dialog-content>
    <form class="motion-content" [formGroup]="contentForm" (ngSubmit)="saveChangeRecommendation()">
        <mat-form-field>
            <input matInput placeholder="{{ 'Changed title' | translate }}" formControlName="title" />
        </mat-form-field>

        <mat-checkbox formControlName="public">{{ 'Public' | translate }}</mat-checkbox>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="saveChangeRecommendation()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button mat-dialog-close>
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</mat-dialog-actions>
