@import "image-browser";

#mediafile-table {
    .icon-column {
        width: 10%;
    }
    .title-column {
        padding: 0px 10px;
        width: 90%;
    }
}

#dropzone {
    padding: 20px 10px;
    border-radius: 4px;
    border: 1px solid #e6e8eb;
    text-align: center;
    background-color: #fff;

    &.dragover {
        border-color: #317796;
    }
}
