<h2 translate>Voting result</h2>
<div class="meta-text">
    <span translate>Special values</span>:<br />
    <mat-chip>-1</mat-chip>&nbsp;=&nbsp;
    <span translate>majority</span><br />
    <mat-chip color="accent">-2</mat-chip>&nbsp;=&nbsp;
    <span translate>undocumented</span>
</div>
<div *ngFor="let key of pollKeys">
    <mat-form-field>
        <mat-label>{{ getLabel(key) | translate }}</mat-label>
        <input type="number" matInput [(ngModel)]="data[key]" />
        <!-- TODO mark required fields -->
    </mat-form-field>
</div>
<div class="submit-buttons">
    <button mat-button (click)="submit()">{{ 'Save' | translate }}</button>
    <button mat-button (click)="cancel()">{{ 'Cancel' | translate }}</button>
</div>

