ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.agenda_list, ol.agenda_list ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.agenda_list {
			margin: 0;
		}

		.agenda_list li {
			margin: 5px 0 0 0;
			padding: 0;
		}

		.agenda_list li > div  {
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
			overflow: auto;
		}

		.disclose {
			cursor: pointer;
			width: 10px;
			display: none;
		}

		
		.placeholder {
			outline: 1px dashed #4183C4;
			/*-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin: -1px;*/
		}
		
.agenda_list .openclose { width: 40px; float: left; }
.agenda_list .duration { width: 75px; float: left; }
.agenda_list .manage { width: 150px; float: right; }
.agenda_list .title { float: left; }
.agenda_list .optional { float: left; }
.agenda_list .opener_closer { float: right; }

.agenda_list .opener, .agenda_list .closer { border: solid 1px gray; background-color: lightgray; border-radius: 3px; display: inline-block; width: 20px; height: 20px; line-height: 20px; vertical-align: middle; text-align: center; }
.agenda_list .opener:hover, .agenda_list .closer:hover { background-color: gray; }
.agenda_list .opener { display: none; }
.agenda_list li.closed ol { display: none; }
.agenda_list li.closed .closer { display: none; }
.agenda_list li.closed > div .opener { display: inline-block; }
