table.agenda_list {
	table-layout: fixed;
}
.agenda_list, .agenda_list ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.agenda_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}
.agenda_list li {
	margin: 0;
	padding: 0;
}
.agenda_list .openclose { width: 40px; }
.agenda_list .duration { width: 75px; }
.agenda_list .manage { width: 150px; }
.agenda_list .ui-sortable-placeholder {
	background-color: #eee;
}
.agenda_list .ui-sortable-helper {
	background-color: white;
	opacity: 0;
}
.agenda_list .ui-sortable-helper .openclose, .agenda_list .ui-sortable-helper .manage, .agenda_list .ui-sortable-helper .manage {
	visibility: hidden;
}
.agenda_list .indentation {
	margin: 0;
	display: inline-block;
	width: 0px;
	height: 10px;
}

.agenda_list .draggable > div {
	display: table;
	width: 100%;
	table-layout: fixed;
	position: relative;
}
.agenda_list .draggable > div > div {
	display: table-cell;
	padding: 10px;
	/*border-bottom: solid 1px lightgray; */
}

.agenda_list li { position: relative; }
.agenda_list div.line {
	display: block;
	height: 1px;
	background-color: lightgray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	width: auto;
}
.agenda_list > li:first-child .line { display: none; }
.agenda_list ol div.line { left: -20px; }
.agenda_list ol ol div.line { left: -40px; }
.agenda_list ol ol ol div.line { left: -60px; }
.agenda_list ol ol ol ol div.line { left: -80px; }
.agenda_list ol ol ol ol ol div.line { left: -100px; }
.agenda_list ol ol ol ol ol ol div.line { left: -120px; }
.agenda_list ol ol ol ol ol ol ol div.line { left: -140px; }


.agenda_list ol { margin-left: 20px; }

.agenda_list ol .openclose a { margin-left: -20px; }
.agenda_list ol ol .openclose a { margin-left: -40px; }
.agenda_list ol ol ol .openclose a { margin-left: -60px; }
.agenda_list ol ol ol ol .openclose a { margin-left: -80px; }
.agenda_list ol ol ol ol ol .openclose a { margin-left: -100px; }
.agenda_list ol ol ol ol ol ol .openclose a { margin-left: -120px; }


a.drag-handle .handle {
	background: url("../img/draggable.png") no-repeat scroll 0 0 transparent;
	height: 13px;
	margin-top: 4px;
	width: 13px;
	display: inline-block;
}
