/**
 * OpenSlides agenda style
 *
 * :copyright: 2011, 2012 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

tr.topline td {
    border-bottom: 1px solid #333333;
    background-color: #CDCDCD;
}


table#agendatime {
    float: right;
    width: auto;
    margin-bottom: 1em;
}

table#agendatime td {
    padding: 5px;
    white-space: nowrap;
}
