.row {
    display: table;
    width: 100%;
    .option-name {
        display: table-cell;
        padding: 5px;
        border: 1px solid grey;
        vertical-align: middle;
        width: 70%;
        .bold {
            font-weight: bold;
        }
    }
    .option-percents {
        display: table-cell;
        padding: 5px;
        border: 1px solid grey;
        width: 30%;
    }
}
