.row {
    border-top: 1px solid #ddd;
    display: table;
    width: 100%;

    .heading {
        text-transform: uppercase;

        h3 {
            font-weight: normal;
        }
    }

    .option-name {
        display: table-cell;
        padding: 5px;
        vertical-align: middle;
        width: 70%;
    }

    .option-percents {
        display: table-cell;
        padding: 5px;
        width: 30%;
    }

    .grey {
        background-color: #ddd !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }
}
