.submit-buttons {
    display: flex;
    justify-content: flex-end;
}

.meta-text {
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
    mat-chip {
        margin-left: 5px;
        margin-right: 2px;
    }
}
