<h1 mat-dialog-title>
    <span translate>Online voting is impossible to secure</span>
</h1>

<div mat-dialog-content>
    <span translate>
        During voting, OpenSlides does not store the individual user ID of the voter. This in no way means that a
        non-nominal vote is completely anonymous and secure. You cannot track the decisions of your voters after the
        data has been submitted. The validity of the data cannot always be guaranteed, especially if you use OpenSlides
        in a distributed online setup. You are responsible for your own actions.
    </span>
</div>

<div mat-dialog-actions>
    <button type="button" mat-button [mat-dialog-close]="null">
        <span translate>I know the risk</span>
    </button>
</div>
