.search-users {
    display: grid;
    .mat-form-field {
        width: 100%;
    }
}

h4 {
    margin: 0;
}

.small-button {
    width: 20px;
    height: 20px;

    line-height: inherit;

    mat-icon {
        font-size: 100%;
    }
}

.single-submitter-line {
    display: grid;
    grid-template-columns: auto min-content;
    grid-column-gap: 0.5em;
    margin-right: 0.5em;

    span {
        margin: auto 0;
    }
}

.user .mat-chip {
    border-radius: 16px !important;
    padding: 5px 15px !important;
    margin: 5px 0;
    border: 1px solid #dddddd;
    height: auto;
}
