<div class="form-wrapper">
    <mat-spinner *ngIf="inProcess"></mat-spinner>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="formLogin()">
        <mat-form-field>
            <input matInput required placeholder="User name" formControlName="username" [errorStateMatcher]="parentErrorStateMatcher">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput required placeholder="Password" formControlName="password" [type]="!hide ? 'password' : 'text'"
                [errorStateMatcher]="parentErrorStateMatcher">
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility_on" }}</mat-icon>

            <mat-error>{{loginErrorMsg}}</mat-error>
        </mat-form-field>

        <!-- forgot password button -->
        <br>
        <button type="button" class='forgot-password-button' (click)="resetPassword()" mat-button>Forgot Password?</button>

        <!-- login button -->
        <br>
        <!-- TODO: Next to each other...-->
        <button mat-raised-button color="primary" class='login-button' type="submit" translate>Login</button>
        <button mat-raised-button *ngIf="areGuestsEnabled()" color="primary" class='login-button' type="button"
            (click)="guestLogin()" translate>Login as Guest</button>
    </form>
</div>
