{% extends "base-projector.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} - {% trans "Motion" %} {{ motion.identifier }}{% endblock %}
{% block content %}
    <div id="sidebar">
    <div class="box">
        <!-- Status -->
        <p><b>{% trans "Status" %}:</b><br>
            {% trans motion.state.name %}
        </p>

        <!-- poll results -->
        {% with motion.polls.all as polls %}
        {% if polls.exists and polls.0.has_votes %}
        <p><b>{% trans "Poll result" %}:</b>
            {% for poll in polls %}
                {% if poll.has_votes %}
                    {% if polls|length > 1 %}
                        <p>{{forloop.counter}}. {% trans "Vote" %}:</p>
                    {% endif %}
                    {% with poll.get_options.0 as option %}
                    <div class="results">
                        <img src="{% static 'img/voting-yes.png' %}" title="{% trans 'Yes' %}"> {{ option.Yes }} <br>
                        <img src="{% static 'img/voting-no.png' %}" title="{% trans 'No' %}"> {{ option.No }} <br>
                        <img src="{% static 'img/voting-abstention.png' %}" title="{% trans 'Abstention' %}"> {{ option.Abstain }}<br>
                        <img src="{% static 'img/voting-invalid.png' %}" title="{% trans 'Invalid' %}"> {{ poll.print_votesinvalid }}<br>
                        <hr>
                        <img src="{% static 'img/voting-total.png' %}" title="{% trans 'Votes cast' %}"> {{ poll.print_votescast }}
                    </div>
                    {% endwith %}
                {% else %}
                    {% if poll|length  == 1 %}
                    <i>{% trans "No poll results available." %}</i>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {% endwith %}

        <!-- Submitter -->
        <p><b>{% trans "Submitter" %}:</b><br>
            {% for submitter in motion.submitter.all %}
                {{ submitter.person }}{% if not forloop.last %},<br> {% endif %}
            {% endfor %}
        </p>
    </div>
    </div>

    <h1>
    {% if motion.identifier %}
        {% trans "Motion" %} {{ motion.identifier }}
    {% else %}
        {% trans "Motion" %} [---]
    {% endif %}
    <small>
        {% if motion.last_version.version_number > 1 %}({% trans 'Version' %} {{ motion.active_version.version_number }}){% endif %}
    </small>
    </h1>
    <b>{{ motion.active_version.title }}</b>
    <hr>
{% endblock %}

{% block scrollcontent %}
    <p>
    <div class="text">{{ motion.active_version.text|safe }}</div>
    {% if motion.active_version.reason %}
        <br>
        <div class="reason"><p><b>{% trans "Reason" %}:</b></p>
        {{ motion.active_version.reason|safe }}</div>
    {% endif %}
    </p>
{% endblock %}
