<div *ngIf="data">
    <div *ngIf="data.data.type == 'image/png'">
        <img [src]="url" alt=""/>
    </div>
    <div *ngIf="data.data.type == 'image/jpeg'">
        <img [src]="url" alt=""/>
    </div>
    <div *ngIf="data.data.type == 'application/pdf'">
          <pdf-viewer
              [show-all]="false"
              [original-size]="false"
              [autoresize]="true"
              [page]="page"
              [src]="url"
              style="display: block;"></pdf-viewer>
    </div>
</div>
