<div *ngIf="data">
    <div *ngIf="isImage" [ngClass]="data.element.fullscreen ? 'fullscreen' : 'nofullscreen'">
        <img [src]="url" alt="" />
    </div>
    <div *ngIf="isPdf" class="fullscreen">
        <pdf-viewer
            [show-all]="false"
            [original-size]="false"
            [fit-to-page]="true"
            [autoresize]="true"
            [page]="data.element.page || 1"
            [zoom]="zoom"
            [src]="url"
            style="display: block;"
        ></pdf-viewer>
    </div>
</div>
