html,
body {
    height: 100%;
}

.main-login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;

        .login-logo-bar {
            min-height: 80px !important;
            max-height: 200px !important;
            height: 20vh !important;

            a {
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;
                    max-width: 400px;
                    display: block;
                }
            }
        }

        .main-router {
            flex: 1 0 auto;
        }

        .footer {
            flex-shrink: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 12px;
            text-align: center;
        }
    }
}
