header {
    width: 100%;
    flex: 1;
    mat-toolbar {
        min-height: 200px !important;
    }
    .login-logo-bar a {
        margin-left: auto;
        margin-right: auto;

        img {
            width: 90%;
            height: 90%;
            max-width: 400px;
        }
    }
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-size: 12px;
    text-align: center;
}
