@import '../common/common-list-of-speakers-slide.component.scss';

#overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    width: 40%;
    height: 210px;
    margin: 10px;
    z-index: 20;
    border-radius: 7px;
    border: 1px solid #999;
    padding: 10px 10px 10px 25px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    h3 {
        margin-top: 0;
    }

    .one-line {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
