@import '~assets/styles/tables.scss';

$pbl-height: var(--pbl-height);

.list-view-frame {
    // remove the height of the top-bar
    height: calc(100vh - 64px);
}

.list-view-table-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;

    .sort-filter-bar {
        flex: 0 1 auto;
        display: block;
    }

    /**
    * Compilcated ngrid hack: The meta row won't disappear (just like that)
    * Select the first ever container pbl-ngrid-container div and hide
    */
    .pbl-ngrid-container {
        > div {
            height: 0;
        }
    }

    .vscroll-list-view {
        flex: 1 1 auto;
        height: 100%;

        .projector-button {
            margin: auto;
            display: flex;
        }

        .pbl-ngrid-row {
            height: $pbl-height;
        }

        .pbl-ngrid-row:last-of-type {
            margin-bottom: 60px !important;
        }

        .pbl-ngrid-cell {
            height: inherit;
        }

        .multiselect {
            .pbl-ngrid-cell {
                cursor: pointer;
            }
        }
    }
}
