@import '~assets/styles/tables.scss';

$pbl-height: var(--pbl-height);

.projector-button {
    margin: auto;
}

.pbl-ngrid-row {
    height: $pbl-height;
}

.pbl-ngrid-cell {
    height: inherit;
}

.multiselect {
    .pbl-ngrid-cell {
        cursor: pointer;
    }
}
