@import '~@angular/material/theming';

@mixin os-list-view-table-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .projected {
        background-color: mat-color($background, hover) !important;
    }
}
