@import '~assets/styles/tables.scss';

$pbl-height: var(--pbl-height);

.projector-button {
    margin: auto;
    display: flex;
}

.pbl-ngrid-row {
    height: $pbl-height;
}

// additional space if the jitsi integration is active
.pbl-ngrid-row:last-of-type {
    margin-bottom: 30px !important;
}

.pbl-ngrid-cell {
    height: inherit;
}

.multiselect {
    .pbl-ngrid-cell {
        cursor: pointer;
    }
}
