.assignment-poll-wrapper {
    @import '~assets/styles/poll-common-styles.scss';
    position: relative;
    padding: 0 15px;

    .poll-main-content {
        padding-top: 10px;
    }

    .poll-grid {
        display: grid;
        grid-gap: 5px;
        padding: 5px;
        grid-template-columns: 30px auto 250px 150px;
        .candidate-name {
            word-wrap: break-word;
        }
    }

    .right-align {
        text-align: right;
    }

    .vote-input {
        .mat-form-field-wrapper {
            // padding-bottom: 0;

            .mat-form-field-infix {
                width: 60px;
                border-top: 0;
            }
        }
    }

    .poll-properties {
        margin: 4px 0;

        .mat-chip {
            margin: 0 4px;

            &.active {
                cursor: pointer;
            }
        }

        .poll-state {
            &.created {
                background-color: #2196f3;
                color: white;
            }
            &.started {
                background-color: #4caf50;
                color: white;
            }
            &.finished {
                background-color: #ff5252;
                color: white;
            }
            &.published {
                background-color: #ffd800;
                color: black;
            }
        }
    }

    .poll-menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .poll-quorum {
        text-align: right;
        margin-right: 10px;
        mat-icon {
            vertical-align: middle;
            font-size: 100%;
        }
    }

    .top-aligned {
        position: absolute;
        top: 0;
        left: 0;
    }

    .wide {
        width: 90%;
    }

    .hint-form {
        margin-top: 20px;
    }
}
