<div class="assignment-poll-wrapper" *ngIf="poll">

    <div class="">

    </div>


    <div class="poll-menu">
        <!-- Buttons -->
        <button
            mat-icon-button
            *osPerms="'assignments.can_manage'; &quot;core.can_manage_projector&quot;"
            [matMenuTriggerFor]="pollItemMenu"
            (click)="$event.stopPropagation()"
        >
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>

    <div>
        <div>
            <h3>
                <a routerLink="/assignments/polls/{{ poll.id }}">
                    {{ poll.title }}
                </a>
            </h3>
            <div class="poll-properties">
                <mat-chip
                    class="poll-state active"
                    [matMenuTriggerFor]="triggerMenu"
                    [ngClass]="poll.stateVerbose.toLowerCase()"
                >
                    {{ poll.stateVerbose }}
                </mat-chip>
            </div>
        </div>
        <div *ngIf="poll.stateHasVotes">
            <os-charts [type]="chartType" [labels]="candidatesLabels" [data]="chartDataSubject"></os-charts>
        </div>
    </div>
    <os-assignment-poll-vote *ngIf="poll.canBeVotedFor" [poll]="poll"></os-assignment-poll-vote>
</div>

<mat-menu #triggerMenu="matMenu">
    <ng-container *ngIf="poll">
        <button mat-menu-item (click)="changeState(state.value)" *ngFor="let state of poll.getNextStates() | keyvalue">
            <span translate>{{ state.key }}</span>
        </button>
    </ng-container>
</mat-menu>

<mat-menu #pollItemMenu="matMenu">
    <div *osPerms="'assignments.can_manage'">
        <button mat-menu-item (click)="openDialog()">
            <mat-icon>edit</mat-icon>
            <span translate>Edit</span>
        </button>
    </div>
    <div *osPerms="'core.can_manage_projector'">
        <os-projector-button menuItem="true" [object]="poll"></os-projector-button>
    </div>
    <div *osPerms="'assignments.can_manage'">
        <mat-divider></mat-divider>
        <button mat-menu-item class="red-warning-text" (click)="onDeletePoll()">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</mat-menu>
