.assignment-poll-wrapper {
    @import '~assets/styles/poll-common-styles.scss';
    position: relative;
    padding: 0 15px;

    .poll-main-content {
        padding-top: 10px;
    }

    .poll-grid {
        display: grid;
        grid-gap: 5px;
        padding: 5px;
        grid-template-columns: 30px auto 250px 150px;
        .candidate-name {
            word-wrap: break-word;
        }
    }

    .poll-menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .poll-quorum {
        text-align: right;
        margin-right: 10px;
        mat-icon {
            vertical-align: middle;
            font-size: 100%;
        }
    }

    .top-aligned {
        position: absolute;
        top: 0;
        left: 0;
    }

    .wide {
        width: 90%;
    }

    .hint-form {
        margin-top: 20px;
    }
}
