@import '~assets/styles/poll-colors.scss';

.assignment-poll-wrapper {
    position: relative;
    margin: 0 15px;

    .poll-menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    .poll-detail-button-wrapper {
        display: flex;
        margin: auto 0;
        > a {
            margin-left: auto;
        }
    }

    .start-poll-button {
        color: green !important;
    }

    .stop-poll-button {
        color: $poll-stop-color;
    }

    .publish-poll-button {
        color: $poll-publish-color;
    }

    .doughnut-chart {
        display: block;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
