<!-- Chip -->
<div>
    <h4 *ngIf="title">{{ title }}</h4>
    <mat-menu #triggerMenu="matMenu">
        <ng-container [ngTemplateOutlet]="triggerTemplate"> </ng-container>
    </mat-menu>
    <os-icon-container
        iconTooltip="{{ 'Edit' | translate }}"
        icon="create"
        [swap]="true"
        [showIcon]="!editMode && canBeEdited && hasExtension"
        (iconAction)="changeEditMode()"
    >
        <mat-basic-chip
            *ngIf="canBeEdited"
            [matMenuTriggerFor]="triggerMenu"
            [ngClass]="classes"
            class="pointer"
            disableRipple
        >
            {{ chipValue || '–' }}
        </mat-basic-chip>
        <mat-basic-chip *ngIf="!canBeEdited" [ngClass]="classes" disableRipple>
            {{ chipValue }}
        </mat-basic-chip>
    </os-icon-container>
</div>

<!-- Extension field -->
<div *ngIf="hasExtension && editMode" class="spacer-top-10 extension-container">
    <mat-form-field>
        <input
            matInput
            autocomplete="off"
            osAutofocus
            [(ngModel)]="inputControl"
            placeholder="{{ extensionLabel }}"
            (keydown)="keyDownFunction($event)"
        />
    </mat-form-field>
    <mat-form-field *ngIf="searchList" [formGroup]="extensionFieldForm">
        <os-search-value-selector
            formControlName="list"
            [inputListValues]="searchList"
            [placeholder]="searchListLabel"
        ></os-search-value-selector>
    </mat-form-field>

    <button mat-button (click)="changeEditMode(true)">{{ 'Save' | translate }}</button>
    <button mat-button (click)="changeEditMode()">{{ 'Cancel' | translate }}</button>
</div>

<!-- Optional template for the menu -->
<ng-template #triggerTemplate>
    <ng-content select=".trigger-menu"></ng-content>
</ng-template>
