<os-head-bar [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import participants' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="hasFile && newCount" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>
<mat-card class="os-form-card import-table">
    <mat-tab-group (selectedTabChange)="onTabChange()">
        <!-- textarea import tab -->
        <mat-tab label="{{ 'Text import' | translate }}">
            <br />
            <div [formGroup]="textAreaForm">
                <div>
                    <span>{{ 'Copy and paste your participant names in this textbox.' | translate }}</span>
                    <span>{{ 'Keep each person in a single line.' | translate }}</span
                    ><br />
                    <span>{{ 'Comma separated names will be read as "Surname, given name(s)".' | translate }}</span>
                </div>
                <mat-form-field>
                    <textarea
                        matInput
                        osAutofocus
                        formControlName="inputtext"
                        placeholder="{{ 'Insert participants here' | translate }}"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="3"
                        cdkAutosizeMaxRows="10"
                    ></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-button color="accent" (click)="parseTextArea()">
                    <span>{{ 'Preview' | translate }}</span>
                </button>
            </div>
        </mat-tab>
        <!-- CSV import tab -->
        <mat-tab label="{{ 'CSV import' | translate }}">
            <br />
            <span>
                {{
                    'Required comma or semicolon separated values with these column header names in the first row:'
                        | translate
                }}
            </span>
            <br />
            <div class="code red-warning-text">
                <span *ngFor="let entry of headerRow; let last = last">
                    {{ entry | translate }}<span *ngIf="!last">, </span>
                </span>
            </div>
            <ul>
                <li>
                    {{
                        'One of given name, surname and username has to be filled in. All other fields are optional and may be empty.'
                            | translate
                    }}
                </li>
                <li>
                    {{
                        'Additional columns after the required ones may be present and will not affect the import.'
                            | translate
                    }}
                </li>
            </ul>
            <button mat-button color="accent" (click)="downloadCsvExample()">
                {{ 'Download CSV example file' | translate }}
            </button>
            <div class="wrapper">
                <mat-form-field>
                    <mat-label>{{ 'Encoding of the file' | translate }}</mat-label>
                    <mat-select
                        class="selection"
                        (selectionChange)="selectEncoding($event)"
                        [value]="encodings[0].value"
                    >
                        <mat-option *ngFor="let option of encodings" [value]="option.value">
                            {{ option.label | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'Column separator' | translate }}</mat-label>
                    <mat-select class="selection" (selectionChange)="selectColSep($event)" value="">
                        <mat-option *ngFor="let option of columnSeparators" [value]="option.value">
                            {{ option.label | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'Text separator' | translate }}</mat-label>
                    <mat-select class="selection" (selectionChange)="selectTextSep($event)" value='"'>
                        <mat-option *ngFor="let option of textSeparators" [value]="option.value">
                            {{ option.label | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <div>
                    <input
                        id="user-import-file-input"
                        type="file"
                        class="hidden-input"
                        accept="text"
                        #fileInput
                        (change)="onSelectFile($event)"
                    />
                    <button
                        mat-button
                        color="accent"
                        onclick="document.getElementById('user-import-file-input').click()"
                    >
                        <span>{{ 'Select file' | translate }}</span>
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<!-- preview table -->
<mat-card *ngIf="hasFile" class="os-form-card import-table">
    <h3>{{ 'Preview' | translate }}</h3>
    <div class="summary">
        <!-- new entries -->
        <div *ngIf="newCount">
            &nbsp;
            <mat-icon inline>playlist_add</mat-icon>
            <span>&nbsp;{{ newCount }}&nbsp;</span> <span>{{ 'Participant(s) will be imported.' | translate }}</span>
        </div>
        <!-- errors/duplicates -->
        <div *ngIf="nonImportableCount" class="red-warning-text">
            &nbsp;
            <mat-icon inline>warning</mat-icon>
            <span>&nbsp;{{ nonImportableCount }}&nbsp;</span> <span>{{ 'entries will be ommitted.' | translate }}</span>
        </div>
        <!-- have been imported -->
        <div *ngIf="doneCount" class="green-text">
            &nbsp;
            <mat-icon inline>done</mat-icon>
            <span>&nbsp;{{ doneCount }}&nbsp;</span> <span>{{ 'Participants have been imported.' | translate }}</span>
        </div>
    </div>
    <div *ngIf="newCount">
        <span>{{ 'After verifiy the preview click on "import" please (see top right).' | translate }}</span>
    </div>
    <mat-select *ngIf="nonImportableCount" class="filter-imports" [(value)]="shown" (selectionChange)="setFilter()">
        <mat-option value="all">{{ 'Show all' | translate }}</mat-option>
        <mat-option value="error">{{ 'Show errors only' | translate }}</mat-option>
        <mat-option value="noerror">{{ 'Show correct entries only' | translate }}</mat-option>
    </mat-select>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Status column -->
            <ng-container matColumnDef="status" sticky>
                <mat-header-cell *matHeaderCellDef class="first-column"></mat-header-cell>
                <mat-cell *matCellDef="let entry" class="first-column">
                    <div *ngIf="entry.status === 'error'">
                        <mat-icon
                            class="red-warning-text"
                            matTooltip="{{ entry.errors.length }} {{ 'errors' | translate }}"
                        >
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                        <mat-icon
                            color="warn"
                            *ngIf="hasError(entry, 'ParsingErrors')"
                            matTooltip="{{ getVerboseError('ParsingErrors') | translate }}"
                        >
                            warning
                        </mat-icon>
                    </div>
                    <div *ngIf="entry.status === 'new'">
                        <mat-icon matTooltip="{{ 'Participant will be imported' | translate }}">
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                    </div>
                    <div *ngIf="entry.status === 'done'">
                        <mat-icon matTooltip="{{ 'Participant has been imported' | translate }}">
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Title column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>{{ 'Title' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <span *ngIf="nameErrors(entry)">
                        <mat-icon color="warn" inline matTooltip="{{ nameErrors(entry) | translate }}">
                            warning
                        </mat-icon>
                        &nbsp;
                    </span>
                    {{ entry.newEntry.title }}
                </mat-cell>
            </ng-container>

            <!-- title column -->
            <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef>{{ 'Given name' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <span *ngIf="nameErrors(entry)">
                        <mat-icon color="warn" inline matTooltip="{{ nameErrors(entry) | translate }}">
                            warning
                        </mat-icon>
                        &nbsp;
                    </span>
                    {{ entry.newEntry.first_name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="last_name">
                <mat-header-cell *matHeaderCellDef>{{ 'Surname' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <span *ngIf="nameErrors(entry)">
                        <mat-icon color="warn" inline matTooltip="{{ nameErrors(entry) | translate }}">
                            warning
                        </mat-icon>
                        &nbsp;
                    </span>
                    {{ entry.newEntry.last_name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="structure_level">
                <mat-header-cell *matHeaderCellDef>{{ 'Structure level' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.structure_level }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="number">
                <mat-header-cell *matHeaderCellDef>{{ 'Participant number' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.number }} </mat-cell>
            </ng-container>

            <!-- groups column -->
            <ng-container matColumnDef="groups_id">
                <mat-header-cell *matHeaderCellDef>{{ 'Groups' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div *ngIf="entry.newEntry.csvGroups.length">
                        <span *ngIf="hasError(entry, 'Groups')">
                            <mat-icon color="warn" matTooltip="{{ getVerboseError('Groups') | translate }}">
                                warning
                            </mat-icon>
                        </span>
                        <span *ngFor="let group of entry.newEntry.csvGroups">
                            {{ group.name }}
                            <mat-icon class="newBadge" color="accent" inline *ngIf="!group.id">add</mat-icon>
                            &nbsp;
                        </span>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef>{{ 'Comment' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.comment }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="is_active">
                <mat-header-cell *matHeaderCellDef>{{ 'Is active' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <mat-checkbox disabled [checked]="entry.newEntry.is_active"> </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="is_present">
                <mat-header-cell *matHeaderCellDef>{{ 'Is present' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <mat-checkbox disabled [checked]="entry.newEntry.is_present"> </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="is_committee">
                <mat-header-cell *matHeaderCellDef>{{ 'Is committee' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <mat-checkbox disabled [checked]="entry.newEntry.is_committee"> </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="default_password">
                <mat-header-cell *matHeaderCellDef>{{ 'Initial password' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.default_password }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>{{ 'Email' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.email }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef>{{ 'Username' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.username }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef>{{ 'Gender' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.gender }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="vote_weight">
                <mat-header-cell *matHeaderCellDef>{{ 'Vote weight' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry"> {{ entry.newEntry.vote_weight }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
            <mat-row [ngClass]="getStateClass(row)" *matRowDef="let row; columns: getColumnDefinition()"> </mat-row>
        </table>
    </div>
</mat-card>
