<mat-toolbar color='primary'>
    <span class='app-name on-transition-fade' translate>Legal Notice</span>
</mat-toolbar>

<mat-card class="os-card on-transition-fade">
    <div>
        <div class='legal-notice-text'>
            <a href="https://openslides.org/">OpenSlides</a> ist ein freies, webbasiertes Präsentations- und Versammlungssystem zur Darstellung und Steuerung
            von Tagesordnung, Anträgen und Wahlen einer Versammlung.
        </div>
        <mat-divider></mat-divider>
        <div class='version-text'>
            OpenSlides 3.0 PRE ALPHA (Lizenz: MIT)
        </div>
    </div>
</mat-card>