<div class="attachment-container" *ngIf="contentForm">
    <mat-form-field>
        <os-search-value-selector
            class="selector"
            [multiple]="true"
            placeholder="{{ 'Attachments' | translate }}"
            [formControl]="contentForm"
            [inputListValues]="mediaFileList"
        ></os-search-value-selector>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="openUploadDialog(uploadDialog)" *osPerms="'mediafiles.can_manage'">
        <mat-icon>cloud_upload</mat-icon>
    </button>
</div>

<!-- upload file dialog -->
<ng-template #uploadDialog>
    <h1 mat-dialog-title>
        <span>{{ 'Upload files' | translate }}</span>
    </h1>
    <os-media-upload-content
        (uploadSuccessEvent)="uploadSuccess($event)"
        (errorEvent)="uploadError($event)"
    ></os-media-upload-content>
</ng-template>
