:host {
    width: 100%;

    .attachment-container {
        justify-content: space-between;
        display: flex;
        .selector {
            width: 95%;
        }
        .mat-icon-button {
            top: 20px;
        }
    }
}
