<button type="button" mat-stroked-button (click)="countUsers()" *ngIf="!this.token">
    {{ 'Count active users' | translate }}
</button>
<button type="button" mat-stroked-button (click)="stopCounting()" *ngIf="this.token">
    {{ 'Stop counting' | translate }}
</button>
<div *ngIf="stats">
    <p>
        {{ userIds().length }} {{ 'active users' | translate }} 
        ({{ stats.activeUserHandles }} {{ 'connections' | translate }})
    </p>
    {{ 'Groups' | translate }}:
    <ul>
        <li *ngFor="let groupId of groupIds()">
            <strong>{{ stats.groups[groupId].name }}:</strong>
            {{ userInGroupIds(groupId).length }} {{ 'active users' | translate }}
            ({{ stats.groups[groupId].userHandleCount }} {{ 'connections' | translate }})
        </li>
    </ul>
</div>
