<button type="button" mat-button (click)="countUsers()" *ngIf="!this.token">
    <span>{{ 'Count active users' | translate }}</span>
</button>
<button type="button" mat-button (click)="stopCounting()" *ngIf="this.token">
    <span>{{ 'Stop counting' | translate }}</span>
</button>
<div *ngIf="stats">
    <p>
        {{ userIds().length }} <span>{{ 'active users' | translate }}</span> ({{ stats.activeUserHandles }}
        <span>{{ 'connections' | translate }}</span
        >)
    </p>
    <h3>{{ 'Groups' | translate }}</h3>
    <ul>
        <li *ngFor="let groupId of groupIds()">
            <strong>{{ stats.groups[groupId].name }}</strong>
            <span> : {{ userInGroupIds(groupId).length }} </span>
            <span>{{ 'active users' | translate }}</span>
            (<span>{{ stats.groups[groupId].userHandleCount }}</span> <span>{{ 'connections' | translate }}</span
            >)
        </li>
    </ul>
</div>
