{% extends 'base.html' %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $.datepicker.regional['{{ LANGUAGE_CODE }}'] = {
                prevText: 'previous month',
                nextText: 'next month',
                monthNames: [
                    '{% trans 'January' %}', '{% trans 'February' %}', '{% trans 'March' %}',
                    '{% trans 'April' %}',   '{% trans 'May' %}',      '{% trans 'June' %}',
                    '{% trans 'July' %}',    '{% trans 'August' %}',   '{% trans 'September' %}',
                    '{% trans 'October' %}', '{% trans 'November' %}', '{% trans 'December' %}'
                ],
                monthNamesShort: [
                    '{% trans 'Jan' %}', '{% trans 'Feb' %}', '{% trans 'Mar' %}',
                    '{% trans 'Apr' %}', '{% trans 'May' %}', '{% trans 'Jun' %}',
                    '{% trans 'Jul' %}', '{% trans 'Aug' %}', '{% trans 'Sep' %}',
                    '{% trans 'Oct' %}', '{% trans 'Nov' %}', '{% trans 'Dec' %}'
                ],
                dayNames: [
                    '{% trans 'Sunday' %}', '{% trans 'Monday' %}', '{% trans 'Tuesdey' %}', '{% trans 'Wednesday' %}',
                    '{% trans 'Thursday' %}', '{% trans 'Friday' %}', '{% trans 'Saturday' %}'
                ],
                dayNamesMin: [
                    '{% trans 'Su' %}', '{% trans 'Mo' %}', '{% trans 'Tu' %}', '{% trans 'We' %}',
                    '{% trans 'Th' %}', '{% trans 'Fr' %}', '{% trans 'Sa' %}'
                ],
                dayNamesShort: [
                    '{% trans 'Su' %}', '{% trans 'Mo' %}', '{% trans 'Tu' %}', '{% trans 'We' %}',
                    '{% trans 'Th' %}', '{% trans 'Fr' %}', '{% trans 'Sa' %}'
                ],
                dateFormat: 'dd.mm.yy', firstDay: 1, isRTL: false
            };

            $.datepicker.setDefaults($.datepicker.regional['{{ LANGUAGE_CODE }}']);

            $("#id_agenda_start_event_date_time").datetimepicker (
                    {
                        hour: 12,
                        timeFormat: "HH:mm",
                        timeText: '{% trans 'Time' %}',
                        hourText: '{% trans 'Hour' %}',
                        minuteText: '{% trans 'Minute' %}',
                        currentText: '{% trans 'current time' %}',
                        closeText: '{% trans 'close' %}'
                    }
            );
        });
    </script>
{% endblock %}

{% block content %}
<h1>
    {% trans 'Configuration' %}
    <small>{% trans active_config_page.title %}</small>
    <small class="pull-right">
        <div class="btn-toolbar">
            <div class="btn-group">
            {% for config_page_dict in config_pages_list %}
                <a href="/config/{{ config_page_dict.config_page.url }}/" class="btn btn-mini {% if config_page_dict.active %}active{% endif %}">{{ config_page_dict.config_page.title }}</a>
            {% endfor %}
                <a href="{% url 'core_version' %}" class="btn btn-mini">{% trans 'Version' %}</a>
            </div>
        </div>
    </small>
</h1>
<form action="" method="post">{% csrf_token %}
    {% for group in groups %}
        <fieldset>
            <legend>{{ group.title }}</legend>
            {% for field in form %}
                {% if field.name in group.get_field_names %}
                    <div class="control-group {% if field.errors %}error{% endif%}">
                        <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}:</label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-inline">{{ field.errors }}</span>
                        {% endif %}
                        {% if field.help_text %}
                            <span class="help-inline">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
    {% empty %}
        {% include 'form.html' %}
    {% endfor %}
    <p>
        {% include 'formbuttons_save.html' %}
        <a href="/config/{{ active_config_page.url }}/" class="btn">{% trans 'Cancel' %}</a>
    </p>
    <small>* {% trans 'required' %}</small>
</form>
{% endblock %}
