{% extends "config/base_config.html" %}

{% load i18n %}

{% block title %}{{ block.super }} – {% trans "General settings" %}{% endblock %}

{% block content %}
    <h1>{% trans "General settings" %}</h1>
    <form action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% trans "Event" %}</legend>
        {% for field in form %}
            {% if "id_event" in field.label_tag %}
            <p>
            {{ field.errors }}
            {{ field.required }}
            {{ field.label_tag }}
            {{ field }}
            {{ field.help_text }}
            </p>
            {% endif %}
        {% endfor %}
    </fieldset>
    <p></p>
    <fieldset>
        <legend>{% trans "Welcome Widget" %}</legend>
        {% for field in form %}
            {% if "id_welcome" in field.label_tag %}
            <p>
            {{ field.errors }}
            {{ field.required }}
            {{ field.label_tag }}
            {{ field }}
            {{ field.help_text }}
            </p>
            {% endif %}
        {% endfor %}
    </fieldset>
    <p></p>
    <fieldset style="width: 410px;">
        <legend>{% trans "System" %}</legend>
        {% for field in form %}
            {% if "id_system" in field.label_tag %}
            <p>
            {{ field.errors }}
            {{ field.required }}
            {{ field.label_tag }}
            {{ field }}
            {{ field.help_text }}
            </p>
            {% endif %}
        {% endfor %}
    </fieldset>
    <p>
    <button class="button" type="submit">
        <span class="icon ok">{% trans 'Save' %}</span>
    </button>
    <a href='{% url config_general %}'>
    <button class="button" type="button" onclick="window.location='{% url config_general %}'">
        <span class="icon cancel">{% trans 'Cancel' %}</span>
    </button>
    </a>
    </p>
    </form>
{% endblock %}
