/*
 * Font definitions for OpenSlides site
 */

@font-face {
    font-family: $font;
    src: $font-src;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $font-medium;
    src: $font-medium-src;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $font-condensed;
    src: $font-condensed-src;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: $font-condensed-light;
    src: $font-condensed-light-src;
    font-weight: 100;
    font-style: normal;
}
