/* override booststrap's label class to fix linebreak and add spacing */
.label {
    display: inline-block;
    padding: .4em .6em;
    margin-right: .2em;
    white-space: normal;
}

/* Custom OpenSlides slider classes */
.os-slider {
    margin-top: 40px;
    margin-bottom: 20px;

    &.rzslider {
        .rz-bar {
            background: #317796;
            opacity: 0.3;
            height: 2px;
        }

        .rz-selection {
            background: #317796;
        }

        .rz-pointer {
            width: 14px;
            height: 14px;
            top: -7px;
            bottom: 0;
            background-color: #317796;
            border-radius: 7px;

            &:after {
                display: none;
            }
        }
    }
}

/* ngDialog: override ngdialog-theme-default */
.ngdialog.ngdialog-theme-default {
    padding-top: 40px;

    .ngdialog-content {
        font-family: $font, sans-serif !important;
    }

    h2 {
        margin-top: 5px;
    }

    label {
        font-family: $font-medium;
        font-family: $font-medium, sans-serif;
        font-weight: normal;
    }

    .row:after, .row:before {
        display: table-cell !important;
    }
}

.ngdialog.ngdialog-theme-default.wide-form .ngdialog-content {
    width: 750px;
    line-height: 1em;
}

/* Bootbox: override z-index, that bootboxes are higher than ngDialogs */
.bootbox {
    z-index: 100000;
}

/* angular-chosen: override default width of select fields in quickmode */
.chosen-container {
    width: 100% !important;
    font-size: 14px;

    ul.chosen-results {
        margin: 0 !important;

        li.active-result {
            margin: 6px 5px 0 0 !important;
        }
    }

    input {
        margin: 4px 0 !important;
    }
}

.chosen-container-active .chosen-choices {
    border-color: rgba(82,168,236,.8);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* angular-ui-tree style */
.angular-ui-tree-handle {
    background: none repeat scroll 0 0 #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px;

    &:hover {
        background: none repeat scroll 0 0 #f4f6f7;
        border-color: #dce2e8;
        color: #438eb9;
    }
}

.angular-ui-tree-placeholder {
    background: none repeat scroll 0 0 #f0f9ff;
    border: 2px dashed #bed2db;
    box-sizing: border-box;
}

/* ngAnimate classes */
.animate-item.ng-enter {
    -webkit-animation: fade-in 0.5s linear;
    animation: fade-in 0.5s linear;
}

.animate-item.ng-leave {
    -webkit-animation: fade-out 0.25s linear;
    animation: fade-out 0.25s linear;
}

/* xeditable */
.editable-click {
    border: none;
    cursor: pointer;
    color: #555;

    &:hover {
        color: #555;
    }
}

.popover-wrapper {
    .editable-hide {
        display: inline !important;
    }

    .small-form {
        input{
            width: 100px;
            height: 30px;
        }

        button{
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
        }
    }
}

@keyframes fade-out {
    0% { opacity: 1; background: none; }
    100% { opacity: 0; background: none; }
}
@keyframes fade-in {
    0% { opacity: 0; background: none; }
    100% { opacity: 1; background: none; }
}

/* Angular formly */
.checkbox label {
    padding-left: 0;
}
