/** Fonts **/
$font: 'Roboto';
$font-src: url('../fonts/Roboto-Regular.woff') format('woff');
$font-medium: 'Roboto Medium';
$font-medium-src: url('../fonts/Roboto-Medium.woff') format('woff');
$font-condensed: 'Roboto Condensed';
$font-condensed-src: url('../fonts/Roboto-Condensed-Regular.woff') format('woff');
$font-condensed-light: 'Roboto Condensed Light';
$font-condensed-light-src: url('../fonts/Roboto-Condensed-Light.woff') format('woff');
