/*
 * Font definitions for OpenSlides projector
 */

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto-Condensed-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/Roboto-Condensed-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6, .countdown, .message {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
}
#header, #currentTime, #footer {
    font-family: 'Roboto Condensed Light';
}

/*
 * Template styles for OpenSlides projector
 *
 */

html, body {
    height: 100%;
}

body {
    font-size: 20px !important;
    line-height: 24px !important;
    overflow: hidden;
    color: #222;
}

/*** ProjectorContainer ***/
.pContainer {
    background-color: #222;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: table;
}

.pContainer > div {
    display: table-cell;
    vertical-align: middle;
}

.pContainer #iframe {
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0 0;
}

.pContainer #iframewrapper, .pContainer .error {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.pContainer #iframeoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: 1;
}

.pContainer .error > p {
    color: #f00;
    font-size: 150%;
    text-align: center;
}

/*** HEADER ***/
#header {
    box-shadow: 0 0 7px rgba(0,0,0,0.6);
    height: 70px;
    margin-bottom: 20px;
}
#logo {
    position: relative;
    left: 50px;
    top: 10px;
    height: 50px;
    margin-right: 25px;
    float: left;
}
#eventdata {
    position: relative;
    left: 50px;
    top: 12px;
    height: 50px;
    overflow: hidden;
}
#eventdata .title {
    font-size: 26px;
    font-weight: bold;
 }
#eventdata .title.titleonly {
    position: relative;
    top: 12px;
}
#eventdata .description {
    font-size: 18px;
    opacity: 0.8;
}
#currentTime {
    border: 0 solid #000000;
    font-size: 24px;
    position: absolute;
    text-align: right;
    top: 23px;
    right: 50px;
    padding-left: 30px;
}
#footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    overflow: hidden;
    text-align: right;
}
#footer span {
    opacity: 0.8;
}

/*** CONTENT with base style elements ***/
.content {
    position: absolute;
    left: 50px;
    top: 150px;
    right: 50px;
    z-index: -1;
    line-height: 1.3em;
}
.content img {
    max-width: 65%;
    height: auto;
}
.scrollcontent {
    transition-property: margin, font-size;
    transition-duration: 1s;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;
}
.fullscreen canvas {
    margin: auto;
    display: block !important;
}

h1 {
    font-size: 2.25em;
    line-height: 1.1em;
}
h2 {
    font-size: 28px;
    margin-top: 15px;
    display: block;
    color: #9a9898;
}
h3 {
    color: #222;
    margin-bottom: 10px
}
#title {
    width: calc(100% - 230px);
    border-bottom: 5px solid #d3d3d3;
    margin-bottom: 40px;
}
#title h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}
#title h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}
#sidebox {
    width: 260px;
    float: right;
    margin: 44px -50px 20px 10px;
    right: 0;
    background: #d3d3d3;
    border-radius: 7px 0 0 7px;
    padding: 3px 7px 10px 19px;
}
#sidebox h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}
#speakerbox {
    width: 40%;
    float: right;
    margin: 20px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #d3d3d3;
    border-radius: 7px;
    border: 1px solid #999;
    padding: 0px 7px 10px 19px;
    z-index: 99;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
}
ul, ol {
    margin: 0 0 10px 2em;
}
li {
    line-height: normal;
}
.result {
    line-height: 30px;
}
.result hr {
    border-top: 1px solid;
    margin: 5px 0;
    width: 10em;
}
.result.big {
    font-size: 120%;
    line-height: 40px;
}
.result .bold {
    font-weight: bold;
}
.electionresults table {
    width: calc(100% - 230px);
}
.electionresults .progress {
    margin-bottom: 0;
}
hr {
    margin: 10px 0;
}
.nobr {
    white-space: nowrap;
}
.white-space-pre-line {
    white-space: pre-line;
}


/*** Overlay ***/
.countdown {
    min-width: 260px;
    position: relative;
    margin: 0 0 10px 10px;
    top: 0px;
    right: 0px;
    padding: 23px 45px 0px 19px;
    min-height: 72px;
    font-size: 3.7em;
    font-weight: bold;
    text-align: right;
    border-radius: 7px 7px 7px 7px;
    z-index: 320;
}
.countdown .description {
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    padding-right: 6px;
}
.countdown.warning {
    color: #ed940d;
}
.countdown.negative {
    color: #CC0000;
}

.message_background {
    background-color: #777777;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}
.message {
    font-weight: normal;
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 0.2em;
    background: #FFFFFF;
    font-size: 2.75em;
    padding: 0.2em 0;
    line-height: normal !important;
    z-index: 350;
}
.identify {
    background-color: #D9F8C4;
    z-index: 400;
}

/*** PDF presentation ***/
.rotate0 {
    transform: rotate(0deg);
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}
.rotate270 {
    transform: rotate(270deg);
}

/*** Table style ***/
.table {
    border-collapse:collapse;
    border-color:#CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-style:solid none solid solid;
    border-width:1px medium 1px 1px;
    margin:0;
    border-spacing:0px;
}
.table th {
    border-right:1px solid #CCCCCC;
    color:#333333;
    font-weight:normal;
    padding:10px 10px 10px 10px;
    text-align:left;
    text-transform:uppercase;
}
.table tr.odd td {
    background:none repeat scroll 0 0 #F1F1F1;
}
.table td {
    background:none repeat scroll 0 0 #F7F7F7;
    border-right:1px solid #CCCCCC;
    line-height:120%;
    padding: 10px 10px;
    vertical-align:middle;
}
tr.total td {
    border-top: 1px solid #333333;
    background-color: #e3e3e3;
}
tr.elected td {
    background-color: #BED4DE !important;
}
.transparentTable td {
    background-color: transparent;
    padding-right: 10px;
}
.pollresults table .icon {
    color: #636363;
    height: 45px;
}

/*** Agenda list ***/
.agendalist p {
    font-size: 140%;
}
.agendalist p.done {
    color: #9a9898;
}
.agendalist .mainitem {
    margin-top: 25px;
}
.agendalist .subitem {
    font-size: 100%;
    margin-bottom: 4px;
}
.spacer {
    margin-top: 10px;
}


/*** List of speakers ***/
.slimlabel.label {
    padding: 0px 10px;
}

.lastSpeakers {
    color: #9a9898;
    margin-left: 27px;
}
.currentSpeaker {
    font-weight: bold;
    margin-left: 0px;
}
.currentSpeaker i {
    padding-right: 5px;
}
.nextSpeakers {
    margin-left: 8px;
}
.nextSpeakers li {
    line-height: 150%;
}


/*** Line numbers ***/
.motion-text .highlight {
    background-color: #ff0;
}
.motion-text ins {
    color: green;
    text-decoration: underline;
}
.motion-text del {
    color: red;
    text-decoration: line-through;
}
.motion-text.line-numbers-outside {
    padding-left: 0;
    margin-left: 25px;
    position: relative;
}

.motion-text.line-numbers-outside .os-line-number {
    display: inline-block;
}
.motion-text.line-numbers-outside .os-line-number:after {
    content: attr(data-line-number);
    position: absolute;
    left: -25px;
    vertical-align: top;
    color: gray;
    font-size: 13px;
    font-weight: normal;
}

.motion-text.line-numbers-inline .os-line-break {
    display: none;
}
.motion-text.line-numbers-inline .os-line-number {
    display: inline-block;
}
.motion-text.line-numbers-inline .os-line-number:after {
    display: inline-block;
    content: attr(data-line-number);
    vertical-align: top;
    font-size: 0.75em;
    font-weight: normal;
    color: gray;
    margin-top: -5px;
    margin-left: 0;
}


.motion-text.line-numbers-none .os-line-break {
    display: none;
}
.motion-text.line-numbers-none .os-line-number {
    visibility: hidden;
}

/** Diff view */

.change-recommendation-overview {
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: -15px;
    padding-top: 5px;
}
.change-recommendation-overview {
    margin-bottom: 50px;
    padding: 10px;
}
.change-recommendation-overview h2 {
    margin-top: 0;
}
.change-recommendation-overview ul {
    list-style: none;
    display: table;
}
.change-recommendation-overview li {
    display: table-row;
    cursor: pointer;
}
.change-recommendation-overview li:hover {
    text-decoration: underline;
}
.change-recommendation-overview li > * {
    display: table-cell;
    padding: 4px;
}
.change-recommendation-overview .status {
    color: gray;
    font-style: italic;
}
.change-recommendation-overview .status > *:before {
    content: '(';
}
.change-recommendation-overview .status > *:after {
    content: ')';
}
.change-recommendation-overview .no-changes {
    font-style: italic;
    color: grey;
}

.diff-box {
    background-color: #f9f9f9;
    border: solid 1px #eee;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: -25px;
    padding-top: 0;
    padding-right: 155px;
}
.motion-text-with-diffs .original-text {
    min-height: 30px; // Spacer between .diff-box, in case .original-text is empty
}
.motion-text-with-diffs .original-text ul:last-child {
    padding-bottom: 16px;
}
.motion-text-with-diffs.line-numbers-inline .diff-box, .motion-text-with-diffs.line-numbers-none .diff-box {
    margin-right: -220px;
}
.diff-box:hover {
    background-color: #f0f0f0;
}
.diff-box .action-row {
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    width: 150px;
    text-align: right;
    margin-right: -150px;
    opacity: 0.5;
}
.diff-box:hover .action-row {
    opacity: 1;
}
.diff-box .action-row .btn-delete {
    margin-left: 5px;
    color: red;
}
.diff-box .action-row .btn-edit {
    margin-left: 5px;
}
.diff-box .status-row {
    font-style: italic;
    color: gray;
}
.diff-box .status-row > *:after {
    content: ':';
}

.motion-text-diff .delete {
    color: red;
    text-decoration: line-through;
}
.motion-text-diff .insert {
    color: green;
    text-decoration: underline;
}
.motion-text-diff p {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.motion-text-diff.line-numbers-outside .insert .os-line-number {
    display: none;
}
.motion-text-diff.line-numbers-inline .insert .os-line-number {
    display: none;
}

/*** Video and Image projection ***/
img.projector-image {
    width: 100%;
}

div.projector-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container > * {
    flex: 1 1 auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
