{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} –
    {% if edit_user %}
        {% trans "Edit participant" %}
    {% else %}
        {% trans "New participant" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if edit_user %}
            {% trans "Edit participant" %}
        {% else %}
            {% trans "New participant" %}
        {% endif %}
        <small class="pull-right">
        <a href="{% url 'user_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>

    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        {% if edit_user %}
            <p style="margin: -15px 0 25px 0;">
                <a class="btn btn-mini" href="{% url 'user_reset_password' edit_user.id %}"><i class="icon-exclamation-sign"></i> {% trans 'Reset to First Password' %}</a>
            </p>
        {% endif %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        <a href="{% url 'user_overview' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
