{% extends "participant/base_participant.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} –
    {% if group %}
        {% trans "Edit group" %}
    {% else %}
        {% trans "New group" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if group %}
        <h1>{% trans "Edit group" %}</h1>
    {% else %}
        <h1>{% trans "New group" %}</h1>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>
        <button class="button" type="submit">
            <span class="icon ok">{% trans 'Save' %}</span>
        </button>
        <button class="button" type="submit" name="apply">
            <span class="icon apply">{% trans 'Apply' %}</span>
        </button>
        <a href='{% url user_group_overview %}'>
        <button class="button" type="button" onclick="window.location='{% url user_group_overview %}'">
            <span class="icon cancel">{% trans 'Cancel' %}</span>
        </button>
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
