{% extends "base.html" %}

{% load i18n %}
{% load tags %}

{% block title %}{{ block.super }} – {{ group }}{% endblock %}

{% block content %}

<h1>{{ group }}
    <small class="pull-right">
        <a href="{% url 'user_group_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
    </small>
</h1>

<p>{{ group.description }}</p>

<h4>{% trans "Members" %}</h4>

<ol>
{% for member in group.user_set.all %}
    <li>{{ member }}</li>
{% empty %}
    <p>{% trans "No members available." %}</p>
{% endfor %}
</ol>

{% endblock %}
