{% load i18n %}
{% load tags %}

<ul style="line-height: 180%">
{% for group in groups %}
    {% if group.name != 'Anonymous' and group.name != 'Registered' %}
    <li class="{% if group.active %}activeline{% endif %}">
        <a href="{% url 'projector_activate_slide' group.sid  %}" class="activate_link btn {% if group.active %}btn-primary{% endif %} btn-mini" title="{% trans 'Show' %}">
            <i class="icon-facetime-video {% if group.active %}icon-white{% endif %}"></i>
        </a>&nbsp;
        <a href="{% model_url group 'edit' %}" title="{% trans 'Edit' %}" class="btn btn-mini right">
            <i class="icon-pencil"></i>
        </a>
        <a href="{% url 'projctor_preview_slide' group.sid %}" title="{% trans 'Preview' %}" class="btn btn-mini right">
            <i class="icon-search"></i>
        </a>
        <a href="{% model_url group 'view' %}">{{ group }}</a>
    </li>
    {% endif %}
{% empty %}
    <li>{% trans 'No groups available.' %}</li>
{% endfor %}
</ul>
