{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Import participants" %} – {{ block.super }}{% endblock %}

{% block content %}
    <h1>
        {% trans 'Import participants' %}
        <small class="pull-right">
        <a href="{% url 'user_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>

    <p>{% trans 'Select a CSV file to import participants' %}.</p>
    
    <p>{% trans 'Please note' %}:</p>
    <ul>
        <li>
            {% trans 'Required comma separated values' %}:<br>
            <code>({% trans 'title, first name, last name, gender, email, group id, structure level, committee, about me, comment, is active' %})</code>
        </li>
        <li>
            {% trans 'Default groups' %}:
            {% trans 'Delegate' %} (<code>3</code>), {% trans 'Staff' %} (<code>4</code>)
        </li>
        <li>
            {% trans 'At least first name or last name have to filled in. All other fields are optional and may be empty.' %}
        </li>
        <li>{% trans 'The first line (header) is ignored' %}.</li>
        <li>
            {% trans 'Required CSV file encoding is UTF-8' %}.
        </li>
        <li><a href="https://github.com/OpenSlides/OpenSlides/wiki/CSV-Import" target="_blank">{% trans 'Use the CSV example file from OpenSlides Wiki.' %}</a></li>
    </ul>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        <button class="btn btn-primary" type="submit">
            <span class="icon import">{% trans 'Import' %}</span>
        </button>
        <a href="{% url 'user_overview' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
