{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ block.super }} – {% trans "Import participants" %} {% endblock %}

{% block content %}
    <h1>
        {% trans 'Import participants' %}
        <small class="pull-right">
        <a href="{% url 'user_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>

    <p>{% trans 'Select a CSV file to import participants!' %}</p>

    <p>{% trans 'Required comma separated values' %}:
    <code>({% trans 'first_name, last_name, gender, structure level, type, committee, comment' %})</code>
    <br>
    {% trans 'Required CSV file encoding: UTF-8 (Unicode).' %}
    </p>

    <p><a href="http://dev.openslides.org/wiki/CSVImport" target="_blank">{% trans 'A CSV example file is available in OpenSlides Wiki.' %}</a>
    </p>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        <button class="btn btn-primary" type="submit">
            <span class="icon import">{% trans 'Import' %}</span>
        </button>
        <a href="{% url 'user_overview' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
