{% extends "participant/base_participant.html" %}
{% block title %}{{ block.super }} - {%trans "Import participants" %} {% endblock %}

{% block content %}
    <h1>{% trans 'Import participants' %}</h1>
    <p>{% trans 'Select a CSV file to import participants!' %}</p>

    <p>{% trans '(Required comma separated values: <code>first_name, last_name, gender, group, type, committee</code>)' %} </p>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">
            <span class="icon import">{%trans 'Import' %}</span>
        </button>
        <a href="{% url user_overview%}">
        <button class="button" type="button"  onclick="window.location='{% url user_overview %}'">
            <span class="icon cancel">{%trans 'Cancel' %}</span>
        </button>
        </a>
    </form>
    </p>
{% endblock %}
