{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block loginbutton %}
{% endblock %}

{% block body %}
<div id="login-page" class="container">
    <h2><img src="{% static '/static/img/logo-login.png' %}"></h2>

    {% if form.errors %}
        <div class="alert alert-error">
            {% for msg in form.non_field_errors %}
                <em>{{ msg }}</em>
                {% if not forloop.last %}<br />{% endif %}
            {% empty %}
                <em>{% trans "Your username and password were not accepted. Please try again." %}</em>
            {% endfor %}
        </div>
    {% endif %}
    {% if first_time_message %}
        <div class="alert alert-info">
            <em>{{ first_time_message|safe }}</em>
        </div>
    {% endif %}

    <script>
        $("div.notification").click(function () {
            $(this).hide("fast");
        });
    </script>
    <form method="post" action="{% url 'user_login' %}{% if next %}?next={{ next }}{% endif %}" class="well">
        {% csrf_token %}
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input type="text" maxlength="30" name="username" id="id_username" placeholder="{% trans 'Username' %}">
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input type="password" maxlength="30" name="password" id="id_password" placeholder="{% trans 'Password' %}">
        </div>
        
        <p>
        <button type="submit" class="btn btn-primary">
            {% trans 'Login' %}
        </button>
        {% if os_enable_anonymous_login %}
            <a id="anonymous_login" class="btn" href="{% url 'dashboard' %}">
                {% trans 'Continue as guest' %}
            </a>
        {% endif %}
        <input type="hidden" name="next" value="{{ next }}" />
        </p>
    </form>
{% endblock %}
