{% load i18n %}
{% load tags %}
<ul style="line-height: 180%">
{% for user in users %}
    <li class="{% if user.is_active_slide %}activeline{% endif %}">
        <a href="{{ user|absolute_url:'projector' }}" class="activate_link btn {% if user.is_active_slide %}btn-primary{% endif %} btn-mini"
            rel="tooltip" data-original-title="{% trans 'Show' %}">
            <i class="icon-facetime-video {% if user.is_active_slide %}icon-white{% endif %}"></i>
        </a>&nbsp;
        <a href="{{ user|absolute_url:'update' }}"
            rel="tooltip" data-original-title="{% trans 'Edit' %}" class="btn btn-mini right">
            <i class="icon-pencil"></i>
        </a>
        <a href="{{ user|absolute_url:'projector_preview' }}"
            rel="tooltip" data-original-title="{% trans 'Preview' %}" class="btn btn-mini right">
            <i class="icon-search"></i>
        </a>
        <a href="{{ user|absolute_url }}">{{ user }}</a>
    </li>
{% empty %}
    <li>{% trans 'No participants available.' %}</li>
{% endfor %}
</ul>

<small><p class="text-right"><a href="{% url 'user_overview' %}">{% trans "More..." %}</a></p></small>
