{% extends "base.html" %}

{% load i18n %}
{% load tags %}

{% block title %}{{ block.super }} – {{ shown_user }}{% endblock %}

{% block content %}

<h1>{{ shown_user.clean_name }}
    <small class="pull-right">
        <a href="{% url 'user_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
    </small>
</h1>



<fieldset>
    <legend>{% trans "Personal data" %}</legend>
    <label>{% trans "Gender" %}</label>
    {{ shown_user.get_gender_display }}
    <label>{% trans "Email" %}</label>
    {{ shown_user.email }}
    <label>{% trans "About me" %}</label>
    {{ shown_user.about_me|linebreaks }}
</fieldset>

<fieldset>
    <legend>{% trans "Event data" %}</legend>
    <label>{% trans "Structure level" %}</label>
    {{ shown_user.structure_level }}
    <label>{% trans "Committee" %}</label>
    {{ shown_user.committee }}
    <label>{% trans "Groups" %}</label>
    {% if shown_user.groups.all %}
        {{ shown_user.groups.all|join:", " }}
    {% else %}
        {% trans "The participant is not member of any group." %}
    {% endif %}
</fieldset>

{% if perms.participant.can_manage_participant %}
<fieldset>
    <legend>{% trans "Administrative data" %}</legend>
    <label>{% trans "User name" %}</label>
    {{ shown_user.username }}
    <label>{% trans "Comment" %}</label>
    {{ shown_user.comment|linebreaks }}
    <label>{% trans "Last Login" %}</label>
    {% if shown_user.last_login > shown_user.date_joined %}
        {{ shown_user.last_login }}
    {% else %}
        {% trans "The participant has not logged in yet." %}
    {% endif %}
{% endif %}
{% endblock %}
