{% extends "base.html" %}

{% load i18n %}
{% load tags %}

{% block title %}{{ block.super }} – {{ shown_user }}{% endblock %}

{% block content %}

<h1>{{ shown_user }}
    <small class="pull-right">
        <a href="{% url 'user_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
    </small>
</h1>

<p>{{ shown_user.email }}</p>

<h4>{% trans "Groups" %}</h4>
<p>
    {% if shown_user.groups.all %}
        {{ shown_user.groups.all|join:", " }}
    {% else %}
        {% trans "The participant is not member of any group." %}
    {% endif %}
</p>

{% if shown_user.get_gender_display %}
    <h4>{% trans "Gender" %}</h4>
    <p>{{ shown_user.get_gender_display }}</p>
{% endif %}

{% if shown_user.get_type_display %}
<h4>{% trans "Type" %}</h4>
<p>{{ shown_user.get_type_display }}</p>
{% endif %}

{% if shown_user.committee %}
<h4>{% trans "Committee" %}</h4>
<p>{{ shown_user.committee }}</p>
{% endif %}

{% if shown_user.about_me %}
    <h4>{% trans "About me" %}</h4>
    <p>{{ shown_user.about_me }}</p>
{% endif %}

{% if perms.participant.can_manage_participant %}
    {% if shown_user.comment %}
    <h4>{% trans "Comment" %}</h4>
    <p>{{ shown_user.comment }}</p>
    {% endif %}

    <h4>{% trans "Last Login" %}</h4>
    {% if shown_user.last_login > shown_user.date_joined %}
        <p>{{ shown_user.last_login }}</p>
    {% else %}
        <p>{% trans "The participant has not logged in yet." %}</p>
    {% endif %}
{% endif %}

{% endblock %}
