<mat-toolbar color='primary' class="footer">
    <mat-toolbar-row>
        <button mat-button class="footer-link" [routerLink]=legalNoticeUrl>
            <span translate>Legal notice</span>
        </button>
        <button mat-button class="footer-link" [routerLink]=privacyPolicyUrl>
            <span translate>Privacy policy</span>
        </button>
        <span class="footer-right">© <span>Copyright by</span>&#160;<a href='https://openslides.org/'>OpenSlides</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
