<mat-toolbar color='primary' class="footer">
    <mat-toolbar-row>
        <button mat-button class="footer-link" [routerLink]="['/legalnotice']">
            <span translate>Legal Notice</span>
        </button>
        <button mat-button class="footer-link" [routerLink]="['/privacypolicy']">
            <span translate>Privacy Policy</span>
        </button>
        <span class="footer-right">© <span translate>Copyright by</span>&#160;<a href='https://openslides.org/'>OpenSlides</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
