<mat-toolbar color='primary'>

    <button class='generic-plus-button' mat-fab>
        <fa-icon icon='plus'></fa-icon>
    </button>

    <span class='app-name' translate>Agenda</span>

    <!-- download button on the right -->
    <span class='spacer'></span>
    <button mat-icon-button (click)='drawer.toggle()'>
        <fa-icon icon='download'></fa-icon>
    </button>

</mat-toolbar>

<div class="app-content">
    Agenda Works
    <br/>
    <div>
        everyone should see this
    </div>
    <br/>
    <div *appOsPerms="['agenda.can_see']">
        Only permitted users should see this
    </div>
</div>
