<div ng-controller="SlideAssignmentCtrl" class="content scrollcontent">

  <div id="sidebox">
    <!-- Phase -->
    <h3 translate>State</h3>
    {{ phases[assignment.phase].display_name }}

    <!-- Posts -->
    <h3 translate>Posts</h3>
    {{ assignment.open_posts }}
  </div>

  <!-- Title -->
  <div id="title">
    <h1>{{ assignment.agenda_item.getTitle() }}</h1>
    <h2>
      <translate>Election</translate>
    </h2>
  </div>

  <!-- Description -->
  <div class="white-space-pre-line">{{ assignment.description }}</div>

  <!-- Candidates -->
  <h3 translate>Candidates</h3>
  <ol>
    <li ng-repeat="related_user in assignment.assignment_related_users">
      {{ related_user.user.get_full_name() }}
      <i ng-if="related_user.elected" class="fa fa-star" title="{{ 'is elected' | translate }}"></i>
  </ol>
</div>
