<h1 mat-dialog-title>{{ 'New change recommendation' | translate }}</h1>
<div mat-dialog-content>
    <form class="motion-content" [formGroup]="contentForm" (ngSubmit)="saveChangeRecommendation()">
        <mat-radio-group #rGroup formControlName="diffType">
            <mat-radio-button *ngFor="let radio of replacementTypes" [value]="radio.value">{{
                radio.title
            }}</mat-radio-button>
        </mat-radio-group>

        <!-- The HTML Editor -->
        <h4 *ngIf="lineRange.to == lineRange.from + 1">
            <span>{{ 'Changed version in line' | translate }}</span> {{ lineRange.from }}:
        </h4>
        <h4 *ngIf="lineRange.to != lineRange.from + 1">
            <span>{{ 'Changed version in line' | translate }}</span> {{ lineRange.from }}
            <span>{{ 'to' | translate }}</span> {{ lineRange.to - 1 }}:
        </h4>
        <div>
            <editor formControlName="text" [init]="tinyMceSettings"></editor>
        </div>

        <mat-checkbox formControlName="public">{{ 'Public' | translate }}</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="saveChangeRecommendation()">
        <span>{{ 'Save' | translate }}</span>
    </button>
    <button mat-button mat-dialog-close>
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
