<os-head-bar
    [nav]="false"
    [goBack]="true"
    [editMode]="isEditing"
    [hasMainButton]="canManage()"
    [mainButtonIcon]="'edit'"
    [mainActionTooltip]="'Edit' | translate"
    (cancelEditEvent)="isEditing = !isEditing"
    (mainEvent)="isEditing = !isEditing"
    (saveEvent)="saveChanges()"
>
    <div class="title-slot">
        <h2>{{ 'Privacy Policy' | translate }}</h2>
    </div>
</os-head-bar>

<os-privacy-policy-content
    [canBeEdited]="true"
    [isEditing]="isEditing"
    (update)="privacyProlicy = $event"
></os-privacy-policy-content>
