{% extends 'core/widget.html' %}

{% load i18n %}
{% load tags %}

{% block content %}
    {% for infoblock in infoblocks %}
        {% if infoblock.is_active %}
            <ul style="line-height: 180%">
                {{ infoblock.headline }}:
                {% for object in infoblock.get_queryset %}
                    <li><a href="{{ object|absolute_url }}">{{ object }}</a></li>
                {% empty %}
                    <li><i>{% trans 'None' %}</i></li>
                {% endfor %}
            </ul>
            {% if not forloop.last %}
                <hr />
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
