$message-box-radius: 20px;

.incomming-message {
    .chat-text {
        border-top-left-radius: 0;
    }
}

.outgoind-message {
    .chat-text {
        border-bottom-right-radius: 0;
    }
    * {
        margin-left: auto;
    }
}

.message-box {
    margin: 1em 0.5em 0 0.5em;
}

.author {
    font-size: small;
}

.chat-text {
    padding: 0.5em;
    width: fit-content;
    max-width: 90%;
    border-radius: $message-box-radius;
}

.timestamp {
    font-size: small;
    opacity: 0.5;
    width: fit-content;
}
