.user_details {
    fieldset {
        margin-bottom: 10px;
    }
    legend {
        margin-bottom: 5px;
    }
    label {
        margin: 10px 0 0 0;
        display: block;
        font-family: $font-medium;
        font-family: $font-medium, sans-serif;
        font-weight: normal;
        &:after {
            content: ":";
        }
    }
}
