/* List of speakers */
.lastSpeakers {
    color: #9a9898;
    margin-left: 27px;
}

.currentSpeaker {
    font-weight: bold;

    i.fa-microphone {
        padding-right: 5px;
    }
}

.nextSpeakers {
    margin-left: 13px;

    li {
        line-height: 150%;
    }
}
