@import 'list_of_speakers';

/* Agenda list */
.agendalist-table {
    td {
        vertical-align: top;
        padding-left: 15px;
    }

    td.number {
        padding-left: 0;
        white-space: nowrap;
    }

    p.mainitem {
        font-size: 140%;
    }

    p.subitem {
        font-size: 100%;
    }
}
