@import 'list_of_speakers';

/* Agenda list */
.agendalist {
    line-height: 1.5em;

    p {
        font-size: 140%;
    }

    .mainitem {
        margin-top: 25px;
    }

    .subitem {
        font-size: 100%;
        margin-bottom: 4px;
    }
}
.agendalist-table {
    td {
        vertical-align: top;
        padding-left: 5px;
    }

    .number {
        padding: 0;
        white-space: nowrap;
    }
}
