@import 'list_of_speakers';

#agenda-table {
    .icon-column {
        padding: 3px;
        width: 5%;
    }

    .title-column {
        padding-left: 3px;
        padding-right: 10px;
        width: calc(95% - 15px );
    }

    .caret-spacer {
        width: 15px;
        padding: 3px;
        color: #337ab7;
        font-size: 115%;
    }
}

.agenda-sort {
    .internal {
        padding: 7px;
        opacity: 0.6;
    }
    .angular-ui-tree-node {
        min-height: 0;
    }
}

div.speakers-toolbar {
    margin: -20px -20px 30px -20px;
    padding: 12px 15px 10px 15px;

}
