<!-- A summary of all changes -->
<section class="change-recommendation-overview">
    <strong>
        <translate>Summary of changes</translate>:
    </strong>

    <button os-perms="motions.can_manage" class="btn btn-sm btn-default pull-right"
        uib-tooltip="{{ 'Note: You have to reject all change recommendations if the plenum does not follow the recommendation. This does not affect amendments.' | translate }}"
        ng-click="viewChangeRecommendations.rejectAllChangeRecommendations(motion)">
      <i class="fa fa-thumbs-down"></i>
      <translate>Reject all change recommendations</translate>
    </button>

    <ul ng-if="has_proposed_changes">
        <li ng-if="title_change_recommendation">
            <a href='' ng-click="viewChangeRecommendations.scrollToDiffBox(title_change_recommendation.id)">
                <span class="line-number"><translate>Title</translate>:</span>
                <span class="operation"><translate>Replacement</translate></span>
                <span class="status">
                    <translate ng-if="title_change_recommendation.rejected">Rejected</translate>
                </span>
            </a>
        </li>
        <li ng-repeat="change in amendments_crs">
          <a href='' ng-click="viewChangeRecommendations.scrollToDiffBox(change.id)"
             ng-class="{amendment: change.type === 'amendment', recommendation: change.type === 'recommendation'}">
            <span ng-if="change.line_from >= change.line_to - 1" class="line-number">
                <translate>Line</translate> {{ change.line_from }}<span ng-if="change.type === 'recommendation'"></span>
            </span>
            <span ng-if="change.line_from < change.line_to - 1" class="line-number">
                <translate>Line</translate> {{ change.line_from }} -
                    {{ change.line_to - 1 }}<span ng-if="change.type === 'recommendation'"></span>
            </span>
            <span ng-if="change.type === 'recommendation'">(<translate>Change recommendation</translate>)</span>
            <span ng-if="change.type === 'amendment'">({{ change.original.identifier }})</span>
            <span class="operation" ng-if="change.type === 'recommendation'">–
                <translate ng-if="change.original.getType(motion.getVersion(version).text) == 0">Replacement</translate>
                <translate ng-if="change.original.getType(motion.getVersion(version).text) == 1">Insertion</translate>
                <translate ng-if="change.original.getType(motion.getVersion(version).text) == 2">Deletion</translate>
                <span ng-if="change.original.getType(motion.getVersion(version).text) == 3">
                  {{ change.other_description }}
                </span>
            </span>
            <span class="status">
                <translate ng-if="change.rejected">Rejected</translate>
                <translate ng-if="change.accepted && change.type === 'amendment'">Accepted</translate>
            </span>
          </a>
        </li>
    </ul>

    <div ng-if="!has_proposed_changes" class="no-changes">
        <translate>No change recommendations yet</translate>
    </div>
</section>
