<div class="input-container">
    <div class="input-prefix">
        <mat-icon color="primary">search</mat-icon>
    </div>
    <input
        #osInput
        [autofocus]="autofocus"
        [placeholder]="placeholder"
        class="rounded-input"
        [ngClass]="[size, borderRadius, hasChildren ? 'children-bottom' : '']"
        [formControl]="modelForm"
        (keyup)="keyPressed($event)"
        (blur)="blur()"
    />
    <div *ngIf="modelForm.value !== ''" class="input-suffix">
        <mat-icon (click)="clear()">close</mat-icon>
    </div>
</div>
