.input-container {
    position: relative;
    height: 100%;
    &,
    div {
        display: flex;
        align-items: center;
        z-index: 1;
    }
    div {
        position: absolute;
        &.input-prefix {
            left: 8px;
        }
        &.input-suffix {
            right: 8px;
            color: #666;
        }
    }

    .rounded-input {
        outline: 0;
        z-index: 0;
        height: 24px;
        width: 100%;
        padding: 8px 39px;
        border-radius: 32px;
        font-size: 16px;
        border: 1px solid #ccc;
        color: #666;
        transition: all 0.25s ease;

        &.small {
            height: 14px;
            font-size: 14px;
            width: 100px;

            &:focus {
                width: 200px;
            }
        }
    }

    mat-icon {
        cursor: pointer;
    }
}
