<main>
    <h1 class="center spacer-top-20" *ngIf="!supported">
        {{ 'Your browser is not supported by OpenSlides!' | translate }}
    </h1>
    <h1 class="center spacer-top-20" *ngIf="supported">
        {{ 'Congratuations! Your browser is supported by OpenSlides.' | translate }}
    </h1>

    <mat-card class="os-card">
        <div>
            <span>
                {{ 'Your browser' | translate }}: {{ currentBrowser }} ({{ 'version' | translate }}:
                {{ browserVersion }})
            </span>
            <br />
            <span *ngIf="!!supportedVersion">{{ 'Minimal required version' | translate }}: {{ supportedVersion }}</span>
        </div>

        <div class="spacer-top-20" *ngIf="!supported">
            <span>{{
                'Please update your browser or contact your system administration.' | translate
            }}</span>
        </div>

        <div class="spacer-top-20">
            <span>
                {{ 'OpenSlides recommends:' | translate }}
                <ul>
                    <li *ngFor="let browser of recommendedBrowsers">
                        <a [href]="browser.url">{{ browser.name }}</a>
                    </li>
                </ul>
            </span>
        </div>
    </mat-card>
</main>
