<os-head-bar prevUrl="../.." [nav]="false">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Import motions' | translate }}</h2>
    </div>

    <div class="menu-slot">
        <button *ngIf="hasFile && newCount" mat-button (click)="doImport()">
            <span class="upper">{{ 'Import' | translate }}</span>
        </button>
    </div>
</os-head-bar>

<mat-card class="os-form-card import-table spacer-bottom-60">
    <span>{{
        'Required comma or semicolon separated values with these column header names in the first row:' | translate
    }}</span>
    <br />
    <div class="code red-warning-text">
        <span *ngFor="let header of this.expectedHeader; let last = last">
            <span>{{ header | translate }}</span
            ><span *ngIf="!last">,&nbsp;</span>
        </span>
    </div>
    <ul>
        <li>
            {{
                'Identifier, reason, submitter, category, origin and motion block are optional and may be empty.'
                    | translate
            }}
        </li>
        <li>
            {{
                'Additional columns after the required ones may be present and will not affect the import.' | translate
            }}
        </li>
    </ul>
    <button mat-button color="accent" (click)="downloadCsvExample()">
        {{ 'Download CSV example file' | translate }}
    </button>
    <div class="wrapper">
        <mat-form-field>
            <mat-label>{{ 'Encoding of the file' | translate }}</mat-label>
            <mat-select
                class="selection"
                (selectionChange)="selectEncoding($event)"
                [value]="encodings[0].value"
            >
                <mat-option *ngFor="let option of encodings" [value]="option.value">
                    {{ option.label | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Column separator' | translate }}</mat-label>
            <mat-select class="selection" (selectionChange)="selectColSep($event)" value="">
                <mat-option *ngFor="let option of columnSeparators" [value]="option.value">
                    {{ option.label | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'Text separator' | translate }}</mat-label>
            <mat-select class="selection" (selectionChange)="selectTextSep($event)" value='"'>
                <mat-option *ngFor="let option of textSeparators" [value]="option.value">
                    {{ option.label | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div>
            <input
                id="motion-import-file-input"
                type="file"
                class="hidden-input"
                accept="text"
                #fileInput
                (change)="onSelectFile($event)"
            />
            <button mat-button osAutofocus onclick="document.getElementById('motion-import-file-input').click()">
                <span>{{ 'Select file' | translate }}</span>
            </button>
        </div>
    </div>
</mat-card>

<!-- preview table -->
<mat-card *ngIf="hasFile" class="os-form-card import-table">
    <h3>{{ 'Preview' | translate }}</h3>
    <div class="summary">
        <!-- new entries -->
        <div *ngIf="newCount">
            &nbsp;
            <mat-icon inline>playlist_add</mat-icon>
            <span>&nbsp;{{ newCount }}&nbsp;</span> <span>{{ 'Motion(s) will be imported.' | translate }}</span>
        </div>
        <!-- errors/duplicates -->
        <div *ngIf="nonImportableCount" class="red-warning-text">
            &nbsp;
            <mat-icon inline>warning</mat-icon>
            <span>&nbsp;{{ nonImportableCount }}&nbsp;</span> <span>{{ 'entries will be ommitted.' | translate }}</span>
        </div>
        <!-- have been imported -->
        <div *ngIf="doneCount" class="green-text">
            &nbsp;
            <mat-icon inline>done</mat-icon>
            <span>&nbsp;{{ doneCount }}&nbsp;</span> <span>{{ 'Motions have been imported.' | translate }}</span>
        </div>
    </div>
    <div *ngIf="newCount">
        <span>{{ 'After verifiy the preview click on "import" please (see top right).' | translate }}</span>
    </div>
    <div>
        <mat-select *ngIf="nonImportableCount" class="filter-imports" [(value)]="shown" (selectionChange)="setFilter()">
            <mat-option value="all">{{ 'Show all' | translate }}</mat-option>
            <mat-option value="error">{{ 'Show errors only' | translate }}</mat-option>
            <mat-option value="noerror">{{ 'Show correct entries' | translate }}</mat-option>
        </mat-select>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- Status column -->
            <ng-container matColumnDef="status" sticky>
                <mat-header-cell *matHeaderCellDef class="first-column"></mat-header-cell>
                <mat-cell *matCellDef="let entry" class="first-column">
                    <div *ngIf="entry.status === 'error'">
                        <mat-icon
                            class="red-warning-text"
                            matTooltip="{{ entry.errors.length }} {{ 'errors' | translate }}"
                        >
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                    </div>
                    <div *ngIf="entry.status === 'new'">
                        <mat-icon matTooltip="{{ 'Motion will be imported' | translate }}">
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                    </div>
                    <div *ngIf="entry.status === 'done'">
                        <mat-icon matTooltip="{{ 'Motion has been imported' | translate }}">
                            {{ getActionIcon(entry) }}
                        </mat-icon>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- identifier column -->
            <ng-container matColumnDef="identifier">
                <mat-header-cell *matHeaderCellDef>{{ 'Identifier' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <mat-icon
                        color="warn"
                        inline
                        *ngIf="hasError(entry, 'Duplicates')"
                        matTooltip="{{ getVerboseError('Duplicates') | translate }}"
                    >
                        warning
                    </mat-icon>
                    {{ entry.newEntry.identifier }}
                </mat-cell>
            </ng-container>

            <!-- title column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>{{ 'Title' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <mat-icon
                        color="warn"
                        *ngIf="hasError(entry, 'Title')"
                        matTooltip="{{ getVerboseError('Title') | translate }}"
                    >
                        warning
                    </mat-icon>
                    {{ entry.newEntry.title }}
                </mat-cell>
            </ng-container>

            <!-- text column -->
            <ng-container matColumnDef="text">
                <mat-header-cell *matHeaderCellDef>{{ 'Motion text' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry" matTooltip="{{ getLongPreview(entry.newEntry.text) }}">
                    <mat-icon
                        color="warn"
                        *ngIf="hasError(entry, 'Text')"
                        matTooltip="{{ getVerboseError('Text') | translate }}"
                    >
                        warning
                    </mat-icon>
                    {{ getShortPreview(entry.newEntry.text) }}
                </mat-cell>
            </ng-container>

            <!-- reason column -->
            <ng-container matColumnDef="reason">
                <mat-header-cell *matHeaderCellDef>{{ 'Reason' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry" matTooltip="{{ getLongPreview(entry.newEntry.reason) }}">
                    {{ getShortPreview(entry.newEntry.reason) }}
                </mat-cell>
            </ng-container>

            <!-- submitters column -->
            <ng-container matColumnDef="submitters">
                <mat-header-cell *matHeaderCellDef>{{ 'Submitters' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div *ngIf="entry.newEntry.csvSubmitters && entry.newEntry.csvSubmitters.length">
                        <mat-icon
                            color="warn"
                            *ngIf="hasError(entry, 'Submitters')"
                            matTooltip="{{ getVerboseError('Submitters') | translate }}"
                        >
                            warning
                        </mat-icon>
                        <div *ngFor="let submitter of entry.newEntry.csvSubmitters">
                            {{ submitter.name }}
                            <mat-icon class="newBadge" color="accent" inline *ngIf="!submitter.id">add</mat-icon>
                            &nbsp;
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- category column -->
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef>{{ 'Category' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div *ngIf="entry.newEntry.csvCategory">
                        <mat-icon
                            color="warn"
                            *ngIf="hasError(entry, 'Category')"
                            matTooltip="{{ getVerboseError('Category') | translate }}"
                        >
                            warning
                        </mat-icon>
                        {{ entry.newEntry.csvCategory.name }}
                        <mat-icon class="newBadge" color="accent" inline *ngIf="!entry.newEntry.csvCategory.id"
                            >add</mat-icon
                        >&nbsp;
                    </div>
                </mat-cell>
            </ng-container>

            <!-- tag column -->
            <ng-container matColumnDef="tags">
                <mat-header-cell *matHeaderCellDef>{{ 'Tags' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div *ngIf="entry.newEntry.csvTags">
                        <mat-icon
                            color="warn"
                            *ngIf="hasError(entry, 'Tags')"
                            matTooltip="{{ getVerboseError('Tags') | translate }}"
                        >
                            warning
                        </mat-icon>
                        <div *ngFor="let tag of entry.newEntry.csvTags">
                            {{ tag.name }}
                            <mat-icon class="newBadge" color="accent" inline *ngIf="!tag.id">add</mat-icon>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- origin column -->
            <ng-container matColumnDef="origin">
                <mat-header-cell *matHeaderCellDef>{{ 'Origin' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">{{ entry.newEntry.origin }}</mat-cell>
            </ng-container>

            <!-- motion block column -->
            <ng-container matColumnDef="motion_block">
                <mat-header-cell *matHeaderCellDef>{{ 'Motion block' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div *ngIf="entry.newEntry.csvMotionblock">
                        <mat-icon
                            color="warn"
                            *ngIf="hasError(entry, 'MotionBlock')"
                            matTooltip="{{ getVerboseError('MotionBlock') | translate }}"
                        >
                            warning
                        </mat-icon>
                        {{ entry.newEntry.csvMotionblock.name }}
                        <mat-icon class="newBadge" color="accent" inline *ngIf="!entry.newEntry.csvMotionblock.id">
                            add
                        </mat-icon>
                        &nbsp;
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="getColumnDefinition()"></mat-header-row>
            <mat-row [ngClass]="getStateClass(row)" *matRowDef="let row; columns: getColumnDefinition()"> </mat-row>
        </table>
    </div>
</mat-card>
