.os-headed-listview-table {
    /** name */
    .mat-column-name {
        width: 100%;
        flex: 1 0 200px;
        padding-left: 10px;
    }

    /** delete */
    .mat-column-delete {
        flex: 0 0 190px;
        justify-content: flex-end !important;
    }
}
