<os-head-bar prevUrl="../.." [nav]="false" [hasMainButton]="true" (mainEvent)="onNewButton(newWorkflowDialog)">
    <!-- Title -->
    <div class="title-slot">
        <h2>{{ 'Workflows' | translate }}</h2>
    </div>
</os-head-bar>

<os-list-view-table
    [listObservableProvider]="workflowRepo"
    [columns]="tableColumnDefinition"
    listStorageKey="workflow"
    [allowProjector]="false"
    [hiddenInMobile]="['menu']"
    [showListOfSpeakers]="false"
    [filterProps]="filterProps"
    (dataSourceChange)="onDataSourceChange($event)"
>
    <!-- Name column -->
    <div *pblNgridCellDef="'name'; value as name; row as workflow; rowContext as rowContext" class="cell-slot fill">
        <a class="detail-link" [routerLink]="workflow.id" *ngIf="!isMultiSelect"></a>
        <div>{{ name | translate }}</div>
    </div>

    <!-- Delete column -->
    <div *pblNgridCellDef="'delete'; row as workflow" class="cell-slot fill">
        <button type="button" mat-icon-button (click)="onDeleteWorkflow(workflow)">
            <mat-icon color="warn">delete</mat-icon>
        </button>
    </div>
</os-list-view-table>

<!-- New workflow dialog -->
<ng-template #newWorkflowDialog>
    <h1 mat-dialog-title>
        <span>{{ 'New workflow' | translate }}</span>
    </h1>
    <div mat-dialog-content>
        <p>{{ 'Please enter a name for the new workflow:' | translate }}</p>
        <mat-form-field>
            <input matInput osAutofocus [(ngModel)]="newWorkflowTitle" required />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button
            type="submit"
            mat-button
            color="primary"
            [disabled]="newWorkflowTitle === ''"
            [mat-dialog-close]="newWorkflowTitle"
        >
            <span>{{ 'Save' | translate }}</span>
        </button>
        <button type="button" mat-button [mat-dialog-close]="null">
            <span>{{ 'Cancel' | translate }}</span>
        </button>
    </div>
</ng-template>
