<mat-card
    class="block-tile"
    [style.display]="orientation === 'horizontal' ? 'flex' : 'block'"
    (click)="onClick($event)"
    >
    <div [ngSwitch]="blockType" class="block-node-container">
        <div *ngSwitchCase="'text'" class="tile-text stretch-to-fill-parent tile-color" [style.border-radius]="orientation === 'horizontal' ? '4px 0 0 4px' : '4px 4px 0 0'">
            <table>
                <tbody>
                    <tr>
                        <td>
                            {{ block }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngSwitchCase="'image'">
            <img mat-card-image [src]="block" alt="" />
        </div>
        <div *ngSwitchCase="'node'" class="tile-text stretch-to-fill-parent tile-color" [style.border-radius]="orientation === 'horizontal' ? '4px 0 0 4px' : '4px 4px 0 0'">
            <ng-container
                [ngTemplateOutlet]="blockNode"
                [ngTemplateOutletContext]="data"></ng-container>
        </div>
    </div>
    <div class="tile-content-node-container">
        <mat-card-content class="tile-content">
            <mat-card-title class="tile-content-title stretch-to-fill-parent" *ngIf="!only || only === 'title'">
                {{ title }}
            </mat-card-title>
            <mat-card-subtitle class="tile-content-subtitle" *ngIf="subtitle">
                {{ subtitle }}
            </mat-card-subtitle>
            <mat-divider *ngIf="!only"></mat-divider>
            <div *ngIf="!only || only === 'content'" class="tile-content-extra">
                <ng-container
                    [ngTemplateOutlet]="contentNode"
                    [ngTemplateOutletContext]="data"></ng-container>
            </div>
            <mat-card-actions *ngIf="showActions">
                <ng-container
                    [ngTemplateOutlet]="actionNode"></ng-container>
            </mat-card-actions>
        </mat-card-content>
    </div>
</mat-card>

<ng-template #blockNode>
    <ng-content select=".block-node"></ng-content>
</ng-template>
<ng-template #contentNode>
    <ng-content select=".block-content-node"></ng-content>
</ng-template>
<ng-template #actionNode>
    <ng-content select=".block-action-node"></ng-content>
</ng-template>
