<mat-card
    class="block-tile"
    [style.display]="orientation === 'horizontal' ? 'flex' : 'block'"
    [ngClass]="{ 'is-square': isSquare, vertical: orientation === 'vertical' }"
    (click)="onClick($event)"
>
    <div
        [ngSwitch]="blockType"
        class="block-node-container"
        [ngClass]="{ 'no-padding': noPaddingBlock }"
        *ngIf="showBlockNode"
    >
        <div
            #blockNode
            class="tile-text stretch-to-fill-parent tile-color"
            [style.border-radius]="orientation === 'horizontal' ? '4px 0 0 4px' : '4px 4px 0 0'"
        >
            <ng-container *ngSwitchCase="'text'">
                {{ block }}
            </ng-container>
            <ng-container *ngSwitchCase="'node'">
                <ng-container [ngTemplateOutlet]="blockNodeTemplate" [ngTemplateOutletContext]="data"></ng-container>
            </ng-container>
        </div>
    </div>
    <div class="tile-content-node-container" *ngIf="showContentNode || showActions">
        <mat-card-content class="tile-content">
            <ng-container *ngIf="showContentNode">
                <ng-container *ngIf="!only || only === 'title'">
                    <mat-card-title class="tile-content-title">
                        {{ title }}
                    </mat-card-title>
                    <mat-card-subtitle class="tile-content-subtitle" *ngIf="subtitle">
                        {{ subtitle }}
                    </mat-card-subtitle>
                </ng-container>
                <mat-divider *ngIf="!only"></mat-divider>
                <div
                    *ngIf="!only || only === 'content'"
                    class="tile-content-extra"
                    [ngClass]="{ 'only-content': only === 'content' }"
                    #contentNode
                >
                    <ng-container
                        [ngTemplateOutlet]="contentNodeTemplate"
                        [ngTemplateOutletContext]="data"
                    ></ng-container>
                </div>
            </ng-container>
            <mat-card-actions *ngIf="showActions" #actionNode>
                <ng-container [ngTemplateOutlet]="actionNodeTemplate"></ng-container>
            </mat-card-actions>
        </mat-card-content>
    </div>
</mat-card>

<ng-template #blockNodeTemplate>
    <ng-content select=".block-node"></ng-content>
</ng-template>
<ng-template #contentNodeTemplate>
    <ng-content select=".block-content-node"></ng-content>
</ng-template>
<ng-template #actionNodeTemplate>
    <ng-content select=".block-action-node"></ng-content>
</ng-template>
