<ng-container *ngIf="data && data.data">
    <div class="slidetitle">
        <h1 class="assignment-title">{{ data.data.assignment.title }}</h1>
        <h2 class="poll-title">{{ data.data.poll.title }}</h2>
    </div>
    <div class="charts-wrapper" *ngIf="data.data.poll.state === PollState.Published">
        <os-charts
            [type]="pollService.getChartType(data.data.poll)"
            [labels]="pollService.getChartLabels(data.data.poll)"
            [data]="chartDataSubject"
            [hasPadding]="false"
            [pieChartOptions]="options"
        ></os-charts>
    </div>
    <div *ngIf="data.data.poll.state !== PollState.Published">
        <!-- TODO -->
        {{ "Nothing to see here!" | translate }}
    </div>
</ng-container>
