<ng-container *ngIf="data && data.data">
    <div class="slidetitle">
        <h1 class="assignment-title">{{ data.data.assignment.title }}</h1>
        <h2 class="poll-title">{{ data.data.poll.title }}</h2>
    </div>
    <div class="charts-wrapper" *ngIf="data.data.poll.state === PollState.Published">
        <os-charts
            [labels]="pollService.getChartLabels(data.data.poll)"
            [data]="chartDataSubject | async"
            [hasPadding]="false"
        ></os-charts>
    </div>
</ng-container>
