{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block submenu %}
    {% url item_overview as url_itemoverview %}
    {% url item_new as url_itemnew %}
    <h4 class="sectiontitle">{%trans "Agenda" %}</h4>
    <ul>
        <li class="{% if request.path == url_itemoverview %}selected{% endif %}"><a href="{% url item_overview %}">{%trans "All items" %}</a></li>
        {% if perms.agenda.can_manage_agenda %}
        <li class="{% active request '/agenda/new/' %}"><a href="{% url item_new %}">{%trans "New item" %}</a></li>
        {% endif %}
        <li><a href="{% url print_agenda %}"><img src="{% static 'images/icons/application-pdf.png' %}"> {%trans 'Agenda as PDF' %}</a></li>
    </ul>
{% endblock %}
