{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block submenu %}
    {% url item_overview as url_itemoverview %}
    {% url item_new as url_itemnew %}
    <h4 class="sectiontitle">{% trans "Agenda" %}</h4>
    <ul>
        <li class="{% if request.path == url_itemoverview %}selected{% endif %}"><a href="{% url item_overview %}">{% trans "All items" %}</a></li>
        {% if perms.agenda.can_manage_agenda %}
        <li class="{% active request '/agenda/new/' %}"><a href="{% url item_new %}">{% trans "New item" %}</a></li>
        {% endif %}
        <li><a href="{% url print_agenda %}"><img src="{% static 'images/icons/pdf.png' %}"> {% trans 'Agenda as PDF' %}</a></li>
    </ul>

    {# second submenu #}
    {% if item %}
        <br>
        <h3>{{ item.title }}</h3>
            <ul>
            {# view item #}
                {% url item_view item.id as url_itemview %}
                <li class="{% if request.path == url_itemview %}selected{% endif %}"><a href="{% url item_view item.id  %}">{% trans 'View item' %}</a></li>

            {% if perms.agenda.can_manage_agenda %}
                {# edit item #}
                    {% url item_edit item.id as url_itemedit %}
                    <li class="{% if request.path == url_itemedit %}selected{% endif %}"><a href="{% url item_edit item.id  %}"><img src="{% static 'images/icons/edit.png' %}"> {% trans 'Edit item' %}</a></li>
                {# delete item #}
                    <li><a href="{% url item_delete item.id  %}"><img src="{% static 'images/icons/delete.png' %}"> {% trans 'Delete item' %}</a></li>
            {% endif %}

            {# activate item #}
            {% if perms.projector.can_manage_projector %}
                <li><a href="{% url projector_activate_slide item.sid  %}"><img src="{% static 'images/icons/projector.png' %}"> {% trans 'Show item' %}</a></li>
            {% endif %}
            </ul>
    {% endif %}
{% endblock %}

