{% extends "config/base_config.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load staticfiles %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/jquery-ui/jquery-ui.custom.min.css' %}" />
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/timepicker.css' %}" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'javascript/jquery-ui.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery-ui-sliderAccess.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $.datepicker.regional['{{ LANGUAGE_CODE }}'] = {
                prevText: 'previous month',
                nextText: 'next month',
                monthNames: [
                    '{% trans 'January' %}', '{% trans 'February' %}', '{% trans 'March' %}',
                    '{% trans 'April' %}',   '{% trans 'May' %}',      '{% trans 'June' %}',
                    '{% trans 'July' %}',    '{% trans 'August' %}',   '{% trans 'September' %}',
                    '{% trans 'October' %}', '{% trans 'November' %}', '{% trans 'December' %}'
                ],
                monthNamesShort: [
                    '{% trans 'Jan' %}', '{% trans 'Feb' %}', '{% trans 'Mar' %}',
                    '{% trans 'Apr' %}', '{% trans 'May' %}', '{% trans 'Jun' %}',
                    '{% trans 'Jul' %}', '{% trans 'Aug' %}', '{% trans 'Sep' %}',
                    '{% trans 'Oct' %}', '{% trans 'Nov' %}', '{% trans 'Dec' %}'
                ],
                dayNames: [
                    '{% trans 'Sunday' %}', '{% trans 'Monday' %}', '{% trans 'Tuesdey' %}', '{% trans 'Wednesday' %}',
                    '{% trans 'Thursday' %}', '{% trans 'Friday' %}', '{% trans 'Saturday' %}'
                ],
                dayNamesMin: [
                    '{% trans 'Su' %}', '{% trans 'Mo' %}', '{% trans 'Tu' %}', '{% trans 'We' %}',
                    '{% trans 'Th' %}', '{% trans 'Fr' %}', '{% trans 'Sa' %}'
                ],
                dayNamesShort: [
                    '{% trans 'Su' %}', '{% trans 'Mo' %}', '{% trans 'Tu' %}', '{% trans 'We' %}',
                    '{% trans 'Th' %}', '{% trans 'Fr' %}', '{% trans 'Sa' %}'
                ],
                dateFormat: 'dd.mm.yy', firstDay: 1, isRTL: false
            };

            $.datepicker.setDefaults($.datepicker.regional['{{ LANGUAGE_CODE }}']);

            $("#id_agenda_start_event_date_time").datetimepicker (
                    {
                        hour: 12,
                        timeFormat: "HH:mm",
                        timeText: '{% trans 'Time' %}',
                        hourText: '{% trans 'Hour' %}',
                        minuteText: '{% trans 'Minute' %}',
                        currentText: '{% trans 'current time' %}',
                        closeText: '{% trans 'close' %}'
                    }
            );
        });
    </script>
{% endblock %}

{% block title %}{{ block.super }} – {% trans "Agenda settings" %}{% endblock %}


{% block content %}
    <h1>
        {% trans "Configuration" %}
        <small>{% trans "Agenda" %}</small>
        {% block config_submenu %}{{ block.super }}{% endblock %}
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_save.html" %}
        <a href="{% url 'config_agenda' %}" class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}