{% extends "config/base_config.html" %}

{% load i18n %}

{% block title %}{{ block.super }} – {% trans "Agenda settings" %}{% endblock %}

{% block content %}
    <h1>{% trans "Agenda settings" %}</h1>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
    <button class="button" type="submit">
        <span class="icon ok">{% trans 'Save' %}</span>
    </button>
    <a href='{% url config_agenda %}'>
    <button class="button" type="button" onclick="window.location='{% url config_agenda %}'">
        <span class="icon cancel">{% trans 'Cancel' %}</span>
    </button>
    </a>
    </p>
    </form>
{% endblock %}
