{% load staticfiles %}
{% load i18n %}

<ul style="line-height: 180%">
{% for slide in slides.get_items %}
    <li class="{% if slide.active %}activeline{% endif %}">
        <a href="{% url projector_activate_slide slide.sid %}" class="activate_link {% if slide.active %}active{% endif %}">
            <div></div>
        </a>
        <a href="{% url projctor_preview_slide slide.sid %}">preview</a>
        {% for p in slide.get_ancestors %}
            <span class="indentation">&nbsp;</span>
        {% endfor %}
        <a href="{% url item_edit slide.id %}">{{ slide }}</a>
    </li>
{% endfor %}
</ul>

