{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ block.super }} –
    {% if item %}
        {{ item.title }} – {% trans "Edit item" %}
    {% else %}
        {% trans "New item" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if item %}
            {% trans "Edit item" %}
        {% else %}
            {% trans "New item" %}
        {% endif %}
        <small class="pull-right">
        <a href="{% url 'item_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        <a href='{% url 'item_overview' %}' class="btn">
            {% trans 'Cancel' %}
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
