{% load i18n %}

<tr class="draggable{% cycle ' odd' '' %}
    {% if item.active %}activeline{% endif %}">
    <td>
        {% if item.closed %}
            <img src="/static/images/icons/task-complete.png" title="{% trans 'Item closed' %}">
        {% endif %}
    </td>
    <td>
        {% for p in item.get_ancestors %}
            <div class="indentation">&nbsp;</div>
        {% endfor %}
        {% if perms.agenda.can_manage_agenda %}
            <div class="dragcell"></div>
        {% endif %}
        {{ item }}
    </td>
    <td>
        <span style="width: 1px; white-space: nowrap;">
            <a href="{{ item.get_absolute_url }}"><img src="/static/images/icons/document-preview.png" title="{% trans 'Show projector preview' %}"></a>
            {% if perms.agenda.can_manage_agenda %}
                <a href="{% url item_edit item.id %}"><img src="/static/images/icons/document-edit.png" title="{% trans 'Edit item' %}"></a>
                <a href="{% url item_delete item.id %}"><img src="/static/images/icons/edit-delete.png" title="{% trans 'Delete item' %}"></a>
                <a class="close_link {% if item.closed %}closed{% else %}open{% endif %}" href="{% if item.closed %}{% url item_open item.id %}{% else %}{% url item_close item.id %}{% endif %}">
                    <span></span>
                </a>
            {% endif %}
        </span>
    </td>
    {% if perms.agenda.can_manage_agenda %}
    <td class="tabledrag-hide">
        {% with form=item.weight_form %}
            {{ form.weight }}
            {{ form.self }}
            {{ form.parent }}
        {% endwith %}
    </td>
    {% endif %}
</tr>
