{% load i18n %}
{% load staticfiles %}
{% load tags %}

    <td>
        <span class="close_link{% if item.closed %} closed{% endif %}">
            {% if perms.agenda.can_manage_agenda %}
               <a href="{% if item.closed %}{% url item_open item.id %}{% else %}{% url item_close item.id %}{% endif %}" title="{% trans 'Mark item as done' %}">
                    <span></span>
                </a>
            {% elif item.closed %}
                <img src="{% static 'images/icons/close.png' %}" title="{% trans 'Item closed' %}">
            {% endif %}
        </span>
    </td>
    <td>
        {% for p in item.get_ancestors %}
            <div class="indentation">&nbsp;</div>
        {% endfor %}
        {% if perms.agenda.can_manage_agenda %}
            <div class="dragcell"></div>
        {% endif %}
        <a href="{% model_url item 'view' %}">{{ item }}</a>
        {{ item.get_title_supplement|safe }}
    </td>
    {% if perms.agenda.can_manage_agenda %}
    <td>
        {{ item.comment|first_line }}
    </td>
    {% endif %}
    {% if perms.agenda.can_manage_agenda or perms.projector.can_manage_projector %}
    <td>
        <span style="width: 1px; white-space: nowrap;">
        {% if perms.projector.can_manage_projector %}
            <a class="activate_link {% if item.active %}active{% endif %}" href="{% url projector_activate_slide item.sid %}" title="{% trans 'Activate item' %}">
                <span></span>
            </a>
        {% endif %}
        {% if perms.agenda.can_manage_agenda %}
            <a href="{% model_url item 'edit' %}"><img src="{% static 'images/icons/edit.png' %}" title="{% trans 'Edit item' %}"></a>
            <a href="{% model_url item 'delete' %}"><img src="{% static 'images/icons/delete.png' %}" title="{% trans 'Delete item' %}"></a>
            {% if not item.is_leaf_node %}
                <a class="activate_link" href="{% url projector_activate_slide item.sid 'summary' %}">
                    <img src="{% static 'images/icons/summary.png' %}" title="{% trans 'Activate summary for this item' %}">
                </a>
            {% endif %}
        {% endif %}
        </span>
    </td>
    {% endif %}
    {% if perms.agenda.can_manage_agenda %}
    <td class="tabledrag-hide">
        {% with form=item.weight_form %}
            {{ form.weight }}
            {{ form.self }}
            {{ form.parent }}
        {% endwith %}
    </td>
    {% endif %}
