{% load i18n %}
{% load staticfiles %}

<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/agenda_projector.css' %}" />

<div id="overlay_list_of_speaker_box">
    <h3>{% trans "List of speakers" %} {% if closed %}(<span class="closed">{% trans 'closed' %}</span>){% endif %}</h3>
    {% if list_of_speakers %}
        <ul id="list_of_speakers">
        {% for speaker_dict in list_of_speakers %}
        <li class="{{speaker_dict.type}}"> {# old_speaker, actual_speaker, coming_speaker #}
            {% if speaker_dict.type == 'coming_speaker' %}
                {{ speaker_dict.prefix }}.
            {% endif %}
            {{ speaker_dict.speaker }}
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <i>{% trans 'The list of speakers is empty.' %}</i>
    {% endif %}
</div>
