{% extends "agenda/base_agenda.html" %}
{% load tags %}
{% block title %}{{ block.super }} - {% trans "Agenda" %}{% endblock %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="/static/styles/tabledrag.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/styles/agenda.css" />
    {% if perms.agenda.can_manage_agenda %}
    <script type="text/javascript" src="/static/javascript/jquery.once.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/static/javascript/tabledrag.js"></script>
    <script type="text/javascript" src="/static/javascript/agenda.js"></script>

    <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    //This is Drupal Code
    jQuery.extend(
      Drupal.settings,
    {
    "tableDrag":
      { "menu-overview":
        { "menu-plid":
          [ { "target": "menu-plid", "source": "menu-mlid", "relationship": "parent", "action": "match", "hidden": true, "limit": 8 } ],
          "menu-weight":
          [ { "target": "menu-weight", "source": "menu-weight", "relationship": "sibling", "action": "order", "hidden": true, "limit": 0 } ]
        }
      }
    });
    //--><!]]>
    </script>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% trans "Agenda" %}</h1>
    {% if items_hidden and perms.agenda.can_manage_agenda %}
        <a href="#hidden">{% trans "Go to hidden items" %}</a>
    {% endif %}
    {% if items or items_hidden %}
        <form action="/agenda/" method="post">{% csrf_token %}
        {% if perms.agenda.can_manage_agenda %}
        <div id="changed-order-message" style="display:none" class="notification warning">
            <em>{% trans "Do you want to save the changed order of agenda items?" %}<br>
                <input type="submit" value="{% trans 'Yes' %}">
                <input type="button" onclick="window.location.href='{% url item_overview %}';" value="{%trans 'No' %}">
            </em>
        </div>

        <div style="text-align: right; padding: 0 5px 5px 0; margin-top:-20px;">
        <!-- countdown -->
        <input type="checkbox" name="countdown" onchange="document.location='{% if countdown_visible == "True" %}{% url countdown_close %}{% else %}{% url countdown_open %}{% endif %}'"
            {% if countdown_visible == "True" %}checked{% endif %}>
        {% trans "Countdown" %} (<a href="{% url config_agenda %}">{{countdown_time}}{% trans "sec" %}</a>){% if countdown_visible == "True" %}:
        <a class="beamer_countdown" href="{% url countdown_reset countdown_time %}" title="{% trans 'Reset countdown' %}"><img src="/static/images/icons/media-skip-backward.png"></a>
        <a class="beamer_countdown" href="{% url countdown_start %}" title="{% trans 'Start countdown' %}"><img src="/static/images/icons/media-playback-start.png"></a>
        <a class="beamer_countdown" href="{% url countdown_stop %}" title="{% trans 'Stop countdown' %}"><img src="/static/images/icons/media-playback-pause.png"></a>
        {% endif %}
        <p></p>
        <!-- beamer control -->
        {% trans "Adjust projector view" %}:
        <a class="beamer_edit" href="{% url beamer_bigger %}" title="{% trans 'Zoom in' %}"><img src="/static/images/icons/zoom-in.png"></a>
        <a class="beamer_edit" href="{% url beamer_smaller %}" title="{% trans 'Zoom out' %}"><img src="/static/images/icons/zoom-out.png"></a>
        <a class="beamer_edit" href="{% url beamer_up %}" title="{% trans 'Scroll text up' %}"><img src="/static/images/icons/go-up.png"></a>
        <a class="beamer_edit" href="{% url beamer_down %}" title="{% trans 'Scroll text down' %}"><img src="/static/images/icons/go-down.png"></a>
        <a class="beamer_edit" href="{% url beamer_clean %}" title="{% trans 'Reset projector view' %}"><img src="/static/images/icons/view-restore.png"></a>
        </div>
        {% endif %}

        <table id="menu-overview" class="agendatable">
            <tr>
                {% if perms.agenda.can_manage_agenda %}
                <th style="width: 1px;">{% trans "Projector" %}</th>
                {% else %}
                <th style="width: 1px;">{% trans "Done" %}</th>
                {% endif %}
                <th>{% trans "Item" %}</th>
                {% if perms.agenda.can_manage_agenda %}
                <th>{% trans "Type" %}</th>
                {% endif %}
                <th style="width: 1px;">{% if perms.agenda.can_manage_agenda %}{% trans "Actions" %}{% endif %}</th>
                {% if perms.agenda.can_manage_agenda %}
                <th class="tabledrag-hide">{% trans "Weight" %}</th>
                {% endif %}
            </tr>
            <tr id="item_row_0" class="topline {% if overview %} activeline {% else %}{% if perms.agenda.can_manage_agenda %} inactiveline {% endif %}{% endif %}">
                {% if perms.agenda.can_manage_agenda %}
                <td class="select">
                    <a href="{% url item_activate 0 %}" class="activate_link">
                        <div></div>
                    </a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                <td><b>{% trans "Agenda" %} ({{ items|length }} {% trans "items" %}<span id="hiddencount"></span>)</b></td>
                {% if perms.agenda.can_manage_agenda %}
                <td></td>
                {% endif %}
                <td><span id="action_field" style="width: 1px;white-space: nowrap;">
                    <span></span>
                    <a href="{% url print_agenda %}" title="{%trans 'Print agenda' %}"><img src="/static/images/icons/application-pdf.png"></a>
                    </span>
                </td>
            </tr>
            {% for item in items %}
                {% if not item.hidden or perms.agenda.can_manage_agenda %}
                <tr id="item_row_{{ item.id }}" class="draggable{% cycle ' odd' '' %}
                {% if item.active %} activeline{% else %}
                {% if item.parent.active and summary %} activesummarychildline{% endif %}
                {% if perms.agenda.can_manage_agenda %} inactiveline{% endif %}
                {% endif %}">
                {% if perms.agenda.can_manage_agenda %}
                <td class="select">
                    <a id="activate_link_{{ item.id }}" class="activate_link" href="{% url item_activate item.id %}">
                    <div></div>
                    </a>
                </td>
                {% else %}
                <td>
                    {% if item.closed %}
                        <img src="/static/images/icons/task-complete.png" title="{% trans 'Item closed' %}">
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% for p in item.parents %}
                        <div class="indentation">&nbsp;</div>
                    {% endfor %}

                    {% if perms.agenda.can_manage_agenda %}
                        <div class="dragcell"></div>
                    {% endif %}

                    {{ item }}

                </td>
                {% if perms.agenda.can_manage_agenda %}
                <td>
                    {% ifequal item.type 'ItemApplication' %}
                        <a href="{% url application_view item.cast.application.id %}">{% trans "Application" %} {{ item.cast.application.number }}</a>
                    {% endifequal %}

                    {% ifequal item.type 'ItemPoll' %}
                        {% if item.cast.poll.application %}
                            <a href="{% url poll_view item.cast.poll.id %}">{% trans "Poll of Application" %}</a>
                        {% endif %}
                        {% if item.cast.poll.assignment %}
                            <a href="{% url poll_view item.cast.poll.id %}">{% trans "Poll of Election" %}</a>
                        {% endif %}
                    {% endifequal %}

                    {% ifequal item.type 'ItemAssignment' %}
                        <a href="{% url assignment_view item.cast.assignment.id %}">{% trans "Election" %}</a>
                    {% endifequal %}

                    {% ifequal item.type 'ItemText' %}
                        Text
                    {% endifequal %}
                    {% if item.hidden %}
                        ({% trans 'hidden' %})
                    {% endif %}
                </td>
                {% endif %}
                <td><span style="width: 1px;white-space: nowrap;">
                    <a href="{{ item.get_absolute_url }}"><img src="/static/images/icons/document-preview.png" title="{% trans 'Show projector preview' %}"></a>

                    {% if perms.agenda.can_manage_agenda %}
                    <a href="{% url item_edit item.id %}"><img src="/static/images/icons/document-edit.png" title="{% trans 'Edit item' %}"></a>
                    <a href="{% url item_delete item.id %}"><img src="/static/images/icons/edit-delete.png" title="{% trans 'Delete item' %}"></a>
                    <a class="close_link {% if item.closed %}closed{% else %}open{% endif %}" href="{% if item.closed %}{% url item_open item.id %}{% else %}{% url item_close item.id %}{% endif %}">
                        <span></span>
                    </a>

                    {% if item.children.exists %}
                        <a href="{% url item_activate_summary item.id %}"><img src="/static/images/icons/view-list-tree.png" title="{% trans 'Select item overview' %}"></a>
                    {% endif %}
                    {% endif %}
                    </span>
                </td>
                {% if perms.agenda.can_manage_agenda %}
                <td class="tabledrag-hide">
                    {% with form=item.weight_form %}
                        {{ form.weight }}
                        {{ form.self }}
                        {{ form.parent }}
                    {% endwith %}
                </td>
                {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            {% if perms.agenda.can_manage_agenda %}
            <tr class="emptyline">
                <td colspan="4"></td>
            </tr>
            <tr class="topline">
                <td colspan="4"><a name="hidden"></a>{% trans "Hidden items:" %}</td>
            </tr>
            {% for item in items_hidden %}
                <tr id="item_row_{{ item.id }}" class="draggable{% cycle ' odd' '' %}
                {% if item.active %} activeline{% else %}
                {% if item.parent.active and summary %} activesummarychildline{% endif %}
                {% if perms.agenda.can_manage_agenda %} inactiveline{% endif %}
                {% endif %}">
                <td class="select">
                    <a id="activate_link_{{ item.id }}" class="activate_link" href="{% url item_activate item.id %}">
                    <div></div>
                    </a>
                </td>
                <td>
                    {% for p in item.parents %}
                        <div class="indentation">&nbsp;</div>
                    {% endfor %}
                    <div class="dragcell"></div>
                    {{ item }}
                </td>
                <td>
                    {% ifequal item.type 'ItemApplication' %}
                        <a href="{% url application_view item.cast.application.id %}">{% trans "Application" %} {{ item.cast.application.number }}</a>
                    {% endifequal %}
                    {% ifequal item.type 'ItemPoll' %}
                        {% if item.cast.poll.application %}
                            <a href="{% url poll_view item.cast.poll.id %}">{% trans "Poll of Application" %}</a>
                        {% endif %}
                        {% if item.cast.poll.assignment %}
                            <a href="{% url poll_view item.cast.poll.id %}">{% trans "Poll of Election" %}</a>
                        {% endif %}
                    {% endifequal %}
                    {% ifequal item.type 'ItemAssignment' %}
                        <a href="{% url assignment_view item.cast.assignment.id %}">{% trans "Election" %}</a>
                    {% endifequal %}
                    {% ifequal item.type 'ItemText' %}
                        Text
                    {% endifequal %}
                </td>
                <td><span style="width: 1px;white-space: nowrap;">
                    <a href="{{ item.get_absolute_url }}"><img src="/static/images/icons/document-preview.png" title="{% trans 'Show projector preview' %}"></a>
                    <a href="{% url item_edit item.id %}"><img src="/static/images/icons/document-edit.png" title="{% trans 'Edit item' %}"></a>
                    <a href="{% url item_delete item.id %}"><img src="/static/images/icons/edit-delete.png" title="{% trans 'Delete item' %}"></a>
                    <a class="close_link {% if item.closed %}closed{% else %}open{% endif %}" href="{% if item.closed %}{% url item_open item.id %}{% else %}{% url item_close item.id %}{% endif %}">
                        <span></span>
                    </a>
                    {% if item.children.exists %}
                        <a href="{% url item_activate_summary item.id %}"><img src="/static/images/icons/view-list-tree.png" title="{% trans 'Select item overview' %}"></a>
                    {% endif %}
                    </span>
                </td>
                <td class="tabledrag-hide">
                    {% with form=item.weight_form %}
                        {{ form.weight }}
                        {{ form.self }}
                        {{ form.parent }}
                    {% endwith %}
                </td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>

        </form>
    {% else %}
        <i>{% trans "No items available." %}</i>
    {% endif %}
{% endblock %}
