{% extends "base.html" %}

{% load i18n %}
{% load mptt_tags %}
{% load staticfiles %}

{% block title %}{% trans "Agenda" %} – {{ block.super }}{% endblock %}

{% block header %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/agenda.css' %}" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/agenda.js' %}"></script>
    {% if perms.agenda.can_manage_agenda %}
        <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.once.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.tmpl.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery-ui-nestedSortable.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {% if perms.agenda.can_manage_agenda %}
            <div id="changed-order-message" style="display:none" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% trans "Do you want to save the changed order of agenda items?" %}<br>
                <button class="btn btn-mini" type="submit">{% trans 'Yes' %}</button>
                <a href="{% url 'item_overview' %}" class="btn btn-mini">{% trans 'No' %}</a>
            </div>
        {% endif %}

        <h1>{% trans "Agenda" %}
            <small class="pull-right">
            {% if perms.agenda.can_manage_agenda %}
                <a href="{% url 'item_new' %}" class="btn btn-mini btn-primary" rel="tooltip" data-original-title="{% trans 'New item' %}">
                    <i class="icon-plus icon-white"></i>
                    {% trans "New" %}
                </a>
            {% endif %}
            {% if perms.core.can_manage_tags %}
                <a href="{% url 'core_tag_list' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Manage tags' %}">
                    <i class="icon-tags"></i>
                    <span class="optional-small"> {% trans 'Tags' %}</span>
                </a>
            {% endif %}
            {% if perms.agenda.can_manage_agenda %}
                <a href="{% url 'item_csv_import' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Import agenda items' %}">
                    <i class="icon-import"></i>
                    {% trans "Import" %}
                </a>
            {% endif %}
            <a href="{% url 'print_agenda' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Print agenda as PDF' %}" target="_blank"><i class="icon-print"></i> PDF</a>
            {% if perms.core.can_see_projector %}
                <a href="{% url 'agenda_current_list_of_speakers_projector' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Current list of speakers' %}">
                    <i class="icon-bell"></i> {% trans 'List of speakers' %}</a>
            {% endif %}
            </small>
        </h1>

        <div class="row-fluid">
            <div class="pull-left">
                {% if perms.agenda.can_manage_agenda %}
                    <p><a href="{% url 'agenda_numbering' %}"
                       class="btn btn-mini">{% trans 'Number agenda items' %}</a>
                    </p>
                {% endif %}
                <p>
                <label class="checkbox">
                    <input type="checkbox" id="hide_closed_items"> {% trans "Hide closed items" %}
                </label>
                <small><i>{{ items|length }}
                {% blocktrans count counter=items|length %}item{% plural %}items{% endblocktrans %}<span id="hiddencount"></span>
                </i></small>
                </p>
            </div>
            {% if perms.agenda.can_see_orga_items %}
                {% if start and end %}
                    <table id="agendatime" class="table table-bordered pull-right">
                        <tr>
                            <td>{% trans "Start of event" %}:</td>
                            <td>{{ start|date:"DATETIME_FORMAT" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Estimated end" %}:</td>
                            <td>{{ end|date:"DATETIME_FORMAT" }}</td>
                        </tr>
                    </table>
                {% elif perms.config.can_manage %}
                    <a href="{% url 'config_agenda' %}" class="btn btn-mini pull-right">{% trans 'Set start time of event' %}</a>
                {% endif %}
            {% endif %}
        </div>

        <table id="menu-overview" class="table table-striped table-bordered">
            <tr>
                <th class="title">{% trans "Item" %}</th>
                {% if perms.agenda.can_manage_agenda %}
                    <th class="optional">{% trans "Comment" %}</th>
                {% endif %}
                {% if perms.agenda.can_see_orga_items %}
                    <th class="duration">{% trans "Duration" %}</th>
                {% endif %}
                {% if perms.agenda.can_manage_agenda or perms.core.can_manage_projector %}
                    <th class="manage">{% trans "Actions" %}</th>
                {% endif %}
            </tr>
            <tr class="topline{% if agenda_is_active %} activeline{% endif %}">
                <td class="title">
                    {% trans "Agenda" %}
                </td>
                {% if perms.agenda.can_manage_agenda %}
                <td class="optional"></td>
                {% endif %}
                {% if perms.agenda.can_see_orga_items %}
                <td class="duration">{{ duration }} h</td>
                {% endif %}
                {% if perms.agenda.can_manage_agenda or perms.core.can_manage_projector %}
                <td class="manage">
                {% if perms.core.can_manage_projector %}
                    <span>
                    <a href="{% url 'projector_activate_slide' 'agenda' %}"
                        class="activate_link btn {% if agenda_is_active %}btn-primary{% endif %} btn-mini"
                        rel="tooltip" data-original-title="{% trans 'Show agenda' %}">
                        <i class="icon-facetime-video {% if agenda_is_active %}icon-white{% endif %}"></i>
                    </a>
                    </span>
                {% endif %}
                </td>
                {% endif %}
            </tr>
        </table>
        {% if items %}
        <ol class="agenda_list {% if perms.agenda.can_manage_agenda %}sortable{% endif %}">
            {% recursetree items %}
            <li class="draggable">
                {% include "agenda/item_row.html" %}
                {% if not node.is_leaf_node %}
                <ol>
                    {{ children }}
                </ol>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>
        {% else %}
        <div class="overview_no_items">{% trans "No items available." %}</div>
        {% endif %}
    </form>
{% endblock %}
