{% extends "base.html" %}

{% load i18n %}
{% load tags %}
{% load staticfiles %}

{% block title %}{{ block.super }} – {{ item.title }}{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% comment %} TODO: import the sortable-plugin in our custom jquery-file {% endcomment %}
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="{% static 'javascript/agenda.js' %}"></script>
{% endblock %}

{% block content %}
<h1>
    {{ item }}
    <small class="pull-right">
    <div class="btn-toolbar">
        <a href="{% url 'item_overview' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn btn-mini dropdown-toggle">
                {% trans 'More actions' %}
                <span class="caret"></span>
            </a>
            {% if perms.agenda.can_manage_agenda %}
            <ul class="dropdown-menu pull-right">
                <li><a href="{% url 'item_edit' item.id %}"><i class="icon-edit"></i> {% trans 'Edit item' %}</a></li>
                <li><a href="{% url 'item_delete' item.id %}"><i class="icon-remove"></i> {% trans 'Delete item' %}</a></li>
            </ul>
            {% endif %}
        </div>
            {% if perms.projector.can_manage_projector %}
                <a href="{% url 'projector_activate_slide' item.sid  %}" class="activate_link btn btn-mini {% if item.active %}btn-primary{% endif %}"  rel="tooltip" data-original-title="{% trans 'Show' %}">
                    <i class="icon icon-facetime-video {% if item.active %}icon-white{% endif %}"></i>
                </a>
            {% endif %}
    </div>
    </small>
</h1>
<p>{{ item.text|safe|linebreaks }}</p>

{% if perms.agenda.can_manage_agenda %}
    {% if item.comment %}
        <h2>{% trans "Comment" %}</h2>
        <p>{{ item.comment|linebreaks }}</p>
    {% endif %}
{% endif %}

{# List of Speakers #}
<h2>{% trans "Speaker List" %}{% if item.speaker_list_closed %}({% trans 'Closed' %}){% endif %}</h2>

{% if item.speaker_list_closed %}
    <a href="{% url 'agenda_speaker_open' item.pk %}">{% trans 'Open list of speakers' %}</a>
{% else %}
    <a href="{% url 'agenda_speaker_close' item.pk %}">{% trans 'Close list of speakers' %}</a>
{% endif %}

<p><a href="{% url 'projector_activate_slide' item.sid 'show_list_of_speakers' %}">Show list of speakers</a></p>

{% if old_speakers %}
<div id="show_old_speakers" style="display:none" class="toggle_old_speakers">
    <a href="#">{% trans "Show old speakers" %}</a>
    {% if last_speaker %}
        <p>{% trans "Last speaker:" %} <a href="{% model_url last_speaker %}">{{ last_speaker }}</a></p>
    {% endif %}
</div>

<div id="old_speakers" class="toggle_old_speakers">
    <a href="#">{% trans "Hide old speakers" %}</a>
    <ol>
        {% for speaker in old_speakers %}
            <li>
                {{ speaker.time }}
                <a href="{% model_url speaker %}">{{ speaker }}</a>
                <a href="{% model_url speaker 'delete' %}" title="{% trans 'Delete' %}" class="btn btn-mini">
                    <i class="icon-remove"></i>
                </a>
            </li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% if perms.agenda.can_manage_agenda %}
    <form id="speaker_list_changed_form" action="{% url 'agenda_speaker_change_order' item.pk %}" method="post" style="display:none" class="alert alert-warning">{% csrf_token %}
       <button type="button" class="close" data-dismiss="alert">×</button>
       <p>{% trans "Do you want to save the changed order of speakers?" %}</p>
       <input id="sort_order" name="sort_order" type="hidden"></hidden>
       <p>
           <button class="btn" type="submit">{% trans 'Yes' %}</button>
           <a href="{% url 'item_view' item.pk %}" class="btn">{% trans 'No' %}</a>
        </p>
    </form>
{% endif %}

{% if speakers %}
    <ol {% if perms.agenda.can_manage_agenda %}id="list_of_speakers"{% endif %}>
        {% for speaker in speakers %}
            <li id="speaker_{{ speaker.pk }}">
                <a href="{% model_url speaker %}">{{ speaker }}</a>
                <a href="{% url 'agenda_speaker_speak' item.pk speaker.person.person_id %}">speak</a>
                <a href="{% model_url speaker 'delete' %}" title="{% trans 'Delete' %}" class="btn btn-mini">
                    <i class="icon-remove"></i>
                </a>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{% trans 'The list of speakers is empty' %}</p>
{% endif %}



{% if is_speaker %}
    <a href="{% url 'agenda_speaker_delete' object.id %}">{% trans "Remove me vom speakers list." %}</a>
{% elif not object.speaker_list_closed %}
    <a href="{% url 'agenda_speaker_append' object.id %}">{% trans "Put me on speakers list." %}</a>
{% endif %}

{% if perms.can_manage_agenda %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" title="{% trans 'Apply' %}"><i class="icon-ok icon-white"></i></button>
        {% if perms.participant.can_see_participant and perms.participant.can_manage_participant %}
            <a href="{% url 'user_new' %}" class="btn"  title="{% trans 'Add new participant' %}"><i class="icon-add-user"></i></a>
        {% endif %}
    </form>
{% endif %}

{% endblock %}
