{% extends "agenda/base_agenda.html" %}

{% load i18n %}

{% block title %}{{ block.super }} – {{ item.title }}{% endblock %}

{% block content %}
    <h1>{{ item }}</h1>
    <p>{{ item.get_text|safe|linebreaks }}</p>

    {% if perms.agenda.can_manage_agenda %}
    {% if item.comment %}
    <h2>{% trans "Comment" %}</h2>
    <p>{{ item.comment|linebreaks }}</p>
    {% endif %}

    <p>
    <a href='{% url item_edit item.id %}'>
    <button class="button" type="button" onclick="window.location='{% url item_edit item.id %}'">
        <span class="icon edit">{%trans 'Edit agenda item' %}</span>
    </button>
    </a>
    </p>
    {% endif %}
{% endblock %}
