.filter-menu-content-wrapper {
    overflow-y: scroll;
    height: 100%;
    div.indent {
        margin-left: 24px;
    }

    .mat-expansion-panel {
        width: 400px;
        max-width: 95vw;
    }

    .filter-count {
        margin-left: 10px;
    }

    .filter-subtitle {
        margin-top: 5px;
        margin-bottom: 5px;
        opacity: 0.9;
        font-style: italic;
    }

    .filter-child {
        margin-left: 20px;
    }

    mat-checkbox {
        // adds breaks to mat-checkboxes with long labels
        .mat-checkbox-layout {
            white-space: normal;
        }

        // rather than center the checkbox, put the checkbox in the first line
        .mat-checkbox-inner-container {
            margin-top: 3px;
        }
    }
}
