@use '~@angular/material' as mat;

@mixin os-progress-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .progress-wrapper {
        background-color: mat.get-color-from-palette($primary);
    }

    .end-icon {
        color: mat.get-color-from-palette($primary, default-contrast);
    }

    .slot {
        color: mat.get-color-from-palette($primary, default-contrast);
    }

    .buffer {
        background-color: mat.get-color-from-palette($primary, darker);
    }

    .progress {
        background-color: mat.get-color-from-palette($accent);
    }
}
