{% extends "system/base_system.html" %}
{% block title %}{{ block.super }} - {%trans "Configuration" %}{% endblock %}

{% block content %}
    <h1>{%trans "General" %}</h1>
    <form action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>{%trans "Event" %}</legend>
        {{ form_event.as_p }}
    </fieldset>
    <p></p>
    <fieldset>
        <legend>{%trans "Agenda" %}</legend>
        {{ form_agenda.as_p }}
    </fieldset>
    <p></p>
    <fieldset>
        <legend>{%trans "Application" %}</legend>
        {{ form_application.as_p }}
    </fieldset>
    <p></p>
    <fieldset>
        <legend>{%trans "Elections" %}</legend>
        {{ form_assignment.as_p }}
    </fieldset>
    <p>
    <button type="submit">
        <span class="icon ok">{%trans 'Save' %}</span>
    </button>
    <a href='{% url config_general %}'>
        <button type="button">
        <span class="icon cancel">{%trans 'Cancel' %}</span>
        </button>
    </a>
    </p>
    </form>
{% endblock %}
