{% extends "base.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super}} – {% trans 'Dashboard' %} {% endblock %}

{% block submenu %}
    {% url dashboard as url_dashboard %}
    {% url projector_select_widgets as url_select_widget %}
    <h4 class="sectiontitle">{% trans "Dashboard" %}</h4>
    <ul>
        <li{% if request.path == url_dashboard %} class="selected"{% endif %}>
          <a href="{% url dashboard %}">{% trans 'Overview' %}</a>
        </li>
        <li{% if request.path == url_select_widget %} class="selected"{% endif %}>
          <a href="{{ url_select_widget }}">{% trans 'Select widgets' %}</a>
        </li>
        {% if perms.projector.can_see_projector %}
            <li>
                <a href="{% url projector_show %}"><img src="{% static 'images/icons/projector.png' %}"> {% trans 'Projector view' %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
