{% extends "projector/base_projector.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    <link type="text/css" href="{% static 'styles/humanity/jquery-ui-1.8.18.custom.css' %}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/projector-control.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/jquery-ui-1.8.18.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/projector-control.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.cookie.js' %}"></script>
    <script type="text/javascript">

    function switchButtons(which) {
        if (which == 'stop') {
            $( "#countdown_play" ).hide();
            $( "#countdown_stop" ).show();
        }
        else {
            $( "#countdown_play" ).show();
            $( "#countdown_stop" ).hide();
        }
        return true;
    };

    function spinCount(delta) {
        var count = parseInt($( "#countdown_time" ).val());
        if (count + delta < 0) {
            delta = 0;
        }
        $( "#countdown_time" ).val(count + delta);
        return false;
    };

    // function that writes the portlet list order to a cookie
    function saveOrder() {
        $(".column").each(function(index, value){
            var colid = value.id;
            var cookieName = "cookie-" + colid;
            // Get the order for this column.
            var order = $('#' + colid).sortable("toArray");
            // For each portlet in the column
            for ( var i = 0, n = order.length; i < n; i++ ) {
                // Determine if it is 'opened' or 'closed'
                var v = $('#' + order[i] ).find('.portlet-content').is(':visible');
                // Modify the array we're saving to indicate what's open and
                //  what's not.
                order[i] = order[i] + ":" + v;
            }
            $.cookie(cookieName, order, { path: "/", expiry: new Date(2012, 1, 1)});
        });
    }

    // function that restores the portlet list order from a cookie
    function restoreOrder() {
        $(".column").each(function(index, value) {
            var colid = value.id;
            var cookieName = "cookie-" + colid
            var cookie = $.cookie(cookieName);
            if ( cookie == null ) { return; }
            var IDs = cookie.split(",");
            for (var i = 0, n = IDs.length; i < n; i++ ) {
                var toks = IDs[i].split(":");
                if ( toks.length != 2 ) {
                    continue;
                }
                var portletID = toks[0];
                var visible = toks[1]
                var portlet = $(".column")
                    .find('#' + portletID)
                    .appendTo($('#' + colid));
                if (visible === 'false') {
                    portlet.find(".ui-icon").toggleClass("ui-icon-minus");
                    portlet.find(".ui-icon").toggleClass("ui-icon-plus");
                    portlet.find(".portlet-content").hide();
                }
            }
        });
    }
    $(function() {
        $( ".column" ).sortable({
            connectWith: ".column",
            stop: function() { saveOrder(); }
        });

        $(".portlet")
             .addClass("ui-widget ui-widget-content")
             .addClass("ui-helper-clearfix ui-corner-all")
             .find(".portlet-header")
             .addClass("ui-widget-header ui-corner-all")
             .prepend('<span class="ui-icon ui-icon-minus"></span>')
             .end()
             .find(".portlet-content");

        restoreOrder();

        $(".portlet-header .ui-icon").click(function() {
            $(this).toggleClass("ui-icon-minus");
            $(this).toggleClass("ui-icon-plus");
            $(this).parents(".portlet:first").find(".portlet-content").toggle();
            saveOrder(); // This is important
        });

        $( "document" ).ready(function(){
            if ($.browser.msie) {
                if ($.browser.version >= 8.0 && $.browser.version < 9.0)
                {
                    /* scaling bug in IE8.. iframe has to be 4 times bigger */
                    $( "#iframe" ).css('width', 1024 * 4);
                    $( "#iframe" ).css('height', 768 * 4);
                }
                $( "#iframe" ).css('zoom', '0.25');
            }

            {% if countdown_state == "active" %}
            switchButtons('stop');
            {% else %}
            switchButtons('play');
            {% endif %}
        });
    });
    </script>


{% endblock %}

{% block content %}
    <h1>{% trans 'Projector' %}</h1>
    <div style="text-align: right; padding: 0 10px 5px 0; margin-top:-20px;">
        <!-- projector control -->
        {% trans "Adjust projector view" %}:
        <a class="projector_edit" href="{% url projector_bigger %}" title="{% trans 'Zoom in' %}">
            <img src="{% static 'images/icons/zoom-in.png' %}" />
        </a>
        <a class="projector_edit" href="{% url projector_smaller %}" title="{% trans 'Zoom out' %}">
            <img src="{% static 'images/icons/zoom-out.png' %}" />
        </a>
        <a class="projector_edit" href="{% url projector_up %}" title="{% trans 'Scroll text up' %}">
            <img src="{% static 'images/icons/go-up.png' %}" />
        </a>
        <a class="projector_edit" href="{% url projector_down %}" title="{% trans 'Scroll text down' %}">
            <img src="{% static 'images/icons/go-down.png' %}" />
        </a>
        <a class="projector_edit" href="{% url projector_clean %}" title="{% trans 'Reset projector view' %}">
            <img src="{% static 'images/icons/view-reset.png' %}" />
        </a>
    </div>

    <div class="column" id="col1">
    {% for category, group in categories.items %}
        {% if category != 'projector' %}
        <div class="portlet" id="portlet_{{category}}">
            {% with category_big=category|capfirst %}
            <div class="portlet-header">{% trans category_big %}</div>
            {% endwith %}
            <div class="portlet-content">
            {% for slides in group %}
                {% if slides.control_template %}
                    {% include slides.control_template %}
                {% endif %}
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
            </div>
        </div> <!-- end portlet-->
       {% endif %}
    {% endfor %}
    </div> <!-- end column-->

    <div class="column" id="col2">
        <!-- Projector Live View -->
        <div class="portlet" id="portlet_liveview">
            <div class="portlet-header">
                {% trans "Projector Live View" %}
            </div>
            <div class="portlet-content">
                <a href="{% url projector_show %}" target="_blank" title="{% trans 'Open Projector view' %}" >
                <div id="iframewrapper">
                    <iframe id="iframe" src="{% url projector_show %}" frameborder="0"></iframe>
                    <div id="iframeoverlay"></div>
                </div>
                </a>
            </div>
        </div> <!-- end portlet-->

        <!-- Overlays (Countdown etc.)-->
        <div class="portlet" id="portlet_overlays">
            <div class="portlet-header">{% trans 'Overlays' %}</div>
            <div class="portlet-content">
                <ul style="line-height: 180%">
                <form action="" method="post">{% csrf_token %}
                    <ul>
                    {% for overlay in overlays %}
                        <li>
                            <input type="checkbox" name="{{ overlay.def_name }}" onchange="submit()"
                                {% if overlay.active %} checked="checked"{% endif %}> {{ overlay }}:
                            {# Countdown #}
                            {% if overlay.def_name == "Countdown" %}
                                <span class="projector_countdown_spinbox">
                                    <input class="projector_countdown_spinval" id="countdown_time" name="countdown_time" type="number" min="0" value="{{countdown_time}}">{% trans "sec" %}
                                    <a id="countdown_set" class="projector_countdown_btn" href="{% url countdown_set_default %}" title="{% trans 'Save as default' %}">
                                        <img src="{% static 'images/icons/document-save.png' %}" />
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="projector_countdown_btn" href="{% url countdown_reset %}" title="{% trans 'Reset countdown' %}" onclick="javascript:switchButtons('play')"><button
                                        type="submit" class="button" style="padding:4px;" name='message-clean'>
                                           <span class="icon backward">&nbsp;</span>
                                        </button></a>&nbsp;
                                    <a id="countdown_play" class="projector_countdown_btn" href="{% url countdown_start %}" title="{% trans 'Start countdown' %}" onclick="javascript:switchButtons('stop')"><button
                                         type="submit" class="button" style="padding:4px;" name='message-clean'>
                                           <span class="icon play">&nbsp;</span>
                                        </button></a>
                                    <a id="countdown_stop" class="projector_countdown_btn" href="{% url countdown_stop %}" title="{% trans 'Stop countdown' %}" onclick="javascript:switchButtons('play')">
                                        <button type="submit" class="button" style="padding:4px;" name='message-clean'>
                                           <span class="icon pause">&nbsp;</span>
                                        </button>
                                    </a>
                                </span>
                                <p></p>
                            {% endif %}
                            {% if overlay.def_name == "Message" %}
                                <nobr>
                                <input name='message_text' type='text' style='width: 70%'
                                   value="{% get_config 'projector_message' %}">
                                <button type="submit"
                                    class="button" style="padding:4px 0;" name='message-clean'>
                                    <span class="icon clear">&nbsp;</span>
                                </button>
                                </nobr>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="button" name='message'>
                                    <span class="icon ok">{% trans 'Apply' %}</span>
                                </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </form>
                </ul>
            </div>
        </div> <!-- end portlet-->

        <!-- Custom slides -->
        {% for category, group in categories.items %}
            {% if category == 'projector' %}
            <div class="portlet" id="portlet_customslides">
                <div class="portlet-header">{% trans "Custom slides" %}</div>
                <div class="portlet-content">
                {% for slides in group %}
                    {% if slides.control_template %}
                        {% include slides.control_template %}
                    {% endif %}
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
                <a href='{% url customslide_new %}'>
                <button class="button" type="button" onclick="window.location='{% url customslide_new %}'">
                    <span class="icon add">{%trans 'New slide' %}</span>
                </button>
                </a>
                </div>
            </div> <!-- end portlet-->
           {% endif %}
        {% endfor %}
    </div> <!-- end column -->
{% endblock %}
