{% extends "projector/base_projector.html" %}

{% load tags %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
    <link type="text/css" href="{% static 'styles/humanity/jquery-ui-1.8.18.custom.css' %}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'styles/dashboard.css' %}" />
    <script type="text/javascript" src="{% static 'javascript/jquery-ui-1.8.18.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/jquery.form.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>{% trans 'Dashboard' %}</h1>

    <div class="column" id="col1">
        {% for name, widget in widgets.items %}
            {% if widget.default_column == 1 %}
                <div class="portlet" id="portlet_{{ widget.get_name }}">
                    <div class="portlet-header">{% trans widget.get_title %}</div>
                    <div class="portlet-content">
                        {{ widget.html }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div> <!-- end column-->

    <div class="column" id="col2">
        {% for name, widget in widgets.items %}
            {% if widget.default_column == 2 %}
                <div class="portlet" id="portlet_{{ widget.get_name }}">
                    <div class="portlet-header">{% trans widget.get_title %}</div>
                    <div class="portlet-content">
                        {{ widget.html }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div> <!-- end column -->
{% endblock %}
