{% load i18n %}
{% load tags %}

<!-- projector control buttons -->
{% if perms.projector.can_manage_projector %}
    <div style="float: right;">
        <p>
        <a class="projector_edit btn btn-mini" href="{% url 'projector_bigger' %}" title="{% trans 'Zoom in' %}">
            <i class="icon-zoom-in"></i>
        </a><br>
        <a class="projector_edit btn btn-mini" href="{% url 'projector_smaller' %}" title="{% trans 'Zoom out' %}">
            <i class="icon-zoom-out"></i>
        </a>
        </p>
        <p>
        <a class="projector_edit btn btn-mini" href="{% url 'projector_up' %}" title="{% trans 'Scroll text up' %}">
            <i class="icon-arrow-up"></i>
        </a><br>
        <a class="projector_edit btn btn-mini" href="{% url 'projector_down' %}" title="{% trans 'Scroll text down' %}">
            <i class="icon-arrow-down"></i>
        </a>
        </p>
        <p>
        <a class="projector_edit btn btn-mini" href="{% url 'projector_clean' %}" title="{% trans 'Reset projector view' %}">
            <i class="icon-resize-small"></i>
        </a>
        </p>
    </div>
{% endif %}

<!-- projector live view -->
<a href="{% url 'projector_show' %}" target="_blank">
    <div id="iframewrapper">
        <iframe id="iframe" src="{% url 'projector_show' %}" frameborder="0"></iframe>
        <div id="iframeoverlay"></div>
    </div>
</a>
