{% load staticfiles %}
{% load i18n %}
{% load tags %}

<ul style="line-height: 180%">
{% for slide in slides %}
    <li class="{% if slide.active %}activeline{% endif %}">
        <a href="{% url projector_activate_slide slide.sid %}" class="activate_link {% if slide.active %}active{% endif %}">
            <div></div>
        </a>
        <a href="{% url projctor_preview_slide slide.sid %}" title="{% trans 'Preview' %}" class="icon preview right">
            <span></span>
        </a>
        <a href="{% model_url slide 'edit' %}">{{ slide }}</a>
    </li>
{% endfor %}
</ul>

