{% extends "base.html" %}

{% load tags %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans "Custom slide" %}{% endblock %}

{% block content %}
    <h1>{% trans 'Custom slide' %}
        <small class="pull-right">
            <a href="{% url 'dashboard' %}" class="btn btn-mini"><i class="icon-chevron-left"></i> {% trans "Back to overview" %}</a>
        </small>
    </h1>
    <form action="" method="post">{% csrf_token %}
        {% include "form.html" %}
        <p>
        {% include "formbuttons_saveapply.html" %}
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
