{% load i18n %}
{% load tags %}

<ul>
    {% for overlay in overlays %}
        <li>
            <a id="{{ overlay.def_name }}"
              href="{% if overlay.active %}{% url 'projector_overlay_deactivate' overlay.def_name %}{% else %}{% url 'projector_overlay_activate' overlay.def_name %}{% endif %}"
              class="overlay btn btn-mini">
                <i class="{% if overlay.active %}icon-checked-new{% else %}icon-unchecked-new{% endif %}"></i>
            </a>


            {# TODO: Call the html via overlay.html #}
            {% if overlay.def_name == "Countdown" %}
                <p>{{ overlay }}:<br>
                {% include 'projector/control_countdown.html' %}
                </p>
            {% endif %}
            {% if overlay.def_name == "Message" %}
                {{ overlay }}:<br>
                {% include 'projector/control_overlay_message.html' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
