{% load i18n %}

<span>
    {% trans "Countdown for speaking time" %}:
    <div class="overlayblock">
        <div class="input-append" style="margin-bottom:0;">
            <input class="projector_countdown_spinval" id="countdown_time" name="countdown_time" type="number" min="0" value="{{ countdown_time }}">
            <span class="add-on">{% trans "s" context "seconds" %}</span>
            <button id="countdown_set" class="countdown_control btn" href="{% url 'countdown_set_default' %}" title="{% trans 'Save time as default' %}" style="width: 16px;">
                <i class="icon-refresh"></i>
            </button>
        </div>
        <a id="countdown_reset" class="countdown_control btn" href="{% url 'countdown_reset' %}" title="{% trans 'Reset countdown' %}">
            <i class="icon-fast-backward"></i>
        </a>
        <a id="countdown_play" class="countdown_control btn" href="{% url 'countdown_start' %}" title="{% trans 'Start countdown' %}"{% if countdown_state == 'active' %} style="display:none"{% endif %}>
            <i class="icon-play"></i>
        </a>
        <a id="countdown_stop" class="countdown_control btn" href="{% url 'countdown_stop' %}" title="{% trans 'Stop countdown' %}"{% if countdown_state == 'inactive' or countdown_state == 'paused' or countdown_state == 'expired' %} style="display:none"{% endif %}>
            <i class="icon-pause"></i>
        </a>
    </div>
</span>
