<os-head-bar
    [mainButton]="true"
    [nav]="true"
    [editMode]="editTag"
    (mainEvent)="setEditMode(!editTag)"
    (saveEvent)="saveTag()"
    [multiSelectMode]="isMultiSelect"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="!editTag && !newTag" translate>Tags</h2>
        <form *ngIf="editTag" [formGroup]="tagForm" (keydown)="keyDownFunction($event)">
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    osAutofocus
                    required
                    formControlName="name"
                    placeholder="{{ 'New tag name' | translate }}"
                />
                <mat-error *ngIf="tagForm.invalid" translate>Required</mat-error>
            </mat-form-field>
        </form>
    </div>

    <!-- remove button -->
    <div class="extra-controls-slot on-transition-fade">
        <button type="button" mat-button *ngIf="!isMultiSelect && editTag && !newTag" (click)="deleteSelectedTag()">
            <mat-icon>delete</mat-icon>
            <span translate>Delete</span>
        </button>
    </div>
</os-head-bar>

<os-list-view-table
    [repo]="repo"
    [columns]="tableColumnDefinition"
    [allowProjector]="false"
    [(selectedRows)]="selectedRows"
    (dataSourceChange)="onDataSourceChange($event)"
>
    <!-- Name column -->
    <div *pblNgridCellDef="'name'; value as name; row as tag" class="cell-slot fill clickable" (click)="selectTag(tag)">
        <div>
            {{ name }}
        </div>
    </div>
</os-list-view-table>
