.stream-integration {
    .stream-wrapper {
        // position: absolute;
        margin-right: 20px;
        margin-bottom: 5px;
        float: right;
    }

    .user-in-conf-warning {
        width: 300px;
        height: 200px;
        padding: 20px;
        background-color: white;

        button {
            display: block;
        }
    }

    .stream-bar {
        margin-right: 20px;
        // display: flex;

        margin-right: 20px;
        $wrapper-padding: 5px;
        $bar-height: 40px;

        .toggle-list-button {
            height: 50px;
            display: block;
            margin-left: auto;
            padding-right: 0.5em;
            font-weight: normal;
            text-align: right;
            line-height: normal;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
