<div class="stream-integration">
    <div
        class="stream-wrapper"
        [ngClass]="{
            'cdk-visually-hidden': !showStream
        }"
    >
        <div *ngIf="!isUserInConference">
            <os-vjs-player></os-vjs-player>
        </div>

        <div class="user-in-conf-warning" *ngIf="isUserInConference">
            <span>
                {{ 'The livestream is disabled because you are inside a conference' | translate }}
            </span>
            <button mat-raised-button color="warn" (click)="forceReloadStream()">
                {{ 'Restart livestream' | translate }}
            </button>
        </div>
    </div>

    <div class="stream-bar">
        <button class="toggle-list-button" color="primary" mat-flat-button (click)="toggleShowStream()">
            <span> {{ 'Livestream' | translate }}</span>
            <mat-icon class="opened-indicator" *ngIf="!showStream">keyboard_arrow_up</mat-icon>
            <mat-icon class="opened-indicator" *ngIf="showStream">keyboard_arrow_down </mat-icon>
        </button>
    </div>
</div>
