/*
 * Styles for web interface of assignment app
 *
 */


/* Navigation icons (mapping to glyphicons-halflings) */
.icon-charts {
    background-image: url("../img/glyphicons_041_charts.png");
    background-position: 0px center;
}
.leftmenu ul li.active a span.ico i.icon-charts {
    background-image: url("../img/glyphicons_041_charts_white.png");
}

/* Election result table */
#election-result-table td.elected {
    background-color: #BED4DE !important;
}
#election-result-table td.elected a.election_link {
    background-image: url(../img/voting-yes.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
    float: left;
}
#election-result-table td a.election_link {
    background-image: url(../img/voting-yes-grey.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
    float: left;
}
