<app-head-bar appName="Settings"></app-head-bar>

<mat-card class="os-card">
    <div *appOsPerms="'core.can_manage_config'" class="app-content">

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Title
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p> CONTENT </p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</mat-card>
