<os-head-bar appName="Settings"></os-head-bar>


<mat-table class='os-listview-table on-transition-fade' [dataSource]="dataSource" matSort>
    <!-- name column -->
    <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Key </mat-header-cell>
        <mat-cell *matCellDef="let config"> {{config.key}} </mat-cell>
    </ng-container>

    <!-- prefix column -->
    <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
        <mat-cell *matCellDef="let config"> {{config.value}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['key', 'value']"></mat-header-row>
    <mat-row (click)='selectConfig(row)' *matRowDef="let row; columns: ['key', 'value']"></mat-row>
</mat-table>
