<os-poll-form [data]="pollData" [pollMethods]="assignmentPollMethods" #pollForm></os-poll-form>
<ng-container *ngIf="pollForm.contentForm.get('type').value === 'analog'">
    <!-- Candidate values -->
    <form [formGroup]="dialogVoteForm">
        <div formGroupName="options">
            <div *ngFor="let option of options" class="votes-grid">
                <div>
                    <span *ngIf="option.user">{{ option.user.getFullName() }}</span>
                    <span *ngIf="!option.user">No user {{ option.candidate_id }}</span>
                </div>
                
                <div>
                    <div *ngFor="let value of analogPollValues" [formGroupName]="option.user_id">
                        <os-check-input
                            [placeholder]="voteValueVerbose[value] | translate"
                            [checkboxValue]="-1"
                            inputType="number"
                            [checkboxLabel]="'Majority' | translate"
                            [formControlName]="value"
                        ></os-check-input>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let value of sumValues" class="votes-grid">
            <div></div>
            <os-check-input
                [placeholder]="generalValueVerbose[value] | translate"
                [checkboxValue]="-1"
                inputType="number"
                [checkboxLabel]="'Majority' | translate"
                [formControlName]="value"
            ></os-check-input>
        </div>
    </form>
    <mat-divider></mat-divider>
    <div class="spacer-top-20">
        <mat-checkbox
            [(ngModel)]="publishImmediately"
            (change)="publishStateChanged($event.checked)"
        >
            <span translate>Publish immediately</span>
        </mat-checkbox>
        <mat-error *ngIf="!dialogVoteForm.valid" translate>
            If you want to publish after creating, you have to fill at least one of the fields.
        </mat-error>
    </div>
    <!-- Summary values -->
    <!-- <div *ngFor="let sumValue of sumValues" class="sum-value">
        <mat-form-field>
            <input
                type="number"
                matInput
                [value]="getSumValue(sumValue)"
                (change)="setSumValue(sumValue, $event.target.value)"
            />
            <mat-label>{{ pollService.getLabel(sumValue) | translate }}</mat-label>
        </mat-form-field>
    </div> -->
</ng-container>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <button mat-button (click)="submitPoll()" [disabled]="!pollForm.contentForm || pollForm.contentForm.invalid || dialogVoteForm.invalid">
        <span translate>Save</span>
    </button>
    <button mat-button [mat-dialog-close]="false">
        <span translate>Cancel</span>
    </button>
</div>
