<os-poll-form
    [data]="pollData"
    [pollService]="assignmentPollService"
    [pollMethods]="AssignmentPollMethodVerbose"
    [percentBases]="AssignmentPollPercentBaseVerbose"
    #pollForm
></os-poll-form>

<!-- Analog voting -->
<ng-container *ngIf="isAnalogPoll && dialogVoteForm">
    <form [formGroup]="dialogVoteForm">
        <!-- Candidates Values -->
        <div formGroupName="options">
            <div *ngFor="let option of options" class="votes-grid">
                <div>
                    <span *ngIf="option.user">{{ option.user.getFullName() }}</span>
                    <span *ngIf="!option.user">{{ 'Unknown user' | translate }}</span>
                </div>

                <div>
                    <div *ngFor="let value of analogPollValues" [formGroupName]="option.user_id">
                        <os-check-input
                            [placeholder]="voteValueVerbose[value] | translate"
                            [checkboxValue]="-1"
                            inputType="number"
                            [checkboxLabel]="'majority' | translate"
                            [formControlName]="value"
                        ></os-check-input>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sum Values -->
        <div *ngFor="let value of sumValues" class="votes-grid">
            <div></div>
            <os-check-input
                [placeholder]="generalValueVerbose[value] | translate"
                [checkboxValue]="-1"
                inputType="number"
                [checkboxLabel]="'majority' | translate"
                [formControlName]="value"
            ></os-check-input>
        </div>

        <!-- Global Values -->
        <div>
            <os-check-input
                *ngIf="globalNoEnabled"
                placeholder="{{ 'General No' | translate }}"
                [checkboxValue]="-1"
                inputType="number"
                [checkboxLabel]="'majority' | translate"
                formControlName="amount_global_no"
            ></os-check-input>

            <os-check-input
                *ngIf="globalAbstainEnabled"
                placeholder="{{ 'General Abstain' | translate }}"
                [checkboxValue]="-1"
                inputType="number"
                [checkboxLabel]="'majority' | translate"
                formControlName="amount_global_abstain"
            ></os-check-input>
        </div>
    </form>

    <!-- Publish Check -->
    <div class="spacer-top-20">
        <mat-checkbox [(ngModel)]="publishImmediately" (change)="publishStateChanged($event.checked)">
            <span>{{ 'Publish immediately' | translate }}</span>
        </mat-checkbox>
        <mat-error *ngIf="!dialogVoteForm.valid"> {{ 'Error in form field.' | translate }}</mat-error>
    </div>
</ng-container>

<!-- Actions -->
<div mat-dialog-actions>
    <!-- Save Button -->
    <button
        mat-button
        (click)="submitPoll()"
        *ngIf="pollForm && dialogVoteForm && pollForm.contentForm"
        [disabled]="pollForm.contentForm.invalid || dialogVoteForm.invalid"
    >
        <span>{{ 'Save' | translate }}</span>
    </button>

    <!-- Cancel Button -->
    <button mat-button [mat-dialog-close]="false">
        <span>{{ 'Cancel' | translate }}</span>
    </button>
</div>
