<ng-container *ngIf="poll">

    <ng-container *ngIf="vmanager.canVote(poll)">
        <!-- TODO: Someone should make this pretty -->
        <span *ngIf="poll.user_has_voted_valid">Your vote is valid!</span>
        <span *ngIf="poll.user_has_voted_invalid">DANGER: Your vote is invalid!</span>
        <span *ngIf="poll.user_has_not_voted">You have not give any voting here!</span>

        <!-- Leftover votes -->
        <h4 *ngIf="poll.pollmethod === AssignmentPollMethod.Votes && poll.votes_amount > 1 && !currentVotes.global">
            {{ 'Votes for this poll' | translate }}: {{ getVotesCount() }}/{{ poll.votes_amount }}
        </h4>

        <!-- Options and Actions -->
        <div *ngFor="let option of poll.options; let i = index">
            <div *ngIf="poll.type !== PollType.Pseudoanonymous || !option.user_has_voted">
                <div
                    [ngClass]="{
                        'yna-grid': poll.pollmethod === AssignmentPollMethod.YNA,
                        'yn-grid': poll.pollmethod === AssignmentPollMethod.YN,
                        'single-vote-grid': poll.pollmethod === AssignmentPollMethod.Votes
                    }"
                >
                    <div class="vote-candidate-name">
                        <span *ngIf="option.user">{{ option.user.getFullName() }}</span>
                        <span *ngIf="!option.user">{{ 'Unknown user' | translate }}</span>
                    </div>

                    <div *ngFor="let action of voteActions">
                        <button
                            mat-raised-button
                            (click)="saveSingleVote(option.id, action.vote)"
                            [ngClass]="currentVotes[option.id] === action.label ? action.css : ''"
                        >
                            <mat-icon> {{ action.icon }}</mat-icon>
                        </button>
                        <span *ngIf="poll.pollmethod !== AssignmentPollMethod.Votes" class="vote-label">
                            {{ action.label | translate }}
                        </span>
                    </div>
                </div>
                <mat-divider *ngIf="poll.options.length - 1 > i"></mat-divider>
            </div>
        </div>

        <!-- global no/abstain -->
        <ng-container *ngIf="poll.pollmethod === AssignmentPollMethod.Votes && (poll.global_no || poll.global_abstain)">
            <mat-divider></mat-divider>
            <div class="global-option-grid">
                <div *ngIf="poll.global_no">
                    <button
                        mat-raised-button
                        (click)="saveGlobalVote('N')"
                        [ngClass]="currentVotes['global'] === 'No' ? 'voted-no' : ''"
                    >
                        <mat-icon> thumb_down </mat-icon>
                    </button>
                    <span class="vote-label">
                        {{ 'No to all' | translate }}
                    </span>
                </div>

                <div *ngIf="poll.global_abstain">
                    <button
                        mat-raised-button
                        (click)="saveGlobalVote('A')"
                        [ngClass]="currentVotes['global'] === 'Abstain' ? 'voted-abstain' : ''"
                    >
                        <mat-icon> trip_origin</mat-icon>
                    </button>
                    <span class="vote-label">
                        {{ 'Abstain' | translate }}
                    </span>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <!-- Shows the permission error -->
    <ng-container *ngIf="!vmanager.canVote(poll)">
        <span>{{ vmanager.getVotePermissionErrorVerbose(poll) | translate }}</span>
    </ng-container>
</ng-container>
