<os-meta-text-block showActionRow="true" icon="speaker_notes">
    <ng-container class="meta-text-block-title">
        <span translate>Personal note</span>
    </ng-container>

    <ng-container class="meta-text-block-content">
        <ng-container *ngIf="!isEditMode">
            <div *ngIf="motion && motion.personalNote" [innerHTML]="motion.personalNote.note"></div>
            <div class="no-content" *ngIf="!motion || !motion.personalNote" translate>
                No personal note
            </div>
        </ng-container>
        <form [formGroup]="personalNoteForm" *ngIf="isEditMode">
            <!-- The HTML Editor -->
            <h4 translate>Personal note</h4>
            <editor
                formControlName='note'
                [init]="tinyMceSettings"
            ></editor>
        </form>
    </ng-container>

    <ng-container class="meta-text-block-action-row">
        <button mat-icon-button *ngIf="!isEditMode" (click)="editPersonalNote()"
        matTooltip="{{ 'Edit' | translate }}">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isEditMode && motion && motion.personalNote" (click)="printPersonalNote()"
        matTooltip="{{ 'Export personal note only' | translate }}">
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isEditMode" (click)="savePersonalNote()"
        matTooltip="{{ 'Save' | translate }}">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isEditMode" (click)="isEditMode = false"
        matTooltip="{{ 'Cancel edit' | translate }}">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>
</os-meta-text-block>
