@import '~assets/styles/variables.scss';

.full-width {
    width: 100%;
}

.meta-info-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr;

    .number-of-elected {
        grid-column: 1;
    }

    .current-phase {
        grid-column: 1;
    }

    @include desktop {
        grid-template-columns: 1fr 2fr;

        .current-phase {
            grid-column: 2;
        }
    }
}

.new-ballot-button {
    display: flex;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.election-document-list mat-list-item {
    height: 20px;
}

.candidates-list {
    padding: 10px 25px 0 25px;
}

.add-candidates {
    .search-field {
        padding: 15px 25px 0 25px;
        width: auto;

        .mat-form-field {
            width: 100%;
        }
    }
}

.ballot-controls-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto min-content;

    .ballot-title {
        grid-column: 1;
        h3 {
            margin: 0;
        }
    }
}

.candidate-list-separator {
    position: initial !important;
    margin: 20px 0;
}

.candidate {
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
    vertical-align: top;
    .name {
        word-wrap: break-word;
        flex: 1;
    }
}

.top-aligned {
    position: absolute;
    top: 0;
    left: 0;
}
