<os-head-bar
    [mainButton]="hasPerms('manage')"
    mainButtonIcon="edit"
    [nav]="false"
    [editMode]="editAssignment"
    (mainEvent)="setEditMode(!editAssignment)"
    (saveEvent)="saveAssignment()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="!newAssignment" translate>Election</h2>
        <h2 *ngIf="newAssignment" translate>New election</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="assignmentDetailMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-menu #assignmentDetailMenu="matMenu">
        <div *ngIf="assignment">
            <!-- PDF -->
            <button mat-menu-item (click)="onDownloadPdf()">
                <!-- TODO: results or description. Results if published -->
                <mat-icon>picture_as_pdf</mat-icon>
                <span translate>PDF</span>
            </button>
            <mat-divider></mat-divider>
        </div>
        <!-- Project -->
        <os-projector-button
            [object]="assignment"
            [menuItem]="true"
            *osPerms="'core.can_manage_projector'"
        ></os-projector-button>

        <!-- Delete -->
        <div *ngIf="assignment && hasPerms('manage')">
            <button mat-menu-item class="red-warning-text" (click)="onDeleteAssignmentButton()">
                <mat-icon>delete</mat-icon>
                <span translate>Delete</span>
            </button>
        </div>

    </mat-menu>
</os-head-bar>

<div class="content-container">
    <ng-container *ngIf="vp.isMobile; then mobileView; else desktopView"></ng-container>
</div>

<ng-template #mobileView>
    <div *ngIf="editAssignment">
        <ng-container [ngTemplateOutlet]="assignmentFormTemplate"></ng-container>
    </div>
    <div *ngIf="!editAssignment">
        <ng-container [ngTemplateOutlet]="metaInfoTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #desktopView>
    <div *ngIf="editAssignment">
        <ng-container [ngTemplateOutlet]="assignmentFormTemplate"></ng-container>
    </div>
    <div *ngIf="!editAssignment">
        <ng-container [ngTemplateOutlet]="metaInfoTemplate"></ng-container>
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #metaInfoTemplate>
    <mat-card class="os-card" *ngIf="assignment">
        <h1>{{ assignment.getTitle() }}</h1>
        <div *ngIf="assignment">
            <div *ngIf="assignment.assignment.description" [innerHTML]="assignment.assignment.description"></div>
        </div>
        <div>
            <span translate>Number of persons to be elected</span>:&nbsp;
            <span>{{ assignment.assignment.open_posts }}</span>
        </div>
        <div>
            <span translate>Phase</span>:&nbsp;
            <mat-basic-chip *ngIf="hasPerms('manage')" [matMenuTriggerFor]="phaseMenu" class="bluegrey" disableRipple>
                {{ assignment.phaseString | translate }}
            </mat-basic-chip>
            <mat-basic-chip *ngIf="!hasPerms('manage')" class="bluegrey" disableRipple>
                {{ assignment.phaseString | translate }}
            </mat-basic-chip>
            <mat-menu #phaseMenu="matMenu">
                <button *ngFor="let option of phaseOptions" mat-menu-item (click)="onSetPhaseButton(option.value)">
                    {{ option.display_name | translate }}
                </button>
            </mat-menu>
        </div>
    </mat-card>
</ng-template>

<ng-template #contentTemplate>
    <mat-card class="os-card">
        <ng-container *ngIf="assignment && !assignment.isFinished" [ngTemplateOutlet]="candidatesTemplate">
        </ng-container>
        <!-- TODO related agenda item to create/updade: internal status; parent_id ? -->
        <ng-container [ngTemplateOutlet]="pollTemplate"></ng-container>
        <!-- TODO different status/display if finished -->
    </mat-card>
</ng-template>

<!-- poll template -->
<ng-template #pollTemplate>
    <mat-tab-group
        (selectedTabChange)="onTabChange()"
        *ngIf="assignment && assignment.polls && assignment.polls.length"
    >
        <!-- TODO avoid animation/switching on update -->
        <mat-tab
            *ngFor="let poll of assignment.polls; let i = index; trackBy: trackByIndex"
            [label]="getPollLabel(poll, i)"
        >
            <os-assignment-poll [assignment]="assignment" [poll]="poll"> </os-assignment-poll>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<ng-template #candidatesTemplate>
    <!-- candidates -->
    <div class="candidates-list" *ngIf="assignment && assignment.assignmentRelatedUsers && assignment.assignmentRelatedUsers.length > 0">
        <os-sorting-list
            [input]="assignment.assignmentRelatedUsers"
            [live]="true"
            [count]="true"
            [enable]="hasPerms('addOthers')"
            (sortEvent)="onSortingChange($event)"
        >
            <!-- implicit item references into the component using ng-template slot -->
            <ng-template let-item>
                <span *ngIf="hasPerms('addOthers')">
                    <button
                        mat-icon-button
                        matTooltip="{{ 'Remove candidate' | translate }}"
                        (click)="removeUser(item)"
                    >
                        <mat-icon>clear</mat-icon>
                    </button>
                </span>
            </ng-template>
        </os-sorting-list>
    </div>
    <!-- Search for candidates -->
    <div *ngIf="hasPerms('addOthers')">
        <form *ngIf="filteredCandidates && filteredCandidates.value.length > 0" [formGroup]="candidatesForm">
            <os-search-value-selector
                *ngIf="hasPerms('addOthers')"
                ngDefaultControl
                listname="{{ 'Select a new candidate' | translate }}"
                [formControl]="candidatesForm.get('userId')"
                [InputListValues]="filteredCandidates"
                [form]="candidatesForm"
                [multiple]="false"
            >
                <!-- TODO: better class here: wider -->
                <!-- TODO: Performance check: something seems off here with filteredCandidates -->
            </os-search-value-selector>
        </form>
    </div>
    <!-- Add me and remove me if OP has correct permission -->
    <div *ngIf="assignment && hasPerms('addSelf') && assignment.candidates" class="add-self-buttons">
        <div>
            <button mat-stroked-button (click)="addSelf()" *ngIf="!isSelfCandidate">
                <mat-icon>add</mat-icon>
                <span translate>Add me</span>
            </button>
            <button mat-stroked-button (click)="removeSelf()" *ngIf="isSelfCandidate">
                <mat-icon>remove</mat-icon>
                <span translate>Remove me</span>
            </button>
        </div>
    </div>
    <div *ngIf="assignment && hasPerms('createPoll')">
        <mat-divider></mat-divider>
        <button mat-button (click)="createPoll()">
            <mat-icon color="primary">poll</mat-icon>
            <span translate>New poll</span>
        </button>
    </div>
    <mat-divider *ngIf="assignment && assignment.polls && assignment.polls.length"> </mat-divider>
</ng-template>

<ng-template #assignmentFormTemplate>
    <div>
        <form
            class="content"
            [formGroup]="assignmentForm"
            (keydown)="onKeyDown($event)"
            *ngIf="assignment && editAssignment"
        >
            <div>
                <!-- title -->
                <mat-form-field class="full-width">
                    <input
                        matInput
                        placeholder="{{ 'Title' | translate }}"
                        formControlName="title"
                        [value]="assignmentCopy.getTitle() || ''"
                    />
                </mat-form-field>
            </div>

            <!-- description: HTML Editor -->
            <editor
                formControlName="description"
                [init]="tinyMceSettings"
                *ngIf="assignment && editAssignment"
                required
            ></editor>
            <div
                *ngIf="
                    assignmentForm.get('description').invalid &&
                    (assignmentForm.get('description').dirty || assignmentForm.get('description').touched)
                "
                class="red-warning-text"
                translate
            >
                This field is required.
            </div>

            <!-- searchValueSelector: tags -->
            <div class="content-field" *ngIf="tagsAvailable">
                <os-search-value-selector
                    ngDefaultControl
                    [form]="assignmentForm"
                    [formControl]="assignmentForm.get('tags_id')"
                    [multiple]="true"
                    [includeNone]="true"
                    listname="{{ 'Tags' | translate }}"
                    [InputListValues]="tagsObserver"
                ></os-search-value-selector>
            </div>

            <!-- searchValueSelector:agendaItem -->
            <div class="content-field" *ngIf="parentsAvailable">
                <os-search-value-selector
                    ngDefaultControl
                    [form]="assignmentForm"
                    [formControl]="assignmentForm.get('agenda_item_id')"
                    [multiple]="false"
                    [includeNone]="false"
                    listname="{{ 'Topic' | translate }}"
                    [InputListValues]="agendaObserver"
                ></os-search-value-selector>
            </div>

            <!-- poll_description_default -->
            <div>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{ 'Default comment on the ballot paper' | translate }}"
                        formControlName="poll_description_default"
                        [value]="assignmentCopy.assignment.poll_description_default || ''"
                    />
                </mat-form-field>
            </div>
            <!-- open posts: number -->
            <div>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{ 'Number of persons to be elected' | translate }}"
                        formControlName="open_posts"
                        [value]="assignmentCopy.assignment.open_posts || null"
                    />
                </mat-form-field>
            </div>
            <!-- TODO searchValueSelector: Parent -->
        </form>
    </div>
</ng-template>
