<os-head-bar
    [hasMainButton]="hasPerms('manage')"
    mainButtonIcon="edit"
    [nav]="false"
    [editMode]="editAssignment"
    [isSaveButtonEnabled]="assignmentForm.valid"
    (mainEvent)="setEditMode(!editAssignment)"
    (saveEvent)="saveAssignment()"
>
    <!-- Title -->
    <div class="title-slot">
        <h2 *ngIf="!newAssignment">{{ 'Election' | translate }}</h2>
        <h2 *ngIf="newAssignment">{{ 'New election' | translate }}</h2>
    </div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="assignmentDetailMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-menu #assignmentDetailMenu="matMenu">
        <div *ngIf="assignment">
            <!-- PDF -->
            <button mat-menu-item (click)="onDownloadPdf()">
                <mat-icon>picture_as_pdf</mat-icon>
                <span>{{ 'PDF' | translate }}</span>
            </button>
            <!-- List of speakers -->
            <os-speaker-button [object]="assignment" [menuItem]="true"></os-speaker-button>
        </div>
        <!-- Project -->
        <os-projector-button [object]="assignment" [menuItem]="true"></os-projector-button>

        <!-- Add/remove to/from agenda -->
        <div *osPerms="'agenda.can_manage'">
            <button mat-menu-item (click)="addToAgenda()" *ngIf="assignment && !assignment.item">
                <mat-icon>add</mat-icon>
                <span>{{ 'Add to agenda' | translate }}</span>
            </button>
            <button mat-menu-item (click)="removeFromAgenda()" *ngIf="assignment && assignment.item">
                <mat-icon>remove</mat-icon>
                <span>{{ 'Remove from agenda' | translate }}</span>
            </button>
        </div>

        <!-- Delete -->
        <div *ngIf="assignment && hasPerms('manage')">
            <!-- Delete -->
            <mat-divider></mat-divider>
            <button mat-menu-item class="red-warning-text" (click)="onDeleteAssignmentButton()">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
            </button>
        </div>
    </mat-menu>
</os-head-bar>

<div>
    <div *ngIf="editAssignment">
        <ng-container [ngTemplateOutlet]="assignmentFormTemplate"></ng-container>
    </div>
    <div *ngIf="!editAssignment">
        <!-- assignment meta infos-->
        <ng-container [ngTemplateOutlet]="metaInfoTemplate"></ng-container>

        <!-- polls -->
        <ng-container *ngIf="assignment && assignment.polls.length">
            <ng-container *ngFor="let poll of assignment.polls | reverse; trackBy: trackByIndex">
                <os-assignment-poll [poll]="poll"> </os-assignment-poll>
            </ng-container>
        </ng-container>

        <!-- New Ballot button -->
        <div class="new-ballot-button" *ngIf="assignment && hasPerms('createPoll')">
            <button mat-stroked-button (click)="openDialog()">
                <mat-icon>add</mat-icon>
                <span>{{ 'New ballot' | translate }}</span>
            </button>
        </div>

        <!-- candidates list -->
        <ng-container [ngTemplateOutlet]="candidatesTemplate"></ng-container>
    </div>
</div>

<ng-template #metaInfoTemplate>
    <mat-card class="os-card spacer-bottom-60" *ngIf="assignment">
        <div *ngIf="!editAssignment && assignment.getTitle">
            <h1>{{ assignment.getTitle() }}</h1>
        </div>
        <div *ngIf="assignment">
            <div
                *ngIf="assignment.assignment.description"
                [innerHTML]="assignment.assignment.description | trust: 'html'"
            ></div>
        </div>
        <div class="meta-info-grid">
            <div class="number-of-elected">
                <h4>{{ 'Number of persons to be elected' | translate }}</h4>
                <span>{{ assignment.assignment.open_posts }}</span>
            </div>
            <div class="current-phase">
                <h4>{{ 'Phase' | translate }}</h4>
                <mat-basic-chip
                    *ngIf="hasPerms('manage')"
                    [matMenuTriggerFor]="phaseMenu"
                    class="bluegrey"
                    disableRipple
                >
                    {{ assignment.phaseString | translate }}
                </mat-basic-chip>
                <mat-basic-chip *ngIf="!hasPerms('manage')" class="bluegrey" disableRipple>
                    {{ assignment.phaseString | translate }}
                </mat-basic-chip>
                <mat-menu #phaseMenu="matMenu">
                    <button *ngFor="let option of phaseOptions" mat-menu-item (click)="onSetPhaseButton(option.value)">
                        {{ option.display_name | translate }}
                    </button>
                </mat-menu>
            </div>
        </div>

        <div *ngIf="assignment.attachments.length">
            <h4>{{ 'Election documents' | translate }}</h4>
            <mat-list dense class="election-document-list">
                <mat-list-item *ngFor="let file of assignment.attachments">
                    <a [routerLink]="file.url" target="_blank">{{ file.getTitle() }}</a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card>
</ng-template>

<ng-template #candidatesTemplate>
    <mat-card class="os-card spacer-bottom-60" *ngIf="assignment && !assignment.isFinished">
        <ng-container>
            <h3>{{ 'Candidates' | translate }}</h3>
            <div>
                <div
                    class="candidates-list"
                    *ngIf="
                        assignment &&
                        assignment.assignment_related_users &&
                        assignment.assignment_related_users.length > 0
                    "
                >
                    <os-sorting-list
                        [input]="assignment.assignment_related_users"
                        [live]="true"
                        [count]="assignment.number_poll_candidates"
                        [enable]="hasPerms('manage')"
                        (sortEvent)="onSortingChange($event)"
                    >
                        <!-- implicit item references into the component using ng-template slot -->
                        <ng-template let-item>
                            <span *ngIf="hasPerms('manage')">
                                <button
                                    mat-icon-button
                                    matTooltip="{{ 'Remove candidate' | translate }}"
                                    (click)="removeUser(item)"
                                >
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </span>
                        </ng-template>
                    </os-sorting-list>
                </div>

                <div class="add-candidates">
                    <!-- Search for candidates -->
                    <div class="search-field" *ngIf="hasPerms('addOthers')">
                        <form
                            *ngIf="
                                hasPerms('addOthers') &&
                                filteredCandidates &&
                                filteredCandidates.value &&
                                filteredCandidates.value.length
                            "
                            [formGroup]="candidatesForm"
                        >
                            <mat-form-field>
                                <os-search-value-selector
                                    formControlName="userId"
                                    [multiple]="false"
                                    placeholder="{{ 'Select a new candidate' | translate }}"
                                    [inputListValues]="filteredCandidates"
                                    [showNotFoundButton]="true"
                                    (clickNotFound)="createNewCandidate($event)"
                                >
                                    <ng-container notFoundDescription>
                                        <mat-icon>add</mat-icon>
                                        {{ 'Create user' | translate }}
                                    </ng-container>
                                </os-search-value-selector>
                            </mat-form-field>
                        </form>
                    </div>

                    <!-- Add me and remove me if OP has correct permission -->
                    <div *ngIf="assignment && hasPerms('addSelf') && assignment.candidates">
                        <div>
                            <button mat-button color="accent" (click)="addSelf()" *ngIf="!isSelfCandidate">
                                <mat-icon>add</mat-icon>
                                <span>{{ 'Add me' | translate }}</span>
                            </button>
                            <button mat-button color="accent" (click)="removeSelf()" *ngIf="isSelfCandidate">
                                <mat-icon>remove</mat-icon>
                                <span>{{ 'Remove me' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-card>
</ng-template>

<!-- Form -->
<ng-template #assignmentFormTemplate>
    <mat-card class="os-form-card spacer-bottom-60">
        <form
            class="content"
            [formGroup]="assignmentForm"
            (keydown)="onKeyDown($event)"
            *ngIf="assignment && editAssignment"
        >
            <div>
                <!-- title -->
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{ 'Title' | translate }}" formControlName="title" />
                    <mat-error>{{ 'The title is required' | translate }}</mat-error>
                </mat-form-field>
            </div>

            <!-- description: HTML Editor -->
            <h4>{{ 'Description' | translate }}:</h4>
            <editor
                formControlName="description"
                [init]="tinyMceSettings"
                *ngIf="assignment && editAssignment"
            ></editor>

            <!-- searchValueSelector: tags -->
            <div class="content-field" *ngIf="tagsAvailable" [formGroup]="assignmentForm">
                <mat-form-field>
                    <os-search-value-selector
                        formControlName="tags_id"
                        [multiple]="true"
                        [includeNone]="true"
                        placeholder="{{ 'Tags' | translate }}"
                        [inputListValues]="tagsObserver"
                    ></os-search-value-selector>
                </mat-form-field>

                <os-attachment-control
                    formControlName="attachments_id"
                    (errorHandler)="raiseError($event)"
                ></os-attachment-control>
            </div>

            <os-agenda-content-object-form
                *ngIf="newAssignment"
                [form]="assignmentForm"
            ></os-agenda-content-object-form>

            <!-- default_poll_description -->
            <div>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{ 'Hint on voting' | translate }}"
                        formControlName="default_poll_description"
                    />
                </mat-form-field>
            </div>

            <!-- open posts: number -->
            <div>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{ 'Number of persons to be elected' | translate }}"
                        formControlName="open_posts"
                        type="number"
                        required
                    />
                    <mat-error *ngIf="assignmentForm.get('open_posts').hasError('required')">
                        {{ 'This field is required.' | translate }}
                    </mat-error>
                    <mat-error *ngIf="assignmentForm.get('open_posts').hasError('min')">
                        {{ 'The number has to be greater than 0.' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Number candidates -->
            <div>
                <mat-checkbox formControlName="number_poll_candidates">
                    <span>{{ 'Number candidates' | translate }}</span>
                </mat-checkbox>
            </div>
        </form>
    </mat-card>
</ng-template>
