@import '~@angular/material/theming';

@mixin os-global-spinner-theme($theme) {
    .spinner {
        display: inline-block;
    }

    .text {
        text-align: center;
        color: white;
        font-size: 1.4rem;
    }
}
