$openslides-blue: (
    50: #e6eff2,
    100: #c1d6e0,
    200: #98bbcb,
    300: #6fa0b6,
    400: #508ba6,
    500: #317796,
    600: #2c6f8e,
    700: #256483,
    800: #1f5a79,
    900: #134768,
    A100: #9fd7ff,
    A200: #6cc2ff,
    A400: #39acff,
    A700: #1fa2ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
