$openslides-cyan: (
    50: #e5f4f3,
    100: #bfe3e0,
    200: #95d0cc,
    300: #6abdb7,
    400: #4aafa7,
    500: #2aa198,
    600: #259990,
    700: #1f8f85,
    800: #19857b,
    900: #0f746a,
    A100: #a7fff5,
    A200: #74ffef,
    A400: #41ffe9,
    A700: #28ffe6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
