$openslides-green: (
    50: #e9f2e6,
    100: #c8e0bf,
    200: #a3cb95,
    300: #7eb66b,
    400: #62a64b,
    500: #46962b,
    600: #3f8e26,
    700: #378320,
    800: #2f791a,
    900: #206810,
    A100: #acff9d,
    A200: #80ff6a,
    A400: #55ff37,
    A700: #3fff1e,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
