$openslides-grey: (
    50: #eee8d5,
    100: #93a1a1,
    200: #93a1a1,
    300: #839496,
    400: #657b83,
    500: #586e75,
    600: #586e75,
    700: #586e75,
    800: #073642,
    900: #002b36,
    A100: #99b5c8,
    A200: #65a2ce,
    A400: #3d93d1,
    A700: #268bd2,
    contrast: (
        50: #002b36,
        100: #002b36,
        200: #002b36,
        300: #002b36,
        400: #002b36,
        500: #fdf6e3,
        600: #fdf6e3,
        700: #fdf6e3,
        800: #fdf6e3,
        900: #fdf6e3,
        A100: #002b36,
        A200: #002b36,
        A400: #002b36,
        A700: #002b36
    )
);
