$openslides-primary-red: (
    50: #f8e4e5,
    100: #edbbbd,
    200: #e18e91,
    300: #d56065,
    400: #cc3e44,
    500: #c31c23,
    600: #bd191f,
    700: #b5141a,
    800: #ae1115,
    900: #a1090c,
    A100: #ffcece,
    A200: #ff9b9b,
    A400: #ff6869,
    A700: #ff4e50,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #404040,
        A200: #303030,
        A400: #262626,
        A700: #1a1a1a
    )
);
