<div class="os-form-card-mobile">
    <!-- Poll Title -->
    <form [formGroup]="contentForm">
        <mat-form-field>
            <h2 class="poll-preview-title">
                <input matInput required formControlName="title" [placeholder]="'Title' | translate" />
            </h2>
        </mat-form-field>
    </form>

    <form [formGroup]="contentForm" class="poll-preview-meta-info-form">
        <ng-container *ngIf="!data || !data.state || data.isCreated">
            <div class="info-grid">
                <!-- Poll Type -->
                <mat-form-field *ngIf="isEVotingEnabled">
                    <mat-select [placeholder]="PollPropertyVerbose.type | translate" formControlName="type" required>
                        <mat-option *ngFor="let option of pollTypes | keyvalue" [value]="option.key">
                            {{ option.value | translate }}
                        </mat-option>
                    </mat-select>
                    <mat-icon
                        color="primary"
                        matSuffix
                        *ngIf="showNonNominalWarning"
                        (click)="openVotingWarning($event)"
                    >
                        info
                    </mat-icon>
                    <mat-error>{{ 'This field is required.' | translate }}</mat-error>
                </mat-form-field>

                <!-- Groups entitled to Vote -->
                <mat-form-field *ngIf="isEVotingSelected">
                    <os-search-value-selector
                        formControlName="groups_id"
                        [multiple]="true"
                        [showChips]="false"
                        [includeNone]="false"
                        [placeholder]="PollPropertyVerbose.groups | translate"
                        [inputListValues]="groupObservable"
                    ></os-search-value-selector>
                </mat-form-field>
            </div>

            <div class="info-grid">
                <!-- Poll Methods -->
                <mat-form-field *ngIf="pollMethods">
                    <mat-select
                        [placeholder]="PollPropertyVerbose.pollmethod | translate"
                        formControlName="pollmethod"
                        required
                    >
                        <mat-option *ngFor="let option of pollMethods | keyvalue: keepEntryOrder" [value]="option.key">
                            {{ option.value | translate }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ 'This field is required.' | translate }}</mat-error>
                </mat-form-field>

                <ng-container formGroupName="votes_amount" *ngIf="isEVotingSelected">
                    <!-- Min Amount of Votes -->
                    <mat-form-field *ngIf="showAmountAndGlobal(data)">
                        <input
                            type="number"
                            matInput
                            placeholder="{{ PollPropertyVerbose.min_votes_amount | translate }}"
                            formControlName="min_votes_amount"
                            min="1"
                            required
                            [errorStateMatcher]="parentErrorStateMatcher"
                        />
                        <mat-error *ngIf="contentForm.controls['votes_amount'].hasError('rangeError')">
                            {{ 'Min votes cannot be greater than max votes.' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Max Amount of Votes -->
                    <mat-form-field *ngIf="showAmountAndGlobal(data)">
                        <input
                            type="number"
                            matInput
                            placeholder="{{ PollPropertyVerbose.max_votes_amount | translate }}"
                            formControlName="max_votes_amount"
                            min="1"
                            required
                        />
                    </mat-form-field>
                </ng-container>
            </div>

            <!-- Amount of Votes and global options -->
            <div class="global-options" *ngIf="isEVotingSelected && showAmountAndGlobal(data)">
                <mat-checkbox formControlName="global_yes">
                    {{ PollPropertyVerbose.global_yes | translate }}
                </mat-checkbox>
                <mat-checkbox formControlName="global_no">{{ PollPropertyVerbose.global_no | translate }}</mat-checkbox>
                <mat-checkbox formControlName="global_abstain">
                    {{ PollPropertyVerbose.global_abstain | translate }}
                </mat-checkbox>
            </div>
        </ng-container>

        <!-- 100 Percent Base -->
        <mat-form-field>
            <mat-select
                placeholder="{{ PollPropertyVerbose.onehundred_percent_base | translate }}"
                formControlName="onehundred_percent_base"
                required
            >
                <ng-container *ngFor="let option of validPercentBases | keyvalue: keepEntryOrder">
                    <mat-option [value]="option.key">{{ option.value | translate }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </form>
</div>
