.poll-preview-title {
    margin: 0;
}

.pollType {
    .mat-hint {
        color: red;
        cursor: pointer;
    }
}

.poll-preview-meta-info-form {
    .suboption {
        margin-left: 1.5em;
    }

    .mat-checkbox {
        margin-right: 2em;
    }

    .global-options {
        margin-bottom: 1em;
    }
}
