.poll-preview-title {
    margin: 0;
}

.poll-preview-meta-info-form {
    .info-grid {
        display: grid;
        column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .mat-checkbox {
        margin-right: 2em;
    }

    .global-options {
        margin-bottom: 1em;
    }
}
