.diff-box {
    position: relative;
    border-radius: 3px;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 40px;

    &:hover {
        .action-row {
            opacity: 1;
        }
    }

    .action-row {
        position: absolute;
        right: 0;
        font-size: 0.8em;
        opacity: 0.5;
        overflow: hidden;

        .btn-delete {
            margin-left: 5px;
            color: red;
        }

        .btn-edit {
            margin-left: 5px;
        }

        .btn-amend-info {
            margin-left: 5px;
            min-width: 68px;
        }
    }

    .status-row {
        font-style: italic;
        color: gray;

        & > *:after {
            content: ':';
        }
    }
}

.change-recommendation-summary {
    border-radius: 3px;
    padding: 0.5em 0 0 0.5em;
    margin-bottom: 1em;

    .summary-of-changes-scroll {
        padding-top: 4px;
        height: 100px;
    }

    .amendment-link {
        margin-left: 0.3em;
    }

    ul {
        padding: 0 0 0 32px;
        list-style: none;
        display: table;
        margin-right: 1em;
    }

    li {
        display: table-row;

        & > * {
            display: table-cell;
            padding: 1px;
        }
    }
    .mat-badge-content {
        top: -8px !important;
    }
}

.active-indicator {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 3px;
}
