/* Diffbox */
.diff-box {
    position: relative;
    border-radius: 3px;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 40px;

    &:hover {
        .action-row {
            opacity: 1;
        }
    }

    .action-row {
        position: absolute;
        right: 0;
        font-size: 0.8em;
        opacity: 0.5;
        overflow: hidden;

        .btn-delete {
            margin-left: 5px;
            color: red;
        }

        .btn-edit {
            margin-left: 5px;
        }

        .btn-amend-info {
            margin-left: 5px;
            min-width: 68px;
        }
    }

    .status-row {
        font-style: italic;
        color: gray;

        & > *:after {
            content: ':';
        }
    }
}

.change-recommendation-overview {
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px 10px;

    a,
    a:link,
    a:active {
        text-decoration: none;
    }

    h3 {
        margin-top: 10px;
    }

    ul {
        list-style: none;
        display: table;
    }

    li {
        display: table-row;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        & > * {
            display: table-cell;
            padding: 1px;
        }
    }

    .status {
        color: gray;
        font-style: italic;
    }

    .no-changes {
        font-style: italic;
        color: grey;
    }
}

.active-indicator {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 3px;
}
