/* Diffbox */
.diff-box {
    position: relative;
    border-radius: 3px;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 40px;
    margin-right: 3px;

    &:hover {
        .action-row {
            opacity: 1;
        }
    }

    .action-row {
        position: absolute;
        right: 0;
        font-size: 0.8em;
        opacity: 0.5;
        overflow: hidden;

        .btn-delete {
            margin-left: 5px;
            color: red;
        }

        .btn-edit {
            margin-left: 5px;
        }

        .btn-amend-info {
            margin-left: 5px;
            min-width: 68px;
        }

        .mat-icon-button {
            height: 24px;
            width: 24px;
            line-height: 24px;
        }
    }

    .status-row {
        font-style: italic;
        color: gray;

        & > *:after {
            content: ':';
        }
    }

    .os-split-after {
        margin: 0;
    }
}

.collission-hint {
    position: absolute;
    right: 24px;
}

// vscroll
.motion-scroll {
    height: calc(100vh - 440px);
    min-height: 300px;
}

.change-recommendation-summary {
    margin-bottom: 1em;

    .summary-of-changes-scroll {
        height: 200px;
    }

    a,
    a:link,
    a:active {
        text-decoration: none;
    }

    ul {
        padding: 0;
        list-style: none;
        display: table;
    }

    li {
        display: table-row;

        & > * {
            display: table-cell;
            padding: 1px;
        }
    }
}

.active-indicator {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 3px;
}
