<div
    *ngFor="let banner of banners"
    class="banner"
    [ngClass]="(banner.type === 'history' ? 'history-mode-indicator' : '') + ' ' + (banner.class ? banner.class : '')"
    [ngSwitch]="banner.type"
    [style.background-color]="banner.bgColor"
    [style.color]="banner.color"
>
    <ng-container *ngSwitchCase="'history'">
        <span translate>You are using the history mode of OpenSlides. Changes will not be saved.</span>
        <span>({{ getHistoryTimestamp() }})</span>
        <a (click)="timeTravel.resumeTime()" translate>Exit</a>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <a [routerLink]="banner.link" [style.cursor]="banner.link ? 'pointer' : 'default'">
            <mat-icon>{{ banner.icon }}</mat-icon> <span>{{ banner.text }}</span>
        </a>
    </ng-container>
</div>
