<h4 translate>
    <span translate>Submitters</span>
    <button class="small-button" type="button" mat-icon-button disableRipple *ngIf="!isEditMode" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
    </button>
</h4>

<div *ngIf="!isEditMode">
    <mat-chip-list *ngFor="let submitter of motion.submitters" class="user">
        <mat-chip>{{ submitter.full_name }}</mat-chip>
    </mat-chip-list>
</div>

<div *ngIf="isEditMode">
    <os-sorting-list
        [input]="editSubmitterObservable"
        [live]="true"
        [count]="false"
        (sortEvent)="onSortingChange($event)"
    >
        <!-- implicit user references into the component using ng-template slot -->
        <ng-template let-user>
            <button type="button" mat-icon-button matTooltip="{{ 'Remove' | translate }}" (click)="onRemove(user)">
                <mat-icon>close</mat-icon>
            </button>
        </ng-template>
    </os-sorting-list>

    <form *ngIf="users && users.value.length > 0" [formGroup]="addSubmitterForm">
        <os-search-value-selector
            class="search-users"
            ngDefaultControl
            [form]="addSubmitterForm"
            [formControl]="addSubmitterForm.get('userId')"
            [multiple]="false"
            listname="{{ 'Select or search new submitter ...' | translate }}"
            [InputListValues]="users"
        ></os-search-value-selector>
    </form>

    <p>
        <button type="button" mat-button (click)="onSave()"><span translate>Save</span></button>
        <button type="button" mat-button (click)="onCancel()"><span translate>Cancel</span></button>
    </p>
</div>
