@import '~assets/styles/drag.scss';

.line {
    display: table;
    width: 100%;
    font-size: 14px;
    // required since firefox has issues if this view is not in edit mode
    height: 1px;
    min-height: 50px;
    margin-bottom: 5px;

    .section-one {
        display: table-cell;
        padding: 0 10px;
        line-height: 0px;
        vertical-align: middle;
        width: 50px;
        color: slategrey;
        cursor: move;
    }

    .section-two {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding-left: 20px;

        span + span {
            margin-left: 20px;
        }
    }

    .section-three {
        display: table-cell;
        padding-right: 10px;
        width: auto;
        white-space: nowrap;
    }
}
