@import '~assets/styles/drag.scss';

.line {
    display: table;
    width: 100%;
    font-size: 14px;
    // required since firefox has issues if this view is not in edit mode
    height: 1px;
    min-height: 50px;
    margin-bottom: 5px;

    .drag-indicator {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0.5em;
        line-height: 0px;
        width: 50px;
        color: slategrey;
        cursor: move;
    }

    .count {
        display: table-cell;
        vertical-align: middle;
        min-width: 1.5em;
        padding-left: 0.75em;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding-left: 0.75em;
    }
}
