@import '../../../../assets/styles/drag.scss';

.box {
    width: 100%;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

.box:last-child {
    border: none;
}

.line {
    display: table;
    min-height: 50px;

    .section-one {
        display: table-cell;
        padding: 0 10px;
        line-height: 0px;
        vertical-align: middle;
        width: 50px;
        color: slategrey;
        cursor: move;
    }

    .section-two {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
    }

    .section-three {
        display: table-cell;
        padding-right: 10px;
        vertical-align: middle;
        width: auto;
        white-space: nowrap;
    }
}
