.projector-inactive {
    background-color: white !important;

    mat-icon {
        color: grey !important;
    }
}

/** TODO: Take this from the accent color. Make the hovering visible */

.projector-active {
    background-color: #03a9f4;
    color: white !important;
}

button.mat-menu-item.projector-active:hover {
    background-color: #03a9f4;
}
