<os-head-bar (mainEvent)="goBack()" [mainButton]="true" [nav]="false" [editMode]="true" (saveEvent)="save()">a
    <!-- Title -->
    <div class="title-slot"><h2 translate>Change password</h2></div>
</os-head-bar>
<mat-card class="os-card">
    <div *ngIf="!this.canManage && !this.ownPage">
        <!-- no Admin, cannot Manage (a.k.a Attack Prevention) -->
        <span translate>You are not supposed to be here...</span>
    </div>
    <div *ngIf="this.canManage && !this.ownPage">
        <!-- can Manage, but not own Page (a.k.a. Admin) -->
        <div *ngIf="user">
            <h1><span translate>Change password for</span> {{ user.full_name }}</h1>
            <mat-icon>warning</mat-icon> <span translate>You override the personally set password!</span>
        </div>
        <br>
        <form [formGroup]="adminPasswordForm" (keydown)="onKeyDown($event)">
            <mat-form-field>
                <input
                    [type]="hide_admin_newPassword ? 'password' : 'text'"
                    matInput
                    formControlName="admin_newPassword"
                    placeholder="{{ 'New password' | translate }}"
                />
                <mat-icon
                    matSuffix
                    mat-icon-button
                    (click)="admin_generatePassword()">
                    sync_problem
                </mat-icon>
            </mat-form-field>
        </form>
        <br>
        <div *ngIf="user">
            <span translate>Initial password</span>: {{ user.default_password }}<br>
            <span translate>Username</span>: {{ user.username }}
        </div>
        <br>
        <button
            mat-raised-button
            color="primary"
            (click)="hide_admin_newPassword = !hide_admin_newPassword">
            <mat-icon
                matSuffix
                mat-icon-button>
                {{hide_admin_newPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            &nbsp;<span translate>Show password</span>
        </button>
    </div>
    <div *ngIf="this.ownPage">
        <!-- can not Manage, but own Page (a.k.a. User) -->
        <form [formGroup]="userPasswordForm" (keydown)="onKeyDown($event)">
            <mat-form-field>
                <input
                    [type]="hide_user_password ? 'password' : 'text'"
                    matInput
                    formControlName="user_oldPassword"
                    placeholder="{{ 'Old password' | translate }}"
                />
            </mat-form-field><br>
            <mat-form-field>
                <input
                    [type]="hide_user_password ? 'password' : 'text'"
                    matInput
                    formControlName="user_newPassword1"
                    placeholder="{{ 'New password' | translate }}"
                />
                <mat-icon
                    mat-button matSuffix mat-icon-button
                    (click)="user_generatePassword()">
                    sync_problem
                </mat-icon>
            </mat-form-field><br>
            <mat-form-field>
                <input
                    [type]="hide_user_password ? 'password' : 'text'"
                    matInput
                    formControlName="user_newPassword2"
                    placeholder="{{ 'Confirm new password' | translate }}"
                />
            </mat-form-field>
        </form>
        <button
            mat-raised-button
            color="primary"
            (click)="hide_user_password = !hide_user_password">
            <mat-icon
                matSuffix
                mat-icon-button>
                {{ hide_user_password ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            &nbsp;<span translate>Show password</span>
        </button>
    </div>
</mat-card>
