.projector-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.os-logo-container {
    width: 200px;
    margin-left: 10px;
    background-image: url(/assets/img/openslides-logo-h-dark-transparent.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.os-logo-container:focus,
.os-logo-container:active,
.os-logo-container:hover {
    border: none;
    outline: none;
}

.side-panel {
    border: 0;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 260px;
}

.content {
    min-height: 100%;
    position: relative;
}

mat-sidenav-container {
    height: 100vh;
    width: 100%;
}

.main-nav form {
    margin: 0 1em;
}

.relax {
    position: initial;
    padding-bottom: 70px;
}

.history-mode-indicator {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: repeating-linear-gradient(45deg, #ffee00, #ffee00 10px, #070600 10px, #000000 20px);
    text-align: center;
    line-height: 20px;
    height: 20px;

    span {
        padding: 2px;
        color: #000000;
        background: #ffee00;
    }

    a {
        padding: 2px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        background: #ffee00;
        color: #000000;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 50;
    flex: 1;
    > *:not(router-outlet) {
        flex: 1;
        display: block;
    }
}
