<ng-container *osPerms="'agenda.can_see_list_of_speakers'">
    <ng-container *ngIf="listOfSpeakers">
        <a class="anchor-button" *ngIf="!menuItem" [routerLink]="listOfSpeakersUrl">
            <button type="button" mat-icon-button [disabled]="disabled" [matTooltip]="tooltip | translate">
                <mat-icon
                    [matBadge]="listOfSpeakers.waitingSpeakerAmount > 0 ? listOfSpeakers.waitingSpeakerAmount : null"
                    matBadgeColor="accent"
                >
                    {{ icon }}
                </mat-icon>
            </button>
        </a>

        <button type="button" *ngIf="menuItem" mat-menu-item [routerLink]="listOfSpeakers.listOfSpeakersUrl">
            <mat-icon>{{ icon }}</mat-icon>
            <span>{{ 'List of speakers' | translate }}</span>
            <span>&nbsp;</span>
            <mat-basic-chip disableRipple class="lightblue" *ngIf="listOfSpeakers.waitingSpeakerAmount > 0">
                <span>{{ listOfSpeakers.waitingSpeakerAmount }}</span>
            </mat-basic-chip>
        </button>
    </ng-container>
</ng-container>
