/**
 * OpenSlides motion style
 *
 * :copyright: 2013 by OpenSlides team, see AUTHORS.
 * :license: GNU GPL, see LICENSE for more details.
 */

/* motion version diff table */
table.diff, .diff_row {
    font-size: 12px;
    width: 100%;
    border: 0px;
}
table.diff[rules][rules="groups"] > colgroup, table[rules][rules="groups"] > tfoot, table[rules][rules="groups"] > thead, table[rules][rules="groups"] > tbody {
    border: none;
}
table.diff td {
    padding: 0 !important;
    border: none;
}
.diff_header {
    background-color:#e0e0e0;
}
td.diff_header {
    text-align:right; 
    display: none;
}
.diff_next {
    background-color:#c0c0c0;
    display: none;
}
.diff_add {
    background-color:#aaffaa;
}
.diff_chg {
    background-color:#ffff77;
}
.diff_sub {
    background-color:#ffaaaa;
}
/* motion vote results list */
#motion-vote-results {
    list-style: none;
}
#motion-vote-results li {
    margin-top: 5px;
    margin-bottom: 15px;
}
