@import '~@angular/material/theming';

@mixin os-meta-text-block-style($theme) {
    $foreground: map-get($theme, foreground);

    .meta-container-wrapper {
        padding: 0;
        margin: 20px 0;

        .meta-container-header {
            display: flex;
            width: calc(100% - 32px);
            padding: 16px 16px 0;
            line-height: 1.4;
            .header-heading {
                flex: 2;
                .header-title {
                    font-weight: 300;
                    font-size: 24px;
                }
                .header-subtitle {
                    font-size: 14px;
                }
            }
            .header-action-row {
                flex: 1;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                button {
                    $size: 30px;
                    height: $size;
                    width: $size;
                    line-height: $size;
                    mat-icon {
                        color: mat-color($foreground, icon);
                        font-size: 18px;
                    }
                }
            }

            &.has-divider {
                border-bottom: 1px solid rgba(0, 0, 0, 0.54);
            }
        }

        .mat-card-content {
            margin: 0;
            padding: 16px;
            word-wrap: break-word;

            .content-text--placeholder {
                color: gray;
                text-align: center;
            }

            .content {
                &.collapsed {
                    max-height: 200px;
                    overflow: hidden;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 150px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                    }
                }
            }
            .show-entire-text {
                text-align: end;
                margin-top: 4px;
                a {
                    cursor: pointer;
                }
            }
        }

        .mat-card-footer {
            margin: 0;
            padding: 16px;
        }

        & > *:last-child {
            padding-bottom: 24px;
        }
    }
}
