.meta-text-block {
    padding: 0px;
    margin: 20px 0;
    min-width: 200px;

    mat-card-header {
        display: inherit;
        padding-top: 10px;
        margin: 0;

        .mat-card-header-text {
            margin: 0 10px;
        }
        mat-card-title {
            margin: 0;
            font-size: 16px;
            font-weight: 400;

            .title-container {
                display: flex;
                justify-content: space-between;

                ::ng-deep button {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }

    mat-card-content {
        padding: 15px;
        word-wrap: break-word;
    }
}
