@use '~@angular/material' as mat;

@mixin os-meta-text-block-style($theme) {
    $foreground: map-get($theme, foreground);

    .meta-text-block {
        padding: 0px;
        margin: 20px 0;
        min-width: 200px;

        .mat-icon-button mat-icon {
            color: mat.get-color-from-palette($foreground, icon);
            font-size: 18px;
        }

        mat-card-header {
            display: inherit;
            margin: 0;

            .mat-card-header-text {
                margin: 0 10px;
            }
            mat-card-title {
                margin: 0;
                font-size: 16px;
                font-weight: 400;

                .title-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .action-row {
                        display: flex;
                    }
                }
            }
        }

        mat-card-content {
            padding: 15px;
            word-wrap: break-word;

            .content {
                &.collapsed {
                    max-height: 200px;
                    overflow: hidden;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 150px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                    }
                }
            }

            .show-entire-text {
                text-align: end;
                margin-top: 4px;
                a {
                    cursor: pointer;
                }
            }
        }
    }
}
