<div id="container" [osResized]="resizeSubject" [ngStyle]="containerStyle" #container>
    <div id="projector" [ngStyle]="projectorStyle">
        <div id="header" [ngStyle]="headerFooterStyle" *ngIf="enableHeaderAndFooter">
            <!-- projector logo -->
            <os-logo *ngIf="enableLogo" inputAction="logo_projector_main" class="projector-logo-main"> </os-logo>

            <div *ngIf="enableTitle" id="eventdata">
                <div
                    *ngIf="eventName"
                    class="event-name"
                    [ngClass]="!eventDescription ? 'titleonly' : ''"
                    [innerHTML]="eventName"
                ></div>
                <div *ngIf="eventDescription" class="event-description" [innerHTML]="eventDescription"></div>
            </div>
        </div>

        <div *ngFor="let slide of slides">
            <os-slide-container [slideData]="slide" [scroll]="scroll" [scale]="scale"></os-slide-container>
        </div>

        <div id="footer" [ngStyle]="headerFooterStyle" *ngIf="enableHeaderAndFooter">
            <div class="footertext">
                <span *ngIf="eventDate"> {{ eventDate }} </span>
                <span *ngIf="eventDate && eventLocation"> | </span>
                <span *ngIf="eventLocation"> {{ eventLocation }} </span>
            </div>
        </div>
    </div>
</div>
