@import '~assets/styles/variables.scss';

.poll-content {
    padding-top: 20px;
}

.result-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'chart'
        'results'
        'names';
}

@include desktop {
    .result-wrapper {
        grid-template-areas:
            'results chart'
            'names names';
        grid-template-columns: 2fr 1fr;
    }
}

.result-table {
    grid-area: results;

    tr {
        height: 48px;
        min-height: 48px;
        th:first-child,
        td:first-child {
            padding-left: 24px;
        }
        th:last-child,
        td:last-child {
            padding-right: 24px;
        }

        .result-cell-definition {
            text-align: center;
        }
    }
}

.result-chart {
    grid-area: chart;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.named-result-table {
    grid-area: names;
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}
