@import '~assets/styles/variables.scss';
@import '~assets/styles/poll-colors.scss';

.poll-content {
    padding-top: 20px;
}

.result-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'chart'
        'results'
        'names';
}

@include desktop {
    .result-wrapper {
        grid-template-areas:
            'results chart'
            'names names';
        grid-template-columns: 2fr 1fr;
    }
}

.result-table {
    grid-area: results;

    tr {
        height: 48px;
        min-height: 48px;
        th:first-child,
        td:first-child {
            padding-left: 24px;
        }
        th:last-child,
        td:last-child {
            padding-right: 24px;
        }

        .result-cell-definition {
            text-align: center;
        }
    }
}

.result-chart {
    grid-area: chart;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.named-result-table {
    grid-area: names;
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    .vote-cell {
        display: flex;
        align-items: center;

        .vote-cell-icon-container {
            display: flex;
            align-items: center;
            margin-right: 7px;
        }
    }
}

.single-votes-table {
    height: 500px;
}

.openslides-theme os-list-view-table os-sort-filter-bar .custom-table-header {
    &,
    .action-buttons .input-container input {
        background: white;
    }
}

.voted-yes {
    color: $votes-yes-color;
}

.voted-no {
    color: $votes-no-color;
}

.voted-abstain {
    color: $votes-abstain-color;
}

.openslides-theme .pbl-ngrid-no-data {
    top: 10%;
}
