<os-head-bar [goBack]="true" [nav]="false">
    <div class="title-slot">
        <h2 *ngIf="poll">{{ 'Motion' | translate }} {{ poll.motion.id }}</h2>
    </div>

    <div class="menu-slot" *osPerms="'agenda.can_manage'; or: 'agenda.can_see_list_of_speakers'">
        <button type="button" mat-icon-button [matMenuTriggerFor]="pollDetailMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</os-head-bar>

<mat-card class="os-card">
    <ng-container [ngTemplateOutlet]="viewTemplate"></ng-container>
</mat-card>

<!-- Detailview for poll -->
<ng-template #viewTemplate>
    <ng-container *ngIf="poll">
        <h1>{{ poll.title }}</h1>
        <span *ngIf="poll.type !== 'analog'">{{ 'Polly type' | translate }}: {{ poll.type | translate }}</span>
        <os-breadcrumb [breadcrumbs]="breadcrumbs"></os-breadcrumb>

        <div *ngIf="poll.stateHasVotes">
            <h2 translate>Result</h2>

            <div *ngIf="!poll.hasVotes">{{ 'No results to show' | translate }}</div>

            <div class="result-wrapper" *ngIf="poll.hasVotes">
                <!-- Chart -->
                <os-charts
                    class="result-chart"
                    *ngIf="chartDataSubject.value"
                    [type]="chartType"
                    [showLegend]="true"
                    [data]="chartDataSubject"
                ></os-charts>

                <!-- result table -->
                <mat-table class="result-table" [dataSource]="poll.tableData">
                    <ng-container matColumnDef="key" sticky>
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.key }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="value" sticky>
                        <mat-header-cell *matHeaderCellDef>Votes</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.value }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnDefinition"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnDefinition"></mat-row>
                </mat-table>

                <!-- Named table: only show if votes are present -->
                <ng-container *ngIf="poll.type === 'named' && votesDataSource.data">
                    <input matInput [(ngModel)]="votesDataSource.filter" placeholder="Filter"/>
                    <mat-table [dataSource]="votesDataSource">
                        <ng-container matColumnDef="key" sticky>
                            <mat-header-cell *matHeaderCellDef>{{ "User" | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let vote">
                                <div *ngIf="vote.user">{{ vote.user.getFullName() }}</div>
                                <div *ngIf="!vote.user">{{ 'Unknown user' | translate }}</div>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value" sticky>
                            <mat-header-cell *matHeaderCellDef>{{ "Vote" | translate }}</mat-header-cell>
                            <mat-cell *matCellDef="let vote">{{ vote.valueVerbose }}</mat-cell>
                        </ng-container>
            
                        <mat-header-row *matHeaderRowDef="columnDefinition"></mat-header-row>
                        <mat-row *matRowDef="let vote; columns: columnDefinition"></mat-row>
                    </mat-table>
                </ng-container>
            </div>
        </div>

        <div class="poll-content small">
            <div *ngIf="poll.groups && poll.type && poll.type !== 'analog'">
                {{ 'Groups' | translate }}:

                <span *ngFor="let group of poll.groups; let i = index">
                    {{ group.getTitle() | translate }}<span *ngIf="i < poll.groups.length - 1">, </span>
                </span>
            </div>
            <div>{{ 'Majority method' | translate }}: {{ poll.majorityMethodVerbose | translate }}</div>
            <div>{{ '100% base' | translate }}: {{ poll.percentBaseVerbose | translate }}</div>
        </div>

        <div *ngIf="poll.state === 2">
            <os-poll-progress [poll]="poll"></os-poll-progress>
        </div>
    </ng-container>
</ng-template>

<!-- More Menu -->
<mat-menu #pollDetailMenu="matMenu">
    <os-projector-button [menuItem]="true" [object]="poll" *osPerms="'core.can_manage_projector'"></os-projector-button>
    <button mat-menu-item (click)="openDialog()">
        <mat-icon>edit</mat-icon>
        <span translate>Edit</span>
    </button>
    <button mat-menu-item *ngIf="poll && poll.type === 'named'" (click)="pseudoanonymizePoll()">
        <mat-icon>polymer</mat-icon>
        <span translate>Pseudoanonymize</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="deletePoll()">
        <mat-icon color="warn">delete</mat-icon>
        <span translate>Delete</span>
    </button>
</mat-menu>
