/* Line numbers */
.motion-text {
    ins {
        color: green;
        text-decoration: underline;
    }

    del {
        color: red;
        text-decoration: line-through;
    }

    li {
        padding-bottom: 10px;
    }

    ul {
        margin-bottom: 0px;
    }

    .highlight {
        background-color: #ff0;
    }
    &.line-numbers-outside {
        padding-left: 40px;
        position: relative;

        .os-line-number {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            width: 22px;
            height: 22px;
            position: absolute;
            left: -20px;
            padding-right: 55px;

            &:after {
                content: attr(data-line-number);
                position: absolute;
                top: 10px;
                vertical-align: top;
                color: gray;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

    &.line-numbers-inline {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: inline-block;

            &:after {
                display: inline-block;
                content: attr(data-line-number);
                vertical-align: top;
                font-size: 10px;
                font-weight: normal;
                color: gray;
                margin-top: -3px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &.line-numbers-none {
        .os-line-break {
            display: none;
        }

        .os-line-number {
            display: none;
        }
    }
}
