@import "diff";
@import "change-recommendation-overview";
@import "inline-editing";
@import "line-numbering";
@import "personal-note";
@import "pollresults";

/* Motion */
.motion-toolbar, .speakers-toolbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 12px 0 10px 0;
    height: 54px;
    margin: -20px -5px 50px -5px;
}

.motion-toolbar:first-child {
    margin-bottom: 20px;
}

/* Styles for annotating the original motion text with change recommendations */
#content .motion-text-holder {
    position: relative;

    .change-recommendation-list {
        position: absolute;
        top: 0;
        left: -10px;
        width: 4px;
        list-style-type: none;
        margin: 0;

        & > li {
            position: absolute;
            width: 4px;
            cursor: pointer;

            &.insert {
                background-color: #00aa00;
            }

            &.delete {
                background-color: #aa0000;
            }

            &.replace {
                background-color: #0333ff;
            }

            &.other {
                background-color: #777777;
            }
        }

        .tooltip {
            display: none;
        }
    }
}

.import-preview p {
    margin: 0;
    padding: 0;
}

.motion-toolbar .toolbar-left {
    margin-top: 0;
    margin-bottom: 55px;
    margin-left: 15px;

    > * {
        margin-right: 5px;
    }

    .btn.disabled {
        cursor: default;
        opacity: 1;
        background-color: #eee;
    }
}

.inline-editing-activator {
    margin-right: 13px;
}

/* Linenumbering specific site things */
.os-line-number {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.os-line-number:after {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* TODO: This rule should only apply to the site. Isn't this inconsistent?? */
.motion-text.line-numbers-outside .os-line-number:after {
    left: 20px;
}

@mixin addChangeRecommendationBtn {
    cursor: pointer;
    content: "\f067";
    width: 14px;
    height: 14px;
    border-radius: 0.25em;
    font-family: FontAwesome;
    font-size: 12px;
    color: white;
    line-height: 16px;
    text-align: center;
    background-color: #337ab7;
}

.line-numbers-outside .os-line-number.selectable:hover:before, .line-numbers-outside .os-line-number.selected:before {
    position: absolute;
    top: 4px;
    left: 43px;
    display: inline-block;
    @include addChangeRecommendationBtn();
}

.motion-header {
  .submenu {
    position: relative;
    z-index: 2;
  }
  .motion-title {
    position: relative;
    z-index: 1;

    // Grab the left padding of the parent element to catch hover-events for the :before element
    margin-left: -20px;
    padding-left: 20px;

    .change-title {
        position: relative;
        width: 0;
        height: 0;
    }
    .change-title:before {
        position: absolute;
        top: 18px;
        left: -17px;
        @include addChangeRecommendationBtn();
        display: none;
    }
    &:hover .change-title.selectable:before {
        display: block;
    }
    .title-change-indicator {
        background-color: #0333ff;
        position: absolute;
        width: 4px;
        height: 32px;
        left: 10px;
        top: 5px;
        cursor: pointer;
    }
  }
}


.tt_change_recommendation_create_help {
    display: none;
    max-width: 150px;
    left: -45px;
    margin-top: -15px !important;
    z-index: 10000;
}

/* special hack for firefox only (see issue#2967) */
@-moz-document url-prefix() {
    .tt_change_recommendation_create_help {
        margin-top: -20px !important;
    }
}

.tt_change_recommendation_create_help.opened {
    display: inherit;
    opacity: 0.8;
}

/* Diffbox */
.diff-box {
    background-color: #f9f9f9;
    border: solid 1px #eee;
    border-radius: 3px;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 155px;

    &:hover {
        background-color: #f0f0f0;

        .action-row {
            opacity: 1;
        }
    }

    .action-row {
        font-size: 0.8em;
        padding-top: 5px;
        padding-bottom: 5px;
        float: right;
        width: 150px;
        text-align: right;
        margin-right: -150px;
        opacity: 0.5;

        .btn-delete {
            margin-left: 5px;
            color: red;
        }

        .btn-edit {
            margin-left: 5px;
        }
    }
    .status-row {
        font-style: italic;
        color: gray;

        & > *:after {
            content: ':';
        }
    }
}

.diff-box-title {
    margin-bottom: 10px;
    .description {
        font-weight: bold;
    }
}

.motion-text-with-diffs.line-numbers-inline .diff-box, .motion-text-with-diffs.line-numbers-none .diff-box {
    margin-right: -220px;
}
