<div class="poll-preview-wrapper">
    <div class="poll-title-wrapper" *ngIf="poll">
        <div class="poll-title">{{ poll.title }}</div>
        <span class="poll-title-actions">
            <button mat-icon-button (click)="edit.emit()">
                <mat-icon class="small-icon">edit</mat-icon>
            </button>
        </span>
        <div class="poll-properties">
            <mat-chip *ngIf="pollService.isElectronicVotingEnabled">{{ getMotionPollType() }}</mat-chip>
            <mat-chip
                class="poll-state active"
                *ngIf="poll.state !== 2"
                [matMenuTriggerFor]="triggerMenu"
                [ngClass]="getMotionPollState().toLowerCase()"
            >
                {{ getMotionPollState() }}
            </mat-chip>
            <mat-chip class="poll-state" *ngIf="poll.state === 2" [ngClass]="getMotionPollState().toLowerCase()">
                {{ getMotionPollState() }}
            </mat-chip>
        </div>
    </div>
    <div class="poll-chart-wrapper" *ngIf="poll" (click)="openPoll()">
        <ng-container *ngIf="poll.state === 3 || poll.state === 4" [ngTemplateOutlet]="viewTemplate"></ng-container>
        <ng-container *ngIf="poll.state === 1 || poll.state === 2" [ngTemplateOutlet]="emptyTemplate"></ng-container>
    </div>
    <div class="poll-preview-result-wrapper"></div>
</div>

<ng-template #viewTemplate>
    <div class="chart-wrapper-left">
        <mat-icon>close</mat-icon>
        : {{ voteNo }}
    </div>
    <div class="doughnut-chart">
        <os-charts [type]="'doughnut'" [data]="chartDataSubject" [showLegend]="false"> </os-charts>
    </div>
    <div class="chart-wrapper-right">
        <mat-icon>check</mat-icon>
        : {{ voteYes }}
    </div>
</ng-template>

<ng-template #emptyTemplate>
    <div>
        An empty poll - you have to enter votes.
    </div>
</ng-template>

<mat-menu #triggerMenu="matMenu">
    <ng-container *ngIf="poll">
        <button
            mat-menu-item
            (click)="state === 'Reset' ? pollRepo.resetPoll(poll) : pollRepo.changePollState(poll)"
            *ngFor="let state of poll.nextStates"
        >
            <span translate>{{ state }}</span>
        </button>
    </ng-container>
</mat-menu>
