<os-meta-text-block class="projector-tile" showActionRow="false" *ngIf="projector" [disableExpandControl]="true">
    <ng-container class="meta-text-block-title">
        {{ projector.getTitle() | translate }}
    </ng-container>
    <ng-container class="meta-text-block-action-row" *osPerms="'core.can_manage_projector'">
        <button
            mat-icon-button
            (click)="onSetAsClosRef()"
            matTooltip="{{ 'Sets this projector as the reference for the current list of speakers' | translate }}"
        >
            <mat-icon *ngIf="projector.isReferenceProjector">star</mat-icon>
            <mat-icon *ngIf="!projector.isReferenceProjector">star_border</mat-icon>
        </button>
        <button mat-icon-button (click)="editProjector()" matTooltip="{{ 'Edit projector' | translate }}">
            <mat-icon>edit</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            (click)="onDeleteButton()"
            matTooltip="{{ 'Delete projector' | translate }}"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </ng-container>
    <ng-container class="meta-text-block-content">
        <a class="no-markup" [routerLink]="getDetailLink()" [target]="projectionTarget">
            <div class="projector">
                <os-projector [projector]="projector"></os-projector>
            </div>
        </a>
    </ng-container>
</os-meta-text-block>
