.projector {
    width: 320px;
    color: black;
    border: 1px solid lightgrey;
}

form {
    margin-top: 10px;
}

::ng-deep mat-card {
    margin: 0;
}

.no-markup {
    /* Do not let the a tag ruin the projector */
    color: inherit;
    text-decoration: inherit;
}
