.projector-tile {
    height: 100%;
    display: block;

    > div {
        height: 100%;

        .meta-text-block {
            margin: 0 !important;
            height: 100%;
        }
    }
}

.no-markup > div {
    border: 1px solid lightgray;
}

.projector {
    color: black;
}
