<div class="form-group">
  <div ng-if="to.label">
    <label class="control-label">
      {{ to.label | translate }}
    </label>
  </div>
  <div class="btn-group">
    <label ng-repeat="option in to.options" class="btn btn-default btn-sm"
      ng-class="{active: (model[options.key] === option.value)}"
      ng-disabled="option.disabled">
      <input type="radio" ng-value="option.value"
        ng-model="model[options.key]" ng-checked="model[options.key] === option.value"
        ng-disabled="option.disabled" ng-change="to.change(option.value)">
        {{ option.name | translate }}
    </label>
  </div>
</div>
