<div ng-controller="SlideCustomSlideCtrl" class="content scrollcontent">
  <h1>{{ customslide.agenda_item.getTitle() }}</h1>
  <div ng-bind-html="customslide.text | trusted">
  </div>
  <div ng-if="overlay && customslide.agenda_item.speakers.length">
    <div id="speakerbox">
      <h3 translate>List of speakers</h3>
      <p ng-repeat="speaker in lastSpeakers = (customslide.agenda_item.speakers| filter: {end_time: '!!', begin_time: '!!'}) |
         limitTo: config('agenda_show_last_speakers') : (lastSpeakers.length - config('agenda_show_last_speakers'))" 
         class="lastSpeakers">
         {{ speaker.user.get_full_name() }}
      <p ng-repeat="speaker in customslide.agenda_item.speakers | filter: {end_time: null, begin_time: '!!'} "
        class="currentSpeaker">
        <i class="fa fa-microphone fa-lg"></i> {{ speaker.user.get_full_name() }}
      <ol class="nextSpeakers">
         <li ng-repeat="speaker in customslide.agenda_item.speakers | filter: {begin_time: null} | orderBy:'weight' | limitTo: 3">
         {{ speaker.user.get_full_name() }}
      </ol>
    </div>
  </div>
</div>
