<h1 ng-if="model.id" translate>Edit tag</h1>
<h1 ng-if="!model.id" translate>New tag</h1>

<div uib-alert ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')" close="alert={}">
  {{ alert.msg }}
</div>

<form name="userForm" ng-submit="save(model)">
  <formly-form model="model" fields="formFields">
    <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary" translate>
      Save
    </button>
    <button ng-click="closeThisDialog()" class="btn btn-default" translate>
      Cancel
    </button>
  </formly-form>
</form>
