/*
 * Extra style for OpenSlides documentation
 */

img.screenshot {
    border: 1px solid lightgrey;
    padding: 4px;
    margin-bottom: 10px;
}
h2  {
    margin-top: 35px !important;
}
a.headerlink {
    visibility: hidden;
}
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
    visibility: visible;
}

table.workflow-table caption {
    display: none;
}
