---
name: build-stable
on:
  push:
    branches:
      - stable*
  workflow_dispatch:

jobs:
  build:
    name: 'Call build-images'
    uses: ./.github/workflows/build-images.yml
    secrets: inherit
