---
name: Run integration tests (reusable)
on:
  workflow_call:

jobs:
  run-tests:
    name: 'Runs integration tests'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use example data instead of initial data
        working-directory: "./openslides-backend/global/data/"
        run: cp example-data.json initial-data.json

      - name: Start setup
        working-directory: "./dev/localprod"
        run: |
          ./setup.sh
          echo -n "admin" > secrets/superadmin
          docker compose build --parallel
          docker compose up -d

      - name: Wait for dev setup
        uses: iFaxity/wait-on-action@v1.1.0
        with:
          resource: https://localhost:8000
          timeout: 30000

      - name: Start tests
        working-directory: "./openslides-client"
        run: make run-playwright

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: "./openslides-client/client/tests/playwright-report/"
          retention-days: 7

      - name: Shut down setup
        if: always()
        working-directory: "./dev/localprod"
        run: docker compose down --volumes --remove-orphans
