---
name: Run integration tests
on: [push, pull_request]

jobs:
  run-tests:
    name: 'Runs integration tests'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Copy example data
        run: cp openslides-backend/global/data/example-data.json openslides-datastore-service/cli/

      - name: Start setup
        working-directory: "./dev/localprod"
        run: |
          ./setup.sh
          sed -i '/x-default-environment/a \ \ DATASTORE_INITIAL_DATA_FILE: cli/example-data.json' docker-compose.yml
          docker-compose build --parallel
          docker-compose up -d

      - name: Wait for dev setup
        uses: iFaxity/wait-on-action@v1.1.0
        with:
          resource: https://localhost:8000
          timeout: 30000

      - name: Setup initial data
        working-directory: "./dev/localprod"
        run: docker-compose exec -T datastoreWriter python cli/create_initial_data.py

      - name: Start tests 
        working-directory: "./openslides-client"
        run: make run-playwright

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: "./openslides-client/client/tests/playwright-report/"
          retention-days: 7

      - name: Shut down setup
        if: always()
        working-directory: "./dev/localprod"
        run: docker-compose down --volumes --remove-orphans
