---
name: Run integration tests (cypress)
on: [push, pull_request]

jobs:
  run-cypress:
    name: 'Runs integration tests in cypress'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Build and run OS4 Dev
        run: make run-dev ARGS="-d"

      - name: Run integration tests (cypress)
        uses: cypress-io/github-action@v2
        with:
          working-directory: integration
          wait-on: 'https://localhost:8000'
          wait-on-timeout: 300
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: 0
