version: "3"
services:
  datastore-reader:
    build:
        context: ../../openslides-datastore-service
        target: "dev"
        args:
            CONTEXT: "dev"
            MODULE: "reader"
            PORT: "9010"
    image: openslides-datastore-reader-dev
    depends_on:
      - postgres
    env_file: services.env
    environment:
      - NUM_WORKERS=8
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-datastore-service/datastore:/app/datastore
    ports:
      - 9010:9010
      - 5680:5678

  datastore-writer:
    build:
        context: ../../openslides-datastore-service
        target: "dev"
        args:
            CONTEXT: "dev"
            MODULE: "writer"
            PORT: "9011"
    image: openslides-datastore-writer-dev
    depends_on:
      - postgres
      - redis
    env_file: services.env
    volumes:
      - ../../openslides-datastore-service/datastore:/app/datastore
      - ../../openslides-datastore-service/cli:/app/cli
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    ports:
      - 9011:9011
      - 5679:5678

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=openslides
      - POSTGRES_PASSWORD=openslides
      - POSTGRES_DB=openslides

  client:
    build:
        context: ../../openslides-client
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-client-dev
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-client/client/src:/app/src
      - ../../openslides-client/client/cli:/app/cli
      - ../../openslides-client/packages/openslides-motion-diff/src:/packages/openslides-motion-diff/src

  backend:
    build:
        context: ../../openslides-backend
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-backend-dev
    depends_on:
      - datastore-reader
      - datastore-writer
      - auth
    env_file: services.env
    ports:
        - "9002:9002"
        - "9003:9003"
        - "5678:5678"
    environment:
      - OPENSLIDES_DEVELOPMENT=1
      - EMAIL_HOST=mailhog
      - EMAIL_PORT=1025
      # - EMAIL_HOST_USER username
      # - EMAIL_HOST_PASSWORD secret
      # EMAIL_CONNECTION_SECURITY use NONE, STARTTLS or SSL/TLS
      - EMAIL_CONNECTION_SECURITY=NONE
      - EMAIL_TIMEOUT=5
      - EMAIL_ACCEPT_SELF_SIGNED_CERTIFICATE=false
      - DEFAULT_FROM_EMAIL=noreply@example.com
      - OPENSLIDES_BACKEND_CREATE_INITIAL_DATA=1
    volumes:
      - ../../openslides-backend/openslides_backend:/app/openslides_backend
      - ../../openslides-backend/tests:/app/tests
      - ../../openslides-backend/cli:/app/cli
      - ../../openslides-backend/data:/app/data
      - ../../openslides-backend/meta:/app/meta
      - ../../openslides-backend/scripts:/app/scripts

  autoupdate:
    build:
        context: ../../openslides-autoupdate-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-autoupdate-dev
    depends_on:
      - datastore-reader
      - redis
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
      - DATASTORE_TIMEOUT=30
    volumes:
      - ../../openslides-autoupdate-service/cmd:/app/openslides-autoupdate-service/cmd
      - ../../openslides-autoupdate-service/internal:/app/openslides-autoupdate-service/internal
      - ../../openslides-autoupdate-service/pkg:/app/openslides-autoupdate-service/pkg
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/autoupdate.work:/app/go.work
    ports:
      - "9012:9012"

  icc:
    build:
        context: ../../openslides-icc-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-icc-dev
    depends_on:
      - datastore-reader
      - redis
      - auth
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-icc-service/cmd:/app/openslides-icc-service/cmd
      - ../../openslides-icc-service/internal:/app/openslides-icc-service/internal
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/icc.work:/app/go.work
    ports:
      - "9007:9007"

  search:
    build:
        context: ../../openslides-search-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-search-dev
    depends_on:
      - autoupdate
      - backend
      - postgres
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-search-service/cmd:/app/openslides-search-service/cmd
      - ../../openslides-search-service/pkg:/app/openslides-search-service/pkg
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/search.work:/app/go.work
    ports:
      - "9050:9050"

  auth:
    build:
        context: ../../openslides-auth-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-auth-dev
    depends_on:
      - datastore-reader
      - redis
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-auth-service/auth/src:/app/src
    ports:
      - "9004:9004"

  media:
    build:
        context: ../../openslides-media-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-media-dev
    depends_on:
      - backend
      - postgres
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-media-service/src:/app/src

  manage:
    build:
        context: ../../openslides-manage-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-manage-dev
    depends_on:
      - auth
      - datastore-writer
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    ports:
      - "9008:9008"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  proxy:
    build:
        context: ../../openslides-proxy
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-proxy-dev
    depends_on:
      - client
      - backend
      - autoupdate
    ports:
      - "8000:8000"

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: "none" # disable saving logs
    ports:
      - "8025:8025" # web ui to check mails manually

  vote:
    build:
        context: ../../openslides-vote-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-vote-dev
    depends_on:
      - auth
      - redis
      - datastore-reader
      - postgres
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
      - VOTE_DISABLE_LOG=true
    volumes:
      - ../../openslides-vote-service/cmd:/app/openslides-vote-service/cmd
      - ../../openslides-vote-service/internal:/app/openslides-vote-service/internal
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/vote.work:/app/go.work
    ports:
      - "9013:9013"
