
x-default-environment: &default-environment
  MESSAGE_BUS_HOST: redis
  CACHE_HOST: redis
  CACHE_PORT: 6379
  DATABASE_HOST: postgres
  DATABASE_PORT: 5432
  DATABASE_NAME: openslides
  DATABASE_USER: openslides
  PGPASSWORD: openslides
  OPENSLIDES_DEVELOPMENT: 1

services:
  postgres:
    image: postgres:15
    environment:
      << : *default-environment
      POSTGRES_USER: openslides
      POSTGRES_PASSWORD: openslides
      POSTGRES_DB: openslides

  client:
    build:
        context: ../../openslides-client
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-client-dev
    env_file: services.env
    environment:
      << : *default-environment
    volumes:
      - ../../openslides-client/client/src:/app/src
      - ../../openslides-client/client/cli:/app/cli
      - ../../openslides-client/packages/openslides-motion-diff/src:/packages/openslides-motion-diff/src

  backend:
    build:
        context: ../../openslides-backend
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-backend-dev
    depends_on:
      - auth
    env_file: services.env
    ports:
      - "9002:9002"
      - "9003:9003"
      - "5678:5678"
    environment:
      << : *default-environment
      EMAIL_HOST: mailhog
      EMAIL_PORT: 1025
      # - EMAIL_HOST_USER username
      # - EMAIL_HOST_PASSWORD secret
      # EMAIL_CONNECTION_SECURITY use NONE, STARTTLS or SSL/TLS
      EMAIL_CONNECTION_SECURITY: NONE
      EMAIL_TIMEOUT: 5
      EMAIL_ACCEPT_SELF_SIGNED_CERTIFICATE: false
      DEFAULT_FROM_EMAIL: noreply@example.com
      OPENSLIDES_BACKEND_CREATE_INITIAL_DATA: 1
    volumes:
      - ../../openslides-backend/openslides_backend:/app/openslides_backend
      - ../../openslides-backend/tests:/app/tests
      - ../../openslides-backend/cli:/app/cli
      - ../../openslides-backend/data:/app/data
      - ../../openslides-backend/meta:/app/meta      
      - ../../openslides-backend/requirements:/app/requirements
      - ../../openslides-backend/scripts:/app/scripts

  autoupdate:
    build:
        context: ../../openslides-autoupdate-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-autoupdate-dev
    depends_on:
      - redis
    env_file: services.env
    environment:
      << : *default-environment
      DATASTORE_TIMEOUT: 30
    volumes:
      - ../../openslides-autoupdate-service/internal:/app/openslides-autoupdate-service/internal
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/autoupdate.work:/app/go.work
    ports:
      - "9012:9012"

  icc:
    build:
        context: ../../openslides-icc-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-icc-dev
    depends_on:
      - redis
      - auth
    env_file: services.env
    environment:
      << : *default-environment
    volumes:
      - ../../openslides-icc-service/internal:/app/openslides-icc-service/internal
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/icc.work:/app/go.work
    ports:
      - "9007:9007"

  search:
    build:
        context: ../../openslides-search-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-search-dev
    depends_on:
      - autoupdate
      - backend
      - postgres
    env_file: services.env
    environment:
      << : *default-environment
    volumes:
      - ../../openslides-search-service/cmd:/app/openslides-search-service/cmd
      - ../../openslides-search-service/pkg:/app/openslides-search-service/pkg
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/search.work:/app/go.work
    ports:
      - "9050:9050"

  projector:
    build:
        context: ../../openslides-projector-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-projector-dev
    depends_on:
      - autoupdate
      - backend
      - postgres
    env_file: services.env
    environment:
      - OPENSLIDES_DEVELOPMENT=1
    volumes:
      - ../../openslides-projector-service/cmd:/root/openslides-projector-service/cmd
      - ../../openslides-projector-service/pkg:/root/openslides-projector-service/pkg
      - ../../openslides-projector-service/locale:/root/openslides-projector-service/locale
      - ../../openslides-projector-service/templates:/root/openslides-projector-service/templates
      - ../../openslides-projector-service/web:/root/openslides-projector-service/web
      - ../../lib/openslides-go:/root/lib/openslides-go
      - ./workspaces/projector.work:/root/go.work
    ports:
      - "9051:9051"

  auth:
    build:
        context: ../../openslides-auth-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-auth-dev
    depends_on:
      - redis
    env_file: services.env
    environment:
      << : *default-environment
    volumes:
      - ../../openslides-auth-service/auth/src:/app/src
      - ../../openslides-auth-service/auth/libraries:/app/libraries
      - ../../openslides-auth-service/auth/test:/app/test
    ports:
      - "9004:9004"

  media:
    build:
        context: ../../openslides-media-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-media-dev
    depends_on:
      - backend
      - postgres
    env_file: services.env
    environment:
      << : *default-environment
    volumes:
      - ../../openslides-media-service/src:/app/src

  manage:
    build:
        context: ../../openslides-manage-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-manage-dev
    depends_on:
      - auth
    env_file: services.env
    environment:
      << : *default-environment
    ports:
      - "9008:9008"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    environment:
      << : *default-environment

  proxy:
    build:
        context: ../../openslides-proxy
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-proxy-dev
    environment:
      << : *default-environment
    depends_on:
      - client
      - backend
      - autoupdate
    ports:
      - "8000:8000"

  mailhog:
    image: mailhog/mailhog
    environment:
      << : *default-environment
    logging:
      driver: "none" # disable saving logs
    ports:
      - "8025:8025" # web ui to check mails manually

  vote:
    build:
        context: ../../openslides-vote-service
        target: "dev"
        args:
            CONTEXT: "dev"
    image: openslides-vote-dev
    depends_on:
      - auth
      - redis
      - postgres
    env_file: services.env
    environment:
      << : *default-environment
      VOTE_DISABLE_LOG: true
    volumes:
      - ../../openslides-vote-service/vote:/app/openslides-vote-service/vote
      - ../../lib/openslides-go:/app/lib/openslides-go
      - ./workspaces/vote.work:/app/go.work
    ports:
      - "9013:9013"
