<os-head-bar appName="Categories" [plusButton]=true (plusButtonClicked)=onPlusButton()>
</os-head-bar>
<div class='custom-table-header on-transition-fade'>
        <button mat-button>
            <mat-icon>search</mat-icon>
        </button>
    </div>
<mat-accordion class="os-card">
    <mat-expansion-panel [ngClass]="{new: category.id === undefined}" *ngFor="let category of this.dataSource" (opened)="panelOpening('true', category)" (closed)="panelOpening('false', category)"
        multiple="false">
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="!category.edit">
                {{category.name}}
            </mat-panel-title>
            <mat-panel-title *ngIf="category.edit">
                {{this.formGroup.get('name').value}}
            </mat-panel-title>
            <mat-panel-description *ngIf="!category.edit">
                {{category.prefix}}
            </mat-panel-description>
            <mat-panel-description *ngIf="category.edit">
                {{this.formGroup.get('prefix').value}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]='this.formGroup' *ngIf="category.edit" (keydown)="keyDownFunction($event, category)">
            <span translate>Edit category details:</span><br>
            <mat-form-field>
                <input formControlName="name" matInput placeholder="{{'Name' | translate}}">
                <small *ngIf="!this.formGroup.controls.name.valid">
                    <span translate>Required</span>
                </small>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="prefix" matInput placeholder="{{'Prefix' | translate}}">
                <small *ngIf="!this.formGroup.controls.prefix.valid">
                    <span translate>Required</span>
                </small>
            </mat-form-field>
        </form>
        <mat-action-row>
            <button *ngIf="!category.edit" mat-button class='on-transition-fade' (click)=onEditButton(category)
                mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="category.edit" mat-button class='on-transition-fade' (click)=onCancelButton(category)
                mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="category.edit" mat-button class='on-transition-fade' (click)=onSaveButton(category)
                mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
            <button mat-button class='on-transition-fade' (click)=onDeleteButton(category) mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
