<os-head-bar [nav]="false" [mainButton]="true" (mainEvent)="onPlusButton()">
    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Categories</h2>
    </div>
</os-head-bar>
<div class="custom-table-header"></div>

<!-- Creating a new category -->
<mat-card *ngIf="categoryToCreate">
    <mat-card-title translate>Create new category</mat-card-title>
    <mat-card-content>
        <form [formGroup]="createForm" (keydown)="keyDownFunction($event)">
            <p>
                <!-- Prefix field -->
                <mat-form-field>
                    <input formControlName="prefix" matInput placeholder="{{'Prefix' | translate}}" required>
                    <mat-hint *ngIf="!createForm.controls.name.valid">
                        <span translate>Required</span>
                    </mat-hint>
                </mat-form-field>

                <!-- Name field -->
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="{{'Name' | translate}}" required>
                    <mat-hint *ngIf="!createForm.controls.name.valid">
                        <span translate>Required</span>
                    </mat-hint>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>

    <!-- Save and Cancel buttons -->
    <mat-card-actions>
        <button mat-button (click)="onCreateButton()">
            <span translate>Save</span>
        </button>
        <button mat-button (click)="categoryToCreate = null">
            <span translate>Cancel</span>
        </button>
    </mat-card-actions>
</mat-card>

<mat-accordion class="os-card">
    <mat-expansion-panel *ngFor="let category of categories" (opened)="openId = category.id" (closed)="panelClosed(category)"
    [expanded]="openId === category.id" multiple="false">

        <!-- Header shows Prefix and name -->
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="header-container">
                    <div class="header-prefix">
                        <div *ngIf="editId !== category.id">
                            {{ category.prefix }}
                        </div>
                        <div *ngIf="editId === category.id">
                            {{ updateForm.get('prefix').value }}
                        </div>
                    </div>
                    <div class="header-name">
                        <div *ngIf="editId !== category.id">
                            {{ category.name }}
                        </div>
                        <div *ngIf="editId === category.id">
                            {{ updateForm.get('name').value }}
                        </div>
                    </div>
                    <div class="header-size">
                        {{ motionsInCategory(category).length }}
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Edit form shows during the edit event -->
        <form id="updateForm" [formGroup]='updateForm' *ngIf="editId === category.id" (keydown)="keyDownFunction($event, category)">
            <span translate>Edit category:</span>:<br>

            <mat-form-field>
                <input formControlName="prefix" matInput placeholder="{{'Prefix' | translate}}" required>
                <mat-hint *ngIf="!updateForm.controls.prefix.valid">
                    <span translate>Required</span>
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="name" matInput placeholder="{{'Name' | translate}}" required>
                <mat-hint *ngIf="!updateForm.controls.name.valid">
                    <span translate>Required</span>
                </mat-hint>
            </mat-form-field>
        </form>

        <!-- Show and sort corresponding motions-->
        <div *ngIf="motionsInCategory(category).length > 0">
            <span translate>Motions</span>:
            <div *ngIf="editId !== category.id">
                <ul *ngFor="let motion of motionsInCategory(category)">
                    <li>{{ motion }}</li>
                </ul>
            </div>
            <div *ngIf="editId === category.id">
                <os-sorting-list [input]="motionsInCategory(category)" #sorter></os-sorting-list>
            </div>
        </div>

        <!-- Buttons to edit, delete, save ... -->
        <mat-action-row>
            <button mat-icon-button *ngIf="editId !== category.id" class='on-transition-fade' (click)=onEditButton(category)>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editId === category.id" class='on-transition-fade' (click)=onCancelButton()>
                <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editId === category.id" class='on-transition-fade' (click)=onSaveButton(category)>
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button mat-button class='on-transition-fade' (click)=onDeleteButton(category)>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>
