<os-head-bar [nav]="false" [backButton]=true [allowEdit]="false">

    <!-- Title -->
    <div class="title-slot">
        <h2 translate>Categories</h2>
    </div>

    <!-- Use the menu slot for an add button -->
    <div class="menu-slot">
        <button type="button" mat-icon-button (click)="onPlusButton()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</os-head-bar>

<div class='custom-table-header on-transition-fade'>
    <button mat-button>
        <mat-icon>search</mat-icon>
    </button>
</div>
<mat-accordion class="os-card">
    <mat-expansion-panel [ngClass]="{new: category.id === undefined}" *ngFor="let category of this.dataSource" (opened)="panelOpening('true', category)"
        (closed)="panelOpening('false', category)" multiple="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="header-container">
                    <div class="header-prefix">
                        <div *ngIf="!category.edit">
                            {{category.prefix}}
                        </div>
                        <div *ngIf="category.edit">
                            {{this.formGroup.get('prefix').value}}
                        </div>
                    </div>
                    <div class="header-name">
                        <div *ngIf="!category.edit">
                            {{category.name}}
                        </div>
                        <div *ngIf="category.edit">
                            {{this.formGroup.get('name').value}}
                        </div>
                    </div>
                    <div class="header-size">
                        {{motionsInCategory(category).length}}
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]='this.formGroup' *ngIf="category.edit" (keydown)="keyDownFunction($event, category)">
            <span translate>Edit category details:</span><br>
            <mat-form-field>
                <input formControlName="prefix" matInput placeholder="{{'Prefix' | translate}}">
                <small *ngIf="!this.formGroup.controls.prefix.valid">
                    <span translate>Required</span>
                </small>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="name" matInput placeholder="{{'Name' | translate}}">
                <small *ngIf="!this.formGroup.controls.name.valid">
                    <span translate>Required</span>
                </small>
            </mat-form-field>
        </form>
        <span translate>Motions:</span>
        <div *ngIf="!category.edit">
            <ul *ngFor="let motion of motionsInCategory(category)">
                <li>{{motion}}</li>
            </ul>
        </div>
        <div *ngIf="category.edit">
            <os-sorting-list [input]="motionsInCategory(category)" #sorter></os-sorting-list>
        </div>
        <mat-action-row>
            <button *ngIf="!category.edit" mat-button class='on-transition-fade' (click)=onEditButton(category)
                mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="category.edit" mat-button class='on-transition-fade' (click)=onCancelButton(category)
                mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="category.edit" mat-button class='on-transition-fade' (click)=onSaveButton(category)
                mat-icon-button>
                <mat-icon>save</mat-icon>
            </button>
            <button mat-button class='on-transition-fade' (click)=onDeleteButton(category) mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
