.header-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33.333% 33.333% 33.333%;
    width: 100%;

    > div {
        grid-row-start: 1;
        grid-row-end: span 1;
        grid-column-end: span 3;
    }

    .header-prefix {
        grid-column-start: 1;
    }

    .header-name {
        grid-column-start: 2;
        color: lightslategray;
    }

    .header-size {
        grid-column-start: 3;
    }
}

#updateForm {
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
}
