<os-head-bar>
    <div class="title-slot" translate>Poll list</div>

    <!-- Menu -->
    <div class="menu-slot">
        <button type="button" mat-icon-button [matMenuTriggerFor]="pollMenu"><mat-icon>more_vert</mat-icon></button>
    </div>
</os-head-bar>

<os-list-view-table
    [listObservableProvider]="polls"
    [vScrollFixed]="64"
    [columns]="tableColumnDefinition"
    listStorageKey="polls"
    [filterProps]="filterProps"
    [filterService]="filterService"
>
    <div *pblNgridCellDef="'title'; row as poll; rowContext as context;" class="cell-slot fill">
        <a class="detail-link" [routerLink]="poll.parentLink" *ngIf="!isMultiSelect"></a>
        <span>{{ poll.title }}</span>
    </div>
    <div *pblNgridCellDef="'classType'; row as poll;" class="cell-slot fill">
        <a class="detail-link" [routerLink]="poll.parentLink" *ngIf="!isMultiSelect"></a>
        <span>{{ poll.getContentObject().getListTitle() }}</span>
    </div>
    <div *pblNgridCellDef="'state'; row as poll;" class="cell-slot fill">
        <a class="detail-link" [routerLink]="poll.parentLink" *ngIf="!isMultiSelect"></a>
        <span>{{ poll.stateVerbose }}</span>
    </div>
    <div *pblNgridCellDef="'votability'; row as poll;" class="cell-slot fill">
        <mat-icon *ngIf="poll.user_has_voted" color="accent" matTooltip="{{ 'You have already voted on this poll. Good job!' | translate }}">check_circle</mat-icon>
        <mat-icon *ngIf="!poll.user_has_voted && poll.canBeVotedFor" color="warn" matTooltip="{{ 'You still have to vote on this poll.' | translate }}">warning</mat-icon>
    </div>
</os-list-view-table>

<mat-menu #pollMenu="matMenu">
    <!-- Settings -->
    <button mat-menu-item *osPerms="'core.can_manage_config'" routerLink="/settings/polls">
        <mat-icon>settings</mat-icon>
        <span translate>Settings</span>
    </button>
</mat-menu>
